﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <title>GeneralReport</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
