﻿@{
    ViewBag.Title = "Laporan";
}
<script language="javascript" type="text/javascript">

    $(function () {
        var oKABUPATEN_PROPINSI_K_PROPINSI = $('#ddlPropinsi');
        var oKABUPATEN_K_KABUPATEN = $('#ddlKabupaten');
        var N_PROPINSI = $('#N_PROPINSI');
        var N_KABUPATEN = $('#N_KABUPATEN');

        oKABUPATEN_PROPINSI_K_PROPINSI.change(function () {
            var value = oKABUPATEN_PROPINSI_K_PROPINSI.val();
            $.getJSON('@Url.Content("~/Laporan/Report/GetKabupatenByPropinsi/?")' + "propinsiid=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih Kabupaten</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                oKABUPATEN_K_KABUPATEN.html(items);
            });

            N_PROPINSI.val(oKABUPATEN_PROPINSI_K_PROPINSI.text());
        });

        oKABUPATEN_K_KABUPATEN.change(function () {
            N_KABUPATEN.val(oKABUPATEN_K_KABUPATEN.text());
            if ($("#posklimatologi").is(":checked")) {
                $.getJSON('@Url.Content("~/Laporan/Report/GetNamaPos/")' + "?hi=posklimatologi&k_kabupaten=" + oKABUPATEN_K_KABUPATEN.val() + "&k_propinsi=" + oKABUPATEN_PROPINSI_K_PROPINSI.val(), function (data) {
                    var items;
                    $.each(data, function (i, posklimatologi) {
                        items += "<option value='" + posklimatologi.Value + "'>" + posklimatologi.Value + " - " + posklimatologi.Text + "</option>";
                    });
                    ddlNamaPos.html(items);
                    $("#tblPos").css("display", "block");
                    $("#tblPos2").css("display", "none");
                });
            }
        });
    });
</script>
@using (Html.BeginForm("GeneralReport", "Report", FormMethod.Post, new { id = "target" }))
{
    <table>
        <tr>
            <td>
                Tahun
            </td>
            <td>
                @Html.TextBox("txtYear")
            </td>
        </tr>
        <tr>
            <td>
                Propinsi
            </td>
            <td>
                @Html.DropDownList("ddlPropinsi", ViewBag.collK_PROPINSI as IList<SelectListItem>)
            </td>
        </tr>
        <tr>
            <td>
                Kabupaten
            </td>
            <td>
                @Html.DropDownList("ddlKabupaten", ViewBag.collK_KABUPATEN as IList<SelectListItem>)
            </td>
        </tr>
    </table>
    <br />
    <table id="tblPos" style="display: none">
        <tr>
            <td>
                Nama Pos
            </td>
            <td>
                <select id="NamaPos" name="NamaPos">
                </select>
            </td>
        </tr>
    </table>
    <br />
    <table id="tblPos2" style="display: none">
        <tr>
            <td>
                Air
            </td>
            <td>
                <select id="ddlAir" name="ddlAir">
                    <option value="1">Debit Air</option>
                    <option value="2">Tinggi Muka Air</option>
                </select>
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td valign="top">
                <fieldset>
                    <legend>Data</legend>
                    @Html.RadioButton("data", "di", true, new { id = "di", style = "width:50px !important" })
                    @Html.Label("di", "Daerah Irigasi")
                    <br />
                    @Html.RadioButton("data", "sda", new { id = "sda", style = "width:50px  !important" })
                    @Html.Label("sda", "Sumber Daya Air")
                    <br />
                    @Html.RadioButton("data", "hi", new { id = "hi", style = "width:50px  !important" })
                    @Html.Label("hd", "Hidrologi")
                    <br />
                    @Html.RadioButton("data", "bc", new { id = "bc", style = "width:50px  !important" })
                    @Html.Label("bc", "Bencana")
                </fieldset>
            </td>
            <td>
                <div id="divParent">
                    <div id="divDi">
                        <fieldset>
                            <legend>Kriteria Daerah Irigasi</legend>
                            @Html.RadioButton("kriteria", "ip", true, new { id = "ip", style = "width:50px !important" })
                            @Html.Label("ip", "Irigasi Pemerintah")
                            <br />
                            @Html.RadioButton("kriteria", "id", new { id = "id", style = "width:50px !important" })
                            @Html.Label("id", "Irigasi Desa")
                            <br />
                            @Html.RadioButton("kriteria", "dr", new { id = "dr", style = "width:50px !important" })
                            @Html.Label("dr", "Daerah Rawa")
                            <br />
                            @Html.RadioButton("kriteria", "tdlk", new { id = "tdlk", style = "width:50px !important" })
                            @Html.Label("tdlk", "Tadah Hujan dan Lahan Kering")
                            @*<br />
                            @Html.RadioButton("kriteria", "pi", new { id = "pi", style = "width:50px !important" })
                            @Html.Label("pi", "Pohon Irigasi")*@ @* <br />
                            @Html.RadioButton("kriteria", "rip", new { id = "rip", style = "width:50px !important" })
                            @Html.Label("rip", "Rekapitulasi Irigasi Pemerintah")*@
                        </fieldset>
                    </div>
                    <div id="divSda">
                        <fieldset>
                            <legend>Kriteria Sumber Air</legend>
                            @Html.RadioButton("kriteria", "sg", new { id = "sg", style = "width:50px !important" })
                            @Html.Label("sg", "Sungai")
                            <br />
                            @Html.RadioButton("kriteria", "das", new { id = "das", style = "width:50px !important" })
                            @Html.Label("das", "Daerah Aliran Sungai")
                            <br />
                            @Html.RadioButton("kriteria", "dn", new { id = "dn", style = "width:50px !important" })
                            @Html.Label("dn", "Danau")
                            <br />
                            @Html.RadioButton("kriteria", "at", new { id = "at", style = "width:50px !important" })
                            @Html.Label("at", "Air Tanah")
                            <br />
                            @Html.RadioButton("kriteria", "bdgn", new { id = "bdgn", style = "width:50px !important" })
                            @Html.Label("bdgn", "Bendungan")
                            <br />
                            @Html.RadioButton("kriteria", "bdg", new { id = "bdg", style = "width:50px !important" })
                            @Html.Label("bdg", "Bendung")
                            <br />
                            @Html.RadioButton("kriteria", "eb", new { id = "eb", style = "width:50px !important" })
                            @Html.Label("eb", "Embung")
                            <br />
                            @Html.RadioButton("kriteria", "ebp", new { id = "ebp", style = "width:50px !important" })
                            @Html.Label("ebp", "Embung Potensi")
                        </fieldset>
                    </div>
                    <div id="divHi">
                        <fieldset>
                            <legend>Kriteria Hidrologi</legend>
                            @Html.RadioButton("kriteria", "poshujan", new { id = "poshujan", style = "width:50px !important" })
                            @Html.Label("poshujan", "Pos Hujan")
                            <br />
                            @Html.RadioButton("kriteria", "posdugaair", new { id = "posdugaair", style = "width:50px !important" })
                            @Html.Label("posdugaair", "Pos Duga Air")
                            <br />
                            @Html.RadioButton("kriteria", "posklimatologi", new { id = "posklimatologi", style = "width:50px !important" })
                            @Html.Label("posklimatologi", "Pos Klimatologi")
                        </fieldset>
                    </div>
                    <div id="divBc">
                        <fieldset>
                            <legend>Kriteria Bencana</legend>
                            @Html.RadioButton("kriteria", "pb", true, new { id = "pb", style = "width:50px !important" })
                            @Html.Label("ip", "Posko Banjir")
                            <br />
                            @Html.RadioButton("kriteria", "ppb", new { id = "ppb", style = "width:50px !important" })
                            @Html.Label("ip", "Pos Pengamat Banjir")
                            <br />
                            @Html.RadioButton("kriteria", "drb", new { id = "drb", style = "width:50px !important" })
                            @Html.Label("dr", "Daerah Rawan Banjir")
                            <br />
                            @Html.RadioButton("kriteria", "drk", new { id = "drk", style = "width:50px !important" })
                            @Html.Label("tdlk", "Daerah Rawan Kekeringan")
                            <br />
                            @Html.RadioButton("kriteria", "drl", new { id = "drl", style = "width:50px !important" })
                            @Html.Label("pi", "Daerah Rawan Longsor")
                            <br />
                            @Html.RadioButton("kriteria", "drgb", new { id = "drgb", style = "width:50px !important" })
                            @Html.Label("rip", "Daerah Rawan Gunung Berapi")
                        </fieldset>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <br />
    <button id="btnEkspor">
        Ekspor</button>
    
    @Html.Hidden("N_PROPINSI");
    @Html.Hidden("N_KABUPATEN");
}
<script language="javascript" type="text/javascript">
    var divParent = $("#divParent");
    var ddlNamaPos = $("#NamaPos");

    $(function () {
        $("#di").click(function () {
            $("#divSda").hide();
            $("#divBc").hide();
            $("#divDi").show();
            $("#divHi").hide();
            $("#tblPos").css("display", "none");
            $("#tblPos2").css("display", "none");
        });

        $("#sda").click(function () {
            $("#divSda").show();
            $("#divBc").hide();
            $("#divDi").hide();
            $("#divHi").hide();
            $("#tblPos").css("display", "none");
            $("#tblPos2").css("display", "none");
        });

        $("#hi").click(function () {
            $("#divSda").hide();
            $("#divBc").hide();
            $("#divDi").hide();
            $("#divHi").show();
        });

        $("#poshujan").click(function () {
            $.getJSON('@Url.Content("~/Laporan/Report/GetNamaPos/")' + "?hi=poshujan", function (data) {
                var items;
                $.each(data, function (i, poshujan) {
                    items += "<option value='" + poshujan.Value + "'>" + poshujan.Value + " - " + poshujan.Text + "</option>";
                });
                ddlNamaPos.html(items);
                $("#tblPos").css("display", "block");
                $("#tblPos2").css("display", "none");
            });
        });

        $("#posdugaair").click(function () {
            $.getJSON('@Url.Content("~/Laporan/Report/GetNamaPos/")' + "?hi=posdugaair", function (data) {
                var items;
                $.each(data, function (i, poshujan) {
                    items += "<option value='" + poshujan.Value + "'>" + poshujan.Value + " - " + poshujan.Text + "</option>";
                });
                ddlNamaPos.html(items);
                $("#tblPos").css("display", "block");
                $("#tblPos2").css("display", "block");
            });
        });

        $("#posklimatologi").click(function () {
            //            $.getJSON('@Url.Content("~/Laporan/Report/GetNamaPos/")' + "?hi=posklimatologi", function (data) {
            //                var items;
            //                $.each(data, function (i, posklimatologi) {
            //                    items += "<option value='" + posklimatologi.Value + "'>" + posklimatologi.Value + " - " + posklimatologi.Text + "</option>";
            //                });
            //                ddlNamaPos.html(items);
            //                $("#tblPos").css("display", "block");
            //                $("#tblPos2").css("display", "none");
            //            });
            var items;
            items = "<option></option>";
            ddlNamaPos.html(items);
            $("#tblPos").css("display", "block");
            $("#tblPos2").css("display", "none");
        });

        $("#bc").click(function () {
            $("#divSda").hide();
            $("#divBc").show();
            $("#divDi").hide();
            $("#divHi").hide();
            $("#tblPos").css("display", "none");
        });
        $("#di").click();

        $("#btnEkspor").click(function () {
            var data = $("#ip").val();
            var kriteria = $("#ip").val();

            //            alert($(".data").val());
            //            alert($(".kriteria").val());
            //            alert(data);
            //            alert(kriteria);
        });
    });
</script>
