﻿@{
    ViewBag.Title = "Add Irigasi Pemerintah";
    var key = ViewBag.Key;
}
@model   string
<script type="text/javascript" language="javascript">

    function fnAssignToIrigasiLintas(elem, value) {
        var data = { IrigasiLintasID: "@Model", IrigasiPemerintahID: value };

        //Populate arrayOfValues
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateIrigasiLintas", "IrigasiPemerintah")',
            datatype: "json",
            contentType: 'application/json',
            data: JSON.stringify(data)
        });

        oTable3.fnDraw();
    }

    var oTable3;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        oTable3 = $("table.display3").dataTable(
        {
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/DaerahIrigasi/IrigasiPemerintah/LoadAllDataNotInIrigasiLintas/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "K_DI", "sClass": "center", "sTitle": "Kode" }, { "mData": "N_DI", "sClass": "center", "sTitle": "Nama" }, { "mData": "N_PROPINSI", "sClass": "center", "sTitle": "Propinsi" }, { "mData": "N_KABUPATEN", "sClass": "center", "sTitle": "Kabupaten" }, { "mData": "N_WS", "sClass": "center", "sTitle": "WS" }, { "mData": "N_DAS", "sClass": "center", "sTitle": "DAS" }, { "mData": "N_KEWENANGAN", "sClass": "center", "sTitle": "Kewenangan"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();
                    var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Assign</button>');
                    b.button({
                        icons: {
                            primary: "ui-icon-check"
                        }
                    }).css({ "font-weight": "normal" });
                    b.on('click', function () {
                        fnAssignToIrigasiLintas(this, oData.KEY);
                        return false;
                    });
                    $(nTd).prepend(b);
                }
            }]
        });
    });
</script>
<table class="display3">
</table>
