﻿@model L.PDSDA.DAL.Entities.IRIGASI_LINTAS
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script type="text/javascript" language="javascript">

    var K_DI_LINTAS = $("#K_DI_LINTAS");
    var oTable2;

    function fnCreate2(oThis) {
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiLintas/AddIrigasiPemerintah/")' + "?IrigasiLintasID=" + K_DI_LINTAS.val();
        oThis.title = "Create Daerah IRIGASI"
        loadDefaultDialogCustomControl(oThis, "divFormDaerahIrigasi", $(window).width() - 200, "300px", "target", oTable2);
    }

    function fnDelete2(oThis, id) {
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiPemerintah/DeleteIrigasiLintas/")' + "?IrigasiLintasID=" + K_DI_LINTAS.val() + "&IrigasiPemerintahID=" + id;
        oThis.title = "Delete Daerah IRIGASI"
        if (confirm("Are you sure that you want to delete this irigasi?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        oTable2.fnDraw();
                        alert(data.message);
                    }
                    else {
                        alert(data.message);
                        oTable2.fnDraw();
                    }
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    }


    $(function () {
        $("fieldset").find('input, textarea, button, select').attr('disabled', 'disabled');

        var IsUpdateable2 = "@ViewBag.IsUpdateable";
        var IsDeleteable2 = "@ViewBag.IsDeleteable";

        oTable2 = $("table.display2").dataTable(
        {
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "sScrollX": "100%",
            "sScrollXInner": "110%",
            "bScrollCollapse": true,
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/DaerahIrigasi/IrigasiPemerintah/LoadAllDataByIrigasiLintas/")' + "?IrigasiLintasID=" + K_DI_LINTAS.val(),
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "K_DI", "sClass": "center", "sTitle": "Kode" }, { "mData": "N_DI", "sClass": "center", "sTitle": "Nama"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable2 == "True") {

                        var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-trash"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnDelete2(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }

                    //                    if (IsUpdateable2 == "True") {
                    //                        var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                    //                        b.button({
                    //                            icons: {
                    //                                primary: "ui-icon-wrench"
                    //                            }
                    //                        }).css({ "font-weight": "normal" });
                    //                        b.on('click', function () {
                    //                            fnEdit2(this, oData.KEY);
                    //                            return false;
                    //                        });
                    //                        $(nTd).prepend(b);
                    //                    }
                }
            }]
        });
    });
</script>
@using (Html.BeginForm(@ViewBag.ActionName as string, "IRIGASI_LINTAS", FormMethod.Post, new { id = "target" }))
{    
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Irigasi Lintas</legend>
        <div class="editor-label">
            Kode
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_DI_LINTAS)
            @Html.ValidationMessageFor(model => model.K_DI_LINTAS)
        </div>
        <div class="editor-label">
            Nama
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_DI_LINTAS)
            @Html.ValidationMessageFor(model => model.N_DI_LINTAS)
        </div>
        <div class="editor-label">
            Status
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.STATUS_IRIGASI.K_STATUS, ViewBag.collSTATUS_IRIGASI as IList<SelectListItem>)
            @Html.ValidationMessageFor(model => model.STATUS_IRIGASI.K_STATUS)
        </div>
    </fieldset>
@*  <p>
        <a href="javascript:fnCreate2(this)" class="clsButtonAdd">Irigasi</a>
    </p>*@
    <table class="display2">
    </table>
}
