﻿@{
    ViewBag.Title = "Irigasi Lintas";
    var key = ViewBag.Key;
}
<script type="text/javascript" language="javascript">
    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiLintas/Create/")' + "?key=" + "@Server.UrlEncode(key)";
        oThis.title = "Create Daerah IRIGASI"
        loadDefaultDialogCustomControl(oThis, "divFormDaerahIrigasi", "500px", "300px", "target", oTable)
    }

    function fnDetail(oThis, id) {
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiLintas/Detail/")' + id + "?method=Detail";
        oThis.title = "Detail Derah Irigasi"
        loadDetailDialogCustomControl(oThis, "divFormDaerahIrigasi", "500px", "300px", "target2", oTable)

    }

    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiLintas/Edit/")' + id + "?key=" + "@Server.UrlEncode(key)";
        oThis.title = "Edit Daerah IRIGASI"
        loadDefaultDialogCustomControl(oThis, "divFormDaerahIrigasi", "500px", "300px", "target", oTable)
    }

    function fnDelete(oThis, id) {
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiLintas/Delete/")' + id + "?key=" + "@Server.UrlEncode(key)";
        oThis.title = "Delete Daerah IRIGASI"
        if (confirm("Are you sure that you want to delete this role?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        oTable.fnDraw();
                        alert(data.message);
                    }
                    else {
                        alert(data.message);
                        oTable.fnDraw();
                    }
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    }


    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        oTable = $("table.display").dataTable(
        {
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/DaerahIrigasi/IrigasiLintas/LoadAllData/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "K_DI_LINTAS", "sClass": "center", "sTitle": "Kode" }, { "mData": "N_DI_LINTAS", "sTitle": "Nama" }, { "mData": "N_STATUS", "sClass": "center", "sTitle": "Status"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True" || IsUpdateable == "True") {
                        if (IsDeleteable == "True") {

                            var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-trash"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData);
                                fnDelete(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }


                        if (IsUpdateable == "True") {
                            var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-wrench"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData.KEY);
                                fnEdit(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }
                    }

                    if (IsUpdateable != "True") {var b = $('<button style="margin: 0" class="clsButtonDetail, cCenterOnly,">Detail</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-newwin"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnDetail(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });
    });
</script>
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="clsButtonAdd">Create</a> 
    }
</p>
<table class="display">
</table>
