﻿@model L.PDSDA.DAL.Entities.DANAU

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


@using (Html.BeginForm("Create", "Danau", FormMethod.Post, new { id = "target" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>DANAU</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_DANAU)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_DANAU)
            @Html.ValidationMessageFor(model => model.K_DANAU)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.N_DANAU)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_DANAU)
            @Html.ValidationMessageFor(model => model.N_DANAU)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_PROPINSI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_PROPINSI)
            @Html.ValidationMessageFor(model => model.K_PROPINSI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KABUPATEN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KABUPATEN)
            @Html.ValidationMessageFor(model => model.KABUPATEN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_WS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_WS)
            @Html.ValidationMessageFor(model => model.K_WS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_DAS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_DAS)
            @Html.ValidationMessageFor(model => model.K_DAS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DTA)
            @Html.ValidationMessageFor(model => model.DTA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JENIS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JENIS)
            @Html.ValidationMessageFor(model => model.JENIS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LUAS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LUAS)
            @Html.ValidationMessageFor(model => model.LUAS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VOLUME_TAMPUNG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VOLUME_TAMPUNG)
            @Html.ValidationMessageFor(model => model.VOLUME_TAMPUNG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SEDIMENTASI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SEDIMENTASI)
            @Html.ValidationMessageFor(model => model.SEDIMENTASI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LAJU_SEDIMENTASI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LAJU_SEDIMENTASI)
            @Html.ValidationMessageFor(model => model.LAJU_SEDIMENTASI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KUALITAS_AIR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KUALITAS_AIR)
            @Html.ValidationMessageFor(model => model.KUALITAS_AIR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CURAH_HUJAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CURAH_HUJAN)
            @Html.ValidationMessageFor(model => model.CURAH_HUJAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KAPASITAS_LAYANAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KAPASITAS_LAYANAN)
            @Html.ValidationMessageFor(model => model.KAPASITAS_LAYANAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MANF_IRIGASI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MANF_IRIGASI)
            @Html.ValidationMessageFor(model => model.MANF_IRIGASI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MANF_DMI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MANF_DMI)
            @Html.ValidationMessageFor(model => model.MANF_DMI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MANF_TERNAK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MANF_TERNAK)
            @Html.ValidationMessageFor(model => model.MANF_TERNAK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MANF_PLTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MANF_PLTA)
            @Html.ValidationMessageFor(model => model.MANF_PLTA)
        </div>

       
    </fieldset>
}



