﻿@model IEnumerable<L.PDSDA.DAL.Entities.DANAU>
@{
    ViewBag.Title = "Danau";
    //Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    var separator = "|";
}
<script type="text/javascript" language="javascript">
    function fnPeta(oThis, Latitude, Longitude, Title) {
        oThis.href = '@Url.Content("~/Peta/GenericMap/Index/")' + "?Latitude=" + Latitude + "&Longitude=" + Longitude + "&Title=" + Title;
        oThis.title = "Peta Danau " + Title
        //        loadDialogMap(oThis, "divFormGenericPeta", $(parent.$("#main").width()), $(parent.$("#main").height()) + 200)
        loadDialogMap(oThis, "divFormGenericPeta", $(window).width() - 150, $(window).height() - 200)

    }


    function fnDetail(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/Danau/Detail/")' + id + "?method=Detail";
        oThis.title = "Detail Danau"
        loadDetailDialogCustomControl(oThis, "divFormDANAU", $(window).width() - 200, "300px", "target", oTable)

    }

     function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/Danau/Create/")';
        oThis.title = "Create Danau"
        //        loadDialog(oThis, '#DanauInfo');
        loadDefaultDialogCustomControl(oThis, "divFormDANAU", $(window).width() - 200, "300px", "target", oTable)
    }

    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/Danau/Edit/")' + id;
        oThis.title = "Edit Danau"
        //        loadDialog(oThis, '#DanauInfo');
        loadDefaultDialogCustomControl(oThis, "divFormDANAU", $(window).width() - 200, "300px", "target", oTable)
    }

    function fnDelete(oThis, id) {
        //        var link = oThis.href;
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/Danau/Delete/")' + id;
        oThis.title = "Delete Danau"
        if (confirm("Are you sure that you want to delete this data?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        //                        oTable.fnDraw();
                        alert(data.message);
                        //                        window.location.reload(true);
                        oTable.fnDraw();
                    }
                    else {
                        alert(data.message);
                        //                        window.location.reload(true);
                        oTable.fnDraw();
                    }
                    //                        $(link).parents("tr").remove();
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    }

    //    $(function () {
    //        $("table.display").dataTable(
    //        {
    //            "sScrollX": "200px",
    //            "bScrollCollapse": true, "bJQueryUI": true,
    //            "sPaginationType": "full_numbers",
    //            "aoColumnDefs": [
    //      { "sWidth": "200px", "aTargets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] }
    //    ]
    //        });
    //    });        /* end document.ready() */

    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        //            oTable =.dataTable();
        oTable = $("table.display").dataTable(
        {
            //            "sScrollX": "100%",
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/Sumber_Daya_Air/Danau/LoadAllData/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "K_DANAU" }, { "mData": "N_DANAU" }, { "mData": "N_PROPINSI" }, { "mData": "N_KABUPATEN" }, { "mData": "N_WS" }, { "mData": "N_DAS" }, { "mData": "LatLong"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True" || IsUpdateable == "True") {
                        if (IsDeleteable == "True") {

                            var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-trash"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData);
                                fnDelete(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }


                        if (IsUpdateable == "True") {
                            var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-wrench"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData.KEY);
                                fnEdit(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }
                    }

                    if (IsUpdateable != "True") {var b = $('<button style="margin: 0" class="clsButtonDetail, cCenterOnly,">Detail</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-newwin"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnDetail(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }, {
                "aTargets": [7],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (oData.LatLong != null) {

                        var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Peta</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-search"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            if (oData.LatLong != null) {
                                fnPeta(this, oData.LatLong.Latitude, oData.LatLong.Longitude, oData.pTitle);
                            }
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });
    });


</script>
<!-- <h2>
    @ViewBag.BreadCrumbs</h2> -->
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display">
    <thead>
        <tr>
            <th class="cCenterOnly">
            </th>
            <th>
                Kode Danau
            </th>
            <th>
                Nama Danau
            </th>
            <th>
                Propinsi
            </th>
            <th>
                Kabupaten
            </th>
            <th>
                WS
            </th>
            <th>
                DAS
            </th> <th>
                Lokasi
            </th>
            @*<th>
                DTA
            </th>
            <th>
                Jenis
            </th>
            <th>
                Luas
            </th>
            <th>
                Volume Tampung
            </th>
            <th>
                Sedimentasi
            </th>
            <th>
                Laju Sedimentasi
            </th>
            <th>
                Kualitas Air
            </th>
            <th>
                CURAH_HUJAN
            </th>
            <th>
                KAPASITAS_LAYANAN
            </th>
            <th>
                MANF_IRIGASI
            </th>
            <th>
                MANF_DMI
            </th>
            <th>
                MANF_TERNAK
            </th>
            <th>
                MANF_PLTA
            </th>*@
        </tr>
    </thead>
    @*<tbody>
        @foreach (var item in Model)
        {
            if (item != null)
            {

            <tr>
                <td class="cCenterOnly">
                    @if (ViewBag.IsUpdateable)
                    {
                        <a href="javascript:fnEdit(this,'@item.K_DANAU')" class="clsButtonEdit">Edit</a> @separator
                    }
                    @if (ViewBag.IsDeleteable)
                    {
                        <a href="javascript:fnDelete(this,'@item.K_DANAU')" class="clsButtonDelete">Delete</a>
                    }
                </td>
                <td>
                    @item.K_DANAU
                </td>
                <td>
                    @item.N_DANAU
                </td>
                <td>
                    @if (item.PROPINSI != null)
                    {
                        @item.PROPINSI.N_PROPINSI
                    }
                </td>
                <td>
                    @if (item.KABUPATEN != null)
                    {
                        @item.KABUPATEN.N_KABUPATEN
                    }
                </td>
                <td>
                    @if (item.WS != null)
                    {
                        @item.WS.N_WS
                    }
                </td>
                <td>
                    @if (item.DAS != null)
                    {
                        @item.DAS.N_DAS
                    }
                </td>
                <td>
                    @String.Format("{0:F}", item.DTA)
                </td>
                <td>
                    @item.JENIS
                </td>
                <td>
                    @String.Format("{0:F}", item.LUAS)
                </td>
                <td>
                    @String.Format("{0:F}", item.VOLUME_TAMPUNG)
                </td>
                <td>
                    @item.SEDIMENTASI
                </td>
                <td>
                    @String.Format("{0:F}", item.LAJU_SEDIMENTASI)
                </td>
                @*<td>
                    @item.KUALITAS_AIR
                </td>
                <td>
                    @String.Format("{0:F}", item.CURAH_HUJAN)
                </td>
                <td>
                    @String.Format("{0:F}", item.KAPASITAS_LAYANAN)
                </td>
                <td>
                    @String.Format("{0:F}", item.MANF_IRIGASI)
                </td>
                <td>
                    @String.Format("{0:F}", item.MANF_DMI)
                </td>
                <td>
                    @String.Format("{0:F}", item.MANF_TERNAK)
                </td>
                <td>
                    @String.Format("{0:F}", item.MANF_PLTA)
                </td>
            </tr>
            }

        }
    </tbody>*@
</table>
