﻿@model L.PDSDA.DAL.Entities.DANAU
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script>

    $(function () {
        var oKABUPATEN_PROPINSI_K_PROPINSI = $('#PROPINSI_K_PROPINSI');
        var oKABUPATEN_K_KABUPATEN = $('#KABUPATEN_K_KABUPATEN');

        oKABUPATEN_PROPINSI_K_PROPINSI.change(function () {
            var value = oKABUPATEN_PROPINSI_K_PROPINSI.val();
            $.getJSON('@Url.Content("~/Master/Kabupaten/GetKabupatenByPropinsi/?")' + "propinsiid=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih Kabupaten</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                oKABUPATEN_K_KABUPATEN.html(items);
            });
        });

        var DAS_K_DAS = $('#DAS_K_DAS');
        var WS_K_WS = $('#WS_K_WS');

        WS_K_WS.change(function () {
            var value = WS_K_WS.val();
            $.getJSON('@Url.Content("~/Sumber_Daya_Air/DAS/GetDASByWS/")' + "?k_ws=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih DAS</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                DAS_K_DAS.html(items);
            });
        });

    });
</script>
@using (Html.BeginForm(@ViewBag.ActionName as string, "Danau", FormMethod.Post, new { id = "target" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>DANAU</legend>
        <table class="noborder">
            <tr>
                <td class="editor-label">
                    Kode Danau
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.K_DANAU)
                    @Html.ValidationMessageFor(model => model.K_DANAU)
                </td>
                <td class="editor-label">
                    Nama Danau
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.N_DANAU)
                    @Html.ValidationMessageFor(model => model.N_DANAU)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Propinsi
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.PROPINSI.K_PROPINSI)
                </td>
                <td class="editor-label">
                    Kabupaten
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.KABUPATEN.K_KABUPATEN, ViewBag.collK_KABUPATEN as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.KABUPATEN.K_KABUPATEN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Nama WS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.WS.K_WS, ViewBag.collWS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.WS.K_WS)
                </td>
                <td class="editor-label">
                    Nama DAS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.DAS.K_DAS, ViewBag.collDAS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.DAS.K_DAS)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Luas Tangkapan Air (Km2)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DTA)
                    @Html.ValidationMessageFor(model => model.DTA)
                </td>
                <td class="editor-label">
                    Jenis
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.JENIS, ViewBag.collJENIS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.JENIS)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Luas Danau (Km2)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LUAS)
                    @Html.ValidationMessageFor(model => model.LUAS)
                </td>
                <td class="editor-label">
                    Volume Penampungan (Juta m3)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.VOLUME_TAMPUNG)
                    @Html.ValidationMessageFor(model => model.VOLUME_TAMPUNG)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Sedimentasi
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.SEDIMENTASI, ViewBag.collSEDIMENTASI as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.SEDIMENTASI)
                </td>
                <td class="editor-label">
                    Laju Sedimentasi (Ton/thn)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LAJU_SEDIMENTASI)
                    @Html.ValidationMessageFor(model => model.LAJU_SEDIMENTASI)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Kualitas Air
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.KUALITAS_AIR, ViewBag.collKUALITAS_AIR as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.KUALITAS_AIR)
                </td>
                <td class="editor-label">
                    Rata-rata Curah Hujan Tahunan (mm)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.CURAH_HUJAN)
                    @Html.ValidationMessageFor(model => model.CURAH_HUJAN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Kapasitas Layanan (m3/det)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KAPASITAS_LAYANAN)
                    @Html.ValidationMessageFor(model => model.KAPASITAS_LAYANAN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Latitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Latitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Latitude)
                </td>
                <td class="editor-label">
                    Longitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Longitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Longitude)
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="editor-field">
                        <script type="text/javascript">
                            function loadMap() {
                                var oThis = {};
                                oThis.href = '@Url.Content("~/Peta/GenericMap/IndexWithClick/")';
                                oThis.title = "Peta";
                                loadDialogMap(oThis, "divFormGenericPeta", $(window).width() - 150, $(window).height() - 200)
                            }
                        </script>
                        <a href="javascript:loadMap()" class="modalDlg, clsButtonAdd">Map</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <br />
                    Manfaat
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    DMI (m3/det)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.MANF_DMI)
                    @Html.ValidationMessageFor(model => model.MANF_DMI)
                </td>
                <td class="editor-label">
                    Ternak (ekor)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.MANF_TERNAK)
                    @Html.ValidationMessageFor(model => model.MANF_TERNAK)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Irigasi (ha)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.MANF_IRIGASI)
                    @Html.ValidationMessageFor(model => model.MANF_IRIGASI)
                </td>
                <td class="editor-label">
                    PLTA
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.MANF_PLTA)
                    @Html.ValidationMessageFor(model => model.MANF_PLTA)
                </td>
            </tr>
        </table>
    </fieldset>
}
