﻿@model IEnumerable<L.PDSDA.DAL.Entities.AIRTANAH>
@{
    ViewBag.Title = "Air Tanah";
    //Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    var separator = "|";
}
<script type="text/javascript" language="javascript">

    function fnPeta(oThis, Latitude, Longitude, Title) {
        oThis.href = '@Url.Content("~/Peta/GenericMap/Index/")' + "?Latitude=" + Latitude + "&Longitude=" + Longitude + "&Title=" + Title;
        oThis.title = "Peta AIR TANAH"
        //        loadDialogMap(oThis, "divFormGenericPeta", $(parent.$("#main").width()), $(parent.$("#main").height()) + 200)
        loadDialogMap(oThis, "divFormGenericPeta", $(window).width() - 150, $(window).height() - 200)

    }

    function fnDetail(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/AIRTANAH/Detail/")' + id + "?method=Detail";
        oThis.title = "Detail Air Tanah"
        loadDetailDialogCustomControl(oThis, "divFormAIRTANAH", "500px", "300px", "target", oTable)

    }

    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/AIRTANAH/Create/")';
        oThis.title = "Create AIRTANAH"
        //        loadDialog(oThis, '#AIRTANAHInfo');
        loadDefaultDialogCustomControl(oThis, "divFormAIRTANAH", "500px", "300px", "target", oTable)
    }


    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/AIRTANAH/Edit/")' + id;
        oThis.title = "Edit AIRTANAH"
        //        loadDialog(oThis, '#AIRTANAHInfo');
        loadDefaultDialogCustomControl(oThis, "divFormAIRTANAH", "500px", "300px", "target", oTable)

    }

    function fnDelete(oThis, id) {
        //        var link = oThis.href;
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/AIRTANAH/Delete/")' + id;
        oThis.title = "Delete AIRTANAH"
        if (confirm("Are you sure that you want to delete this data?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        //                        oTable.fnDraw();
                        alert(data.message);
                        //                        window.location.reload(true);
                        oTable.fnDraw()
                    }
                    else {
                        alert(data.message);
                        //                        window.location.reload(true);
                        oTable.fnDraw()

                    }
                    //                        $(link).parents("tr").remove();
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    }

    //    $(function () {
    //        $("table.display").dataTable(
    //        {
    //            "sScrollX": "200px",
    //            "bScrollCollapse": true, "bJQueryUI": true,
    //            "sPaginationType": "full_numbers",
    //            "aoColumnDefs": [
    //      { "sWidth": "200px", "aTargets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] }
    //    ]
    //        });
    //    });        /* end document.ready() */


    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        //            oTable =.dataTable();
        oTable = $("table.display").dataTable(
        {
            //            "sScrollX": "100%",
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/Sumber_Daya_Air/AIRTANAH/LoadAllData/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "K_AIRTANAH" }, { "mData": "NO_SUMUR" }, { "mData": "N_PROPINSI" }, { "mData": "N_KABUPATEN" }, { "mData": "N_WS" }, { "mData": "N_DAS" }, { "mData": "LatLong", "sClass": "Center"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True" || IsUpdateable == "True") {
                        if (IsDeleteable == "True") {

                            var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-trash"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData);
                                fnDelete(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }


                        if (IsUpdateable == "True") {
                            var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-wrench"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData.KEY);
                                fnEdit(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }
                    }

                    if (IsUpdateable != "True") {var b = $('<button style="margin: 0" class="clsButtonDetail, cCenterOnly,">Detail</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-newwin"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnDetail(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }
            , {
                "aTargets": [7],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (oData.LatLong != null) {

                        var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Peta</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-search"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            if (oData.LatLong != null) {
                                fnPeta(this, oData.LatLong.Latitude, oData.LatLong.Longitude, oData.pTitle);
                            }
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });
    });
</script>
<!-- <h2>
    @ViewBag.BreadCrumbs</h2> -->
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display">
    <thead>
        <tr>
            <th class=".cCenterOnly">
            </th>
            <th>
                Kode Air Tanah
            </th>
            <th>
                No Sumur
            </th>
            <th>
                Propinsi
            </th>
            <th>
                Kabupaten
            </th>
            <th>
                WS
            </th>
            <th>
                DAS
            </th>
            <th>
                Lokasi
            </th>
        </tr>
    </thead>
</table>
