﻿@model L.PDSDA.DAL.Entities.POSKO_BANJIR
<script>
    $(function () {
        $("fieldset").find('input, textarea, button, select').attr('disabled', 'disabled');

        var DAS_K_DAS = $('#DA_K_DAS');
        var WS_K_WS = $('#W_K_WS');

        WS_K_WS.change(function () {
            var value = WS_K_WS.val();
            $.getJSON('@Url.Content("~/Sumber_Daya_Air/DAS/GetDASByWS/")' + "?k_ws=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih DAS</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                DAS_K_DAS.html(items);
            });
        });
    });
</script>
    <fieldset>
        <legend>POSKO_BANJIR</legend>
        <table class="noborder">
            <tr>
                <td class="editor-label">
                    Kode
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.K_POSKOBANJIR)
                    @Html.ValidationMessageFor(model => model.K_POSKOBANJIR)
                </td>
                <td class="editor-label">
                    Nama
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.N_POSKOBANJIR)
                    @Html.ValidationMessageFor(model => model.N_POSKOBANJIR)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Propinsi
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.PROPINSI.K_PROPINSI)
                </td>
                <td class="editor-label">
                    Alamat
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.ALAMAT)
                    @Html.ValidationMessageFor(model => model.ALAMAT)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    WS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.W.K_WS, ViewBag.collWS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.W.K_WS)
                </td>
                <td class="editor-label">
                    DAS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.DA.K_DAS, ViewBag.collDAS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.DA.K_DAS)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Koordinator
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KOORDINATOR)
                    @Html.ValidationMessageFor(model => model.KOORDINATOR)
                </td>
                <td class="editor-label">
                    Peralatan Berat
                </td>
                <td class="editor-field">
                    @Html.TextAreaFor(model => model.ALAT_BERAT)
                    @Html.ValidationMessageFor(model => model.ALAT_BERAT)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Bahan Banjiran
                </td>
                <td class="editor-field">
                    @Html.TextAreaFor(model => model.BAHAN_BANJIRAN)
                    @Html.ValidationMessageFor(model => model.BAHAN_BANJIRAN)
                </td>
                <td class="editor-label">
                    Alat Telekomunikasi
                </td>
                <td class="editor-field">
                    @Html.TextAreaFor(model => model.ALAT_KOMUNIKASI)
                    @Html.ValidationMessageFor(model => model.ALAT_KOMUNIKASI)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Keterangan
                </td>
                <td class="editor-field">
                    @Html.TextAreaFor(model => model.KETERANGAN)
                    @Html.ValidationMessageFor(model => model.KETERANGAN)
                </td>
            </tr>
             <tr>
                <td class="editor-label">
                    Latitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Latitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Latitude)
                </td>
                <td class="editor-label">
                    Longitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Longitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Longitude)
                </td>
            </tr>
        </table>
    </fieldset>
