﻿@model L.PDSDA.DAL.Entities.DAS
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm("Create", "DAS", FormMethod.Post, new { id = "target" }))
{    @Html.ValidationSummary(true)
    <fieldset>
        <legend>DAS</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.K_DAS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_DAS)
            @Html.ValidationMessageFor(model => model.K_DAS)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.N_DAS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_DAS)
            @Html.ValidationMessageFor(model => model.N_DAS)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TANGGUL_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TANGGUL_B)
            @Html.ValidationMessageFor(model => model.TANGGUL_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TANGGUL_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TANGGUL_RR)
            @Html.ValidationMessageFor(model => model.TANGGUL_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TANGGUL_RS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TANGGUL_RS)
            @Html.ValidationMessageFor(model => model.TANGGUL_RS)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TANGGUL_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TANGGUL_RB)
            @Html.ValidationMessageFor(model => model.TANGGUL_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PARAPET_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PARAPET_B)
            @Html.ValidationMessageFor(model => model.PARAPET_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PARAPET_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PARAPET_RR)
            @Html.ValidationMessageFor(model => model.PARAPET_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PARAPET_RS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PARAPET_RS)
            @Html.ValidationMessageFor(model => model.PARAPET_RS)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PARAPET_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PARAPET_RB)
            @Html.ValidationMessageFor(model => model.PARAPET_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.REVETMENT_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REVETMENT_B)
            @Html.ValidationMessageFor(model => model.REVETMENT_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.REVETMENT_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REVETMENT_RR)
            @Html.ValidationMessageFor(model => model.REVETMENT_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.REVETMENT_RS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REVETMENT_RS)
            @Html.ValidationMessageFor(model => model.REVETMENT_RS)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.REVETMENT_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REVETMENT_RB)
            @Html.ValidationMessageFor(model => model.REVETMENT_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GROUNDSILL_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GROUNDSILL_B)
            @Html.ValidationMessageFor(model => model.GROUNDSILL_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GROUNDSILL_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GROUNDSILL_RR)
            @Html.ValidationMessageFor(model => model.GROUNDSILL_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GROUNDSILL_RS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GROUNDSILL_RS)
            @Html.ValidationMessageFor(model => model.GROUNDSILL_RS)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GROUNDSILL_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GROUNDSILL_RB)
            @Html.ValidationMessageFor(model => model.GROUNDSILL_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.KRIB_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KRIB_B)
            @Html.ValidationMessageFor(model => model.KRIB_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.KRIB_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KRIB_RR)
            @Html.ValidationMessageFor(model => model.KRIB_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.KRIB_RS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KRIB_RS)
            @Html.ValidationMessageFor(model => model.KRIB_RS)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.KRIB_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KRIB_RB)
            @Html.ValidationMessageFor(model => model.KRIB_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SLUICE_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SLUICE_B)
            @Html.ValidationMessageFor(model => model.SLUICE_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SLUICE_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SLUICE_RR)
            @Html.ValidationMessageFor(model => model.SLUICE_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SLUICE_RS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SLUICE_RS)
            @Html.ValidationMessageFor(model => model.SLUICE_RS)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SLUICE_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SLUICE_RB)
            @Html.ValidationMessageFor(model => model.SLUICE_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.POMPA_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPA_B)
            @Html.ValidationMessageFor(model => model.POMPA_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.POMPA_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPA_RR)
            @Html.ValidationMessageFor(model => model.POMPA_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.POMPA_RS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPA_RS)
            @Html.ValidationMessageFor(model => model.POMPA_RS)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.POMPA_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPA_RB)
            @Html.ValidationMessageFor(model => model.POMPA_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CHECKDAM_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CHECKDAM_B)
            @Html.ValidationMessageFor(model => model.CHECKDAM_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CHECKDAM_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CHECKDAM_RR)
            @Html.ValidationMessageFor(model => model.CHECKDAM_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CHECKDAM_RS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CHECKDAM_RS)
            @Html.ValidationMessageFor(model => model.CHECKDAM_RS)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CHECKDAM_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CHECKDAM_RB)
            @Html.ValidationMessageFor(model => model.CHECKDAM_RB)
        </div>
        
    </fieldset>
}
