﻿@model L.PDSDA.DAL.Entities.DAS
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script>
    $(function () {
        $("fieldset").find('input, textarea, button, select').attr('disabled', 'disabled');
        $("#tabs").tabs();
        $("#tabs2").tabs();
    });
</script>
    <fieldset>
        <legend>DAS</legend>
        <div class="editor-label">
            Kode DAS
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_DAS)
            @Html.ValidationMessageFor(model => model.K_DAS)
        </div>
        <div class="editor-label">
            Nama DAS
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_DAS)
            @Html.ValidationMessageFor(model => model.N_DAS)
        </div>
        <div class="editor-label">
            Nama WS
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.WS.K_WS, ViewBag.collWS as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.WS.K_WS)
        </div>
        <br />
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Tanggul</a></li>
                <li><a href="#tabs-2">Parapet</a></li>
                <li><a href="#tabs-3">Revetment</a></li>
                <li><a href="#tabs-4">Ambang Dasar / Ground Sill</a></li>
                <li><a href="#tabs-5">Krib</a></li>
                <li><a href="#tabs-6">Bangunan Drainase / Sluice</a></li>
                <li><a href="#tabs-7">Stasiun Pompa</a></li>
                <li><a href="#tabs-8">Sabo DAM / Check DAM</a></li>
                @*<li><a href="#tabs-4">Waduk</a></li>
                <li><a href="#tabs-4">Waduk</a></li>
                <li><a href="#tabs-4">Waduk</a></li>
                <li><a href="#tabs-4">Waduk</a></li>*@
            </ul>
            <div class="heightAuto" id="tabs-1">
                <div class="editor-label">
                    Baik
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TANGGUL_B)
                    @Html.ValidationMessageFor(model => model.TANGGUL_B)
                </div>
                <div class="editor-label">
                    Rusak Ringan
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TANGGUL_RR)
                    @Html.ValidationMessageFor(model => model.TANGGUL_RR)
                </div>
                <div class="editor-label">
                    Rusak Sedang
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TANGGUL_RS)
                    @Html.ValidationMessageFor(model => model.TANGGUL_RS)
                </div>
                <div class="editor-label">
                    Rusak Berat
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TANGGUL_RB)
                    @Html.ValidationMessageFor(model => model.TANGGUL_RB)
                </div>
            </div>
            <div class="heightAuto" id="tabs-2">
                <div class="editor-label">
                    Baik
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PARAPET_B)
                    @Html.ValidationMessageFor(model => model.PARAPET_B)
                </div>
                <div class="editor-label">
                    Rusak Ringan
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PARAPET_RR)
                    @Html.ValidationMessageFor(model => model.PARAPET_RR)
                </div>
                <div class="editor-label">
                    Rusak Sedang
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PARAPET_RS)
                    @Html.ValidationMessageFor(model => model.PARAPET_RS)
                </div>
                <div class="editor-label">
                    Rusak Berat
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PARAPET_RB)
                    @Html.ValidationMessageFor(model => model.PARAPET_RB)
                </div>
            </div>
            <div class="heightAuto" id="tabs-3">
                <div class="editor-label">
                    Baik
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.REVETMENT_B)
                    @Html.ValidationMessageFor(model => model.REVETMENT_B)
                </div>
                <div class="editor-label">
                    Rusak Ringan
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.REVETMENT_RR)
                    @Html.ValidationMessageFor(model => model.REVETMENT_RR)
                </div>
                <div class="editor-label">
                    Rusak Sedang
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.REVETMENT_RS)
                    @Html.ValidationMessageFor(model => model.REVETMENT_RS)
                </div>
                <div class="editor-label">
                    Rusak Berat
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.REVETMENT_RB)
                    @Html.ValidationMessageFor(model => model.REVETMENT_RB)
                </div>
            </div>
            <div class="heightAuto" id="tabs-4">
                <div class="editor-label">
                    Baik
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.GROUNDSILL_B)
                    @Html.ValidationMessageFor(model => model.GROUNDSILL_B)
                </div>
                <div class="editor-label">
                    Rusak Ringan
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.GROUNDSILL_RR)
                    @Html.ValidationMessageFor(model => model.GROUNDSILL_RR)
                </div>
                <div class="editor-label">
                    Rusak Sedang
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.GROUNDSILL_RS)
                    @Html.ValidationMessageFor(model => model.GROUNDSILL_RS)
                </div>
                <div class="editor-label">
                    Rusak Berat
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.GROUNDSILL_RB)
                    @Html.ValidationMessageFor(model => model.GROUNDSILL_RB)
                </div>
            </div>
            <div class="heightAuto" id="tabs-5">
                <div class="editor-label">
                    Baik
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.KRIB_B)
                    @Html.ValidationMessageFor(model => model.KRIB_B)
                </div>
                <div class="editor-label">
                    Rusak Ringan
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.KRIB_RR)
                    @Html.ValidationMessageFor(model => model.KRIB_RR)
                </div>
                <div class="editor-label">
                    Rusak Sedang
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.KRIB_RS)
                    @Html.ValidationMessageFor(model => model.KRIB_RS)
                </div>
                <div class="editor-label">
                    Rusak Berat
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.KRIB_RB)
                    @Html.ValidationMessageFor(model => model.KRIB_RB)
                </div>
            </div>
            <div class="heightAuto" id="tabs-6">
                <div class="editor-label">
                    Baik
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SLUICE_B)
                    @Html.ValidationMessageFor(model => model.SLUICE_B)
                </div>
                <div class="editor-label">
                    Rusak Ringan
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SLUICE_RR)
                    @Html.ValidationMessageFor(model => model.SLUICE_RR)
                </div>
                <div class="editor-label">
                    Rusak Sedang
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SLUICE_RS)
                    @Html.ValidationMessageFor(model => model.SLUICE_RS)
                </div>
                <div class="editor-label">
                    Rusak Berat
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SLUICE_RB)
                    @Html.ValidationMessageFor(model => model.SLUICE_RB)
                </div>
            </div>
            <div class="heightAuto" id="tabs-7">
                <div class="editor-label">
                    Baik
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.POMPA_B)
                    @Html.ValidationMessageFor(model => model.POMPA_B)
                </div>
                <div class="editor-label">
                    Rusak Ringan
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.POMPA_RR)
                    @Html.ValidationMessageFor(model => model.POMPA_RR)
                </div>
                <div class="editor-label">
                    Rusak Sedang
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.POMPA_RS)
                    @Html.ValidationMessageFor(model => model.POMPA_RS)
                </div>
                <div class="editor-label">
                    Rusak Berat
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.POMPA_RB)
                    @Html.ValidationMessageFor(model => model.POMPA_RB)
                </div>
            </div>
            <div class="heightAuto" id="tabs-8">
                <div class="editor-label">
                    Baik
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.CHECKDAM_B)
                    @Html.ValidationMessageFor(model => model.CHECKDAM_B)
                </div>
                <div class="editor-label">
                    Rusak Ringan
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.CHECKDAM_RR)
                    @Html.ValidationMessageFor(model => model.CHECKDAM_RR)
                </div>
                <div class="editor-label">
                    Rusak Sedang
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.CHECKDAM_RS)
                    @Html.ValidationMessageFor(model => model.CHECKDAM_RS)
                </div>
                <div class="editor-label">
                    Rusak Berat
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.CHECKDAM_RB)
                    @Html.ValidationMessageFor(model => model.CHECKDAM_RB)
                </div>
            </div>
        </div>
    </fieldset>
    
   
