﻿@model L.PDSDA.Web.DTOs.STASIUNHUJAN_DYNDTO
@{
    var STASIUNHUJAN_DYN = Model == null ? null : Model.STASIUNHUJAN_DYN;
    TextWriter tw = new StringWriter();
    Json.Write(Model == null ? null : Model.Events, tw);
    var Events = HttpUtility.HtmlDecode(tw.ToString());
    ViewBag.Title = "Data Harian";
    var Action = ViewBag.ActionName;
    var K_STASIUN = ViewBag.K_STASIUN;
    var collTahun = ViewBag.collTahun;
    var TAHUN = ViewBag.TAHUN;
    var method = L.Core.Utilities.Utils.GetQueryString("method");
}
<link href='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.css")' rel='stylesheet' />
<link href='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.print.css")' rel='stylesheet' media='print' />
<script src='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Content/plugin/underscore-min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Content/js/myjs.js")' type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    function ToDefaultDate(oDate) {
        try {
            var date = new Date(oDate);
            if (date)
                return date.format("dd-mm-yyyy");
        } catch (e) {
        }
    }

    $("#myform").validate({
        rules: {
            txtNilaiHarian: {
                required: true,
                number: true
            }
        }
    });

    function ToDefaultDateFullCalendar(oDate) {
        try {
            var date = new Date(oDate);
            if (date)
                return date.format("yyyy-mm-dd");
        } catch (e) {
        }
    }

    var calendar = $('#calendar');
    var btnTestBlob = $("#btnTestBlob");
    var btnAddYear = $("#btnAddYear");
    var btnCancelYear = $("#btnCancelYear");
    var txtYear = $("#txtYear");
    var year = "@TAHUN";
    var dateInYear = $("#dateInYear");
    var btnSimpanDanKeluar = $("#btnSimpanDanKeluar");
    var storedEvents = _.unescape("@Events");

    $(function () {
        //        //console.log(storedEvents);
        if ("@Action" == "Create") {
            $("#InsertYear").removeAttr("style");
            $("#InsertYear").dialog({ modal: true });
        }
        else {
            BuildCalendar(year);
            calendar.removeAttr("style");
        }
    });



    //btnTestBlob
    btnTestBlob.click(function () {
        var events = calendar.fullCalendar('clientEvents');
        var sortEvents = _.sortBy(events, function (data) { return data.start; })
        //console.log(sortEvents);
        var obj = new Array();

        for (var i = 0; i < sortEvents.length; i++) {
            var event = sortEvents[i];
            var id;
            try {
                id = $.fullCalendar.formatDate(event.id, "dd-MM-yyyy");
            } catch (e) {
                id = event.id;
            }
            var title = event.title;
            obj.push({ id: id, title: title });
        }
        //console.log(JSON.stringify(obj));
        $.ajax({
            url: '@Url.Action("SaveData", "PosHujanDyn")' + "?TAHUN=" + year + "&K_STASIUN=@K_STASIUN",
            data: JSON.stringify(obj),
            type: 'POST',
            contentType: 'application/json; charset=utf-8'
            , success: function (response) {
                if (response.message.valueOf() == 'at NHibernate.Id.Assigned.Generate') {
                    alert('Kode / Id Tidak Boleh Kosong');
                    return false;
                }
                else {
                    alert(response.message);
                }
                //                if (response.success) {
                //                    dlg.dialog('close');
                //                    dlg.empty();
                //                }
                return false;
            },
            error: function (xhr) {
                alert(xhr.message);

                if (xhr.status == 400)
                    dlg.html(xhr.responseText, xhr.status);     /* display validation errors in this dialog */
                else {
                    alert(xhr);
                }
            }
        });
    })

    btnCancelYear.click(function () { $("#InsertYear").dialog().dialog("close"); $("#InsertYear").dialog().dialog("destroy"); $("#InsertYear").css("visibility", "hidden"); });

    btnAddYear.click(function () {

        var arrTahun = "@collTahun";
        //        //console.log(arrTahun);
        //        //console.log(arrTahun.indexOf(txtYear.val()));
        if (arrTahun.indexOf(txtYear.val()) > -1) {
            alert("Data tahun sudah tersimpan.");
        }
        else {
            year = txtYear.val();
            //            btnCancelYear.click();
            BuildCalendar(year);
            calendar.removeAttr("style");
            //                    calendar.fullCalendar('rerenderEvents');
        }
        btnCancelYear.click();
    });

    function BuildCalendar(year) {
        var date = $.datepicker.parseDate("dd-mm-yy", "01-01-" + year);
        var d = date.getDate();
        var m = date.getMonth();
        var y = year == "" ? date.getFullYear() : year;

        var json = $.parseJSON(storedEvents);
        //console.log(json);

        calendar = $('#calendar').fullCalendar({
            year: y,
            month: 0,
            date: 1,
            defaultView: 'month',
            header: {
                left: 'prev,next',
                center: 'title',
                //                right: 'month,agendaDay'
                right: 'month'
            },
            disableDragging: true,
            selectable: true,
            selectHelper: true,

            viewDisplay: function (view) {
                var now = $.datepicker.parseDate("dd-mm-yy", "01-01-" + year);
                var end = $.datepicker.parseDate("dd-mm-yy", "01-01-" + year);
                end.setMonth(now.getMonth() + 11); //Adjust as needed

                var cal_date_string = view.start.getMonth() + '/' + view.start.getFullYear();
                var cur_date_string = now.getMonth() + '/' + now.getFullYear();
                var end_date_string = end.getMonth() + '/' + end.getFullYear();

                if (cal_date_string == cur_date_string) { jQuery('.fc-button-prev').addClass("fc-state-disabled"); }
                else { jQuery('.fc-button-prev').removeClass("fc-state-disabled"); }

                if (end_date_string == cal_date_string) { jQuery('.fc-button-next').addClass("fc-state-disabled"); }
                else { jQuery('.fc-button-next').removeClass("fc-state-disabled"); }

            },

            //            dayClick: function (date, allDay, jsEvent, view) {
            //                //                var event = calendar.fullCalendar('clientEvents', $.fullCalendar.formatDate(date, "dd-MM-yyyy"));
            //                //                if (!event) {
            //                var title = prompt('Event Title:');
            //                if (title) {
            //                    calendar.fullCalendar('renderEvent',
            //            						{
            //            						    id: $.fullCalendar.formatDate(date, "dd-MM-yyyy"),
            //            						    title: title,
            //            						      start: $.fullCalendar.formatDate(date, "dd-MM-yyyy")
            //            						    //						    end: end,
            //            						    //						    allDay: allDay
            //            						},
            //            						true // make the event "stick"
            //            					);
            //                }
            //                //                }


            //                //                //console.log(event);
            //            },
            select: function (start, end, allDay) {

                var id = $.fullCalendar.formatDate(start, "d-MM-yyyy");
                //console.log(id);
                var event = calendar.fullCalendar('clientEvents', id);
                //console.log(event);
                dateInYear.val(id);

                var title = "";
                try {
                    title = event[0].title;
                    //console.log(title);
                } catch (e) {

                }


                //                var title = ""; // prompt('Event Title:');
                //                if (title) {
                //                    calendar.fullCalendar('renderEvent',
                //            						{
                //            						    id: start, // $.fullCalendar.formatDate(start, "dd-MM-yyyy"),
                //            						    title: title,
                //            						    start: start
                //            						},
                //            						true // make the event "stick"
                //            					);
                //                }
                //                calendar.fullCalendar('unselect');
            },
            editable: true,
            events: json
        })
    }


    //btnSimpanDanKeluar
    btnSimpanDanKeluar.click(function () {

        var date = $.datepicker.parseDate("dd-mm-yy", dateInYear.val());
        date = $.fullCalendar.formatDate(date, "d-MM-yyyy");
        //console.log(date);
        var event = calendar.fullCalendar('clientEvents', date);
        //console.log(event);

        //        var date = $.datepicker.parseDate("dd-mm-yy", dateInYear.val());
        //        var date = new Date(dateInYear.val());
        //        alert(date);
        //        alert($("#txtNilaiHarian").val());

        if (event) {
            $('#calendar').fullCalendar('removeEvents', date);
        }

        if (date && $("#txtNilaiHarian").val()) {

            //            alert('ok');
            var dateStart = $.datepicker.parseDate("dd-mm-yy", dateInYear.val());

            $("#calendar").fullCalendar('renderEvent',
                {
                    id: date, // $.fullCalendar.formatDate(start, "dd-MM-yyyy"),
                    title: $("#txtNilaiHarian").val(),
                    start: dateStart
                },
                true // make the event "stick"
            );
        }

        //        $("#calendar").fullCalendar('rerenderEvents')
        $("#divNilaiHarian").dialog('close');
        $("#divNilaiHarian").dialog("destroy");
        $("#divNilaiHarian").css("visibility", "hidden");

    });


</script>

<div id="InsertYear" style="visibility: hidden; width: 250px; display:none">
    <table>
        <tr>
            <td>
                Year :
            </td>
            <td>
                <input type="text" id="txtYear" style="width: 150px !important" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="#" id="btnAddYear" class="clsButtonAdd">Add Year</a> <a href="#" id="btnCancelYear"
                    class="clsButtonClose">Cancel</a>
            </td>
        </tr>
    </table>
</div>
@*<form id="myform">*@
<div id='calendar' style="visibility: hidden">
</div>
<br />
<div id="divNilaiHarian" style="visibility: hidden; width: 250px; display:none">
    <input type="text" id="txtNilaiHarian" />
    <input type="button" value="Simpan & Keluar" id="btnSimpanDanKeluar" />
    <input type="hidden" id="dateInYear" />
</div>
@*</form>*@