﻿@model L.PDSDA.Web.DTOs.STASIUNHUJAN_DYNDTO
@{
    var STASIUNHUJAN_DYN = Model == null ? null : Model.STASIUNHUJAN_DYN;
    TextWriter tw = new StringWriter();
    Json.Write(Model == null ? null : Model.Events, tw);
    var Events = HttpUtility.HtmlDecode(tw.ToString());
    ViewBag.Title = "Data Harian";
    var Action = ViewBag.ActionName;
    var K_STASIUN = ViewBag.K_STASIUN;
    var collTahun = ViewBag.collTahun;
    var TAHUN = ViewBag.TAHUN;
}
<link href='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.css")' rel='stylesheet' />
<link href='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.print.css")' rel='stylesheet' media='print' />
<script src='@Url.Content("~/Content/plugin/underscore-min.js")' type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Content/js/myjs.js")' type="text/javascript"></script>
<script type="text/javascript">

    var calendar = $('#calendar');
    var btnTestBlob = $("#btnTestBlob");
    var btnAddYear = $("#btnAddYear");
    var btnCancelYear = $("#btnCancelYear");
    var txtYear = $("#txtYear");
    var year = "@TAHUN";
    var dateInYear = $("#dateInYear");
    var btnSimpanDanKeluar = $("#btnSimpanDanKeluar");
    var storedEvents = _.unescape("@Events");

    $(function () {
        initialized("@Request.ApplicationPath");
        if ("@Action" == "Create") {
            $("#InsertYear").removeAttr("style");
            $("#divCal").css("display", "none");
            //            BuildCalendar(year);
        }
        else {
            BuildCalendar(year);
            calendar.removeAttr("style");
            //            calendar.css("display", "block");
        }
    });

    function ToDefaultDate(oDate) {
        try {
            var date = new Date(oDate);
            if (date)
                return date.format("dd-mm-yyyy");
        } catch (e) {
        }
    }

    function ToDefaultDateFullCalendar(oDate) {
        try {
            var date = new Date(oDate);
            if (date)
                return date.format("yyyy-mm-dd");
        } catch (e) {
        }
    }



    btnTestBlob.click(function () {
        fnLoading();
        var events = calendar.fullCalendar('clientEvents');
        var sortEvents = _.sortBy(events, function (data) { return data.start; })
        var obj = new Array();

        for (var i = 0; i < sortEvents.length; i++) {
            var event = sortEvents[i];
            var id;
            try {
                id = $.fullCalendar.formatDate(event.id, "dd-MM-yyyy");
            } catch (e) {
                id = event.id;
            }
            var title = event.title;
            obj.push({ id: id, title: title });
        }
        //console.log(JSON.stringify(obj));
        $.ajax({
            url: '@Url.Action("SaveData", "PosHujanDyn")' + "?TAHUN=" + year + "&K_STASIUN=@K_STASIUN",
            data: JSON.stringify(obj),
            type: 'POST',
            contentType: 'application/json; charset=utf-8'
            , success: function (response) {
                if (response.message.valueOf() == 'at NHibernate.Id.Assigned.Generate') {
                    alert('Kode / Id Tidak Boleh Kosong');
                    return false;
                }
                else {
                    alert(response.message);
                }
                dialogLoading.dialog('close');
                return false;
            },
            error: function (xhr) {
                alert(xhr.message);

                if (xhr.status == 400)
                    dlg.html(xhr.responseText, xhr.status);     /* display validation errors in this dialog */
                else {
                    alert(xhr);
                }
                dialogLoading.dialog('close');
            }
        });
    })

    btnAddYear.click(function () {

        var arrTahun = "@collTahun";

        if (!$.isNumeric(txtYear.val())) {
            alert("harap masukkan angka");
            return;
        }

        if (arrTahun.indexOf(txtYear.val()) > -1) {
            alert("Data tahun sudah tersimpan.");
            return;
        }
        else {
            year = txtYear.val();
            calendar.removeAttr("style");
            $("#InsertYear").css("display", "none");
            $("#divCal").removeAttr("style");
            BuildCalendar(year);
        }
        //        btnCancelYear.click();
       
        //        $("#divCal").css("display", "block");
    });

    function BuildCalendar(year) {

        //        fnLoading();

        var date = $.datepicker.parseDate("dd-mm-yy", "01-01-" + year);
        var d = date.getDate();
        var m = date.getMonth();
        var y = year == "" ? date.getFullYear() : year;

        var json = $.parseJSON(storedEvents);

        calendar = $('#calendar').fullCalendar({
            year: y,
            month: 0,
            date: 1,
            defaultView: 'month',
            header: {
                left: 'prev,next',
                center: 'title',
                //                right: 'month,agendaDay'
                right: 'month'
            },
            disableDragging: true,
            selectable: true,
            selectHelper: true,

            viewDisplay: function (view) {
                var now = $.datepicker.parseDate("dd-mm-yy", "01-01-" + year);
                var end = $.datepicker.parseDate("dd-mm-yy", "01-01-" + year);
                end.setMonth(now.getMonth() + 11); //Adjust as needed

                var cal_date_string = view.start.getMonth() + '/' + view.start.getFullYear();
                var cur_date_string = now.getMonth() + '/' + now.getFullYear();
                var end_date_string = end.getMonth() + '/' + end.getFullYear();

                if (cal_date_string == cur_date_string) { jQuery('.fc-button-prev').addClass("fc-state-disabled"); }
                else { jQuery('.fc-button-prev').removeClass("fc-state-disabled"); }

                if (end_date_string == cal_date_string) { jQuery('.fc-button-next').addClass("fc-state-disabled"); }
                else { jQuery('.fc-button-next').removeClass("fc-state-disabled"); }

            },

            select: function (start, end, allDay) {

                var id = $.fullCalendar.formatDate(start, "d-MM-yyyy");
                var event = calendar.fullCalendar('clientEvents', id);
                dateInYear.val(id);

                var title = "";
                try {
                    title = event[0].title;
                } catch (e) {

                }

                $("#txtNilaiHarian").val(title);
                $("#divNilaiHarian").removeAttr("style");
                $("#divNilaiHarian").dialog({ modal: true });
            },
            editable: true,
            events: json
            //            success: function () { alert('test'); dialogLoading.dialog().dialog('close'); },
            //            close: function () { }
        });
        //        calendar.fullCalendar();
    }

    //btnSimpanDanKeluar
    btnSimpanDanKeluar.click(function () {

        var date = $.datepicker.parseDate("dd-mm-yy", dateInYear.val());
        if (date.getFullYear() != year) {
            alert("tidak berada pada tahun yang sama");
            return;
        }
        date = $.fullCalendar.formatDate(date, "d-MM-yyyy");
        var event = calendar.fullCalendar('clientEvents', date);

        if (date && $("#txtNilaiHarian").val()) {
            if (!$.isNumeric($("#txtNilaiHarian").val())) {
                alert("harap masukkan angka");
                return;
            }

            if (event) {
                $('#calendar').fullCalendar('removeEvents', date);
            }
            var dateStart = $.datepicker.parseDate("dd-mm-yy", dateInYear.val());

            $("#calendar").fullCalendar('renderEvent',
                {
                    id: date, // $.fullCalendar.formatDate(start, "dd-MM-yyyy"),
                    title: $("#txtNilaiHarian").val(),
                    start: dateStart
                },
                true // make the event "stick"
            );
        }

        $("#divNilaiHarian").dialog('close');
        $("#divNilaiHarian").dialog("destroy");
        $("#divNilaiHarian").css("display", "none");

    });

   
</script>
<div id="InsertYear" style="display: none; width: 250px">
    <table>
        <tr>
            <td>
                Year :
            </td>
            <td>
                <input type="text" id="txtYear" style="width: 150px !important" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="#" id="btnAddYear" class="clsButtonAdd">Add Year</a>
            </td>
        </tr>
    </table>
</div>
<div id="divCal">
    <div id='calendar'>
    </div>
    <br />
    <a id="btnTestBlob" href="#" class="clsButtonAdd">Simpan Data</a>
    <div id="divNilaiHarian" style="display: none; width: 250px">
        <input type="text" id="txtNilaiHarian" />
        <input type="button" value="Ubah Data" id="btnSimpanDanKeluar" />
        <input type="hidden" id="dateInYear" />
    </div>
</div>
