﻿@model string
@{
    ViewBag.Title = "Irigasi Desa";
    var key = ViewBag.Key;
    var K_PID = Model;
}
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script type="text/javascript" language="javascript">
    function fnCreate2(oThis) {
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiDesaTanam/Create/")' + "?K_PID=" + "@K_PID";
        oThis.title = "Create IRIGASI Tanam"
        loadDefaultDialogCustomControl(oThis, "divFormIrigasiDesaTanam", $(window).width() - 400, "300px", "target2", oTable2)
    }

    function fnDetail2(oThis, id) {
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiDesaTanam/Detail/")' + id + "?method=Detail";
        oThis.title = "Detail Irigasi Desa"
        loadDetailDialogCustomControl(oThis, "divFormIrigasiDesaTanam", $(window).width() - 400, "300px", "target2", oTable2)

    }

    function fnEdit2(oThis, id) {
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiDesaTanam/Edit/")' + id;
        oThis.title = "Edit IRIGASI Tanam"
        loadDefaultDialogCustomControl(oThis, "divFormIrigasiDesaTanam", $(window).width() - 400, "300px", "target2", oTable2)
    }

    function fnDelete2(oThis, id) {
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiDesaTanam/Delete/")' + id;
        oThis.title = "Delete IRIGASI Tanam"
        if (confirm("Are you sure that you want to delete this data?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                        oTable2.fnDraw();
                    }
                    else {
                        alert(data.message);
                        oTable2.fnDraw();
                    }
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    }

    var oTable2;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        oTable2 = $("table.display2").dataTable(
        {
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true
            , "bServerSide": true
            //            , bDestroy: true
            , "sAjaxSource": '@Url.Content("~/DaerahIrigasi/IrigasiDesaTanam/LoadAllData/")' + "?method=@ViewBag.Method&id=@K_PID"
            , "aoColumns": [
            { "mData": "KEY", "sClass": "center", "sTitle": "" }
                , { "mData": "K_PID", "sClass": "center", "sTitle": "Kode" }
                , { "mData": "N_PID", "sClass": "center", "sTitle": "Nama" }
                , { "mData": "TAHUN_DATA", "sClass": "center", "sTitle": "Tahun" }
            ]
                        , "aoColumnDefs": [{
                            "sWidth": "175px",
                            "aTargets": [0],
                            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                $(nTd).empty();

                                if (IsDeleteable == "True" || IsUpdateable == "True") {
                                    if (IsDeleteable == "True") {

                                        var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                                        b.button({
                                            icons: {
                                                primary: "ui-icon-trash"
                                            }
                                        }).css({ "font-weight": "normal" });
                                        b.on('click', function () {
                                            //                            alert(oData);
                                            fnDelete2(this, oData.KEY);
                                            return false;
                                        });
                                        $(nTd).prepend(b);
                                    }


                                    if (IsUpdateable == "True") {
                                        var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                                        b.button({
                                            icons: {
                                                primary: "ui-icon-wrench"
                                            }
                                        }).css({ "font-weight": "normal" });
                                        b.on('click', function () {
                                            //                            alert(oData.KEY);
                                            fnEdit2(this, oData.KEY);
                                            return false;
                                        });
                                        $(nTd).prepend(b);
                                    }
                                }

                                if (IsUpdateable != "True") {var b = $('<button style="margin: 0" class="clsButtonDetail, cCenterOnly,">Detail</button>');
                                    b.button({
                                        icons: {
                                            primary: "ui-icon-newwin"
                                        }
                                    }).css({ "font-weight": "normal" });
                                    b.on('click', function () {
                                        fnDetail2(this, oData.KEY);
                                        return false;
                                    });
                                    $(nTd).prepend(b);
                                }
                            }
                        }]
        });
    });
</script>
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate2(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display2">
</table>
