﻿@model L.PDSDA.DAL.Entities.EMBUNG
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script>

    $(function () {
        $("fieldset").find('input, textarea, button, select').attr('disabled', 'disabled');
        var oKABUPATEN_PROPINSI_K_PROPINSI = $('#KABUPATEN_PROPINSI_K_PROPINSI');
        var oKABUPATEN_K_KABUPATEN = $('#KABUPATEN_K_KABUPATEN');

        oKABUPATEN_PROPINSI_K_PROPINSI.change(function () {
            var value = oKABUPATEN_PROPINSI_K_PROPINSI.val();
            $.getJSON('@Url.Content("~/Master/Kabupaten/GetKabupatenByPropinsi/?")' + "propinsiid=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih Kabupaten</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                oKABUPATEN_K_KABUPATEN.html(items);
            });
        });

        var DAS_K_DAS = $('#DAS_K_DAS');
        var WS_K_WS = $('#WS_K_WS');

        WS_K_WS.change(function () {
            var value = WS_K_WS.val();
            $.getJSON('@Url.Content("~/Sumber_Daya_Air/DAS/GetDASByWS/")' + "?k_ws=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih DAS</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                DAS_K_DAS.html(items);
            });
        });

    });
</script>
<style>
    table td
    {
        padding-top: 0 !important;
        padding-bottom: 5px !important;
    }
    
    fieldset
    {
        margin: 0 !important;
         padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
</style>
    <fieldset>
        <legend>EMBUNG</legend>
        <table class="noborder">
            <tr>
                <td class="editor-label">
                    Kode Embung
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.K_EMBUNG)
                    @Html.ValidationMessageFor(model => model.K_EMBUNG)
                </td>
                <td class="editor-label">
                    Nama Embung
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.N_EMBUNG)
                    @Html.ValidationMessageFor(model => model.N_EMBUNG)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Propinsi
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI)
                </td>
                <td class="editor-label">
                    Kabupaten
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.KABUPATEN.K_KABUPATEN, ViewBag.collK_KABUPATEN as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.KABUPATEN.K_KABUPATEN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Nama WS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.WS.K_WS, ViewBag.collWS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.WS.K_WS)
                </td>
                <td class="editor-label">
                    Nama DAS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.DAS.K_DAS, ViewBag.collDAS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.DAS.K_DAS)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Potensi
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.JENIS_PENANGANAN, ViewBag.collJENIS_PENANGANAN as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.JENIS_PENANGANAN)
                </td>
                <td class="editor-label">
                    Tahun Pembuatan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.TAHUN_PEMBUATAN)
                    @Html.ValidationMessageFor(model => model.TAHUN_PEMBUATAN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.APBN)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.APBN)
                    @Html.ValidationMessageFor(model => model.APBN)
                </td>
                <td class="editor-label">
                    @Html.LabelFor(model => model.PLN)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.PLN)
                    @Html.ValidationMessageFor(model => model.PLN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Kecamatan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KECAMATAN)
                    @Html.ValidationMessageFor(model => model.KECAMATAN)
                </td>
                <td class="editor-label">
                    Desa
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DESA)
                    @Html.ValidationMessageFor(model => model.DESA)
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <fieldset>
                        <legend>TMA</legend>
                        <table class="noborder">
                            <tr>
                                <td class="editor-label">
                                    Sebelum
                                </td>
                                <td class="editor-field">
                                    @Html.EditorFor(model => model.TMA_SBLM)
                                    @Html.ValidationMessageFor(model => model.TMA_SBLM)
                                </td>
                                <td class="editor-label">
                                    Sesudah
                                </td>
                                <td class="editor-field">
                                    @Html.EditorFor(model => model.TMA_SSDH)
                                    @Html.ValidationMessageFor(model => model.TMA_SSDH)
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <fieldset>
                        <legend>Kapasitas</legend>
                        <table class="noborder">
                            <tr>
                                <td class="editor-label">
                                    Sebelum
                                </td>
                                <td class="editor-field">
                                    @Html.EditorFor(model => model.KAPASITAS_SBLM)
                                    @Html.ValidationMessageFor(model => model.KAPASITAS_SBLM)
                                </td>
                                <td class="editor-label">
                                    Sesudah
                                </td>
                                <td class="editor-field">
                                    @Html.EditorFor(model => model.KAPASITAS_SSDH)
                                    @Html.ValidationMessageFor(model => model.KAPASITAS_SSDH)
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <fieldset>
                        <legend>Irigasi</legend>
                        <table class="noborder">
                            <tr>
                                <td class="editor-label">
                                    Sebelum
                                </td>
                                <td class="editor-field">
                                    @Html.EditorFor(model => model.IRIGASI_SBLM)
                                    @Html.ValidationMessageFor(model => model.IRIGASI_SBLM)
                                </td>
                                <td class="editor-label">
                                    Sesudah
                                </td>
                                <td class="editor-field">
                                    @Html.EditorFor(model => model.IRIGASI_SSDH)
                                    @Html.ValidationMessageFor(model => model.IRIGASI_SSDH)
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <fieldset>
                        <legend>DMI</legend>
                        <table class="noborder">
                            <tr>
                                <td class="editor-label">
                                    Sebelum
                                </td>
                                <td class="editor-field">
                                    @Html.EditorFor(model => model.DMI_SBLM)
                                    @Html.ValidationMessageFor(model => model.DMI_SBLM)
                                </td>
                                <td class="editor-label">
                                    Sesudah
                                </td>
                                <td class="editor-field">
                                    @Html.EditorFor(model => model.DMI_SSDH)
                                    @Html.ValidationMessageFor(model => model.DMI_SSDH)
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <fieldset>
                        <legend>Ternak</legend>
                        <table class="noborder">
                            <tr>
                                <td class="editor-label">
                                    Sebelum
                                </td>
                                <td class="editor-field">
                                    @Html.EditorFor(model => model.TERNAK_SBLM)
                                    @Html.ValidationMessageFor(model => model.TERNAK_SBLM)
                                </td>
                                <td class="editor-label">
                                    Sesudah
                                </td>
                                <td class="editor-field">
                                    @Html.EditorFor(model => model.TERNAK_SSDH)
                                    @Html.ValidationMessageFor(model => model.TERNAK_SSDH)
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
             <tr>
                <td class="editor-label">
                    Latitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Latitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Latitude)
                </td>
                <td class="editor-label">
                    Longitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Longitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Longitude)
                </td>
            </tr>
        </table>
    </fieldset>
