﻿@model L.PDSDA.DAL.Entities.EMBUNG

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "EMBUNG", FormMethod.Post, new { id = "target" }))
{    @Html.ValidationSummary(true)
    <fieldset>
        <legend>EMBUNG</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_EMBUNG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_EMBUNG)
            @Html.ValidationMessageFor(model => model.K_EMBUNG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.N_EMBUNG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_EMBUNG)
            @Html.ValidationMessageFor(model => model.N_EMBUNG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_PROPINSI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_PROPINSI)
            @Html.ValidationMessageFor(model => model.K_PROPINSI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_KABUPATEN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_KABUPATEN)
            @Html.ValidationMessageFor(model => model.K_KABUPATEN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_WS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_WS)
            @Html.ValidationMessageFor(model => model.K_WS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_DAS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_DAS)
            @Html.ValidationMessageFor(model => model.K_DAS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JENIS_PENANGANAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JENIS_PENANGANAN)
            @Html.ValidationMessageFor(model => model.JENIS_PENANGANAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TAHUN_PEMBUATAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TAHUN_PEMBUATAN)
            @Html.ValidationMessageFor(model => model.TAHUN_PEMBUATAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.APBN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.APBN)
            @Html.ValidationMessageFor(model => model.APBN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PLN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PLN)
            @Html.ValidationMessageFor(model => model.PLN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TMA_SBLM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TMA_SBLM)
            @Html.ValidationMessageFor(model => model.TMA_SBLM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TMA_SSDH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TMA_SSDH)
            @Html.ValidationMessageFor(model => model.TMA_SSDH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KAPASITAS_SBLM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KAPASITAS_SBLM)
            @Html.ValidationMessageFor(model => model.KAPASITAS_SBLM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KAPASITAS_SSDH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KAPASITAS_SSDH)
            @Html.ValidationMessageFor(model => model.KAPASITAS_SSDH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IRIGASI_SBLM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IRIGASI_SBLM)
            @Html.ValidationMessageFor(model => model.IRIGASI_SBLM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IRIGASI_SSDH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IRIGASI_SSDH)
            @Html.ValidationMessageFor(model => model.IRIGASI_SSDH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DMI_SBLM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DMI_SBLM)
            @Html.ValidationMessageFor(model => model.DMI_SBLM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DMI_SSDH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DMI_SSDH)
            @Html.ValidationMessageFor(model => model.DMI_SSDH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TERNAK_SBLM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TERNAK_SBLM)
            @Html.ValidationMessageFor(model => model.TERNAK_SBLM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TERNAK_SSDH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TERNAK_SSDH)
            @Html.ValidationMessageFor(model => model.TERNAK_SSDH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KECAMATAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KECAMATAN)
            @Html.ValidationMessageFor(model => model.KECAMATAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESA)
            @Html.ValidationMessageFor(model => model.DESA)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

