﻿@model IEnumerable<L.PDSDA.DAL.Entities.EMBUNG>
@{
    ViewBag.Title = "Embung";
    //Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    var separator = "|";
}
<script type="text/javascript" language="javascript">
    function fnPeta(oThis, Latitude, Longitude, Title) {
        oThis.href = '@Url.Content("~/Peta/GenericMap/Index/")' + "?Latitude=" + Latitude + "&Longitude=" + Longitude + "&Title=" + Title;
        oThis.title = "Peta Embung " + Title
        //        loadDialogMap(oThis, "divFormGenericPeta", $(parent.$("#main").width()), $(parent.$("#main").height()) + 200)
        loadDialogMap(oThis, "divFormGenericPeta", $(window).width() - 150, $(window).height() - 200)

    }


    function fnDetail(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/EMBUNG/Detail/")' + id + "?method=Detail";
        oThis.title = "Detail EMBUNG"
        loadDetailDialogCustomControl(oThis, "divFormEMBUNG", $(window).width() - 300, "300px", "target", oTable)

    }
    
    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/EMBUNG/Create/")';
        oThis.title = "Create EMBUNG"
        //        loadDialog(oThis, '#EMBUNGInfo');
        loadDefaultDialogCustomControl(oThis, "divFormEMBUNG", $(window).width() - 300, "300px", "target", oTable)

    }

    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/EMBUNG/Edit/")' + id;
        oThis.title = "Edit EMBUNG"
        //        loadDialog(oThis, '#EMBUNGInfo');
        loadDefaultDialogCustomControl(oThis, "divFormEMBUNG", $(window).width() - 300, "300px", "target", oTable)

    }

    function fnDelete(oThis, id) {
        //        var link = oThis.href;
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/EMBUNG/Delete/")' + id;
        oThis.title = "Delete EMBUNG"
        if (confirm("Are you sure that you want to delete this data?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        //                        oTable.fnDraw();
                        alert(data.message);
                        oTable.fnDraw();
                        //                        window.location.reload(true);
                    }
                    else {
                        alert(data.message);
                        oTable.fnDraw();
                        //                        window.location.reload(true);
                    }
                    //                        $(link).parents("tr").remove();
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    }

    //    $(function () {
    //        $("table.display").dataTable(
    //        {
    //            "sScrollX": "200px",
    //            "bScrollCollapse": true, "bJQueryUI": true,
    //            "sPaginationType": "full_numbers",
    //            "aoColumnDefs": [
    //      { "sWidth": "200px", "aTargets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] }
    //    ]
    //        });
    //    });        /* end document.ready() */


    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        //            oTable =.dataTable();
        oTable = $("table.display").dataTable(
        {
            //            "sScrollX": "100%",
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/Sumber_Daya_Air/EMBUNG/LoadAllData/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "K_EMBUNG" }, { "mData": "N_EMBUNG" }, { "mData": "N_PROPINSI" }, { "mData": "N_KABUPATEN" }, { "mData": "N_WS" }, { "mData": "N_DAS" }, { "mData": "LatLong"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True" || IsUpdateable == "True") {
                        if (IsDeleteable == "True") {

                            var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-trash"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData);
                                fnDelete(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }


                        if (IsUpdateable == "True") {
                            var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-wrench"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData.KEY);
                                fnEdit(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }
                    }

                    if (IsUpdateable != "True") {var b = $('<button style="margin: 0" class="clsButtonDetail, cCenterOnly,">Detail</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-newwin"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnDetail(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }, {
                "aTargets": [7],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (oData.LatLong != null) {

                        var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Peta</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-search"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            if (oData.LatLong != null) {
                                fnPeta(this, oData.LatLong.Latitude, oData.LatLong.Longitude, oData.pTitle);
                            }
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });
    });
</script>
<!-- <h2>
    @ViewBag.BreadCrumbs</h2> -->
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Kode Embung
            </th>
            <th>
                Nama Embung
            </th>
            <th>
                Propinsi
            </th>
            <th>
                Kabupaten
            </th>
            <th>
                WS
            </th>
            <th>
                DAS
            </th>
             <th>
                Lokasi
            </th>
            @* <th>
                Jenis Penanganan
            </th>
            <th>
                Tahun Pembuatan
            </th>
            <th>
                APBN
            </th>
            <th>
                PLN
            </th>
            <th>
                TMA Sebelum
            </th>
            <th>
                TMA Sesudah
            </th>
            <th>
                Kapasitas Sebelum
            </th>
            <th>
                  Kapasitas Sesudah
            </th>
            <th>
                Irigasi Sebelum
            </th>
            <th>
                Irigasi Sesudah
            </th>
            <th>
                DMI Sebelum
            </th>
            <th>
                DMI Sesudah
            </th>
            <th>
                Ternak Sebelum
            </th>
            <th>
                Ternak Sesudah
            </th>
            <th>
                Kecamatan
            </th>
            <th>
                Desa
            </th>*@
        </tr>
    </thead>
    @*<tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="cCenterOnly">
                  @if (ViewBag.IsUpdateable)
                  {
                        <a href="javascript:fnEdit(this,'@item.K_EMBUNG')" class="clsButtonEdit">Edit</a> @separator
                  }
                    @if (ViewBag.IsDeleteable)
                    {
                        <a href="javascript:fnDelete(this,'@item.K_EMBUNG')" class="clsButtonDelete">Delete</a>
                    }
                </td>
                <td>
                    @item.K_EMBUNG
                </td>
                <td>
                    @item.N_EMBUNG
                </td>
                 <td>
                        @if (item.PROPINSI != null)
                        {
                            @item.PROPINSI.N_PROPINSI
                        }
                    </td>
                    <td>
                        @if (item.KABUPATEN != null)
                        {
                            @item.KABUPATEN.N_KABUPATEN
                        }
                    </td>
                    <td>
                        @if (item.WS != null)
                        {
                            @item.WS.N_WS
                        }
                    </td>
                    <td>
                        @if (item.DAS != null)
                        {
                            @item.DAS.N_DAS
                        }
                    </td>
                <td>
                    @item.JENIS_PENANGANAN
                </td>
                <td>
                    @item.TAHUN_PEMBUATAN
                </td>
                <td>
                    @String.Format("{0:F}", item.APBN)
                </td>
                <td>
                    @String.Format("{0:F}", item.PLN)
                </td>
                <td>
                    @String.Format("{0:F}", item.TMA_SBLM)
                </td>
                <td>
                    @String.Format("{0:F}", item.TMA_SSDH)
                </td>
                <td>
                    @String.Format("{0:F}", item.KAPASITAS_SBLM)
                </td>
                <td>
                    @String.Format("{0:F}", item.KAPASITAS_SSDH)
                </td>
                <td>
                    @String.Format("{0:F}", item.IRIGASI_SBLM)
                </td>
                <td>
                    @String.Format("{0:F}", item.IRIGASI_SSDH)
                </td>
                <td>
                    @String.Format("{0:F}", item.DMI_SBLM)
                </td>
                <td>
                    @String.Format("{0:F}", item.DMI_SSDH)
                </td>
                <td>
                    @item.TERNAK_SBLM
                </td>
                <td>
                    @item.TERNAK_SSDH
                </td>
                <td>
                    @item.KECAMATAN
                </td>
                <td>
                    @item.DESA
                </td>
            </tr>
        }
    </tbody>*@
</table>
