﻿@model L.PDSDA.DAL.Entities.PROPINSI

@*<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(function () {
        $("fieldset").find('input, textarea, button, select').attr('disabled', 'disabled');
    });
</script>
    <fieldset>
        <legend>PROPINSI</legend>

        <div class="editor-label">
            Kode
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_PROPINSI)
            @Html.ValidationMessageFor(model => model.K_PROPINSI)
        </div>

        <div class="editor-label">
            Nama
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_PROPINSI)
            @Html.ValidationMessageFor(model => model.N_PROPINSI)
        </div>

      @*  <p>
            <input type="submit" value="Save" />
        </p>*@
    </fieldset>

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

