﻿@model IEnumerable<L.PDSDA.DAL.Entities.PROPINSI>
@{
    ViewBag.Title = "Index";
            //Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<script type="text/javascript">
    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/Master/Propinsi/Edit/")' + id;
        oThis.title = "Edit Propinsi"
        loadDefaultDialogCustomControl(oThis, "divFormPROPINSI", "500px", "300px", "target", oTable)
        //        loadDialog(oThis, '#PropinsiInfo');
    }

    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/Master/Propinsi/Create/")';
        oThis.title = "Create Propinsi"
        loadDefaultDialogCustomControl(oThis, "divFormPROPINSI", "500px", "300px", "target", oTable)
        //        loadDialog(oThis, '#PropinsiInfo');
    }

    function fnDelete(oThis, id) {
        oThis.href = '@Url.Content("~/Master/Propinsi/Delete/")' + id;
        oThis.title = "Delete Propinsi"
        //        var link = oThis.href;
        //        alert(link);
        if (confirm("Are you sure that you want to delete this Propinsi?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        oTable.fnDraw();
                        alert("Data has been removed.");
                        //                        window.location.reload(true);
                    }
                    //                        $(link).parents("tr").remove();
                },
                error: function (data) {
                    alert("This user cannot be deleted");
                }
            });
        }
    }



    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        oTable = $("table.display").dataTable(
        {
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/Master/PROPINSI/LoadAllData/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "K_PROPINSI" }, { "mData": "N_PROPINSI"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True") {

                        var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-trash"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            //                            alert(oData);
                            fnDelete(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }


                    if (IsUpdateable == "True") {
                        var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-wrench"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnEdit(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });
    });

</script>
<!-- <h2>
    Index</h2> -->
<p>
    <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
</p>
<table class="display">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Kode
            </th>
            <th>
                Nama
            </th>
        </tr>
    </thead>
    @*<tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*<a href="javascript:fnDelete('/Master/Propinsi/Delete/@item.K_PROPINSI')">Delete</a> |
                    <a href="javascript:fnEdit(this,'@item.K_PROPINSI')" class="editModalDlg, clsButtonEdit">
                        Edit</a> | <a href="javascript:fnDelete('@Url.Content("~/Master/Propinsi/Delete/" + @item.K_PROPINSI)')" class="delete, clsButtonDelete">
                            Delete</a>
                </td>
                <td>
                    @item.K_PROPINSI
                </td>
                <td>
                    @item.N_PROPINSI
                </td>
            </tr>
        }
    </tbody>*@
</table>
