﻿@model L.PDSDA.DAL.Entities.IRIGASI_DYN
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
@using (Html.BeginForm(@ViewBag.ActionName as string, "IRIGASI_DYN", FormMethod.Post, new { id = "target2" }))
{ 
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>IRIGASI_DYN</legend>
        <!-- Data UMUM -->
        @*<div class="editor-label">
            @Html.LabelFor(model => model.K_DI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_DI,)
            @Html.ValidationMessageFor(model => model.K_DI)
        </div>*@
        <div class="editor-label">
            @Html.LabelFor(model => model.TAHUN_DATA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TAHUN_DATA)
            @Html.ValidationMessageFor(model => model.TAHUN_DATA)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUMBER_DATA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUMBER_DATA)
            @Html.ValidationMessageFor(model => model.SUMBER_DATA)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.K_TINGKATAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_TINGKATAN)
            @Html.ValidationMessageFor(model => model.K_TINGKATAN)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LUAS_RENCANA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LUAS_RENCANA)
            @Html.ValidationMessageFor(model => model.LUAS_RENCANA)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JAR_OPTIMAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JAR_OPTIMAL)
            @Html.ValidationMessageFor(model => model.JAR_OPTIMAL)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JAR_BOPTIMAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JAR_BOPTIMAL)
            @Html.ValidationMessageFor(model => model.JAR_BOPTIMAL)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JAR_ALFUNG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JAR_ALFUNG)
            @Html.ValidationMessageFor(model => model.JAR_ALFUNG)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JAR_ALFUNGDRBS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JAR_ALFUNGDRBS)
            @Html.ValidationMessageFor(model => model.JAR_ALFUNGDRBS)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JAR_BSAWAH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JAR_BSAWAH)
            @Html.ValidationMessageFor(model => model.JAR_BSAWAH)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BJAR_SAWAH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BJAR_SAWAH)
            @Html.ValidationMessageFor(model => model.BJAR_SAWAH)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BJAR_BSAWAH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BJAR_BSAWAH)
            @Html.ValidationMessageFor(model => model.BJAR_BSAWAH)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.P3A)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.P3A)
            @Html.ValidationMessageFor(model => model.P3A)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ANGGOTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ANGGOTA)
            @Html.ValidationMessageFor(model => model.ANGGOTA)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BADAN_HUKUM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BADAN_HUKUM)
            @Html.ValidationMessageFor(model => model.BADAN_HUKUM)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.DEBIT_RENCANA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEBIT_RENCANA)
            @Html.ValidationMessageFor(model => model.DEBIT_RENCANA)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.DEBIT_KENYATAAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEBIT_KENYATAAN)
            @Html.ValidationMessageFor(model => model.DEBIT_KENYATAAN)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JALAN_PJ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JALAN_PJ)
            @Html.ValidationMessageFor(model => model.JALAN_PJ)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JALAN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JALAN_B)
            @Html.ValidationMessageFor(model => model.JALAN_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JALAN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JALAN_RR)
            @Html.ValidationMessageFor(model => model.JALAN_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JALAN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JALAN_RB)
            @Html.ValidationMessageFor(model => model.JALAN_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_AKTIF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_AKTIF)
            @Html.ValidationMessageFor(model => model.JML_AKTIF)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_AKTIF_ANGGOTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_AKTIF_ANGGOTA)
            @Html.ValidationMessageFor(model => model.JML_AKTIF_ANGGOTA)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_AKTIF_BH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_AKTIF_BH)
            @Html.ValidationMessageFor(model => model.JML_AKTIF_BH)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_BERKEMBANG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_BERKEMBANG)
            @Html.ValidationMessageFor(model => model.JML_BERKEMBANG)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_BERKEMBANG_ANGGOTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_BERKEMBANG_ANGGOTA)
            @Html.ValidationMessageFor(model => model.JML_BERKEMBANG_ANGGOTA)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_BERKEMBANG_BH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_BERKEMBANG_BH)
            @Html.ValidationMessageFor(model => model.JML_BERKEMBANG_BH)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_TIDAKBERKEMBANG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_TIDAKBERKEMBANG)
            @Html.ValidationMessageFor(model => model.JML_TIDAKBERKEMBANG)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_TIDAKBERKEMBANG_ANGGOTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_TIDAKBERKEMBANG_ANGGOTA)
            @Html.ValidationMessageFor(model => model.JML_TIDAKBERKEMBANG_ANGGOTA)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_TIDAKBERKEMBANG_BH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_TIDAKBERKEMBANG_BH)
            @Html.ValidationMessageFor(model => model.JML_TIDAKBERKEMBANG_BH)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_PASIF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_PASIF)
            @Html.ValidationMessageFor(model => model.JML_PASIF)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_PASIF_ANGGOTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_PASIF_ANGGOTA)
            @Html.ValidationMessageFor(model => model.JML_PASIF_ANGGOTA)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_PASIF_BH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_PASIF_BH)
            @Html.ValidationMessageFor(model => model.JML_PASIF_BH)
        </div>
        <!-- END Data UMUM -->
        <!-- Bangunan Utama -->
        <div class="editor-label">
            @Html.LabelFor(model => model.WADUK_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUK_JML)
            @Html.ValidationMessageFor(model => model.WADUK_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.WADUK_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUK_B)
            @Html.ValidationMessageFor(model => model.WADUK_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.WADUK_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUK_RR)
            @Html.ValidationMessageFor(model => model.WADUK_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.WADUK_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUK_RB)
            @Html.ValidationMessageFor(model => model.WADUK_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.WADUKP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUKP_JML)
            @Html.ValidationMessageFor(model => model.WADUKP_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.WADUKP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUKP_B)
            @Html.ValidationMessageFor(model => model.WADUKP_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.WADUKP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUKP_RR)
            @Html.ValidationMessageFor(model => model.WADUKP_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.WADUKP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUKP_RB)
            @Html.ValidationMessageFor(model => model.WADUKP_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BT_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BT_JML)
            @Html.ValidationMessageFor(model => model.BT_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BT_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BT_B)
            @Html.ValidationMessageFor(model => model.BT_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BT_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BT_RR)
            @Html.ValidationMessageFor(model => model.BT_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BT_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BT_RB)
            @Html.ValidationMessageFor(model => model.BT_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BTP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BTP_JML)
            @Html.ValidationMessageFor(model => model.BTP_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BTP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BTP_B)
            @Html.ValidationMessageFor(model => model.BTP_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BTP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BTP_RR)
            @Html.ValidationMessageFor(model => model.BTP_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BTP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BTP_RB)
            @Html.ValidationMessageFor(model => model.BTP_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BG_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BG_JML)
            @Html.ValidationMessageFor(model => model.BG_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BG_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BG_B)
            @Html.ValidationMessageFor(model => model.BG_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BG_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BG_RR)
            @Html.ValidationMessageFor(model => model.BG_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BG_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BG_RB)
            @Html.ValidationMessageFor(model => model.BG_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BGP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BGP_JML)
            @Html.ValidationMessageFor(model => model.BGP_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BGP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BGP_B)
            @Html.ValidationMessageFor(model => model.BGP_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BGP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BGP_RR)
            @Html.ValidationMessageFor(model => model.BGP_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BGP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BGP_RB)
            @Html.ValidationMessageFor(model => model.BGP_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.POMPA_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPA_JML)
            @Html.ValidationMessageFor(model => model.POMPA_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.POMPA_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPA_B)
            @Html.ValidationMessageFor(model => model.POMPA_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.POMPA_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPA_RR)
            @Html.ValidationMessageFor(model => model.POMPA_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.POMPA_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPA_RB)
            @Html.ValidationMessageFor(model => model.POMPA_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.POMPAP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPAP_JML)
            @Html.ValidationMessageFor(model => model.POMPAP_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.POMPAP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPAP_B)
            @Html.ValidationMessageFor(model => model.POMPAP_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.POMPAP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPAP_RR)
            @Html.ValidationMessageFor(model => model.POMPAP_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.POMPAP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPAP_RB)
            @Html.ValidationMessageFor(model => model.POMPAP_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BEBAS_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BEBAS_JML)
            @Html.ValidationMessageFor(model => model.BEBAS_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BEBAS_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BEBAS_B)
            @Html.ValidationMessageFor(model => model.BEBAS_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BEBAS_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BEBAS_RR)
            @Html.ValidationMessageFor(model => model.BEBAS_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BEBAS_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BEBAS_RB)
            @Html.ValidationMessageFor(model => model.BEBAS_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BEBASP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BEBASP_JML)
            @Html.ValidationMessageFor(model => model.BEBASP_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BEBASP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BEBASP_B)
            @Html.ValidationMessageFor(model => model.BEBASP_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BEBASP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BEBASP_RR)
            @Html.ValidationMessageFor(model => model.BEBASP_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BEBASP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BEBASP_RB)
            @Html.ValidationMessageFor(model => model.BEBASP_RB)
        </div>
        <!-- END Bangunan Utama -->
        <!-- Saluran Di Areal Potensial -->
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_INDUK_PJ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_INDUK_PJ)
            @Html.ValidationMessageFor(model => model.SAL_INDUK_PJ)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_INDUK_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_INDUK_B)
            @Html.ValidationMessageFor(model => model.SAL_INDUK_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_INDUK_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_INDUK_RR)
            @Html.ValidationMessageFor(model => model.SAL_INDUK_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_INDUK_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_INDUK_RB)
            @Html.ValidationMessageFor(model => model.SAL_INDUK_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_SEKUNDER_PJ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_SEKUNDER_PJ)
            @Html.ValidationMessageFor(model => model.SAL_SEKUNDER_PJ)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_SEKUNDER_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_SEKUNDER_B)
            @Html.ValidationMessageFor(model => model.SAL_SEKUNDER_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_SEKUNDER_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_SEKUNDER_RR)
            @Html.ValidationMessageFor(model => model.SAL_SEKUNDER_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_SEKUNDER_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_SEKUNDER_RB)
            @Html.ValidationMessageFor(model => model.SAL_SEKUNDER_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_PEMBUANG_PJ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_PEMBUANG_PJ)
            @Html.ValidationMessageFor(model => model.SAL_PEMBUANG_PJ)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_PEMBUANG_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_PEMBUANG_B)
            @Html.ValidationMessageFor(model => model.SAL_PEMBUANG_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_PEMBUANG_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_PEMBUANG_RR)
            @Html.ValidationMessageFor(model => model.SAL_PEMBUANG_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_PEMBUANG_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_PEMBUANG_RB)
            @Html.ValidationMessageFor(model => model.SAL_PEMBUANG_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_SUPLESI_PJ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_SUPLESI_PJ)
            @Html.ValidationMessageFor(model => model.SAL_SUPLESI_PJ)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_SUPLESI_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_SUPLESI_B)
            @Html.ValidationMessageFor(model => model.SAL_SUPLESI_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_SUPLESI_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_SUPLESI_RR)
            @Html.ValidationMessageFor(model => model.SAL_SUPLESI_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_SUPLESI_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_SUPLESI_RB)
            @Html.ValidationMessageFor(model => model.SAL_SUPLESI_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_GENDONG_PJ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_GENDONG_PJ)
            @Html.ValidationMessageFor(model => model.SAL_GENDONG_PJ)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_GENDONG_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_GENDONG_B)
            @Html.ValidationMessageFor(model => model.SAL_GENDONG_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_GENDONG_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_GENDONG_RR)
            @Html.ValidationMessageFor(model => model.SAL_GENDONG_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_GENDONG_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_GENDONG_RB)
            @Html.ValidationMessageFor(model => model.SAL_GENDONG_RB)
        </div>
        <!-- END Saluran di Areal Potensial -->
        <!-- Bangunan Pada Saluran di Areal Potensial -->
        <!-- Saluran Pembawa -->
        <div class="editor-label">
            @Html.LabelFor(model => model.BAGI_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAGI_JML)
            @Html.ValidationMessageFor(model => model.BAGI_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BAGI_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAGI_B)
            @Html.ValidationMessageFor(model => model.BAGI_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BAGI_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAGI_RR)
            @Html.ValidationMessageFor(model => model.BAGI_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BAGI_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAGI_RB)
            @Html.ValidationMessageFor(model => model.BAGI_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BAGIP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAGIP_JML)
            @Html.ValidationMessageFor(model => model.BAGIP_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BAGIP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAGIP_B)
            @Html.ValidationMessageFor(model => model.BAGIP_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BAGIP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAGIP_RR)
            @Html.ValidationMessageFor(model => model.BAGIP_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BAGIP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAGIP_RB)
            @Html.ValidationMessageFor(model => model.BAGIP_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BSADAP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BSADAP_JML)
            @Html.ValidationMessageFor(model => model.BSADAP_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BSADAP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BSADAP_B)
            @Html.ValidationMessageFor(model => model.BSADAP_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BSADAP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BSADAP_RR)
            @Html.ValidationMessageFor(model => model.BSADAP_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BSADAP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BSADAP_RB)
            @Html.ValidationMessageFor(model => model.BSADAP_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BSADAPP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BSADAPP_JML)
            @Html.ValidationMessageFor(model => model.BSADAPP_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BSADAPP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BSADAPP_B)
            @Html.ValidationMessageFor(model => model.BSADAPP_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BSADAPP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BSADAPP_RR)
            @Html.ValidationMessageFor(model => model.BSADAPP_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BSADAPP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BSADAPP_RB)
            @Html.ValidationMessageFor(model => model.BSADAPP_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SADAP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SADAP_JML)
            @Html.ValidationMessageFor(model => model.SADAP_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SADAP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SADAP_B)
            @Html.ValidationMessageFor(model => model.SADAP_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SADAP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SADAP_RR)
            @Html.ValidationMessageFor(model => model.SADAP_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SADAP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SADAP_RB)
            @Html.ValidationMessageFor(model => model.SADAP_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SADAPP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SADAPP_JML)
            @Html.ValidationMessageFor(model => model.SADAPP_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SADAPP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SADAPP_B)
            @Html.ValidationMessageFor(model => model.SADAPP_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SADAPP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SADAPP_RR)
            @Html.ValidationMessageFor(model => model.SADAPP_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SADAPP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SADAPP_RB)
            @Html.ValidationMessageFor(model => model.SADAPP_RB)
        </div>
        <!-- END SALURAN PEMBAwa -->
        <!-- sALURAN pEMBUANG -->
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_JEMBATAN_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_JEMBATAN_JML)
            @Html.ValidationMessageFor(model => model.PEMB_JEMBATAN_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_JEMBATAN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_JEMBATAN_B)
            @Html.ValidationMessageFor(model => model.PEMB_JEMBATAN_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_JEMBATAN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_JEMBATAN_RR)
            @Html.ValidationMessageFor(model => model.PEMB_JEMBATAN_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_JEMBATAN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_JEMBATAN_RB)
            @Html.ValidationMessageFor(model => model.PEMB_JEMBATAN_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_GOR_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_GOR_JML)
            @Html.ValidationMessageFor(model => model.PEMB_GOR_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_GOR_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_GOR_B)
            @Html.ValidationMessageFor(model => model.PEMB_GOR_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_GOR_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_GOR_RR)
            @Html.ValidationMessageFor(model => model.PEMB_GOR_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_GOR_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_GOR_RB)
            @Html.ValidationMessageFor(model => model.PEMB_GOR_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_KLEP_PIN_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_KLEP_PIN_JML)
            @Html.ValidationMessageFor(model => model.PEMB_KLEP_PIN_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_KLEP_PIN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_KLEP_PIN_B)
            @Html.ValidationMessageFor(model => model.PEMB_KLEP_PIN_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_KLEP_PIN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_KLEP_PIN_RR)
            @Html.ValidationMessageFor(model => model.PEMB_KLEP_PIN_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_KLEP_PIN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_KLEP_PIN_RB)
            @Html.ValidationMessageFor(model => model.PEMB_KLEP_PIN_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_KLEP_PINP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_KLEP_PINP_JML)
            @Html.ValidationMessageFor(model => model.PEMB_KLEP_PINP_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_KLEP_PINP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_KLEP_PINP_B)
            @Html.ValidationMessageFor(model => model.PEMB_KLEP_PINP_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_KLEP_PINP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_KLEP_PINP_RR)
            @Html.ValidationMessageFor(model => model.PEMB_KLEP_PINP_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_KLEP_PINP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_KLEP_PINP_RB)
            @Html.ValidationMessageFor(model => model.PEMB_KLEP_PINP_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_TERJUN_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_TERJUN_JML)
            @Html.ValidationMessageFor(model => model.PEMB_TERJUN_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_TERJUN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_TERJUN_B)
            @Html.ValidationMessageFor(model => model.PEMB_TERJUN_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_TERJUN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_TERJUN_RR)
            @Html.ValidationMessageFor(model => model.PEMB_TERJUN_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_TERJUN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_TERJUN_RB)
            @Html.ValidationMessageFor(model => model.PEMB_TERJUN_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_LAIN_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_LAIN_JML)
            @Html.ValidationMessageFor(model => model.PEMB_LAIN_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_LAIN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_LAIN_B)
            @Html.ValidationMessageFor(model => model.PEMB_LAIN_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_LAIN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_LAIN_RR)
            @Html.ValidationMessageFor(model => model.PEMB_LAIN_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_LAIN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_LAIN_RB)
            @Html.ValidationMessageFor(model => model.PEMB_LAIN_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_LAINP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_LAINP_JML)
            @Html.ValidationMessageFor(model => model.PEMB_LAINP_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_LAINP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_LAINP_B)
            @Html.ValidationMessageFor(model => model.PEMB_LAINP_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_LAINP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_LAINP_RR)
            @Html.ValidationMessageFor(model => model.PEMB_LAINP_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_LAINP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_LAINP_RB)
            @Html.ValidationMessageFor(model => model.PEMB_LAINP_RB)
        </div>
        <!-- end SALURAN PEMBUANG -->
        <!-- Saluran Suplesi -->
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TALANG_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TALANG_JML)
            @Html.ValidationMessageFor(model => model.SUPL_TALANG_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TALANG_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TALANG_B)
            @Html.ValidationMessageFor(model => model.SUPL_TALANG_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TALANG_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TALANG_RR)
            @Html.ValidationMessageFor(model => model.SUPL_TALANG_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TALANG_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TALANG_RB)
            @Html.ValidationMessageFor(model => model.SUPL_TALANG_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TALANGP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TALANGP_JML)
            @Html.ValidationMessageFor(model => model.SUPL_TALANGP_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TALANGP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TALANGP_B)
            @Html.ValidationMessageFor(model => model.SUPL_TALANGP_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TALANGP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TALANGP_RR)
            @Html.ValidationMessageFor(model => model.SUPL_TALANGP_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TALANGP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TALANGP_RB)
            @Html.ValidationMessageFor(model => model.SUPL_TALANGP_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SYPHON_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SYPHON_JML)
            @Html.ValidationMessageFor(model => model.SUPL_SYPHON_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SYPHON_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SYPHON_B)
            @Html.ValidationMessageFor(model => model.SUPL_SYPHON_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SYPHON_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SYPHON_RR)
            @Html.ValidationMessageFor(model => model.SUPL_SYPHON_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SYPHON_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SYPHON_RB)
            @Html.ValidationMessageFor(model => model.SUPL_SYPHON_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SYPHONP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SYPHONP_JML)
            @Html.ValidationMessageFor(model => model.SUPL_SYPHONP_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SYPHONP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SYPHONP_B)
            @Html.ValidationMessageFor(model => model.SUPL_SYPHONP_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SYPHONP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SYPHONP_RR)
            @Html.ValidationMessageFor(model => model.SUPL_SYPHONP_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SYPHONP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SYPHONP_RB)
            @Html.ValidationMessageFor(model => model.SUPL_SYPHONP_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_JEMBATAN_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_JEMBATAN_JML)
            @Html.ValidationMessageFor(model => model.SUPL_JEMBATAN_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_JEMBATAN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_JEMBATAN_B)
            @Html.ValidationMessageFor(model => model.SUPL_JEMBATAN_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_JEMBATAN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_JEMBATAN_RR)
            @Html.ValidationMessageFor(model => model.SUPL_JEMBATAN_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_JEMBATAN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_JEMBATAN_RB)
            @Html.ValidationMessageFor(model => model.SUPL_JEMBATAN_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOR_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOR_JML)
            @Html.ValidationMessageFor(model => model.SUPL_GOR_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOR_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOR_B)
            @Html.ValidationMessageFor(model => model.SUPL_GOR_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOR_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOR_RR)
            @Html.ValidationMessageFor(model => model.SUPL_GOR_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOR_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOR_RB)
            @Html.ValidationMessageFor(model => model.SUPL_GOR_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOT_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOT_JML)
            @Html.ValidationMessageFor(model => model.SUPL_GOT_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOT_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOT_B)
            @Html.ValidationMessageFor(model => model.SUPL_GOT_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOT_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOT_RR)
            @Html.ValidationMessageFor(model => model.SUPL_GOT_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOT_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOT_RB)
            @Html.ValidationMessageFor(model => model.SUPL_GOT_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOTP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOTP_JML)
            @Html.ValidationMessageFor(model => model.SUPL_GOTP_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOTP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOTP_B)
            @Html.ValidationMessageFor(model => model.SUPL_GOTP_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOTP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOTP_RR)
            @Html.ValidationMessageFor(model => model.SUPL_GOTP_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOTP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOTP_RB)
            @Html.ValidationMessageFor(model => model.SUPL_GOTP_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TERJUN_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TERJUN_JML)
            @Html.ValidationMessageFor(model => model.SUPL_TERJUN_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TERJUN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TERJUN_B)
            @Html.ValidationMessageFor(model => model.SUPL_TERJUN_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TERJUN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TERJUN_RR)
            @Html.ValidationMessageFor(model => model.SUPL_TERJUN_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TERJUN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TERJUN_RB)
            @Html.ValidationMessageFor(model => model.SUPL_TERJUN_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SUPLESI_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SUPLESI_JML)
            @Html.ValidationMessageFor(model => model.SUPL_SUPLESI_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SUPLESI_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SUPLESI_B)
            @Html.ValidationMessageFor(model => model.SUPL_SUPLESI_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SUPLESI_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SUPLESI_RR)
            @Html.ValidationMessageFor(model => model.SUPL_SUPLESI_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SUPLESI_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SUPLESI_RB)
            @Html.ValidationMessageFor(model => model.SUPL_SUPLESI_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SUPLESIP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SUPLESIP_JML)
            @Html.ValidationMessageFor(model => model.SUPL_SUPLESIP_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SUPLESIP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SUPLESIP_B)
            @Html.ValidationMessageFor(model => model.SUPL_SUPLESIP_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SUPLESIP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SUPLESIP_RR)
            @Html.ValidationMessageFor(model => model.SUPL_SUPLESIP_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SUPLESIP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SUPLESIP_RB)
            @Html.ValidationMessageFor(model => model.SUPL_SUPLESIP_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_LAIN_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_LAIN_JML)
            @Html.ValidationMessageFor(model => model.SUPL_LAIN_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_LAIN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_LAIN_B)
            @Html.ValidationMessageFor(model => model.SUPL_LAIN_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_LAIN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_LAIN_RR)
            @Html.ValidationMessageFor(model => model.SUPL_LAIN_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_LAIN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_LAIN_RB)
            @Html.ValidationMessageFor(model => model.SUPL_LAIN_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_LAINP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_LAINP_JML)
            @Html.ValidationMessageFor(model => model.SUPL_LAINP_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_LAINP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_LAINP_B)
            @Html.ValidationMessageFor(model => model.SUPL_LAINP_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_LAINP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_LAINP_RR)
            @Html.ValidationMessageFor(model => model.SUPL_LAINP_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_LAINP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_LAINP_RB)
            @Html.ValidationMessageFor(model => model.SUPL_LAINP_RB)
        </div>
        <!-- END Saluran SUplesi -->
        <!-- Saluran Gendong -->
        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_GOR_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_GOR_JML)
            @Html.ValidationMessageFor(model => model.GEND_GOR_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_GOR_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_GOR_B)
            @Html.ValidationMessageFor(model => model.GEND_GOR_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_GOR_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_GOR_RR)
            @Html.ValidationMessageFor(model => model.GEND_GOR_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_GOR_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_GOR_RB)
            @Html.ValidationMessageFor(model => model.GEND_GOR_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_TERJUN_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_TERJUN_JML)
            @Html.ValidationMessageFor(model => model.GEND_TERJUN_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_TERJUN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_TERJUN_B)
            @Html.ValidationMessageFor(model => model.GEND_TERJUN_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_TERJUN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_TERJUN_RR)
            @Html.ValidationMessageFor(model => model.GEND_TERJUN_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_TERJUN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_TERJUN_RB)
            @Html.ValidationMessageFor(model => model.GEND_TERJUN_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_LAIN_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_LAIN_JML)
            @Html.ValidationMessageFor(model => model.GEND_LAIN_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_LAIN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_LAIN_B)
            @Html.ValidationMessageFor(model => model.GEND_LAIN_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_LAIN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_LAIN_RR)
            @Html.ValidationMessageFor(model => model.GEND_LAIN_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_LAIN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_LAIN_RB)
            @Html.ValidationMessageFor(model => model.GEND_LAIN_RB)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_LAINP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_LAINP_JML)
            @Html.ValidationMessageFor(model => model.GEND_LAINP_JML)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_LAINP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_LAINP_B)
            @Html.ValidationMessageFor(model => model.GEND_LAINP_B)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_LAINP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_LAINP_RR)
            @Html.ValidationMessageFor(model => model.GEND_LAINP_RR)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_LAINP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_LAINP_RB)
            @Html.ValidationMessageFor(model => model.GEND_LAINP_RB)
        </div>
        <!-- End Saluran Gendong -->
        <!-- END Bangunan Pada Saluran di Areal Potensial -->
    </fieldset>
}
