﻿@model L.PDSDA.DAL.Entities.TADAH_HUJAN
<script type="text/javascript">

    $(function () {
        $("fieldset").find('input, textarea, button, select').attr('disabled', 'disabled');
        var oKABUPATEN_PROPINSI_K_PROPINSI = $('#KABUPATEN_PROPINSI_K_PROPINSI');
        var oKABUPATEN_K_KABUPATEN = $('#KABUPATEN_K_KABUPATEN');

        oKABUPATEN_PROPINSI_K_PROPINSI.change(function () {
            var value = oKABUPATEN_PROPINSI_K_PROPINSI.val();
            $.getJSON('@Url.Content("~/Master/Kabupaten/GetKabupatenByPropinsi/?")' + "propinsiid=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="">Pilih Kabupaten</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                oKABUPATEN_K_KABUPATEN.html(items);
            });
        });
    });
</script>
<style>
    #div2 table td input, #div3 table td input
    {
        width: 50px !important;
    }
</style>
<fieldset>
    <legend>TADAH_HUJAN</legend>
    <div class="editor-label">
        Propinsi
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI as IList<SelectListItem>, new { required = true })
        @Html.ValidationMessageFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI, L.Core.General.Pesan.M1)
    </div>
    <div class="editor-label">
        Kabupaten
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x => x.KABUPATEN.K_KABUPATEN, ViewBag.collK_KABUPATEN as IList<SelectListItem>, new { required = true })
        @Html.ValidationMessageFor(x => x.KABUPATEN.K_KABUPATEN, L.Core.General.Pesan.M1)
    </div>
    <br />
    <div>
        <table style="width: 100%;">
            <tr>
                <td>
                    Tahun Data
                </td>
                <td>
                    @Html.EditorFor(model => model.TAHUN_DATA)@Html.ValidationMessageFor(model => model.TAHUN_DATA)
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    Luas Lahan Tadah Hujan (Ha)
                </td>
                <td>
                    @Html.EditorFor(model => model.TADAH_HUJAN1)@Html.ValidationMessageFor(model => model.TADAH_HUJAN1)
                </td>
                <td>
                    Luas Lahan Kering (Ha)
                </td>
                <td>
                    @Html.EditorFor(model => model.LAHAN_KERING)@Html.ValidationMessageFor(model => model.LAHAN_KERING)
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div id="div2">
        <table style="width: 100%;">
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    Padi
                </td>
                <td>
                    Palawija
                </td>
                <td>
                    Lain - lain
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    Masa Tanam I
                </td>
                <td>
                    @Html.EditorFor(model => model.MT1_PD)@Html.ValidationMessageFor(model => model.MT1_PD)
                </td>
                <td>
                    @Html.EditorFor(model => model.MT1_PL)@Html.ValidationMessageFor(model => model.MT1_PL)
                </td>
                <td>
                    @Html.EditorFor(model => model.MT1_LAIN)@Html.ValidationMessageFor(model => model.MT1_LAIN)
                </td>
                <td style="text-align: center">
                    IP
                </td>
            </tr>
            <tr>
                <td>
                    Masa Tanam II
                </td>
                <td>
                    @Html.EditorFor(model => model.MT2_PD)@Html.ValidationMessageFor(model => model.MT2_PD)
                </td>
                <td>
                    @Html.EditorFor(model => model.MT2_PL)@Html.ValidationMessageFor(model => model.MT2_PL)
                </td>
                <td>
                    @Html.EditorFor(model => model.MT2_LAIN)@Html.ValidationMessageFor(model => model.MT2_LAIN)
                </td>
                <td>
                    @Html.EditorFor(model => model.MT3_PD)@Html.ValidationMessageFor(model => model.MT3_PD)
                </td>
            </tr>
            <tr>
                <td>
                    Masa Tanam III
                </td>
                <td>
                    @Html.EditorFor(model => model.MT3_PL)@Html.ValidationMessageFor(model => model.MT3_PL)
                </td>
                <td>
                    @Html.EditorFor(model => model.MT3_LAIN)@Html.ValidationMessageFor(model => model.MT3_LAIN)
                </td>
                <td>
                    @Html.EditorFor(model => model.IP)@Html.ValidationMessageFor(model => model.IP)
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div id="div3">
        <table style="width: 100%;">
            <tr>
                <td>
                    P3A
                </td>
                <td>
                    Total
                </td>
                <td>
                    Aktif
                </td>
                <td>
                    Berkembang
                </td>
                <td>
                    Tidak Berkembang
                </td>
                <td>
                    Pasif
                </td>
            </tr>
            <tr>
                <td>
                    Jumlah
                </td>
                <td>
                    @Html.EditorFor(model => model.P3A)@Html.ValidationMessageFor(model => model.P3A)
                </td>
                <td>
                    @Html.EditorFor(model => model.JML_AKTIF)@Html.ValidationMessageFor(model => model.JML_AKTIF)
                </td>
                <td>
                    @Html.EditorFor(model => model.JML_BERKEMBANG)@Html.ValidationMessageFor(model => model.JML_BERKEMBANG)
                </td>
                <td>
                    @Html.EditorFor(model => model.JML_TIDAKBERKEMBANG)@Html.ValidationMessageFor(model => model.JML_TIDAKBERKEMBANG)
                </td>
                <td>
                    @Html.EditorFor(model => model.JML_PASIF)@Html.ValidationMessageFor(model => model.JML_PASIF)
                </td>
            </tr>
            <tr>
                <td>
                    Anggota
                </td>
                <td>
                    @Html.EditorFor(model => model.ANGGOTA)@Html.ValidationMessageFor(model => model.ANGGOTA)
                </td>
                <td>
                    @Html.EditorFor(model => model.JML_AKTIF_ANGGOTA)@Html.ValidationMessageFor(model => model.JML_AKTIF_ANGGOTA)
                </td>
                <td>
                    @Html.EditorFor(model => model.JML_BERKEMBANG_ANGGOTA)@Html.ValidationMessageFor(model => model.JML_BERKEMBANG_ANGGOTA)
                </td>
                <td>
                    @Html.EditorFor(model => model.JML_TIDAKBERKEMBANG_ANGGOTA)@Html.ValidationMessageFor(model => model.JML_TIDAKBERKEMBANG_ANGGOTA)
                </td>
                <td>
                    @Html.EditorFor(model => model.JML_PASIF_ANGGOTA)@Html.ValidationMessageFor(model => model.JML_PASIF_ANGGOTA)
                </td>
            </tr>
            <tr>
                <td>
                    Berbadan Hukum
                </td>
                <td>
                    @Html.EditorFor(model => model.BADAN_HUKUM)@Html.ValidationMessageFor(model => model.BADAN_HUKUM)
                </td>
                <td>
                    @Html.EditorFor(model => model.JML_AKTIF_BH)@Html.ValidationMessageFor(model => model.JML_AKTIF_BH)
                </td>
                <td>
                    @Html.EditorFor(model => model.JML_BERKEMBANG_BH)@Html.ValidationMessageFor(model => model.JML_BERKEMBANG_BH)
                </td>
                <td>
                    @Html.EditorFor(model => model.JML_TIDAKBERKEMBANG_BH)@Html.ValidationMessageFor(model => model.JML_TIDAKBERKEMBANG_BH)
                </td>
                <td>
                    @Html.EditorFor(model => model.JML_PASIF_BH)@Html.ValidationMessageFor(model => model.JML_PASIF_BH)
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div style="width: 500px">
        <table style="width: 100%;">
            <tr>
                <td>
                    Keterangan
                </td>
                <td>
                    @Html.EditorFor(model => model.KETERANGAN)@Html.ValidationMessageFor(model => model.KETERANGAN)
                </td>
            </tr>
        </table>
    </div>
</fieldset>
