﻿@{
    ViewBag.Title = "Tadah Hujan";
    var key = ViewBag.Key;
}
<script type="text/javascript" language="javascript">
    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/DaerahIrigasi/TadahHujan/Create/")';
        oThis.title = "Create TadahHujan"
        loadDefaultDialogCustomControl(oThis, "divFormTadahHujan", $(window).width() - 200, "300px", "target", oTable)

    }


    function fnDetail(oThis, id) {
        oThis.href = '@Url.Content("~/DaerahIrigasi/TadahHujan/Detail/")' + id + "?method=Detail";
        oThis.title = "Detail Tadah Hujan"
        loadDetailDialogCustomControl(oThis, "divFormTadahHujan", $(window).width() - 200, "300px", "target", oTable)

    }


    function fnEdit(oThis, id) {
//        alert('edit');
        oThis.href = '@Url.Content("~/DaerahIrigasi/TadahHujan/Edit/")' + id;
        oThis.title = "Edit TadahHujan"
        //        loadDialog(oThis, '#TadahHujanInfo');
        setInterval(loadDefaultDialogCustomControl(oThis, "divFormTadahHujan", $(window).width() - 200, "300px", "target", oTable), 1000);

    }

    function fnDelete(oThis, id) {
        //        var link = oThis.href;
        oThis.href = '@Url.Content("~/DaerahIrigasi/TadahHujan/Delete/")' + id;
        oThis.title = "Delete TadahHujan"
        if (confirm("Are you sure that you want to delete this data?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                        oTable.fnDraw();
                    }
                    else {
                        alert(data.message);
                        oTable.fnDraw();
                    }
                    //                        $(link).parents("tr").remove();
                },
                error: function (data) {
                    alert(data.message);
                    oTable.fnDraw();
                }
            });
        }
    }


    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        oTable = $("table.display").dataTable(
        {
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/DaerahIrigasi/TadahHujan/LoadAllData/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "TAHUN_DATA",  "sTitle": "Tahun" }, { "mData": "N_PROPINSI",  "sTitle": "Propinsi" }, { "mData": "N_KABUPATEN",  "sTitle": "Kabupaten"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True" || IsUpdateable == "True") {
                        if (IsDeleteable == "True") {

                            var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-trash"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData);
                                fnDelete(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }


                        if (IsUpdateable == "True") {
                            var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-wrench"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData.KEY);
                                fnEdit(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }
                    }

                    if (IsUpdateable != "True") {var b = $('<button style="margin: 0" class="clsButtonDetail, cCenterOnly,">Detail</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-newwin"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnDetail(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });
    });
</script>
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display">
</table>
