﻿@model L.PDSDA.DAL.Entities.TADAH_HUJAN
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(function () {
        var oKABUPATEN_PROPINSI_K_PROPINSI = $('#K_PROPINSI');
        var oKABUPATEN_K_KABUPATEN = $('#K_KABUPATEN');

        oKABUPATEN_PROPINSI_K_PROPINSI.change(function () {
            var value = oKABUPATEN_PROPINSI_K_PROPINSI.val();
            $.getJSON('@Url.Content("~/Master/Kabupaten/GetKabupatenByPropinsi/?")' + "propinsiid=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih Kabupaten</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                oKABUPATEN_K_KABUPATEN.html(items);
            });
        });
    });
</script>
@using (Html.BeginForm(@ViewBag.ActionName as string, "TADAH_HUJAN", FormMethod.Post, new { id = "target" }))
{ 
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>TADAH_HUJAN</legend>
        <div class="editor-label">
            Propinsi
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.K_PROPINSI, ViewBag.collK_PROPINSI as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.K_PROPINSI)
        </div>
        <div class="editor-label">
            Kabupaten
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.K_KABUPATEN, ViewBag.collK_KABUPATEN as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.K_KABUPATEN)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TAHUN_DATA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TAHUN_DATA)
            @Html.ValidationMessageFor(model => model.TAHUN_DATA)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TADAH_HUJAN1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TADAH_HUJAN1)
            @Html.ValidationMessageFor(model => model.TADAH_HUJAN1)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LAHAN_KERING)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LAHAN_KERING)
            @Html.ValidationMessageFor(model => model.LAHAN_KERING)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MT1_PD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MT1_PD)
            @Html.ValidationMessageFor(model => model.MT1_PD)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MT1_PL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MT1_PL)
            @Html.ValidationMessageFor(model => model.MT1_PL)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MT1_LAIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MT1_LAIN)
            @Html.ValidationMessageFor(model => model.MT1_LAIN)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MT2_PD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MT2_PD)
            @Html.ValidationMessageFor(model => model.MT2_PD)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MT2_PL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MT2_PL)
            @Html.ValidationMessageFor(model => model.MT2_PL)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MT2_LAIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MT2_LAIN)
            @Html.ValidationMessageFor(model => model.MT2_LAIN)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MT3_PD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MT3_PD)
            @Html.ValidationMessageFor(model => model.MT3_PD)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MT3_PL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MT3_PL)
            @Html.ValidationMessageFor(model => model.MT3_PL)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MT3_LAIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MT3_LAIN)
            @Html.ValidationMessageFor(model => model.MT3_LAIN)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IP)
            @Html.ValidationMessageFor(model => model.IP)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.P3A)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.P3A)
            @Html.ValidationMessageFor(model => model.P3A)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ANGGOTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ANGGOTA)
            @Html.ValidationMessageFor(model => model.ANGGOTA)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BADAN_HUKUM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BADAN_HUKUM)
            @Html.ValidationMessageFor(model => model.BADAN_HUKUM)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.STATUS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STATUS)
            @Html.ValidationMessageFor(model => model.STATUS)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.KETERANGAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KETERANGAN)
            @Html.ValidationMessageFor(model => model.KETERANGAN)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_AKTIF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_AKTIF)
            @Html.ValidationMessageFor(model => model.JML_AKTIF)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_AKTIF_ANGGOTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_AKTIF_ANGGOTA)
            @Html.ValidationMessageFor(model => model.JML_AKTIF_ANGGOTA)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_AKTIF_BH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_AKTIF_BH)
            @Html.ValidationMessageFor(model => model.JML_AKTIF_BH)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_BERKEMBANG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_BERKEMBANG)
            @Html.ValidationMessageFor(model => model.JML_BERKEMBANG)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_BERKEMBANG_ANGGOTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_BERKEMBANG_ANGGOTA)
            @Html.ValidationMessageFor(model => model.JML_BERKEMBANG_ANGGOTA)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_BERKEMBANG_BH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_BERKEMBANG_BH)
            @Html.ValidationMessageFor(model => model.JML_BERKEMBANG_BH)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_TIDAKBERKEMBANG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_TIDAKBERKEMBANG)
            @Html.ValidationMessageFor(model => model.JML_TIDAKBERKEMBANG)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_TIDAKBERKEMBANG_ANGGOTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_TIDAKBERKEMBANG_ANGGOTA)
            @Html.ValidationMessageFor(model => model.JML_TIDAKBERKEMBANG_ANGGOTA)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_TIDAKBERKEMBANG_BH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_TIDAKBERKEMBANG_BH)
            @Html.ValidationMessageFor(model => model.JML_TIDAKBERKEMBANG_BH)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_PASIF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_PASIF)
            @Html.ValidationMessageFor(model => model.JML_PASIF)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_PASIF_ANGGOTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_PASIF_ANGGOTA)
            @Html.ValidationMessageFor(model => model.JML_PASIF_ANGGOTA)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.JML_PASIF_BH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_PASIF_BH)
            @Html.ValidationMessageFor(model => model.JML_PASIF_BH)
        </div>
    </fieldset>
}
