﻿@model L.PDSDA.DAL.Entities.BENDUNGAN

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "BENDUNGAN", FormMethod.Post, new { id = "target" }))
{    @Html.ValidationSummary(true)
    <fieldset>
        <legend>BENDUNGAN</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_BENDUNGAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_BENDUNGAN)
            @Html.ValidationMessageFor(model => model.K_BENDUNGAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_PROPINSI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_PROPINSI)
            @Html.ValidationMessageFor(model => model.K_PROPINSI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_KABUPATEN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_KABUPATEN)
            @Html.ValidationMessageFor(model => model.K_KABUPATEN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_WS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_WS)
            @Html.ValidationMessageFor(model => model.K_WS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_DAS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_DAS)
            @Html.ValidationMessageFor(model => model.K_DAS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KECAMATAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KECAMATAN)
            @Html.ValidationMessageFor(model => model.KECAMATAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESA)
            @Html.ValidationMessageFor(model => model.DESA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ANAK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ANAK)
            @Html.ValidationMessageFor(model => model.ANAK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.INDUK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.INDUK)
            @Html.ValidationMessageFor(model => model.INDUK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.N_BENDUNGAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_BENDUNGAN)
            @Html.ValidationMessageFor(model => model.N_BENDUNGAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MANF_IRIGASI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MANF_IRIGASI)
            @Html.ValidationMessageFor(model => model.MANF_IRIGASI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MANF_PLTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MANF_PLTA)
            @Html.ValidationMessageFor(model => model.MANF_PLTA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MANF_DMI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MANF_DMI)
            @Html.ValidationMessageFor(model => model.MANF_DMI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MANF_LAIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MANF_LAIN)
            @Html.ValidationMessageFor(model => model.MANF_LAIN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TH_MULAI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TH_MULAI)
            @Html.ValidationMessageFor(model => model.TH_MULAI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TH_SELESAI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TH_SELESAI)
            @Html.ValidationMessageFor(model => model.TH_SELESAI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BIAYA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BIAYA)
            @Html.ValidationMessageFor(model => model.BIAYA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PENGELOLA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PENGELOLA)
            @Html.ValidationMessageFor(model => model.PENGELOLA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KONSULTAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KONSULTAN)
            @Html.ValidationMessageFor(model => model.KONSULTAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KONTRAKTOR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KONTRAKTOR)
            @Html.ValidationMessageFor(model => model.KONTRAKTOR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DTA)
            @Html.ValidationMessageFor(model => model.DTA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HUJAN_TAHUNAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HUJAN_TAHUNAN)
            @Html.ValidationMessageFor(model => model.HUJAN_TAHUNAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HUJAN_DESAIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HUJAN_DESAIN)
            @Html.ValidationMessageFor(model => model.HUJAN_DESAIN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESAIN_PENGELAK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESAIN_PENGELAK)
            @Html.ValidationMessageFor(model => model.DESAIN_PENGELAK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_BENDTIPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_BENDTIPE)
            @Html.ValidationMessageFor(model => model.K_BENDTIPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TINGGI_DASAR_SUNGAI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TINGGI_DASAR_SUNGAI)
            @Html.ValidationMessageFor(model => model.TINGGI_DASAR_SUNGAI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TINGGI_DASAR_GALIAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TINGGI_DASAR_GALIAN)
            @Html.ValidationMessageFor(model => model.TINGGI_DASAR_GALIAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PJG_PUNCAK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PJG_PUNCAK)
            @Html.ValidationMessageFor(model => model.PJG_PUNCAK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LEBAR_PUNCAK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LEBAR_PUNCAK)
            @Html.ValidationMessageFor(model => model.LEBAR_PUNCAK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ELEVASI_PUNCAK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ELEVASI_PUNCAK)
            @Html.ValidationMessageFor(model => model.ELEVASI_PUNCAK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VOL_BENDUNG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VOL_BENDUNG)
            @Html.ValidationMessageFor(model => model.VOL_BENDUNG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PELIMPAH_TIPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PELIMPAH_TIPE)
            @Html.ValidationMessageFor(model => model.PELIMPAH_TIPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PELIMPAH_BANJIR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PELIMPAH_BANJIR)
            @Html.ValidationMessageFor(model => model.PELIMPAH_BANJIR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PELIMPAH_KALA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PELIMPAH_KALA)
            @Html.ValidationMessageFor(model => model.PELIMPAH_KALA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PELIMPAH_KAPASITAS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PELIMPAH_KAPASITAS)
            @Html.ValidationMessageFor(model => model.PELIMPAH_KAPASITAS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PELIMPAH_PINTU)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PELIMPAH_PINTU)
            @Html.ValidationMessageFor(model => model.PELIMPAH_PINTU)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PELIMPAH_TIPEPINTU)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PELIMPAH_TIPEPINTU)
            @Html.ValidationMessageFor(model => model.PELIMPAH_TIPEPINTU)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PELIMPAH_LEBAR_MERCU)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PELIMPAH_LEBAR_MERCU)
            @Html.ValidationMessageFor(model => model.PELIMPAH_LEBAR_MERCU)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PELIMPAH_PJG_MERCU)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PELIMPAH_PJG_MERCU)
            @Html.ValidationMessageFor(model => model.PELIMPAH_PJG_MERCU)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PELIMPAH_ELEVASI_MERCU)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PELIMPAH_ELEVASI_MERCU)
            @Html.ValidationMessageFor(model => model.PELIMPAH_ELEVASI_MERCU)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HEAD_TIPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HEAD_TIPE)
            @Html.ValidationMessageFor(model => model.HEAD_TIPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HEAD_BENTUK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HEAD_BENTUK)
            @Html.ValidationMessageFor(model => model.HEAD_BENTUK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HEAD_DIAMETER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HEAD_DIAMETER)
            @Html.ValidationMessageFor(model => model.HEAD_DIAMETER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HEAD_JUMLAH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HEAD_JUMLAH)
            @Html.ValidationMessageFor(model => model.HEAD_JUMLAH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HEAD_PJG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HEAD_PJG)
            @Html.ValidationMessageFor(model => model.HEAD_PJG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HEAD_TIPEALAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HEAD_TIPEALAT)
            @Html.ValidationMessageFor(model => model.HEAD_TIPEALAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HEAD_KAPASITAS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HEAD_KAPASITAS)
            @Html.ValidationMessageFor(model => model.HEAD_KAPASITAS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TANGKI_TIPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TANGKI_TIPE)
            @Html.ValidationMessageFor(model => model.TANGKI_TIPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TANGKI_JUMLAH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TANGKI_JUMLAH)
            @Html.ValidationMessageFor(model => model.TANGKI_JUMLAH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TANGKI_DIAMETER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TANGKI_DIAMETER)
            @Html.ValidationMessageFor(model => model.TANGKI_DIAMETER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TANGKI_TINGGI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TANGKI_TINGGI)
            @Html.ValidationMessageFor(model => model.TANGKI_TINGGI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PIPA_TIPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PIPA_TIPE)
            @Html.ValidationMessageFor(model => model.PIPA_TIPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PIPA_JUMLAH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PIPA_JUMLAH)
            @Html.ValidationMessageFor(model => model.PIPA_JUMLAH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PIPA_BENTUK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PIPA_BENTUK)
            @Html.ValidationMessageFor(model => model.PIPA_BENTUK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PIPA_PJG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PIPA_PJG)
            @Html.ValidationMessageFor(model => model.PIPA_PJG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PIPA_DIAMETER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PIPA_DIAMETER)
            @Html.ValidationMessageFor(model => model.PIPA_DIAMETER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PIPA_KAPASITAS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PIPA_KAPASITAS)
            @Html.ValidationMessageFor(model => model.PIPA_KAPASITAS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IRIGASI_TIPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IRIGASI_TIPE)
            @Html.ValidationMessageFor(model => model.IRIGASI_TIPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IRIGASI_BENTUK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IRIGASI_BENTUK)
            @Html.ValidationMessageFor(model => model.IRIGASI_BENTUK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IRIGASI_UKURAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IRIGASI_UKURAN)
            @Html.ValidationMessageFor(model => model.IRIGASI_UKURAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IRIGASI_PJG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IRIGASI_PJG)
            @Html.ValidationMessageFor(model => model.IRIGASI_PJG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IRIGASI_TIPEALAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IRIGASI_TIPEALAT)
            @Html.ValidationMessageFor(model => model.IRIGASI_TIPEALAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IRIGASI_JUMLAH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IRIGASI_JUMLAH)
            @Html.ValidationMessageFor(model => model.IRIGASI_JUMLAH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IRIGASI_KAPASITAS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IRIGASI_KAPASITAS)
            @Html.ValidationMessageFor(model => model.IRIGASI_KAPASITAS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LISTRIK_TIPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LISTRIK_TIPE)
            @Html.ValidationMessageFor(model => model.LISTRIK_TIPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LISTRIK_KAPASITAS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LISTRIK_KAPASITAS)
            @Html.ValidationMessageFor(model => model.LISTRIK_KAPASITAS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LISTRIK_DIMENSI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LISTRIK_DIMENSI)
            @Html.ValidationMessageFor(model => model.LISTRIK_DIMENSI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LISTRIK_TURBIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LISTRIK_TURBIN)
            @Html.ValidationMessageFor(model => model.LISTRIK_TURBIN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BAKU_TIPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAKU_TIPE)
            @Html.ValidationMessageFor(model => model.BAKU_TIPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BAKU_TINGGI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAKU_TINGGI)
            @Html.ValidationMessageFor(model => model.BAKU_TINGGI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BAKU_BENTUK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAKU_BENTUK)
            @Html.ValidationMessageFor(model => model.BAKU_BENTUK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BAKU_DIAMETER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAKU_DIAMETER)
            @Html.ValidationMessageFor(model => model.BAKU_DIAMETER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BAKU_JUMLAH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAKU_JUMLAH)
            @Html.ValidationMessageFor(model => model.BAKU_JUMLAH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BAKU_KAPASITAS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAKU_KAPASITAS)
            @Html.ValidationMessageFor(model => model.BAKU_KAPASITAS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BAKU_ENERGI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAKU_ENERGI)
            @Html.ValidationMessageFor(model => model.BAKU_ENERGI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PISOMETER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PISOMETER)
            @Html.ValidationMessageFor(model => model.PISOMETER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PENURUNAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PENURUNAN)
            @Html.ValidationMessageFor(model => model.PENURUNAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.REMBESAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.REMBESAN)
            @Html.ValidationMessageFor(model => model.REMBESAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.INKLINOMETER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.INKLINOMETER)
            @Html.ValidationMessageFor(model => model.INKLINOMETER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TEKANAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TEKANAN)
            @Html.ValidationMessageFor(model => model.TEKANAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ALIRAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ALIRAN)
            @Html.ValidationMessageFor(model => model.ALIRAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PATOK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PATOK)
            @Html.ValidationMessageFor(model => model.PATOK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ASELEROGRAF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ASELEROGRAF)
            @Html.ValidationMessageFor(model => model.ASELEROGRAF)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EXTENSOMETER)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EXTENSOMETER)
            @Html.ValidationMessageFor(model => model.EXTENSOMETER)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PENGGUNA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PENGGUNA)
            @Html.ValidationMessageFor(model => model.PENGGUNA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WADUK_ELEVASI_BANJIR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUK_ELEVASI_BANJIR)
            @Html.ValidationMessageFor(model => model.WADUK_ELEVASI_BANJIR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WADUK_MUKAAIR_BANJIR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUK_MUKAAIR_BANJIR)
            @Html.ValidationMessageFor(model => model.WADUK_MUKAAIR_BANJIR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WADUK_ELEVASI_NORMAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUK_ELEVASI_NORMAL)
            @Html.ValidationMessageFor(model => model.WADUK_ELEVASI_NORMAL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WADUK_MUKAAIR_NORMAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUK_MUKAAIR_NORMAL)
            @Html.ValidationMessageFor(model => model.WADUK_MUKAAIR_NORMAL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WADUK_ELEVASI_MINIMUM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUK_ELEVASI_MINIMUM)
            @Html.ValidationMessageFor(model => model.WADUK_ELEVASI_MINIMUM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WADUK_MUKAAIR_MINIMUM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUK_MUKAAIR_MINIMUM)
            @Html.ValidationMessageFor(model => model.WADUK_MUKAAIR_MINIMUM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WADUK_VOL_BANJIR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUK_VOL_BANJIR)
            @Html.ValidationMessageFor(model => model.WADUK_VOL_BANJIR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WADUK_VOL_NORMAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUK_VOL_NORMAL)
            @Html.ValidationMessageFor(model => model.WADUK_VOL_NORMAL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WADUK_VOL_MATI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUK_VOL_MATI)
            @Html.ValidationMessageFor(model => model.WADUK_VOL_MATI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WADUK_VOL_EFEKTIF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUK_VOL_EFEKTIF)
            @Html.ValidationMessageFor(model => model.WADUK_VOL_EFEKTIF)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

