﻿@model IEnumerable<L.PDSDA.DAL.Entities.BENDUNGAN>
@{
    ViewBag.Title = "Bendungan";
    //Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    var separator = "|";
}
<script type="text/javascript" language="javascript">

    function fnPeta(oThis, Latitude, Longitude, Title) {
        oThis.href = '@Url.Content("~/Peta/GenericMap/Index/")' + "?Latitude=" + Latitude + "&Longitude=" + Longitude + "&Title=" + Title;
        oThis.title = "Peta Bendungan " + Title
        //        loadDialogMap(oThis, "divFormGenericPeta", $(parent.$("#main").width()), $(parent.$("#main").height()) + 200)
        loadDialogMap(oThis, "divFormGenericPeta", $(window).width() - 150, $(window).height() - 200)
    }

    function fnDetail(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/BENDUNGAN/Detail/")' + id + "?method=Detail";
        oThis.title = "Detail BENDUNGAN"
        loadDetailDialogCustomControl(oThis, "divFormBENDUNGAN", $(window).width() - 50, "300px", "target", oTable)

    }


    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/BENDUNGAN/Create/")';
        oThis.title = "Create BENDUNGAN"
        //        loadDialog(oThis, '#BENDUNGANInfo');
        loadDefaultDialogCustomControl(oThis, "divFormBENDUNGAN", $(window).width()-50, "300px", "target", oTable)

    }

    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/BENDUNGAN/Edit/")' + id;
        oThis.title = "Edit BENDUNGAN"
        //        loadDialog(oThis, '#BENDUNGANInfo');
        loadDefaultDialogCustomControl(oThis, "divFormBENDUNGAN", $(window).width() - 50, "300px", "target", oTable)

    }

    function fnDelete(oThis, id) {
        //        var link = oThis.href;
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/BENDUNGAN/Delete/")' + id;
        oThis.title = "Delete BENDUNGAN"
        if (confirm("Are you sure that you want to delete this data?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        //                        oTable.fnDraw();
                        alert(data.message);
                        //                        window.location.reload(true);
                        oTable.fnDraw();
                    }
                    else {
                        alert(data.message);
                        oTable.fnDraw();
                        //                        window.location.reload(true);
                    }
                    //                        $(link).parents("tr").remove();
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    }

    //    $(function () {
    //        $("table.display").dataTable(
    //        {
    //            "sScrollX": "200px",
    //            "bScrollCollapse": true, "bJQueryUI": true,
    //            "sPaginationType": "full_numbers",
    //            "aoColumnDefs": [
    //      { "sWidth": "200px", "aTargets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] }
    //    ]
    //        });
    //    });        /* end document.ready() */


    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        //            oTable =.dataTable();
        oTable = $("table.display").dataTable(
        {
            //            "sScrollX": "100%",
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/Sumber_Daya_Air/BENDUNGAN/LoadAllData/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "K_BENDUNGAN" }, { "mData": "N_BENDUNGAN" }, { "mData": "N_PROPINSI" }, { "mData": "N_KABUPATEN" }, { "mData": "N_WS" }, { "mData": "N_DAS" }, { "mData": "LatLong", "sClass": "Center"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True" || IsUpdateable == "True") {
                        if (IsDeleteable == "True") {

                            var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-trash"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData);
                                fnDelete(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }


                        if (IsUpdateable == "True") {
                            var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-wrench"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData.KEY);
                                fnEdit(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }
                    }

                    if (IsUpdateable != "True") {var b = $('<button style="margin: 0" class="clsButtonDetail, cCenterOnly,">Detail</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-newwin"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnDetail(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }
            , {
                "aTargets": [7],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (oData.LatLong != null) {

                        var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Peta</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-search"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            if (oData.LatLong != null) {
                                fnPeta(this, oData.LatLong.Latitude, oData.LatLong.Longitude, oData.pTitle);
                            }
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });
    });
</script>
<!-- <h2>
    @ViewBag.BreadCrumbs</h2> -->
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display">
    <thead>
        <tr>
            <th class="cCenterOnly">
            </th>
            <th>
                Kode Bendungan
            </th>
            <th>
                Nama Bendungan
            </th>
            <th>
                Propinsi
            </th>
            <th>
                Kabupaten
            </th>
            <th>
                WS
            </th>
            <th>
                DAS
            </th>
             <th>
                Lokasi
            </th>
            @*<th>
                Kecamatan
            </th>
            <th>
                Desa
            </th>
            <th>
                Anak Sungai
            </th>
            <th>
                Induk Sungai
            </th>
            <th>
                Nama Bendungan
            </th>
            <th>
                Manfaat Irigasi
            </th>
            <th>
                Manfaat PLTA
            </th>
            <th>
                Manfaat DMI
            </th>
            <th>
                Manfaat Lain - lain
            </th>*@ @*  <th>
                TH_MULAI
            </th>
            <th>
                TH_SELESAI
            </th>
            <th>
                BIAYA
            </th>
            <th>
                PENGELOLA
            </th>
            <th>
                KONSULTAN
            </th>
            <th>
                KONTRAKTOR
            </th>
            <th>
                DTA
            </th>
            <th>
                HUJAN_TAHUNAN
            </th>
            <th>
                HUJAN_DESAIN
            </th>
            <th>
                DESAIN_PENGELAK
            </th>
            <th>
                K_BENDTIPE
            </th>
            <th>
                TINGGI_DASAR_SUNGAI
            </th>
            <th>
                TINGGI_DASAR_GALIAN
            </th>
            <th>
                PJG_PUNCAK
            </th>
            <th>
                LEBAR_PUNCAK
            </th>
            <th>
                ELEVASI_PUNCAK
            </th>
            <th>
                VOL_BENDUNGAN
            </th>
            <th>
                PELIMPAH_TIPE
            </th>
            <th>
                PELIMPAH_BANJIR
            </th>
            <th>
                PELIMPAH_KALA
            </th>
            <th>
                PELIMPAH_KAPASITAS
            </th>
            <th>
                PELIMPAH_PINTU
            </th>
            <th>
                PELIMPAH_TIPEPINTU
            </th>
            <th>
                PELIMPAH_LEBAR_MERCU
            </th>
            <th>
                PELIMPAH_PJG_MERCU
            </th>
            <th>
                PELIMPAH_ELEVASI_MERCU
            </th>
            <th>
                HEAD_TIPE
            </th>
            <th>
                HEAD_BENTUK
            </th>
            <th>
                HEAD_DIAMETER
            </th>
            <th>
                HEAD_JUMLAH
            </th>
            <th>
                HEAD_PJG
            </th>
            <th>
                HEAD_TIPEALAT
            </th>
            <th>
                HEAD_KAPASITAS
            </th>
            <th>
                TANGKI_TIPE
            </th>
            <th>
                TANGKI_JUMLAH
            </th>
            <th>
                TANGKI_DIAMETER
            </th>
            <th>
                TANGKI_TINGGI
            </th>
            <th>
                PIPA_TIPE
            </th>
            <th>
                PIPA_JUMLAH
            </th>
            <th>
                PIPA_BENTUK
            </th>
            <th>
                PIPA_PJG
            </th>
            <th>
                PIPA_DIAMETER
            </th>
            <th>
                PIPA_KAPASITAS
            </th>
            <th>
                IRIGASI_TIPE
            </th>
            <th>
                IRIGASI_BENTUK
            </th>
            <th>
                IRIGASI_UKURAN
            </th>
            <th>
                IRIGASI_PJG
            </th>
            <th>
                IRIGASI_TIPEALAT
            </th>
            <th>
                IRIGASI_JUMLAH
            </th>
            <th>
                IRIGASI_KAPASITAS
            </th>
            <th>
                LISTRIK_TIPE
            </th>
            <th>
                LISTRIK_KAPASITAS
            </th>
            <th>
                LISTRIK_DIMENSI
            </th>
            <th>
                LISTRIK_TURBIN
            </th>
            <th>
                BAKU_TIPE
            </th>
            <th>
                BAKU_TINGGI
            </th>
            <th>
                BAKU_BENTUK
            </th>
            <th>
                BAKU_DIAMETER
            </th>
            <th>
                BAKU_JUMLAH
            </th>
            <th>
                BAKU_KAPASITAS
            </th>
            <th>
                BAKU_ENERGI
            </th>
            <th>
                PISOMETER
            </th>
            <th>
                PENURUNAN
            </th>
            <th>
                REMBESAN
            </th>
            <th>
                INKLINOMETER
            </th>
            <th>
                TEKANAN
            </th>
            <th>
                ALIRAN
            </th>
            <th>
                PATOK
            </th>
            <th>
                ASELEROGRAF
            </th>
            <th>
                EXTENSOMETER
            </th>
            <th>
                PENGGUNA
            </th>
            <th>
                WADUK_ELEVASI_BANJIR
            </th>
            <th>
                WADUK_MUKAAIR_BANJIR
            </th>
            <th>
                WADUK_ELEVASI_NORMAL
            </th>
            <th>
                WADUK_MUKAAIR_NORMAL
            </th>
            <th>
                WADUK_ELEVASI_MINIMUM
            </th>
            <th>
                WADUK_MUKAAIR_MINIMUM
            </th>
            <th>
                WADUK_VOL_BANJIR
            </th>
            <th>
                WADUK_VOL_NORMAL
            </th>
            <th>
                WADUK_VOL_MATI
            </th>
            <th>
                WADUK_VOL_EFEKTIF
            </th>*@
        </tr>
    </thead>
    @*<tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="cCenterOnly">
                    @if (ViewBag.IsUpdateable)
                    {
                        <a href="javascript:fnEdit(this,'@item.K_BENDUNGAN')" class="clsButtonEdit">Edit</a> @separator
                    }
                    @if (ViewBag.IsDeleteable)
                    {
                        <a href="javascript:fnDelete(this,'@item.K_BENDUNGAN')" class="clsButtonDelete">Delete</a>
                    }
                </td>
                <td>
                    @item.K_BENDUNGAN
                </td>
                <td>
                    @if (item.PROPINSI != null)
                    {
                        @item.PROPINSI.N_PROPINSI
                    }
                </td>
                <td>
                    @if (item.KABUPATEN != null)
                    {
                        @item.KABUPATEN.N_KABUPATEN
                    }
                </td>
                <td>
                    @if (item.WS != null)
                    {
                        @item.WS.N_WS
                    }
                </td>
                <td>
                    @if (item.DAS != null)
                    {
                        @item.DAS.N_DAS
                    }
                </td>
                <td>
                    @item.KECAMATAN
                </td>
                <td>
                    @item.DESA
                </td>
                <td>
                    @item.ANAK
                </td>
                <td>
                    @item.INDUK
                </td>
                <td>
                    @item.N_BENDUNGAN
                </td>
                <td>
                    @String.Format("{0:F}", item.MANF_IRIGASI)
                </td>
                <td>
                    @String.Format("{0:F}", item.MANF_PLTA)
                </td>
                <td>
                    @String.Format("{0:F}", item.MANF_DMI)
                </td>
                <td>
                    @item.MANF_LAIN
                </td>
                @*<td>
                    @String.Format("{0:F}", item.TH_MULAI)
                </td>
                <td>
                    @String.Format("{0:F}", item.TH_SELESAI)
                </td>
                <td>
                    @item.BIAYA
                </td>
                <td>
                    @item.PENGELOLA
                </td>
                <td>
                    @item.KONSULTAN
                </td>
                <td>
                    @item.KONTRAKTOR
                </td>
                <td>
                    @String.Format("{0:F}", item.DTA)
                </td>
                <td>
                    @String.Format("{0:F}", item.HUJAN_TAHUNAN)
                </td>
                <td>
                    @String.Format("{0:F}", item.HUJAN_DESAIN)
                </td>
                <td>
                    @String.Format("{0:F}", item.DESAIN_PENGELAK)
                </td>
                <td>
                    @item.K_BENDTIPE
                </td>
                <td>
                    @String.Format("{0:F}", item.TINGGI_DASAR_SUNGAI)
                </td>
                <td>
                    @String.Format("{0:F}", item.TINGGI_DASAR_GALIAN)
                </td>
                <td>
                    @String.Format("{0:F}", item.PJG_PUNCAK)
                </td>
                <td>
                    @String.Format("{0:F}", item.LEBAR_PUNCAK)
                </td>
                <td>
                    @String.Format("{0:F}", item.ELEVASI_PUNCAK)
                </td>
                <td>
                    @String.Format("{0:F}", item.VOL_BENDUNG)
                </td>
                <td>
                    @item.PELIMPAH_TIPE
                </td>
                <td>
                    @String.Format("{0:F}", item.PELIMPAH_BANJIR)
                </td>
                <td>
                    @String.Format("{0:F}", item.PELIMPAH_KALA)
                </td>
                <td>
                    @String.Format("{0:F}", item.PELIMPAH_KAPASITAS)
                </td>
                <td>
                    @String.Format("{0:F}", item.PELIMPAH_PINTU)
                </td>
                <td>
                    @item.PELIMPAH_TIPEPINTU
                </td>
                <td>
                    @String.Format("{0:F}", item.PELIMPAH_LEBAR_MERCU)
                </td>
                <td>
                    @String.Format("{0:F}", item.PELIMPAH_PJG_MERCU)
                </td>
                <td>
                    @String.Format("{0:F}", item.PELIMPAH_ELEVASI_MERCU)
                </td>
                <td>
                    @item.HEAD_TIPE
                </td>
                <td>
                    @item.HEAD_BENTUK
                </td>
                <td>
                    @String.Format("{0:F}", item.HEAD_DIAMETER)
                </td>
                <td>
                    @String.Format("{0:F}", item.HEAD_JUMLAH)
                </td>
                <td>
                    @String.Format("{0:F}", item.HEAD_PJG)
                </td>
                <td>
                    @item.HEAD_TIPEALAT
                </td>
                <td>
                    @String.Format("{0:F}", item.HEAD_KAPASITAS)
                </td>
                <td>
                    @item.TANGKI_TIPE
                </td>
                <td>
                    @String.Format("{0:F}", item.TANGKI_JUMLAH)
                </td>
                <td>
                    @String.Format("{0:F}", item.TANGKI_DIAMETER)
                </td>
                <td>
                    @String.Format("{0:F}", item.TANGKI_TINGGI)
                </td>
                <td>
                    @item.PIPA_TIPE
                </td>
                <td>
                    @String.Format("{0:F}", item.PIPA_JUMLAH)
                </td>
                <td>
                    @item.PIPA_BENTUK
                </td>
                <td>
                    @String.Format("{0:F}", item.PIPA_PJG)
                </td>
                <td>
                    @String.Format("{0:F}", item.PIPA_DIAMETER)
                </td>
                <td>
                    @String.Format("{0:F}", item.PIPA_KAPASITAS)
                </td>
                <td>
                    @item.IRIGASI_TIPE
                </td>
                <td>
                    @item.IRIGASI_BENTUK
                </td>
                <td>
                    @String.Format("{0:F}", item.IRIGASI_UKURAN)
                </td>
                <td>
                    @String.Format("{0:F}", item.IRIGASI_PJG)
                </td>
                <td>
                    @item.IRIGASI_TIPEALAT
                </td>
                <td>
                    @String.Format("{0:F}", item.IRIGASI_JUMLAH)
                </td>
                <td>
                    @String.Format("{0:F}", item.IRIGASI_KAPASITAS)
                </td>
                <td>
                    @item.LISTRIK_TIPE
                </td>
                <td>
                    @String.Format("{0:F}", item.LISTRIK_KAPASITAS)
                </td>
                <td>
                    @item.LISTRIK_DIMENSI
                </td>
                <td>
                    @String.Format("{0:F}", item.LISTRIK_TURBIN)
                </td>
                <td>
                    @item.BAKU_TIPE
                </td>
                <td>
                    @String.Format("{0:F}", item.BAKU_TINGGI)
                </td>
                <td>
                    @item.BAKU_BENTUK
                </td>
                <td>
                    @String.Format("{0:F}", item.BAKU_DIAMETER)
                </td>
                <td>
                    @item.BAKU_JUMLAH
                </td>
                <td>
                    @String.Format("{0:F}", item.BAKU_KAPASITAS)
                </td>
                <td>
                    @String.Format("{0:F}", item.BAKU_ENERGI)
                </td>
                <td>
                    @String.Format("{0:F}", item.PISOMETER)
                </td>
                <td>
                    @String.Format("{0:F}", item.PENURUNAN)
                </td>
                <td>
                    @String.Format("{0:F}", item.REMBESAN)
                </td>
                <td>
                    @String.Format("{0:F}", item.INKLINOMETER)
                </td>
                <td>
                    @String.Format("{0:F}", item.TEKANAN)
                </td>
                <td>
                    @item.ALIRAN
                </td>
                <td>
                    @String.Format("{0:F}", item.PATOK)
                </td>
                <td>
                    @String.Format("{0:F}", item.ASELEROGRAF)
                </td>
                <td>
                    @String.Format("{0:F}", item.EXTENSOMETER)
                </td>
                <td>
                    @item.PENGGUNA
                </td>
                <td>
                    @String.Format("{0:F}", item.WADUK_ELEVASI_BANJIR)
                </td>
                <td>
                    @String.Format("{0:F}", item.WADUK_MUKAAIR_BANJIR)
                </td>
                <td>
                    @String.Format("{0:F}", item.WADUK_ELEVASI_NORMAL)
                </td>
                <td>
                    @String.Format("{0:F}", item.WADUK_MUKAAIR_NORMAL)
                </td>
                <td>
                    @String.Format("{0:F}", item.WADUK_ELEVASI_MINIMUM)
                </td>
                <td>
                    @String.Format("{0:F}", item.WADUK_MUKAAIR_MINIMUM)
                </td>
                <td>
                    @String.Format("{0:F}", item.WADUK_VOL_BANJIR)
                </td>
                <td>
                    @String.Format("{0:F}", item.WADUK_VOL_NORMAL)
                </td>
                <td>
                    @String.Format("{0:F}", item.WADUK_VOL_MATI)
                </td>
                <td>
                    @String.Format("{0:F}", item.WADUK_VOL_EFEKTIF)
                </td> </tr> } </tbody>*@
</table>
