﻿@model L.PDSDA.DAL.Entities.BENDUNGAN
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script>
    $(function () {
        $("#accordion").accordion();
        $("#accordion2").accordion();
    });
</script>
@using (Html.BeginForm(@ViewBag.ActionName as string, "BENDUNGAN", FormMethod.Post, new { id = "target" }))
{     @Html.ValidationSummary(true)
    <fieldset>
        <legend>BENDUNGAN</legend>
        <div class="editor-label">
            Kode Bendungan
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_BENDUNGAN)
            @Html.ValidationMessageFor(model => model.K_BENDUNGAN)
        </div>
        <div class="editor-label">
            Nama Bendungan
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_BENDUNGAN)
            @Html.ValidationMessageFor(model => model.N_BENDUNGAN)
        </div>
        <div class="editor-label">
            Propinsi
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI)
        </div>
        <div class="editor-label">
            Kabupaten
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.KABUPATEN.K_KABUPATEN, ViewBag.collK_KABUPATEN as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.KABUPATEN.K_KABUPATEN)
        </div>
        <div class="editor-label">
            Nama WS
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.WS.K_WS, ViewBag.collWS as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.WS.K_WS)
        </div>
        <div class="editor-label">
            Nama DAS
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.DAS.K_DAS, ViewBag.collDAS as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.DAS.K_DAS)
        </div>
        <div class="editor-label">
            Kecamatan
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KECAMATAN)
            @Html.ValidationMessageFor(model => model.KECAMATAN)
        </div>
        <div class="editor-label">
            Desa
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESA)
            @Html.ValidationMessageFor(model => model.DESA)
        </div>
        <div id="accordion">
            <h3>
                Data Bendungan</h3>
            <div class="heightAuto">
                <div class="editor-label">
                    Tipe Bendungan
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.K_BENDTIPE)
                    @Html.ValidationMessageFor(model => model.K_BENDTIPE)
                </div>
                <div class="editor-label">
                    Tinggi Dasar Sungai (m)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TINGGI_DASAR_SUNGAI)
                    @Html.ValidationMessageFor(model => model.TINGGI_DASAR_SUNGAI)
                </div>
                <div class="editor-label">
                    Tinggi Dasar Galian (m)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TINGGI_DASAR_GALIAN)
                    @Html.ValidationMessageFor(model => model.TINGGI_DASAR_GALIAN)
                </div>
                <div class="editor-label">
                    Panjang Puncak (m)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PJG_PUNCAK)
                    @Html.ValidationMessageFor(model => model.PJG_PUNCAK)
                </div>
                <div class="editor-label">
                    Lebar Puncak (m)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.LEBAR_PUNCAK)
                    @Html.ValidationMessageFor(model => model.LEBAR_PUNCAK)
                </div>
                <div class="editor-label">
                    Elevasi Puncak (m)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ELEVASI_PUNCAK)
                    @Html.ValidationMessageFor(model => model.ELEVASI_PUNCAK)
                </div>
                <div class="editor-label">
                    Volume Bendungan (m3)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.VOL_BENDUNG)
                    @Html.ValidationMessageFor(model => model.VOL_BENDUNG)
                </div>
            </div>
            <h3>
                Pelaksanaan Konstruksi</h3>
            <div class="heightAuto">
                <div class="editor-label">
                    Tahun Mulai
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TH_MULAI)
                    @Html.ValidationMessageFor(model => model.TH_MULAI)
                </div>
                <div class="editor-label">
                    Tahun Selesai
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TH_SELESAI)
                    @Html.ValidationMessageFor(model => model.TH_SELESAI)
                </div>
                <div class="editor-label">
                    Biaya
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.BIAYA)
                    @Html.ValidationMessageFor(model => model.BIAYA)
                </div>
                <div class="editor-label">
                    Pengelola
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PENGELOLA)
                    @Html.ValidationMessageFor(model => model.PENGELOLA)
                </div>
                <div class="editor-label">
                    Konsultan
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.KONSULTAN)
                    @Html.ValidationMessageFor(model => model.KONSULTAN)
                </div>
                <div class="editor-label">
                    Kontraktor
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.KONTRAKTOR)
                    @Html.ValidationMessageFor(model => model.KONTRAKTOR)
                </div>
            </div>
            <h3>
                Manfaat</h3>
            <div class="heightAuto">
                <div class="editor-label">
                    Irigasi (ha)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.MANF_IRIGASI)
                    @Html.ValidationMessageFor(model => model.MANF_IRIGASI)
                </div>
                <div class="editor-label">
                    PLTA (MWH/Tahun)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.MANF_PLTA)
                    @Html.ValidationMessageFor(model => model.MANF_PLTA)
                </div>
                <div class="editor-label">
                    DMI (m3/det)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.MANF_DMI)
                    @Html.ValidationMessageFor(model => model.MANF_DMI)
                </div>
                <div class="editor-label">
                    Lain - lain
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.MANF_LAIN)
                    @Html.ValidationMessageFor(model => model.MANF_LAIN)
                </div>
            </div>
            <h3>
                Waduk</h3>
            <div class="heightAuto">
                <fieldset>
                    <legend>Elevasi (m)</legend>
                    <div class="editor-label">
                        Banjir
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WADUK_ELEVASI_BANJIR)
                        @Html.ValidationMessageFor(model => model.WADUK_ELEVASI_BANJIR)
                    </div>
                    <div class="editor-label">
                        Normal
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WADUK_ELEVASI_NORMAL)
                        @Html.ValidationMessageFor(model => model.WADUK_ELEVASI_NORMAL)
                    </div>
                    <div class="editor-label">
                        Minimum
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WADUK_ELEVASI_MINIMUM)
                        @Html.ValidationMessageFor(model => model.WADUK_ELEVASI_MINIMUM)
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Luas Muka Air (ha)</legend>
                    <div class="editor-label">
                        Banjir
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WADUK_MUKAAIR_BANJIR)
                        @Html.ValidationMessageFor(model => model.WADUK_MUKAAIR_BANJIR)
                    </div>
                    <div class="editor-label">
                        Normal
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WADUK_MUKAAIR_NORMAL)
                        @Html.ValidationMessageFor(model => model.WADUK_MUKAAIR_NORMAL)
                    </div>
                    <div class="editor-label">
                        Minimum
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WADUK_MUKAAIR_MINIMUM)
                        @Html.ValidationMessageFor(model => model.WADUK_MUKAAIR_MINIMUM)
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Volume Waduk (Juta m3)</legend>
                    <div class="editor-label">
                        Banjir
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WADUK_VOL_BANJIR)
                        @Html.ValidationMessageFor(model => model.WADUK_VOL_BANJIR)
                    </div>
                    <div class="editor-label">
                        Normal
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WADUK_VOL_NORMAL)
                        @Html.ValidationMessageFor(model => model.WADUK_VOL_NORMAL)
                    </div>
                    <div class="editor-label">
                        Mati
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WADUK_VOL_MATI)
                        @Html.ValidationMessageFor(model => model.WADUK_VOL_MATI)
                    </div>
                    <div class="editor-label">
                        Efektif
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WADUK_VOL_EFEKTIF)
                        @Html.ValidationMessageFor(model => model.WADUK_VOL_EFEKTIF)
                    </div>
                </fieldset>
            </div>
            <h3>
                Hidrologi</h3>
            <div class="heightAuto">
                <div class="editor-label">
                    Anak Sungai
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ANAK)
                    @Html.ValidationMessageFor(model => model.ANAK)
                </div>
                <div class="editor-label">
                    Induk Sungai
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.INDUK)
                    @Html.ValidationMessageFor(model => model.INDUK)
                </div>
                <div class="editor-label">
                    Luas Daerah Tangkapan Air (Km2)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.DTA)
                    @Html.ValidationMessageFor(model => model.DTA)
                </div>
                <div class="editor-label">
                    Curah Hujan Tahunan
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.HUJAN_TAHUNAN)
                    @Html.ValidationMessageFor(model => model.HUJAN_TAHUNAN)
                </div>
                <div class="editor-label">
                    Curah Hujan Desain
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.HUJAN_DESAIN)
                    @Html.ValidationMessageFor(model => model.HUJAN_DESAIN)
                </div>
                <div class="editor-label">
                    Debit Desain Pengelak (m3/detik)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.DESAIN_PENGELAK)
                    @Html.ValidationMessageFor(model => model.DESAIN_PENGELAK)
                </div>
            </div>
            <h3>
                Pelimpah</h3>
            <div class="heightAuto">
                <div class="editor-label">
                    Tipe
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PELIMPAH_TIPE)
                    @Html.ValidationMessageFor(model => model.PELIMPAH_TIPE)
                </div>
                <div class="editor-label">
                    Banjir Desain (m3/det)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PELIMPAH_BANJIR)
                    @Html.ValidationMessageFor(model => model.PELIMPAH_BANJIR)
                </div>
                <div class="editor-label">
                    Kala (Ulang T)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PELIMPAH_KALA)
                    @Html.ValidationMessageFor(model => model.PELIMPAH_KALA)
                </div>
                <div class="editor-label">
                    Kapasitas Puncak (m3/det)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PELIMPAH_KAPASITAS)
                    @Html.ValidationMessageFor(model => model.PELIMPAH_KAPASITAS)
                </div>
                <div class="editor-label">
                    Jumlah Pintu
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PELIMPAH_PINTU)
                    @Html.ValidationMessageFor(model => model.PELIMPAH_PINTU)
                </div>
                <div class="editor-label">
                    Tipe Pintu
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PELIMPAH_TIPEPINTU)
                    @Html.ValidationMessageFor(model => model.PELIMPAH_TIPEPINTU)
                </div>
                <div class="editor-label">
                    Lebar Mercu (m)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PELIMPAH_LEBAR_MERCU)
                    @Html.ValidationMessageFor(model => model.PELIMPAH_LEBAR_MERCU)
                </div>
                <div class="editor-label">
                    Panjang Mercu (m)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PELIMPAH_PJG_MERCU)
                    @Html.ValidationMessageFor(model => model.PELIMPAH_PJG_MERCU)
                </div>
                <div class="editor-label">
                    Elevasi Mercu (m)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PELIMPAH_ELEVASI_MERCU)
                    @Html.ValidationMessageFor(model => model.PELIMPAH_ELEVASI_MERCU)
                </div>
            </div>
             <h3>
                Bangunan Pengeluaran</h3>
            <div class="heightAuto" id="accordion2">
                <h3>
                    Energi</h3>
                <div class="heightAuto">
                    <fieldset>
                        <legend>Head Race</legend>
                        <div class="editor-label">
                            Tipe
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.HEAD_TIPE)
                            @Html.ValidationMessageFor(model => model.HEAD_TIPE)
                        </div>
                        <div class="editor-label">
                            Bentuk
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.HEAD_BENTUK)
                            @Html.ValidationMessageFor(model => model.HEAD_BENTUK)
                        </div>
                        <div class="editor-label">
                            Diameter (m)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.HEAD_DIAMETER)
                            @Html.ValidationMessageFor(model => model.HEAD_DIAMETER)
                        </div>
                        <div class="editor-label">
                            Jumlah
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.HEAD_JUMLAH)
                            @Html.ValidationMessageFor(model => model.HEAD_JUMLAH)
                        </div>
                        <div class="editor-label">
                            Panjang (m)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.HEAD_PJG)
                            @Html.ValidationMessageFor(model => model.HEAD_PJG)
                        </div>
                        <div class="editor-label">
                            Tipe Alat
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.HEAD_TIPEALAT)
                            @Html.ValidationMessageFor(model => model.HEAD_TIPEALAT)
                        </div>
                        <div class="editor-label">
                            Kapasitas (m3/detik)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.HEAD_KAPASITAS)
                            @Html.ValidationMessageFor(model => model.HEAD_KAPASITAS)
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Pipa Pesat</legend>
                        <div class="editor-label">
                            Tipe
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PIPA_TIPE)
                            @Html.ValidationMessageFor(model => model.PIPA_TIPE)
                        </div>
                        <div class="editor-label">
                            Jumlah
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PIPA_JUMLAH)
                            @Html.ValidationMessageFor(model => model.PIPA_JUMLAH)
                        </div>
                        <div class="editor-label">
                            Bentuk
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PIPA_BENTUK)
                            @Html.ValidationMessageFor(model => model.PIPA_BENTUK)
                        </div>
                        <div class="editor-label">
                            Panjang (m)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PIPA_PJG)
                            @Html.ValidationMessageFor(model => model.PIPA_PJG)
                        </div>
                        <div class="editor-label">
                            Diameter (m)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PIPA_DIAMETER)
                            @Html.ValidationMessageFor(model => model.PIPA_DIAMETER)
                        </div>
                        <div class="editor-label">
                            Kapasitas (m3/detik)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PIPA_KAPASITAS)
                            @Html.ValidationMessageFor(model => model.PIPA_KAPASITAS)
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Tangki Pendata Air</legend>
                        <div class="editor-label">
                            Tipe
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TANGKI_TIPE)
                            @Html.ValidationMessageFor(model => model.TANGKI_TIPE)
                        </div>
                        <div class="editor-label">
                            Jumlah
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TANGKI_JUMLAH)
                            @Html.ValidationMessageFor(model => model.TANGKI_JUMLAH)
                        </div>
                        <div class="editor-label">
                            Diameter (m)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TANGKI_DIAMETER)
                            @Html.ValidationMessageFor(model => model.TANGKI_DIAMETER)
                        </div>
                        <div class="editor-label">
                            Tinggi (m)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TANGKI_TINGGI)
                            @Html.ValidationMessageFor(model => model.TANGKI_TINGGI)
                        </div>
                    </fieldset>
                </div>
                <h3>
                    Irigasi</h3>
                <div class="heightAuto">
                    <div class="editor-label">
                       Tipe
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IRIGASI_TIPE)
                        @Html.ValidationMessageFor(model => model.IRIGASI_TIPE)
                    </div>
                    <div class="editor-label">
                       Bentuk
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IRIGASI_BENTUK)
                        @Html.ValidationMessageFor(model => model.IRIGASI_BENTUK)
                    </div>
                    <div class="editor-label">
                      Ukuran
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IRIGASI_UKURAN)
                        @Html.ValidationMessageFor(model => model.IRIGASI_UKURAN)
                    </div>
                    <div class="editor-label">
                     Panjang (m)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IRIGASI_PJG)
                        @Html.ValidationMessageFor(model => model.IRIGASI_PJG)
                    </div>
                    <div class="editor-label">
                      Tipe Alat
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IRIGASI_TIPEALAT)
                        @Html.ValidationMessageFor(model => model.IRIGASI_TIPEALAT)
                    </div>
                    <div class="editor-label">
                      Jumlah
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IRIGASI_JUMLAH)
                        @Html.ValidationMessageFor(model => model.IRIGASI_JUMLAH)
                    </div>
                    <div class="editor-label">
                      Kapasitas (m3/detik)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.IRIGASI_KAPASITAS)
                        @Html.ValidationMessageFor(model => model.IRIGASI_KAPASITAS)
                    </div>
                </div>
                <h3>
                    Air Baku</h3>
                <div class="heightAuto">
                    <div class="editor-label">
                    Tipe
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.BAKU_TIPE)
                        @Html.ValidationMessageFor(model => model.BAKU_TIPE)
                    </div>
                    <div class="editor-label">
                       Tinggi (m)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.BAKU_TINGGI)
                        @Html.ValidationMessageFor(model => model.BAKU_TINGGI)
                    </div>
                    <div class="editor-label">
                      Bentuk
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.BAKU_BENTUK)
                        @Html.ValidationMessageFor(model => model.BAKU_BENTUK)
                    </div>
                    <div class="editor-label">
                       Diameter (m)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.BAKU_DIAMETER)
                        @Html.ValidationMessageFor(model => model.BAKU_DIAMETER)
                    </div>
                    <div class="editor-label">
                       Jumlah
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.BAKU_JUMLAH)
                        @Html.ValidationMessageFor(model => model.BAKU_JUMLAH)
                    </div>
                    <div class="editor-label">
                      Kapasitas (m3/detik)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.BAKU_KAPASITAS)
                        @Html.ValidationMessageFor(model => model.BAKU_KAPASITAS)
                    </div>
                    <div class="editor-label">
                      Energi
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.BAKU_ENERGI)
                        @Html.ValidationMessageFor(model => model.BAKU_ENERGI)
                    </div>
                </div>
            </div>
            <h3>
                Bangunan Pembangkit Listrik</h3>
            <div class="heightAuto">
                <div class="editor-label">
                    Tipe
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.LISTRIK_TIPE)
                    @Html.ValidationMessageFor(model => model.LISTRIK_TIPE)
                </div>
                <div class="editor-label">
                    Kapasitas Terpasang (MW)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.LISTRIK_KAPASITAS)
                    @Html.ValidationMessageFor(model => model.LISTRIK_KAPASITAS)
                </div>
                <div class="editor-label">
                    DImensi (L x P x T)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.LISTRIK_DIMENSI)
                    @Html.ValidationMessageFor(model => model.LISTRIK_DIMENSI)
                </div>
                <div class="editor-label">
                    Jumlah Turbin (buah)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.LISTRIK_TURBIN)
                    @Html.ValidationMessageFor(model => model.LISTRIK_TURBIN)
                </div>
            </div>
            <h3>
                Instrumentasi</h3>
            <div class="heightAuto">
                <div class="editor-label">
                    Pisometer
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PISOMETER)
                    @Html.ValidationMessageFor(model => model.PISOMETER)
                </div>
                <div class="editor-label">
                    Alat Ukur Penurunan
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PENURUNAN)
                    @Html.ValidationMessageFor(model => model.PENURUNAN)
                </div>
                <div class="editor-label">
                    Alat Ukur Rembesan
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.REMBESAN)
                    @Html.ValidationMessageFor(model => model.REMBESAN)
                </div>
                <div class="editor-label">
                    Inklinometer
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.INKLINOMETER)
                    @Html.ValidationMessageFor(model => model.INKLINOMETER)
                </div>
                <div class="editor-label">
                    Alat Ukur Tekanan Tanah
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TEKANAN)
                    @Html.ValidationMessageFor(model => model.TEKANAN)
                </div>
                <div class="editor-label">
                    Alat Ukur Aliran
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ALIRAN)
                    @Html.ValidationMessageFor(model => model.ALIRAN)
                </div>
                <div class="editor-label">
                    Patok Geser
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PATOK)
                    @Html.ValidationMessageFor(model => model.PATOK)
                </div>
                <div class="editor-label">
                    Aselerograf
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ASELEROGRAF)
                    @Html.ValidationMessageFor(model => model.ASELEROGRAF)
                </div>
                <div class="editor-label">
                    Extensometer
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.EXTENSOMETER)
                    @Html.ValidationMessageFor(model => model.EXTENSOMETER)
                </div>
            </div>
           
           @* <div class="editor-label">
                @Html.LabelFor(model => model.PENGGUNA)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PENGGUNA)
                @Html.ValidationMessageFor(model => model.PENGGUNA)
            </div>*@
        </div>
    </fieldset>
}
