﻿@model L.PDSDA.DAL.Entities.BENDUNGAN
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script>

    $(function () {
        var oKABUPATEN_PROPINSI_K_PROPINSI = $('#KABUPATEN_PROPINSI_K_PROPINSI');
        var oKABUPATEN_K_KABUPATEN = $('#KABUPATEN_K_KABUPATEN');

        oKABUPATEN_PROPINSI_K_PROPINSI.change(function () {
            var value = oKABUPATEN_PROPINSI_K_PROPINSI.val();
            $.getJSON('@Url.Content("~/Master/Kabupaten/GetKabupatenByPropinsi/?")' + "propinsiid=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih Kabupaten</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                oKABUPATEN_K_KABUPATEN.html(items);
            });
        });

        var DAS_K_DAS = $('#DAS_K_DAS');
        var WS_K_WS = $('#WS_K_WS');

        WS_K_WS.change(function () {
            var value = WS_K_WS.val();
            $.getJSON('@Url.Content("~/Sumber_Daya_Air/DAS/GetDASByWS/")' + "?k_ws=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih DAS</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                DAS_K_DAS.html(items);
            });
        });

        $("#tabs").tabs();
        $("#tabs2").tabs();
    });



</script>
<style>
    fieldset
    {
        padding: 0px 0px 0px 5px !important;
        margin: 0 !important;
    }
</style>
@*<script>
    $(function () {
        $("#tabs").tabs();
        $("#tabs2").tabs();
    });
</script>*@
@using (Html.BeginForm(@ViewBag.ActionName as string, "BENDUNGAN", FormMethod.Post, new { id = "target" }))
{     @Html.ValidationSummary(true)
    <fieldset>
        <legend>BENDUNGAN</legend>
        <table class="noborder">
            <tr>
                <td class="editor-label">
                    Kode Bendungan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.K_BENDUNGAN)
                    @Html.ValidationMessageFor(model => model.K_BENDUNGAN)
                </td>
                <td class="editor-label">
                    Nama Bendungan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.N_BENDUNGAN)
                    @Html.ValidationMessageFor(model => model.N_BENDUNGAN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Propinsi
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI)
                </td>
                <td class="editor-label">
                    Kabupaten
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.KABUPATEN.K_KABUPATEN, ViewBag.collK_KABUPATEN as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.KABUPATEN.K_KABUPATEN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Nama WS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.WS.K_WS, ViewBag.collWS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.WS.K_WS)
                </td>
                <td class="editor-label">
                    Nama DAS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.DAS.K_DAS, ViewBag.collDAS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.DAS.K_DAS)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Kecamatan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KECAMATAN)
                    @Html.ValidationMessageFor(model => model.KECAMATAN)
                </td>
                <td class="editor-label">
                    Desa
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DESA)
                    @Html.ValidationMessageFor(model => model.DESA)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Latitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Latitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Latitude)
                </td>
                <td class="editor-label">
                    Longitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Longitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Longitude)
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="editor-field">
                        <script type="text/javascript">
                            function loadMap() {
                                var oThis = {};
                                oThis.href = '@Url.Content("~/Peta/GenericMap/IndexWithClick/")';
                                oThis.title = "Peta";
                                loadDialogMap(oThis, "divFormGenericPeta", $(window).width() - 150, $(window).height() - 200)
                            }
                        </script>
                        <a href="javascript:loadMap()" class="modalDlg, clsButtonAdd">Map</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-1">Data Bendungan</a></li>
                            <li><a href="#tabs-2">Pelaksanaan Konstruksi</a></li>
                            <li><a href="#tabs-3">Manfaat</a></li>
                            <li><a href="#tabs-4">Waduk</a></li>
                            <li><a href="#tabs-5">Hidrologi</a></li>
                            <li><a href="#tabs-6">Pelimpah</a></li>
                            <li><a href="#tabs-7">Bangunan Pengeluaran</a></li>
                            <li><a href="#tabs-8">Bangunan Pembangkit Listrik</a></li>
                            <li><a href="#tabs-9">Instrumentasi</a></li>
                        </ul>
                        <div class="heightAuto" id="tabs-1">
                            <table class="noborder">
                                <tr>
                                    <td class="editor-label">
                                        Tipe Bendungan
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.K_BENDTIPE)
                                        @Html.ValidationMessageFor(model => model.K_BENDTIPE)
                                    </td>
                                    <td class="editor-label">
                                        Tinggi Dasar Sungai (m)
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.TINGGI_DASAR_SUNGAI)
                                        @Html.ValidationMessageFor(model => model.TINGGI_DASAR_SUNGAI)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Tinggi Dasar Galian (m)
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.TINGGI_DASAR_GALIAN)
                                        @Html.ValidationMessageFor(model => model.TINGGI_DASAR_GALIAN)
                                    </td>
                                    <td class="editor-label">
                                        Panjang Puncak (m)
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.PJG_PUNCAK)
                                        @Html.ValidationMessageFor(model => model.PJG_PUNCAK)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Lebar Puncak (m)
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.LEBAR_PUNCAK)
                                        @Html.ValidationMessageFor(model => model.LEBAR_PUNCAK)
                                    </td>
                                    <td class="editor-label">
                                        Elevasi Puncak (m)
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.ELEVASI_PUNCAK)
                                        @Html.ValidationMessageFor(model => model.ELEVASI_PUNCAK)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Volume Bendungan (m3)
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.VOL_BENDUNG)
                                        @Html.ValidationMessageFor(model => model.VOL_BENDUNG)
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="heightAuto" id="tabs-2">
                            <table class="noborder">
                                <tr>
                                    <td class="editor-label">
                                        Tahun Mulai
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.TH_MULAI)
                                        @Html.ValidationMessageFor(model => model.TH_MULAI)
                                    </td>
                                    <td class="editor-label">
                                        Tahun Selesai
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.TH_SELESAI)
                                        @Html.ValidationMessageFor(model => model.TH_SELESAI)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Biaya
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.BIAYA)
                                        @Html.ValidationMessageFor(model => model.BIAYA)
                                    </td>
                                    <td class="editor-label">
                                        Pengelola
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.PENGELOLA)
                                        @Html.ValidationMessageFor(model => model.PENGELOLA)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Konsultan
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.KONSULTAN)
                                        @Html.ValidationMessageFor(model => model.KONSULTAN)
                                    </td>
                                    <td class="editor-label">
                                        Kontraktor
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.KONTRAKTOR)
                                        @Html.ValidationMessageFor(model => model.KONTRAKTOR)
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="heightAuto" id="tabs-3">
                            <table class="noborder">
                                <tr>
                                    <td class="editor-label">
                                        Irigasi (ha)
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.MANF_IRIGASI)
                                        @Html.ValidationMessageFor(model => model.MANF_IRIGASI)
                                    </td>
                                    <td class="editor-label">
                                        PLTA (MWH/Tahun)
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.MANF_PLTA)
                                        @Html.ValidationMessageFor(model => model.MANF_PLTA)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        DMI (m3/det)
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.MANF_DMI)
                                        @Html.ValidationMessageFor(model => model.MANF_DMI)
                                    </td>
                                    <td class="editor-label">
                                        Lain - lain
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.MANF_LAIN)
                                        @Html.ValidationMessageFor(model => model.MANF_LAIN)
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="heightAuto" id="tabs-4">
                            <fieldset>
                                <legend>Elevasi (m)</legend>
                                <table class="noborder">
                                    <tr>
                                        <td class="editor-label">
                                            Banjir
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.WADUK_ELEVASI_BANJIR)
                                            @Html.ValidationMessageFor(model => model.WADUK_ELEVASI_BANJIR)
                                        </td>
                                        <td class="editor-label">
                                            Normal
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.WADUK_ELEVASI_NORMAL)
                                            @Html.ValidationMessageFor(model => model.WADUK_ELEVASI_NORMAL)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="editor-label">
                                            Minimum
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.WADUK_ELEVASI_MINIMUM)
                                            @Html.ValidationMessageFor(model => model.WADUK_ELEVASI_MINIMUM)
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                            <fieldset>
                                <legend>Luas Muka Air (ha)</legend>
                                <table class="noborder">
                                    <tr>
                                        <td class="editor-label">
                                            Banjir
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.WADUK_MUKAAIR_BANJIR)
                                            @Html.ValidationMessageFor(model => model.WADUK_MUKAAIR_BANJIR)
                                        </td>
                                        <td class="editor-label">
                                            Normal
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.WADUK_MUKAAIR_NORMAL)
                                            @Html.ValidationMessageFor(model => model.WADUK_MUKAAIR_NORMAL)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="editor-label">
                                            Minimum
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.WADUK_MUKAAIR_MINIMUM)
                                            @Html.ValidationMessageFor(model => model.WADUK_MUKAAIR_MINIMUM)
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                            <fieldset>
                                <legend>Volume Waduk (Juta m3)</legend>
                                <table class="noborder">
                                    <tr>
                                        <td class="editor-label">
                                            Banjir
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.WADUK_VOL_BANJIR)
                                            @Html.ValidationMessageFor(model => model.WADUK_VOL_BANJIR)
                                        </td>
                                        <td class="editor-label">
                                            Normal
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.WADUK_VOL_NORMAL)
                                            @Html.ValidationMessageFor(model => model.WADUK_VOL_NORMAL)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="editor-label">
                                            Mati
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.WADUK_VOL_MATI)
                                            @Html.ValidationMessageFor(model => model.WADUK_VOL_MATI)
                                        </td>
                                        <td class="editor-label">
                                            Efektif
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.WADUK_VOL_EFEKTIF)
                                            @Html.ValidationMessageFor(model => model.WADUK_VOL_EFEKTIF)
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                        <div class="heightAuto" id="tabs-5">
                            <table class="noborder">
                                <tr>
                                    <td class="editor-label">
                                        Anak Sungai
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.ANAK)
                                        @Html.ValidationMessageFor(model => model.ANAK)
                                    </td>
                                    <td class="editor-label">
                                        Induk Sungai
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.INDUK)
                                        @Html.ValidationMessageFor(model => model.INDUK)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Luas Daerah Tangkapan Air (Km2)
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.DTA)
                                        @Html.ValidationMessageFor(model => model.DTA)
                                    </td>
                                    <td class="editor-label">
                                        Curah Hujan Tahunan
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.HUJAN_TAHUNAN)
                                        @Html.ValidationMessageFor(model => model.HUJAN_TAHUNAN)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Curah Hujan Desain
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.HUJAN_DESAIN)
                                        @Html.ValidationMessageFor(model => model.HUJAN_DESAIN)
                                    </td>
                                    <td class="editor-label">
                                        Debit Desain Pengelak
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.DESAIN_PENGELAK)
                                        @Html.ValidationMessageFor(model => model.DESAIN_PENGELAK)
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="heightAuto" id="tabs-6">
                            <table class="noborder">
                                <tr>
                                    <td class="editor-label">
                                        Tipe
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.PELIMPAH_TIPE)
                                        @Html.ValidationMessageFor(model => model.PELIMPAH_TIPE)
                                    </td>
                                    <td class="editor-label">
                                        Banjir Desain (m3/det)
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.PELIMPAH_BANJIR)
                                        @Html.ValidationMessageFor(model => model.PELIMPAH_BANJIR)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Kala (Ulang T)
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.PELIMPAH_KALA)
                                        @Html.ValidationMessageFor(model => model.PELIMPAH_KALA)
                                    </td>
                                    <td class="editor-label">
                                        Kapasitas Puncak (m3/det)
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.PELIMPAH_KAPASITAS)
                                        @Html.ValidationMessageFor(model => model.PELIMPAH_KAPASITAS)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Jumlah Pintu
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.PELIMPAH_PINTU)
                                        @Html.ValidationMessageFor(model => model.PELIMPAH_PINTU)
                                    </td>
                                    <td class="editor-label">
                                        Tipe Pintu
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.PELIMPAH_TIPEPINTU)
                                        @Html.ValidationMessageFor(model => model.PELIMPAH_TIPEPINTU)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Lebar Mercu (m)
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.PELIMPAH_LEBAR_MERCU)
                                        @Html.ValidationMessageFor(model => model.PELIMPAH_LEBAR_MERCU)
                                    </td>
                                    <td class="editor-label">
                                        Panjang Mercu (m)
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.PELIMPAH_PJG_MERCU)
                                        @Html.ValidationMessageFor(model => model.PELIMPAH_PJG_MERCU)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Evaluasi Mercu (m)
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.PELIMPAH_ELEVASI_MERCU)
                                        @Html.ValidationMessageFor(model => model.PELIMPAH_ELEVASI_MERCU)
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="heightAuto" id="tabs-7">
                            <div id="tabs2">
                                <ul>
                                    <li><a href="#tabs2-1">Energi</a></li>
                                    <li><a href="#tabs2-2">Irigasi</a></li>
                                    <li><a href="#tabs2-3">Air Baku</a></li>
                                </ul>
                                <div class="heightAuto" id="tabs2-1">
                                    <div class="heightAuto">
                                        <fieldset>
                                            <legend>Head Race</legend>
                                            <table class="noborder">
                                                <tr>
                                                    <td class="editor-label">
                                                        Tipe
                                                    </td>
                                                    <td class="editor-field">
                                                        @Html.EditorFor(model => model.HEAD_TIPE)
                                                        @Html.ValidationMessageFor(model => model.HEAD_TIPE)
                                                    </td>
                                                    <td class="editor-label">
                                                        Bentuk
                                                    </td>
                                                    <td class="editor-field">
                                                        @Html.EditorFor(model => model.HEAD_BENTUK)
                                                        @Html.ValidationMessageFor(model => model.HEAD_BENTUK)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="editor-label">
                                                        Diameter
                                                    </td>
                                                    <td class="editor-field">
                                                        @Html.EditorFor(model => model.HEAD_DIAMETER)
                                                        @Html.ValidationMessageFor(model => model.HEAD_DIAMETER)
                                                    </td>
                                                    <td class="editor-label">
                                                        Jumlah
                                                    </td>
                                                    <td class="editor-field">
                                                        @Html.EditorFor(model => model.HEAD_JUMLAH)
                                                        @Html.ValidationMessageFor(model => model.HEAD_JUMLAH)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="editor-label">
                                                        Panjang
                                                    </td>
                                                    <td class="editor-field">
                                                        @Html.EditorFor(model => model.HEAD_PJG)
                                                        @Html.ValidationMessageFor(model => model.HEAD_PJG)
                                                    </td>
                                                    <td class="editor-label">
                                                        Tipe Alat
                                                    </td>
                                                    <td class="editor-field">
                                                        @Html.EditorFor(model => model.HEAD_TIPEALAT)
                                                        @Html.ValidationMessageFor(model => model.HEAD_TIPEALAT)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="editor-label">
                                                        Kapasitas (m3/detik)
                                                    </td>
                                                    <td class="editor-field">
                                                        @Html.EditorFor(model => model.HEAD_KAPASITAS)
                                                        @Html.ValidationMessageFor(model => model.HEAD_KAPASITAS)
                                                    </td>
                                                </tr>
                                            </table>
                                        </fieldset>
                                        <fieldset>
                                            <legend>Pipa Pesat</legend>
                                            <table class="noborder">
                                                <tr>
                                                    <td class="editor-label">
                                                        Tipe
                                                    </td>
                                                    <td class="editor-field">
                                                        @Html.EditorFor(model => model.PIPA_TIPE)
                                                        @Html.ValidationMessageFor(model => model.PIPA_TIPE)
                                                    </td>
                                                    <td class="editor-label">
                                                        Jumlah
                                                    </td>
                                                    <td class="editor-field">
                                                        @Html.EditorFor(model => model.PIPA_JUMLAH)
                                                        @Html.ValidationMessageFor(model => model.PIPA_JUMLAH)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="editor-label">
                                                        Bentuk
                                                    </td>
                                                    <td class="editor-field">
                                                        @Html.EditorFor(model => model.PIPA_BENTUK)
                                                        @Html.ValidationMessageFor(model => model.PIPA_BENTUK)
                                                    </td>
                                                    <td class="editor-label">
                                                        Panjang
                                                    </td>
                                                    <td class="editor-field">
                                                        @Html.EditorFor(model => model.PIPA_PJG)
                                                        @Html.ValidationMessageFor(model => model.PIPA_PJG)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="editor-label">
                                                        Diameter
                                                    </td>
                                                    <td class="editor-field">
                                                        @Html.EditorFor(model => model.PIPA_DIAMETER)
                                                        @Html.ValidationMessageFor(model => model.PIPA_DIAMETER)
                                                    </td>
                                                    <td class="editor-label">
                                                        Kapasitas
                                                    </td>
                                                    <td class="editor-field">
                                                        @Html.EditorFor(model => model.PIPA_KAPASITAS)
                                                        @Html.ValidationMessageFor(model => model.PIPA_KAPASITAS)
                                                    </td>
                                                </tr>
                                            </table>
                                        </fieldset>
                                        <fieldset>
                                            <legend>Tangki Pendata Air</legend>
                                            <table class="noborder">
                                                <tr>
                                                    <td class="editor-label">
                                                        Tipe
                                                    </td>
                                                    <td class="editor-field">
                                                        @Html.EditorFor(model => model.TANGKI_TIPE)
                                                        @Html.ValidationMessageFor(model => model.TANGKI_TIPE)
                                                    </td>
                                                    <td class="editor-label">
                                                        Jumlah
                                                    </td>
                                                    <td class="editor-field">
                                                        @Html.EditorFor(model => model.TANGKI_JUMLAH)
                                                        @Html.ValidationMessageFor(model => model.TANGKI_JUMLAH)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="editor-label">
                                                        Diameter
                                                    </td>
                                                    <td class="editor-field">
                                                        @Html.EditorFor(model => model.TANGKI_DIAMETER)
                                                        @Html.ValidationMessageFor(model => model.TANGKI_DIAMETER)
                                                    </td>
                                                    <td class="editor-label">
                                                        Tinggi
                                                    </td>
                                                    <td class="editor-field">
                                                        @Html.EditorFor(model => model.TANGKI_TINGGI)
                                                        @Html.ValidationMessageFor(model => model.TANGKI_TINGGI)
                                                    </td>
                                                </tr>
                                            </table>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="heightAuto" id="tabs2-2">
                                    <div class="heightAuto">
                                        <table class="noborder">
                                            <tr>
                                                <td class="editor-label">
                                                    Tipe
                                                </td>
                                                <td class="editor-field">
                                                    @Html.EditorFor(model => model.IRIGASI_TIPE)
                                                    @Html.ValidationMessageFor(model => model.IRIGASI_TIPE)
                                                </td>
                                                <td class="editor-label">
                                                    Bentuk
                                                </td>
                                                <td class="editor-field">
                                                    @Html.EditorFor(model => model.IRIGASI_BENTUK)
                                                    @Html.ValidationMessageFor(model => model.IRIGASI_BENTUK)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="editor-label">
                                                    Ukuran
                                                </td>
                                                <td class="editor-field">
                                                    @Html.EditorFor(model => model.IRIGASI_UKURAN)
                                                    @Html.ValidationMessageFor(model => model.IRIGASI_UKURAN)
                                                </td>
                                                <td class="editor-label">
                                                    Panjang
                                                </td>
                                                <td class="editor-field">
                                                    @Html.EditorFor(model => model.IRIGASI_PJG)
                                                    @Html.ValidationMessageFor(model => model.IRIGASI_PJG)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="editor-label">
                                                    Tipe Alat
                                                </td>
                                                <td class="editor-field">
                                                    @Html.EditorFor(model => model.IRIGASI_TIPEALAT)
                                                    @Html.ValidationMessageFor(model => model.IRIGASI_TIPEALAT)
                                                </td>
                                                <td class="editor-label">
                                                    Jumlah
                                                </td>
                                                <td class="editor-field">
                                                    @Html.EditorFor(model => model.IRIGASI_JUMLAH)
                                                    @Html.ValidationMessageFor(model => model.IRIGASI_JUMLAH)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="editor-label">
                                                    Kapasitas
                                                </td>
                                                <td class="editor-field">
                                                    @Html.EditorFor(model => model.IRIGASI_KAPASITAS)
                                                    @Html.ValidationMessageFor(model => model.IRIGASI_KAPASITAS)
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="heightAuto" id="tabs2-3">
                                    <div class="heightAuto">
                                        <table class="noborder">
                                            <tr>
                                                <td class="editor-label">
                                                    Tipe
                                                </td>
                                                <td class="editor-field">
                                                    @Html.EditorFor(model => model.BAKU_TIPE)
                                                    @Html.ValidationMessageFor(model => model.BAKU_TIPE)
                                                </td>
                                                <td class="editor-label">
                                                    Tinggi
                                                </td>
                                                <td class="editor-field">
                                                    @Html.EditorFor(model => model.BAKU_TINGGI)
                                                    @Html.ValidationMessageFor(model => model.BAKU_TINGGI)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="editor-label">
                                                    Bentuk
                                                </td>
                                                <td class="editor-field">
                                                    @Html.EditorFor(model => model.BAKU_BENTUK)
                                                    @Html.ValidationMessageFor(model => model.BAKU_BENTUK)
                                                </td>
                                                <td class="editor-label">
                                                    Diameter
                                                </td>
                                                <td class="editor-field">
                                                    @Html.EditorFor(model => model.BAKU_DIAMETER)
                                                    @Html.ValidationMessageFor(model => model.BAKU_DIAMETER)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="editor-label">
                                                    Jumlah
                                                </td>
                                                <td class="editor-field">
                                                    @Html.EditorFor(model => model.BAKU_JUMLAH)
                                                    @Html.ValidationMessageFor(model => model.BAKU_JUMLAH)
                                                </td>
                                                <td class="editor-label">
                                                    Kapasitas
                                                </td>
                                                <td class="editor-field">
                                                    @Html.EditorFor(model => model.BAKU_KAPASITAS)
                                                    @Html.ValidationMessageFor(model => model.BAKU_KAPASITAS)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="editor-label">
                                                    Energi
                                                </td>
                                                <td class="editor-field">
                                                    @Html.EditorFor(model => model.BAKU_ENERGI)
                                                    @Html.ValidationMessageFor(model => model.BAKU_ENERGI)
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="heightAuto" id="tabs-8">
                            <div class="heightAuto">
                                <table class="noborder">
                                    <tr>
                                        <td class="editor-label">
                                            Tipe
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.LISTRIK_TIPE)
                                            @Html.ValidationMessageFor(model => model.LISTRIK_TIPE)
                                        </td>
                                        <td class="editor-label">
                                            Kapasitas Terpasang (MW)
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.LISTRIK_KAPASITAS)
                                            @Html.ValidationMessageFor(model => model.LISTRIK_KAPASITAS)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="editor-label">
                                            DImensi (L x P x T)
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.LISTRIK_DIMENSI)
                                            @Html.ValidationMessageFor(model => model.LISTRIK_DIMENSI)
                                        </td>
                                        <td class="editor-label">
                                            Jumlah Turbin (buah)
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.LISTRIK_TURBIN)
                                            @Html.ValidationMessageFor(model => model.LISTRIK_TURBIN)
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="heightAuto" id="tabs-9">
                            <div class="heightAuto">
                                <table class="noborder">
                                    <tr>
                                        <td class="editor-label">
                                            Pisometer
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.PISOMETER)
                                            @Html.ValidationMessageFor(model => model.PISOMETER)
                                        </td>
                                        <td class="editor-label">
                                            Alat Ukur Penurunan
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.PENURUNAN)
                                            @Html.ValidationMessageFor(model => model.PENURUNAN)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="editor-label">
                                            Alat Ukur Rembesan
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.REMBESAN)
                                            @Html.ValidationMessageFor(model => model.REMBESAN)
                                        </td>
                                        <td class="editor-label">
                                            Inklinometer
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.INKLINOMETER)
                                            @Html.ValidationMessageFor(model => model.INKLINOMETER)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="editor-label">
                                            Alat Ukur Tekanan Tanah
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.TEKANAN)
                                            @Html.ValidationMessageFor(model => model.TEKANAN)
                                        </td>
                                        <td class="editor-label">
                                            Alat Ukur Aliran
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.ALIRAN)
                                            @Html.ValidationMessageFor(model => model.ALIRAN)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="editor-label">
                                            Patok Geser
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.PATOK)
                                            @Html.ValidationMessageFor(model => model.PATOK)
                                        </td>
                                        <td class="editor-label">
                                            Aselerograf
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.ASELEROGRAF)
                                            @Html.ValidationMessageFor(model => model.ASELEROGRAF)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="editor-label">
                                            Extensometer
                                        </td>
                                        <td class="editor-field">
                                            @Html.EditorFor(model => model.EXTENSOMETER)
                                            @Html.ValidationMessageFor(model => model.EXTENSOMETER)
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        @* <div class="editor-label">
                @Html.LabelFor(model => model.PENGGUNA)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PENGGUNA)
                @Html.ValidationMessageFor(model => model.PENGGUNA)
            </div>*@
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
}
