﻿@model L.PDSDA.DAL.Entities.IRIGASI
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script type="text/javascript">

    function fnLoadIrigasiTanam(oThis) {

        var IsViewable = "@ViewBag.IsViewable";
        var IsCreateable = "@ViewBag.IsCreateable";
        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        var id = $("#K_DI").val();
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiTanam/")' + "?method=Detail&id=" + id.replace(/ /g, '%20%') + "&IsViewable=" + IsViewable + "&IsCreateable=" + IsCreateable + "&IsUpdateable=" + IsUpdateable + "&IsDeleteable=" + IsDeleteable;
        oThis.title = "Irigasi Tanam"

        var $url2 = oThis.href;
        var $title2 = oThis.title;
        var $dialog2 = $('<div id="divIrigasiTanam"></div>');

        $dialog2
		    .load($url2)
		    .dialog({ closeOnEscape: false,
		        position: "top",
		        autoOpen: false
			    , title: $title2
			    , width: 1000
	        	    , modal: true
			    , minHeight: 100
	        	    , show: 'fade'
		    });

        $dialog2.dialog("option", "buttons", [{
            text: "Tutup",
            click: function () {
                $(this).dialog("close");
                $(this).empty();
            },
            icons: {
                primary: 'ui-icon-circle-close'
            }
        }]);

        $dialog2.dialog('open');
    }

    function fnLoadIrigasiInfrastruktur(oThis) {

        var IsViewable = "@ViewBag.IsViewable";
        var IsCreateable = "@ViewBag.IsCreateable";
        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        var id = $("#K_DI").val();
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiDyn/")' + "?method=Detail&id=" + id.replace(/ /g, '%20%') + "&IsViewable=" + IsViewable + "&IsCreateable=" + IsCreateable + "&IsUpdateable=" + IsUpdateable + "&IsDeleteable=" + IsDeleteable;
        oThis.title = "Irigasi Infrastruktur"

        var $url2 = oThis.href;
        var $title2 = oThis.title;
        var $dialog2 = $('<div id="divIrigasiInfrastruktur"></div>');

        $dialog2
		    .load($url2)
		    .dialog({ closeOnEscape: false,
		        position: "top",
		        autoOpen: false
			    , title: $title2
			    , width: 1000
	        	    , modal: true
			    , minHeight: 100
	        	    , show: 'fade'
		    });

        $dialog2.dialog("option", "buttons", [{
            text: "Tutup",
            click: function () {
                $(this).dialog("close");
                $(this).empty();
            },
            icons: {
                primary: 'ui-icon-circle-close'
            }
        }]);

        $dialog2.dialog('open');
    }


    $(function () {
        $("fieldset").find('input, textarea, button, select').attr('disabled', 'disabled');
        var oKABUPATEN_PROPINSI_K_PROPINSI = $('#KABUPATEN_PROPINSI_K_PROPINSI');
        var oKABUPATEN_K_KABUPATEN = $('#KABUPATEN_K_KABUPATEN');

        oKABUPATEN_PROPINSI_K_PROPINSI.change(function () {
            var value = oKABUPATEN_PROPINSI_K_PROPINSI.val();
            $.getJSON('@Url.Content("~/Master/Kabupaten/GetKabupatenByPropinsi/?")' + "propinsiid=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih Kabupaten</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                oKABUPATEN_K_KABUPATEN.html(items);
            });
        });

        var DAS_K_DAS = $('#DAS_K_DAS');
        var WS_K_WS = $('#WS_K_WS');

        WS_K_WS.change(function () {
            var value = WS_K_WS.val();
            $.getJSON('@Url.Content("~/Sumber_Daya_Air/DAS/GetDASByWS/")' + "?k_ws=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih DAS</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                DAS_K_DAS.html(items);
            });
        });

    });
</script>
    <fieldset>
        <legend>IRIGASI</legend>
        <div class="editor-label">
            Kode
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_DI)
            @Html.ValidationMessageFor(model => model.K_DI)
        </div>
        <div class="editor-label">
            Nama
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_DI)
            @Html.ValidationMessageFor(model => model.N_DI)
        </div>
        <div class="editor-label">
            Propinsi
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI)
        </div>
        <div class="editor-label">
            Kabupaten
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.KABUPATEN.K_KABUPATEN, ViewBag.collK_KABUPATEN as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.KABUPATEN.K_KABUPATEN)
        </div>
        <div class="editor-label">
            Nama WS
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.WS.K_WS, ViewBag.collWS as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.WS.K_WS)
        </div>
        <div class="editor-label">
            Nama DAS
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.DAS.K_DAS, ViewBag.collDAS as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.DAS.K_DAS)
        </div>
        <div class="editor-label">
            Kewenangan
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.KEWENANGAN.K_KEWENANGAN, ViewBag.collKEWENANGAN as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.KEWENANGAN.K_KEWENANGAN)
        </div>
        <div class="editor-label">
            Kecamatan
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KECAMATAN)
            @Html.ValidationMessageFor(model => model.KECAMATAN)
        </div>
        <div class="editor-label">
            Total Desa
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESA)
            @Html.ValidationMessageFor(model => model.DESA)
        </div>
    </fieldset>
    <table class="noborder">
        <tr>
            <td>
                <a href="javascript:fnLoadIrigasiInfrastruktur(this)" class="modalDlg, clsButtonAdd">Infrastruktur</a>
            </td>
            <td>
                <a href="javascript:fnLoadIrigasiTanam(this)" class="modalDlg, clsButtonAdd">Masa Tanam</a>
            </td>
        </tr>
    </table>
    
