﻿@{
    ViewBag.Title = "Irigasi Pemerintah";
    var key = ViewBag.Key;
}
<style>
    tfoot input
    {
        width: 100% !important;
    }
    
    .dataTables_filter
    {
        display:none !important;
    }
</style>
<script type="text/javascript" language="javascript">
    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiPemerintah/Create/")';
        oThis.title = "Create IRIGASI"
        loadDefaultDialogCustomControl(oThis, "divFormIRIGASI", 500, "300px", "target", oTable)

    }

    function fnDetail(oThis, id) {
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiPemerintah/Detail/")' + id + "?method=Detail";
        oThis.title = "Detail Irigasi"
        loadDetailDialogCustomControl(oThis, "divFormIRIGASI", 500, "300px", "target", oTable)

    }

    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiPemerintah/Edit/")' + id;
        oThis.title = "Edit IRIGASI"
        //        loadDialog(oThis, '#IRIGASIInfo');
        loadDefaultDialogCustomControl(oThis, "divFormIRIGASI", 500, "300px", "target", oTable)

    }

    function fnDelete(oThis, id) {
        //        var link = oThis.href;
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiPemerintah/Delete/")' + id;
        oThis.title = "Delete IRIGASI"
        if (confirm("Are you sure that you want to delete this data?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                        oTable.fnDraw();
                    }
                    else {
                        alert(data.message);
                        oTable.fnDraw();
                    }
                    //                        $(link).parents("tr").remove();
                },
                error: function (data) {
                    alert(data.message);
                    oTable.fnDraw();
                }
            });
        }
    }


    var oTable;
    var asInitVals = new Array();

    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        // Data Table
        oTable = $("table.display").dataTable(
        {
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            //             "sDom": '<"top"i>rt<"bottom"lp><"clear">',
            //            "sDom": "rtip",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/DaerahIrigasi/IrigasiPemerintah/LoadAllData2/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "K_DI", "sClass": "center", "sTitle": "Kode" }, { "mData": "N_DI", "sClass": "center", "sTitle": "Nama" }, { "mData": "N_PROPINSI", "sClass": "center", "sTitle": "Propinsi" }, { "mData": "N_KABUPATEN", "sClass": "center", "sTitle": "Kabupaten" }, { "mData": "N_WS", "sClass": "center", "sTitle": "WS" }, { "mData": "N_DAS", "sClass": "center", "sTitle": "DAS" }, { "mData": "N_KEWENANGAN", "sClass": "center", "sTitle": "Kewenangan"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True" || IsUpdateable == "True") {
                        if (IsDeleteable == "True") {

                            var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-trash"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData);
                                fnDelete(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }


                        if (IsUpdateable == "True") {
                            var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-wrench"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData.KEY);
                                fnEdit(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }
                    }

                    if (IsUpdateable != "True") {
                        var b = $('<button style="margin: 0" class="clsButtonDetail, cCenterOnly,">Detail</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-newwin"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnDetail(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });

        // Multi column
        $("tfoot input").keyup(function () {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, $("tfoot input").index(this));
        });

        /*
        * Support functions to provide a little bit of 'user friendlyness' to the textboxes in 
        * the footer
        */
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });

        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });

        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
        // End Multi column

        // End Data Table
    });
</script>
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display">
    <tfoot>
        <tr style="background-color: Silver">
            <td>
                Cari =>
            </td>
            <td>
                <input type="text" />
            </td>
            <td>
                <input type="text" />
            </td>
            <td>
                <input type="text" />
            </td>
            <td>
                <input type="text" />
            </td>
            <td>
                <input type="text" />
            </td>
            <td>
                <input type="text" />
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
    </tfoot>
</table>
