﻿@model L.PDSDA.DAL.Entities.POS_PENGAMAT
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script>
    $(function () {

        var DAS_K_DAS = $('#DA_K_DAS');
        var WS_K_WS = $('#W_K_WS');

        WS_K_WS.change(function () {
            var value = WS_K_WS.val();
            $.getJSON('@Url.Content("~/Sumber_Daya_Air/DAS/GetDASByWS/")' + "?k_ws=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih DAS</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                DAS_K_DAS.html(items);
            });
        });
    });
</script>
<style>
    fieldset
    {
        margin: 0 !important;
        padding: 0 0 0 5px !important;
    }
</style>
@using (Html.BeginForm(@ViewBag.ActionName as string, "POS_PENGAMAT", FormMethod.Post, new { id = "target" }))
{   @Html.ValidationSummary(true)
    <fieldset>
        <legend>POS_PENGAMAT</legend>
        <table class="noborder">
            <tr>
                <td class="editor-label">
                    Kode
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.K_POSPENGAMAT)
                    @Html.ValidationMessageFor(model => model.K_POSPENGAMAT)
                </td>
                <td class="editor-label">
                    Nama
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.N_POSPENGAMAT)
                    @Html.ValidationMessageFor(model => model.N_POSPENGAMAT)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Propinsi
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.PROPINSI.K_PROPINSI)
                </td>
                <td class="editor-label">
                    Sungai
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.SUNGAI)
                    @Html.ValidationMessageFor(model => model.SUNGAI)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    WS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.W.K_WS, ViewBag.collWS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.W.K_WS)
                </td>
                <td class="editor-label">
                    DAS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.DA.K_DAS, ViewBag.collDAS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.DA.K_DAS)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Latitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Latitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Latitude)
                </td>
                <td class="editor-label">
                    Longitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Longitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Longitude)
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="editor-field">
                        <script type="text/javascript">
                            function loadMap() {
                                var oThis = {};
                                oThis.href = '@Url.Content("~/Peta/GenericMap/IndexWithClick/")';
                                oThis.title = "Peta";
                                loadDialogMap(oThis, "divFormGenericPeta", $(window).width() - 150, $(window).height() - 200)
                            }
                        </script>
                        <a href="javascript:loadMap()" class="modalDlg, clsButtonAdd">Map</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <fieldset>
                        <legend>Elevasi Tingkat Bahaya (m)</legend>
                        <table class="noborder">
                            <tr>
                                <td class="editor-label">
                                    Siap
                                </td>
                                <td class="editor-field">
                                    @Html.EditorFor(model => model.SIAP)
                                    @Html.ValidationMessageFor(model => model.SIAP, "Harus angka")
                                </td>
                                <td class="editor-label">
                                    Siaga
                                </td>
                                <td class="editor-field">
                                    @Html.EditorFor(model => model.SIAGA)
                                    @Html.ValidationMessageFor(model => model.SIAGA, "Harus angka")
                                </td>
                            </tr>
                            <tr>
                                <td class="editor-label">
                                    Awas
                                </td>
                                <td class="editor-field">
                                    @Html.EditorFor(model => model.AWAS)
                                    @Html.ValidationMessageFor(model => model.AWAS, "Harus angka")
                                </td>
                                <td class="editor-label">
                                    Peralatan
                                </td>
                                <td class="editor-field">
                                    @Html.TextAreaFor(model => model.ALAT)
                                    @Html.ValidationMessageFor(model => model.ALAT)
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
        </table>
    </fieldset>
}
