﻿@model string
@{
    ViewBag.Title = "Stasiun Klimatologi Dyn";
    var key = ViewBag.Key;
    var K_STASIUN = Model;
}
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script type="text/javascript" language="javascript">
    function fnCreate2(oThis) {
        oThis.href = '@Url.Content("~/Hidrologi/PosKlimatologiDyn/Create/")' + "?K_STASIUN=" + "@K_STASIUN";
        oThis.title = "Create IRIGASI Dyn"
//        loadDefaultDialogCustomControlWithoutDefaultButton(oThis, "divFormPosKlimatologiDyn", $(window).width() - 600, "200px", "target2", oTable2)
        loadDetailCalendar(oThis, "divFormPosKlimatologiDyn", $(window).width() - 600, "200px", "target2", oTable2)
    }

    function fnDetail2(oThis, id) {
        oThis.href = '@Url.Content("~/Hidrologi/PosKlimatologiDyn/Detail/")' + id + "?method=Detail";
        oThis.title = "Detail Pos Klimatologi"
        loadDetailCalendar(oThis, "divFormPosKlimatologiDyn", $(window).width() - 600, "200px", "target2", oTable2)
    }


    function fnEdit2(oThis, id) {
        oThis.href = '@Url.Content("~/Hidrologi/PosKlimatologiDyn/Edit/")' + id;
        oThis.title = "Edit IRIGASI Dyn"
//        loadDefaultDialogCustomControlWithoutDefaultButton(oThis, "divFormPosKlimatologiDyn", $(window).width() - 600, "200px", "target2", oTable2)
        loadDetailCalendar(oThis, "divFormPosKlimatologiDyn", $(window).width() - 600, "200px", "target2", oTable2)
    }

    function fnDelete2(oThis, id) {
        oThis.href = '@Url.Content("~/Hidrologi/PosKlimatologiDyn/Delete/")' + id;
        oThis.title = "Delete IRIGASI Dyn"
        if (confirm("Are you sure that you want to delete this data?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                        oTable2.fnDraw();
                    }
                    else {
                        alert(data.message);
                        oTable2.fnDraw();
                    }
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    }

    var oTable2;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        oTable2 = $("table.display2").dataTable(
        {
            "bDestroy": true,
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true
            , "bServerSide": true
            , "sAjaxSource": '@Url.Content("~/Hidrologi/PosKlimatologiDyn/LoadAllData/")' + "?K_STASIUN=@K_STASIUN"
            , "aoColumns": [
            { "mData": "KEY", "sClass": "center", "sTitle": "" }
                , { "mData": "TAHUN", "sClass": "center", "sTitle": "Tahun" }
                , { "mData": "K_STASIUN", "sClass": "center", "sTitle": "Kode" }
                , { "mData": "N_STASIUN", "sClass": "center", "sTitle": "Nama" }
                , { "mData": "K_STASIUN1", "sClass": "center", "sTitle": "No Register Pos" }
            ]
                        , "aoColumnDefs": [{
                            "sWidth": "175px",
                            "aTargets": [0],
                            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                $(nTd).empty();

                                if (IsDeleteable == "True") {

                                    var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                                    b.button({
                                        icons: {
                                            primary: "ui-icon-trash"
                                        }
                                    }).css({ "font-weight": "normal" });
                                    b.on('click', function () {
                                        //                            alert(oData);
                                        fnDelete2(this, oData.KEY);
                                        return false;
                                    });
                                    $(nTd).prepend(b);
                                }


                                if (IsUpdateable == "True") {
                                    var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                                    b.button({
                                        icons: {
                                            primary: "ui-icon-wrench"
                                        }
                                    }).css({ "font-weight": "normal" });
                                    b.on('click', function () {
                                        //                            alert(oData.KEY);
                                        fnEdit2(this, oData.KEY);
                                        return false;
                                    });
                                    $(nTd).prepend(b);
                                }
                                else {
                                    var b = $('<button style="margin: 0" class="clsButtonDetail, cCenterOnly,">Detail</button>');
                                    b.button({
                                        icons: {
                                            primary: "ui-icon-newwin"
                                        }
                                    }).css({ "font-weight": "normal" });
                                    b.on('click', function () {
                                        fnDetail2(this, oData.KEY);
                                        return false;
                                    });
                                    $(nTd).prepend(b);
                                }
                            }
                        }]
        });
    });
</script>
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate2(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display2">
</table>
