﻿@model L.PDSDA.Web.DTOs.STASIUNKLIMATOLOGI_DYNDTO
@{
    var STASIUNKLIMATOLOGI_DYN = Model == null ? null : Model.STASIUNKLIMATOLOGI_DYN;
    TextWriter tw = new StringWriter();
    Json.Write(Model == null ? null : Model.Events, tw);
    var Events = HttpUtility.HtmlDecode(tw.ToString());
    ViewBag.Title = "Data Harian";
    var Action = ViewBag.ActionName;
    var K_STASIUN = ViewBag.K_STASIUN;
    var collTahun = ViewBag.collTahun;
    var TAHUN = ViewBag.TAHUN;
}
<link href='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.css")' rel='stylesheet' />
<link href='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.print.css")' rel='stylesheet' media='print' />
<script src='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Content/plugin/underscore-min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Content/js/myjs.js")' type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<form id="myform">
<div id='calendar' style="display: none">
</div>
<br />
<a id="btnTestBlob" href="#" class="clsButtonAdd">Simpan</a>
<div id="InsertYear" style="display: none; width: 250px">
    <table>
        <tr>
            <td>
                Year :
            </td>
            <td>
                <input type="text" id="txtYear" style="width: 150px !important" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="#" id="btnAddYear" class="clsButtonAdd">Add Year</a> <a href="#" id="btnCancelYear"
                    class="clsButtonClose">Cancel</a>
            </td>
        </tr>
    </table>
</div>
<div id="divNilaiHarian" style="display: none; width: 50%">
    <div id="leftDivKlimatologi">
        <table>
            <tr>
                <td>
                </td>
                <td>
                    Temperatur 'C
                </td>
                <td>
                    Temperatur Air Dalam Panci 'C
                </td>
            </tr>
            <tr>
                <td>
                    Maksimum
                </td>
                <td>
                    <input type="text" id="TemperaturMax" />
                </td>
                <td>
                    <input type="text" id="TemperaturTAPMax" />
                </td>
            </tr>
            <tr>
                <td>
                    Minimum
                </td>
                <td>
                    <input type="text" id="TemperaturMin" />
                </td>
                <td>
                    <input type="text" id="TemperaturTAPMin" />
                </td>
            </tr>
            <tr>
                <td>
                    Rata - Rata
                </td>
                <td>
                    <input type="text" id="TemperaturRR" />
                </td>
                <td>
                    <input type="text" id="TemperaturTAPRR" />
                </td>
            </tr>
        </table>
    </div>
    <div id="rightDivKlimatologi">
        <table>
            <tr>
                <td>
                    Kelembaban (Relative Humadity)
                </td>
                <td>
                    <input type="text" id="Kelembaban" />
                </td>
                <td>
                    %
                </td>
            </tr>
            <tr>
                <td>
                    Penguapan Dalam Panci "A"
                </td>
                <td>
                    <input type="text" id="Penguapan" />
                </td>
                <td>
                    mm
                </td>
            </tr>
            <tr>
                <td>
                    Kecepatan Angin
                </td>
                <td>
                    <input type="text" id="KecepatanAngin" />
                </td>
                <td>
                    (Km/hari)
                </td>
            </tr>
            <tr>
                <td>
                    Radiasi Matahari
                </td>
                <td>
                    <input type="text" id="RadiasiMatahari" />
                </td>
                <td>
                    cal/cm2/hari
                </td>
            </tr>
            <tr>
                <td>
                    Sinar Matahari
                </td>
                <td>
                    <input type="text" id="SinarMatahari" />
                </td>
                <td>
                    %
                </td>
            </tr>
        </table>
    </div>
    @*<input type="text" id="txtNilaiHarian" />*@
    <p>
        <input type="button" value="Update Data" id="btnSimpanDanKeluar" /></p>
    <input type="hidden" id="dateInYear" />
</div>
</form>
<script type="text/javascript">

    var TemperaturMax = $("#TemperaturMax");
    var TemperaturTAPMax = $("#TemperaturTAPMax");
    var TemperaturMin = $("#TemperaturMin");
    var TemperaturTAPMin = $("#TemperaturTAPMin");
    var TemperaturRR = $("#TemperaturRR");
    var TemperaturTAPRR = $("#TemperaturTAPRR");
    var Kelembaban = $("#Kelembaban");
    var Penguapan = $("#Penguapan");
    var KecepatanAngin = $("#KecepatanAngin");
    var RadiasiMatahari = $("#RadiasiMatahari");
    var SinarMatahari = $("#SinarMatahari");


    function ToDefaultDate(oDate) {
        try {
            var date = new Date(oDate);
            if (date)
                return date.format("dd-mm-yyyy");
        } catch (e) {
        }
    }

    $("#myform").validate({
        rules: {
            txtNilaiHarian: {
                required: true,
                number: true
            }
        }
    });

    function ToDefaultDateFullCalendar(oDate) {
        try {
            var date = new Date(oDate);
            if (date)
                return date.format("yyyy-mm-dd");
        } catch (e) {
        }
    }

    var calendar = $('#calendar');
    var btnTestBlob = $("#btnTestBlob");
    var btnAddYear = $("#btnAddYear");
    var btnCancelYear = $("#btnCancelYear");
    var txtYear = $("#txtYear");
    var year = "@TAHUN";
    var dateInYear = $("#dateInYear");
    var btnSimpanDanKeluar = $("#btnSimpanDanKeluar");
    var storedEvents = _.unescape("@Events");

    $(function () {
        //        //console.log(storedEvents);
        initialized("@Request.ApplicationPath");
        if ("@Action" == "Create") {
            $("#InsertYear").removeAttr("style");
            $("#InsertYear").dialog({ modal: true });
        }
        else {
            calendar.removeAttr("style");
            BuildCalendar(year);
        }
    });



    //btnTestBlob
    btnTestBlob.click(function () {
    fnLoading();
        var events = calendar.fullCalendar('clientEvents');
        var sortEvents = _.sortBy(events, function (data) { return data.start; })
        //console.log(sortEvents);
        var obj = new Array();

        for (var i = 0; i < sortEvents.length; i++) {
            var event = sortEvents[i];
            var id;
            try {
                id = $.fullCalendar.formatDate(event.id, "dd-MM-yyyy");
            } catch (e) {
                id = event.id;
            }
            var title = event.title;
            obj.push({ id: id, title: title });
        }
        //console.log(JSON.stringify(obj));
        $.ajax({
            url: '@Url.Action("SaveData", "PosKlimatologiDyn")' + "?TAHUN=" + year + "&K_STASIUN=@K_STASIUN",
            data: JSON.stringify(obj),
            type: 'POST',
            contentType: 'application/json; charset=utf-8'
            , success: function (response) {
                if (response.message.valueOf() == 'at NHibernate.Id.Assigned.Generate') {
                    alert('Kode / Id Tidak Boleh Kosong');
                    return false;
                }
                else {
                    alert(response.message);
                }
                dialogLoading.dialog('close');
                //                if (response.success) {
                //                    dlg.dialog('close');
                //                    dlg.empty();
                //                }
                return false;
            },
            error: function (xhr) {
                alert(xhr.message);

                if (xhr.status == 400)
                    dlg.html(xhr.responseText, xhr.status);     /* display validation errors in this dialog */
                else {
                    alert(xhr);
                }
                dialogLoading.dialog('close');
            }
        });
    })

    btnCancelYear.click(function () { $("#InsertYear").dialog().dialog("close"); $("#InsertYear").dialog().dialog("destroy"); $("#InsertYear").css("display", "none"); });

    btnAddYear.click(function () {

        var arrTahun = "@collTahun";
        //        //console.log(arrTahun);
        //        //console.log(arrTahun.indexOf(txtYear.val()));
        if (arrTahun.indexOf(txtYear.val()) > -1) {
            alert("Data tahun sudah tersimpan.");
            return;
        }
        else {
            year = txtYear.val();
            //            btnCancelYear.click();
            calendar.removeAttr("style");
            //                    calendar.fullCalendar('rerenderEvents');
            $("#InsertYear").css("display", "none");
            BuildCalendar(year);
        }
        btnCancelYear.click();
    });

    function BuildCalendar(year) {
        var date = $.datepicker.parseDate("dd-mm-yy", "01-01-" + year);
        var d = date.getDate();
        var m = date.getMonth();
        var y = year == "" ? date.getFullYear() : year;

        var json = $.parseJSON(storedEvents);
        //console.log(json);

        calendar = $('#calendar').fullCalendar({
            year: y,
            month: 0,
            date: 1,
            defaultView: 'month',
            header: {
                left: 'prev,next',
                center: 'title',
                //                right: 'month,agendaDay'
                right: 'month'
            },
            disableDragging: true,
            selectable: true,
            selectHelper: true,

            viewDisplay: function (view) {
                var now = $.datepicker.parseDate("dd-mm-yy", "01-01-" + year);
                var end = $.datepicker.parseDate("dd-mm-yy", "01-01-" + year);
                end.setMonth(now.getMonth() + 11); //Adjust as needed

                var cal_date_string = view.start.getMonth() + '/' + view.start.getFullYear();
                var cur_date_string = now.getMonth() + '/' + now.getFullYear();
                var end_date_string = end.getMonth() + '/' + end.getFullYear();

                if (cal_date_string == cur_date_string) { jQuery('.fc-button-prev').addClass("fc-state-disabled"); }
                else { jQuery('.fc-button-prev').removeClass("fc-state-disabled"); }

                if (end_date_string == cal_date_string) { jQuery('.fc-button-next').addClass("fc-state-disabled"); }
                else { jQuery('.fc-button-next').removeClass("fc-state-disabled"); }

            },

            //            dayClick: function (date, allDay, jsEvent, view) {
            //                //                var event = calendar.fullCalendar('clientEvents', $.fullCalendar.formatDate(date, "dd-MM-yyyy"));
            //                //                if (!event) {
            //                var title = prompt('Event Title:');
            //                if (title) {
            //                    calendar.fullCalendar('renderEvent',
            //            						{
            //            						    id: $.fullCalendar.formatDate(date, "dd-MM-yyyy"),
            //            						    title: title,
            //            						      start: $.fullCalendar.formatDate(date, "dd-MM-yyyy")
            //            						    //						    end: end,
            //            						    //						    allDay: allDay
            //            						},
            //            						true // make the event "stick"
            //            					);
            //                }
            //                //                }


            //                //                //console.log(event);
            //            },
            select: function (start, end, allDay) {

                var id = $.fullCalendar.formatDate(start, "d-MM-yyyy");
                //console.log(id);
                var event = calendar.fullCalendar('clientEvents', id);
                //console.log(event);
                dateInYear.val(id);

                var title = "";
                try {
                    title = event[0].title;
                    //console.log(title);
                } catch (e) {

                }

                var arrTitle = title.split(';');
                //console.log(arrTitle);

                TemperaturMax.val(arrTitle[0]); TemperaturTAPMax.val(arrTitle[1]); TemperaturMin.val(arrTitle[2]);
                TemperaturTAPMin.val(arrTitle[3]); TemperaturRR.val(arrTitle[4]);
                TemperaturTAPRR.val(arrTitle[5]); Kelembaban.val(arrTitle[6]); Penguapan.val(arrTitle[7]);
                KecepatanAngin.val(arrTitle[8]); RadiasiMatahari.val(arrTitle[9]); SinarMatahari.val(arrTitle[10]);


                $("#txtNilaiHarian").val(title);
                //                $("#divNilaiHarian").attr("visiblity", "visible");
                $("#divNilaiHarian").removeAttr("style");
                $("#divNilaiHarian").dialog({ modal: true, width: 1000, minHeight: 100 });

                //                var title = ""; // prompt('Event Title:');
                //                if (title) {
                //                    calendar.fullCalendar('renderEvent',
                //            						{
                //            						    id: start, // $.fullCalendar.formatDate(start, "dd-MM-yyyy"),
                //            						    title: title,
                //            						    start: start
                //            						},
                //            						true // make the event "stick"
                //            					);
                //                }
                //                calendar.fullCalendar('unselect');
            },
            editable: true,
            events: json,
            close: function () { }
        })
    }


    //btnSimpanDanKeluar
    btnSimpanDanKeluar.click(function () {
        var titleEvent = "";
        var date = $.datepicker.parseDate("dd-mm-yy", dateInYear.val());
        if (date.getFullYear() != year) {
            alert("tidak pada tahun yang sama");
            return false;
        }

        if (TemperaturMax.val() != "" && !$.isNumeric(TemperaturMax.val())) {
            alert("Temperatur Max harap masukkan angka / dikosongkan");
            return false;
        }
        if (TemperaturTAPMax.val() != "" && !$.isNumeric(TemperaturTAPMax.val())) {
            alert("TemperaturTAPMax harap masukkan angka / dikosongkan");
            return false;
        }
        if (TemperaturMin.val() != "" && !$.isNumeric(TemperaturMin.val())) {
            alert("Temperatur Min harap masukkan angka / dikosongkan");
            return false;
        }
        if (TemperaturTAPMin.val() != "" && !$.isNumeric(TemperaturTAPMin.val())) {
            alert("TemperaturTAPMin harap masukkan angka / dikosongkan");
            return false;
        }
        if (TemperaturRR.val() != "" && !$.isNumeric(TemperaturRR.val())) {
            alert("TemperaturRR harap masukkan angka / dikosongkan");
            return false;
        }
        if (TemperaturTAPRR.val() != "" && !$.isNumeric(TemperaturTAPRR.val())) {
            alert("TemperaturTAPRR harap masukkan angka / dikosongkan");
            return false;
        }
        if (Kelembaban.val() != "" && !$.isNumeric(Kelembaban.val())) {
            alert("Kelembaban harap masukkan angka / dikosongkan");
            return false;
        }
        if (Penguapan.val() != "" && !$.isNumeric(Penguapan.val())) {
            alert("Penguapan harap masukkan angka / dikosongkan");
            return false;
        }
        if (KecepatanAngin.val() != "" && !$.isNumeric(KecepatanAngin.val())) {
            alert("Kecepatan Angin harap masukkan angka / dikosongkan");
            return false;
        }
        if (RadiasiMatahari.val() != "" && !$.isNumeric(RadiasiMatahari.val())) {
            alert("Radiasi Matahari harap masukkan angka / dikosongkan");
            return false;
        }
        if (SinarMatahari.val() != "" && !$.isNumeric(SinarMatahari.val())) {
            alert("Sinar Matahari harap masukkan angka / dikosongkan");
            return false;
        }


        if (!(TemperaturMax.val() == "" && TemperaturTAPMax.val() == "" && TemperaturMin.val() == "" && TemperaturTAPMin.val() == "" && TemperaturRR.val() == "" && TemperaturTAPRR.val() == "" && Kelembaban.val() == "" && Penguapan.val() == "" && KecepatanAngin.val() == "" && RadiasiMatahari.val() == "" && SinarMatahari.val() == "")) {
            titleEvent = TemperaturMax.val() + ";" + TemperaturTAPMax.val() + ";" + TemperaturMin.val() + ";" + TemperaturTAPMin.val() + ";" + TemperaturRR.val() + ";" +
      TemperaturTAPRR.val() + ";" + Kelembaban.val() + ";" + Penguapan.val() + ";" + KecepatanAngin.val() + ";" + RadiasiMatahari.val() + ";" + SinarMatahari.val();

        }

        else if ((TemperaturMax.val() == "" && TemperaturTAPMax.val() == "" && TemperaturMin.val() == "" && TemperaturTAPMin.val() == "" && TemperaturRR.val() == "" && TemperaturTAPRR.val() == "" && Kelembaban.val() == "" && Penguapan.val() == "" && KecepatanAngin.val() == "" && RadiasiMatahari.val() == "" && SinarMatahari.val() == "")) {
            titleEvent = "";
        }
        date = $.fullCalendar.formatDate(date, "d-MM-yyyy");
        //console.log(date);
        var event = calendar.fullCalendar('clientEvents', date);
        //console.log(event);

        //        var date = $.datepicker.parseDate("dd-mm-yy", dateInYear.val());
        //        var date = new Date(dateInYear.val());
        //        alert(date);
        //        alert($("#txtNilaiHarian").val());

        if (date) {
            if (event) {
                $('#calendar').fullCalendar('removeEvents', date);
            }
            var dateStart = $.datepicker.parseDate("dd-mm-yy", dateInYear.val());

            if (titleEvent) {
                $("#calendar").fullCalendar('renderEvent',
                {
                    id: date, // $.fullCalendar.formatDate(start, "dd-MM-yyyy"),
                    title: titleEvent,
                    start: dateStart
                },
                true // make the event "stick"
            );
            }
        }

        //        $("#calendar").fullCalendar('rerenderEvents')
        $("#divNilaiHarian").dialog('close');
        $("#divNilaiHarian").dialog("destroy");
        $("#divNilaiHarian").css("display", "none");

    });


</script>
