﻿@model IQueryable<L.PDSDA.DAL.Entities.TANGGUL>
@{
    ViewBag.Title = "Tanggul";
    var key = ViewBag.Key;
    string KEY = L.Core.Utilities.Utils.GetPostRequest("KEY");
    
}
<script type="text/javascript" language="javascript">
    function fnDetail2(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/TANGGUL/Detail/")' + id + "?key=" + "@Server.UrlEncode(key)" + "&method=Detail";
        oThis.title = "Detail TANGGUL"
        loadDetailDialogCustomControl(oThis, "divFormWs", $(window).width() - 200, "300px", "targettanggul", oTable2)

    }

    function fnCreate2(oThis) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/Tanggul/Create/")' + '?KEY=@KEY' + "&IsViewable=@ViewBag.IsViewable" + "&IsCreateable=@ViewBag.IsCreateable" + "&IsUpdateable=@ViewBag.IsUpdateable" + "&IsDeleteable=@ViewBag.IsDeleteable";
        oThis.title = "Create Tanggul"
        loadDefaultDialogCustomControl(oThis, "divFormWs", $(window).width() - 200, "300px", "targettanggul", oTable2)

    }

    function fnEdit2(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/TANGGUL/Edit/")' + id + "?key=" + "@Server.UrlEncode(key)";
        oThis.title = "Edit TANGGUL"
        loadDefaultDialogCustomControl(oThis, "divFormWs", $(window).width() - 200, "300px", "targettanggul", oTable2)

    }

    function fnDelete2(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/TANGGUL/Delete/")' + id + "?key=" + "@Server.UrlEncode(key)";
        oThis.title = "Delete TANGGUL"
        if (confirm("Are you sure that you want to delete this role?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                        oTable2.fnDraw();
                    }
                    else {
                        alert(data.message);
                        oTable2.fnDraw();

                    }
                },
                error: function (data) {
                    alert(data.message);
                    oTable2.fnDraw();
                }
            });
        }
    }

    var oTable2;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        oTable2 = $("table.displaytanggul").dataTable(
        {
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "sScrollX": "100%",
            "sScrollXInner": "110%",
            "bScrollCollapse": true,
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/Sumber_Daya_Air/Tanggul/LoadAllData/")' + '?KEY=@KEY' + "&IsViewable=@ViewBag.IsViewable" + "&IsCreateable=@ViewBag.IsCreateable" + "&IsUpdateable=@ViewBag.IsUpdateable" + "&IsDeleteable=@ViewBag.IsDeleteable" + "&method=@ViewBag.Method",
            "aoColumns": [{ "mData": "KEY", "sClass": "center", "sTitle": "" }, { "mData": "NAMA", "sTitle": "Nama" }, { "mData": "TAHUN_DATA", "sTitle": "Tahun"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True" || IsUpdateable == "True") {

                        if (IsDeleteable == "True") {

                            var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-trash"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                fnDelete2(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }


                        if (IsUpdateable == "True") {
                            var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-wrench"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                fnEdit2(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }
                    }
                    if (IsUpdateable != "True") {
                        var b = $('<button style="margin: 0" class="clsButtonDetail, cCenterOnly,">Detail</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-newwin"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnDetail2(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });
    });

</script>
<p>
    @if (ViewBag.IsCreateable == "True")
    {
        <a href="javascript:fnCreate2(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="displaytanggul">
</table>
<div id="">
</div>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
