﻿@model L.PDSDA.DAL.Entities.TANGGUL
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<style>
    table.t1 tr td input, table.t2 tr td input
    {
        width: 150px !important;
    }
</style>
<script language="javascript" type="text/javascript">
    $(function () {
        var oKABUPATEN_PROPINSI_K_PROPINSI = $('#KABUPATEN_PROPINSI_K_PROPINSI');
        var oKABUPATEN_K_KABUPATEN = $('#KABUPATEN_K_KABUPATEN');

        oKABUPATEN_PROPINSI_K_PROPINSI.change(function () {
            var value = oKABUPATEN_PROPINSI_K_PROPINSI.val();
            $.getJSON('@Url.Content("~/Master/Kabupaten/GetKabupatenByPropinsi/?")' + "propinsiid=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih Kabupaten</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                oKABUPATEN_K_KABUPATEN.html(items);
            });
        });

        var DAS_K_DAS = $('#DA_K_DAS');
        var WS_K_WS = $('#W_K_WS');

        WS_K_WS.change(function () {
            var value = WS_K_WS.val();
            $.getJSON('@Url.Content("~/Sumber_Daya_Air/DAS/GetDASByWS/")' + "?k_ws=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih DAS</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                DAS_K_DAS.html(items);
            });
        });

    })
</script>
@using (Html.BeginForm(@ViewBag.ActionName as string, "TANGGUL", FormMethod.Post, new { id = "targettanggul" }))
{ 
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>TANGGUL</legend>
        <table>
            <tr>
                <td class="editor-label">
                    Sungai
                </td>
                <td class="editor-field">
                    <input type="text" readonly="readonly" value="@ViewBag.NamaSungai" />
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    No Urut Tanggul
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.URUT_TANGGUL) @Html.ValidationMessageFor(model =>
                        model.URUT_TANGGUL)
                </td>
                <td class="editor-label">
                    Tahun Data
                </td>
                <td class="editor-field" colspan="2">
                    @Html.EditorFor(model => model.TAHUN_DATA) @Html.ValidationMessageFor(model => model.TAHUN_DATA)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Propinsi
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI
                        as IList<SelectListItem>) @Html.ValidationMessageFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI)
                </td>
                <td class="editor-label">
                    Kabupaten
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.KABUPATEN.K_KABUPATEN, ViewBag.collK_KABUPATEN as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.KABUPATEN.K_KABUPATEN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Kecamatan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KECAMATAN) @Html.ValidationMessageFor(model => model.KECAMATAN)
                </td>
                <td class="editor-label">
                    Desa
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DESA) @Html.ValidationMessageFor(model => model.DESA)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Pengelola
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.PENGELOLA) @Html.ValidationMessageFor(model => model.PENGELOLA)
                </td>
                <td class="editor-label">
                    Posisi
                </td>
                <td class="editor-field">
                    @*@Html.EditorFor(model => model.POSISI) @Html.ValidationMessageFor(model => model.POSISI)*@
                    @Html.DropDownListFor(x => x.POSISI, ViewBag.collPOSISI as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.POSISI)
                </td>
            </tr>
        </table>
        <br />
        <table class="t1" width="100%">
            <tr>
                <td class="editor-label">
                    Titik Awal
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.TITIK_AWAL) @Html.ValidationMessageFor(model => model.TITIK_AWAL)
                </td>
                <td class="editor-label">
                    Titik Akhir
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.TITIK_AKHIR) @Html.ValidationMessageFor(model =>
                                    model.TITIK_AKHIR)
                </td>
                <td class="editor-label">
                    Panjang
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.PANJANG) @Html.ValidationMessageFor(model => model.PANJANG)
                </td>
            </tr>
        </table>
        <br />
        <table>
            <tr>
                <td class="editor-label">
                    &nbsp;
                </td>
                <td class="editor-field">
                    Bagian Dalam
                </td>
                <td class="editor-label">
                    Bagian Luar
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Tinggi Tanggul (m)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.TINGGI_DALAM) @Html.ValidationMessageFor(model =>
                                    model.TINGGI_DALAM)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.TINGGI_LUAR) @Html.ValidationMessageFor(model =>
                                    model.TINGGI_LUAR)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Kemiringan Lereng
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LERENG_DALAM) @Html.ValidationMessageFor(model =>
                                    model.LERENG_DALAM)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LERENG_LUAR) @Html.ValidationMessageFor(model =>
                                    model.LERENG_LUAR)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Pelindung Kemiringan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.PELINDUNG_DALAM) @Html.ValidationMessageFor(model
                                    => model.PELINDUNG_DALAM)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.PELINDUNG_LUAR) @Html.ValidationMessageFor(model
                                    => model.PELINDUNG_LUAR)
                </td>
            </tr>
        </table>
        <br />
        <table class="t2">
            <tr>
                <td class="editor-label">
                    Tipe
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.TIPE) @Html.ValidationMessageFor(model => model.TIPE)
                </td>
                <td class="editor-label">
                    Kondisi
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KONDISI) @Html.ValidationMessageFor(model => model.KONDISI)
                </td>
                <td class="editor-label">
                    Q Design
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.QDESIGN) @Html.ValidationMessageFor(model => model.QDESIGN)
                </td>
            </tr>
        </table>
        <br />
        <table>
            <tr>
                <td class="editor-label">
                    Puncak
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.PUNCAK) @Html.ValidationMessageFor(model => model.PUNCAK)
                </td>
                <td class="editor-label">
                    Tahun Bangun
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.THDIBANGUN) @Html.ValidationMessageFor(model => model.THDIBANGUN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Nama Proyek
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.NM_PROYEK) @Html.ValidationMessageFor(model => model.NM_PROYEK)
                </td>
                <td class="editor-label">
                    Elevasi
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.ELEVASI) @Html.ValidationMessageFor(model => model.ELEVASI)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Konsultan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KONSULTAN) @Html.ValidationMessageFor(model => model.KONSULTAN)
                </td>
                <td class="editor-label">
                    Biaya Konsultan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.BIAYA_KONSULTAN) @Html.ValidationMessageFor(model
                        => model.BIAYA_KONSULTAN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Kontraktor
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KONTRAKTOR) @Html.ValidationMessageFor(model => model.KONTRAKTOR)
                </td>
                <td class="editor-label">
                    Biaya Kontraktor
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.BIAYA_KONTRAKTOR) @Html.ValidationMessageFor(model
                        => model.BIAYA_KONTRAKTOR)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Tahun Rehab
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.THREHAB) @Html.ValidationMessageFor(model => model.THREHAB)
                </td>
                <td class="editor-label">
                    Biaya Rehab
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.BIAYA_REHAB) @Html.ValidationMessageFor(model =>
                        model.BIAYA_REHAB)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Lebar Bantaran
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LEBAR_BANTARAN) @Html.ValidationMessageFor(model
                        => model.LEBAR_BANTARAN)
                </td>
                <td class="editor-label">
                    Penggunana Bantaran
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.PENGGUNAAN_BANTARAN) @Html.ValidationMessageFor(model
                        => model.PENGGUNAAN_BANTARAN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Lebar Sempadan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LEBAR_SEMPADAN) @Html.ValidationMessageFor(model
                        => model.LEBAR_SEMPADAN)
                </td>
                <td class="editor-label">
                    Penggunaan Sempadan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.PENGGUNAAN_SEMPADAN) @Html.ValidationMessageFor(model
                        => model.PENGGUNAAN_SEMPADAN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Koordinat Awal
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KOORDINAT_AWAL) @Html.ValidationMessageFor(model
                        => model.KOORDINAT_AWAL)
                </td>
                <td class="editor-label">
                    Koordinat Akhir
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KOORDINAT_AKHIR) @Html.ValidationMessageFor(model
                        => model.KOORDINAT_AKHIR)
                </td>
            </tr>
        </table>
    </fieldset>
}
