﻿@model IEnumerable<L.PDSDA.DAL.Entities.DAERAHRAWANBANJIR>
@{
    ViewBag.Title = "Index";
    var separator = "|";
}
<script type="text/javascript" language="javascript">

    function fnPeta(oThis, Latitude, Longitude, Title) {
        oThis.href = '@Url.Content("~/Peta/GenericMap/Index/")' + "?Latitude=" + Latitude + "&Longitude=" + Longitude + "&Title=" + Title;
        oThis.title = "Peta Daerah Rawan Banjir"
        //        loadDialogMap(oThis, "divFormGenericPeta", $(parent.$("#main").width()), $(parent.$("#main").height()) + 200)
        loadDialogMap(oThis, "divFormGenericPeta", $(window).width() - 150, $(window).height() - 200)

    }

   
    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/Bencana/DAERAHRAWANBANJIR/Create/")';
        oThis.title = "Create DAERAHRAWANBANJIR"
        //        loadDialog(oThis, '#BENDUNGANInfo');
        loadDefaultDialogCustomControl(oThis, "divFormDAERAHRAWANBANJIR", $(window).width() - 200, "300px", "target", oTable)

    }


    function fnDetail(oThis, id) {
        oThis.href = '@Url.Content("~/Bencana/DAERAHRAWANBANJIR/Detail/")' + id + "?method=Detail";
        oThis.title = "Detail DAERAH RAWAN BANJIR"
        loadDetailDialogCustomControl(oThis, "divFormDAERAHRAWANBANJIR", $(window).width() - 200, "300px", "target", oTable)

    }


    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/Bencana/DAERAHRAWANBANJIR/Edit/")' + id;
        oThis.title = "Edit DAERAHRAWANBANJIR"
        loadDefaultDialogCustomControl(oThis, "divFormDAERAHRAWANBANJIR", $(window).width() - 200, "300px", "target", oTable)
        //        loadDialog(oThis, '#BENDUNGANInfo');
    }

    function fnDelete(oThis, id) {
        //        var link = oThis.href;
        oThis.href = '@Url.Content("~/Bencana/DAERAHRAWANBANJIR/Delete/")' + id;
        oThis.title = "Delete DAERAHRAWANBANJIR"
        if (confirm("Are you sure that you want to delete this data?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        //                        oTable.fnDraw();
                        alert(data.message);
                        //                        window.location.reload(true);
                        oTable.fnDraw();
                    }
                    else {
                        alert(data.message);
                        //                        window.location.reload(true);
                        oTable.fnDraw();
                    }
                    //                        $(link).parents("tr").remove();
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    }

    //    $(function () {
    //        $("table.display").dataTable(
    //        {
    //            "sScrollX": "200px"
    //            , "bScrollCollapse": true
    //            , "bJQueryUI": true
    //            , "sPaginationType": "full_numbers"
    //           , "aoColumnDefs": [{ "sWidth": "200px", "aTargets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]}]
    //        });
    //    });        /* end document.ready() */

    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        //            oTable =.dataTable();
        oTable = $("table.display").dataTable(
        {
            //            "sScrollX": "100%",
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/Bencana/DAERAHRAWANBANJIR/LoadAllData/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "K_DAERAHRAWANBANJIR" }, { "mData": "N_DAERAHRAWANBANJIR" }, { "mData": "N_PROPINSI" }, { "mData": "N_WS" }, { "mData": "N_DAS" }, { "mData": "LatLong"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True" || IsUpdateable == "True") {
                        if (IsDeleteable == "True") {

                            var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-trash"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData);
                                fnDelete(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }


                        if (IsUpdateable == "True") {
                            var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-wrench"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData.KEY);
                                fnEdit(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }
                    }

                    if (IsUpdateable != "True") {var b = $('<button style="margin: 0" class="clsButtonDetail, cCenterOnly,">Detail</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-newwin"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnDetail(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }, {
                "aTargets": [6],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (oData.LatLong != null) {

                        var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Peta</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-search"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            if (oData.LatLong != null) {
                                fnPeta(this, oData.LatLong.Latitude, oData.LatLong.Longitude, oData.pTitle);
                            }
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });
    })
</script>
<!-- <h2>
    @ViewBag.BreadCrumbs</h2> -->
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Kode Daerah Rawan Banjir
            </th>
            <th>
                Daerah Rawan Banjir
            </th>
            <th>
                Propinsi
            </th>
            <th>
                WS
            </th>
            <th>
                DAS
            </th>
            <th>
                Lokasi
            </th>
            @*<th>
                Sungai
            </th>
            <th>
                Penyebab
            </th>
            <th>
                Luas
            </th>
            <th>
                Lama Genangan (hari)
            </th>
            <th>
                Lama Genangan (Jam)
            </th>
            <th>
                Klasifikasi
            </th>
            <th>
                Hunian Kota (Ha)
            </th>
            <th>
                Hunian Kota PDDK
            </th>
            <th>
                Hunian Desa (Ha)
            </th>
            <th>
                Hunian Desa PDDK
            </th>
            <th>
                Kawasan Industri
            </th>
            <th>
                Sawah
            </th>
            <th>
                Kebun
            </th>
            <th>
                Tambak
            </th>
            <th>
                Jembatan
            </th>
            <th>
                Jalan Negara
            </th>
            <th>
                Jalan Propinsi
            </th>
            <th>
                Jalan Kabupaten
            </th>
            <th>
                Jalan Kereta Api
            </th>
            <th>
                Stasiun Kereta Api
            </th>
            <th>
                Terminal
            </th>
            <th>
                Bandara
            </th><th>
                PELABUHAN
            </th>
            <th>
                POSPENGAMAT
            </th>
            <th>
                DAERAHRAWANBANJIR
            </th>
            <th>
                TANGGUL_KAPASITAS
            </th>
            <th>
                TANGGUL_PANJANG
            </th>
            <th>
                TANGGUL_KRITIS
            </th>
            <th>
                KONDISI_PINTU
            </th>
            <th>
                POMPA_KAPASITAS
            </th>
            <th>
                POMPA_KONDISI
            </th>
            <th>
                SODETAN_PANJANG
            </th>
            <th>
                SODETAN_KAPASITAS
            </th>
            <th>
                WADUK_KAPASITAS
            </th>
            <th>
                WADUK_KONDISI
            </th>
            <th>
                POLDER_KAPASITAS
            </th>
            <th>
                POLDER_KONDISI
            </th>
            <th>
                LOKASI
            </th>*@
        </tr>
    </thead>
    @*<tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (ViewBag.IsUpdateable)
                    {
                        <a href="javascript:fnEdit(this,'@item.K_DAERAHRAWANBANJIR')">Edit</a> @separator
                    }
                    @if (ViewBag.IsDeleteable)
                    {
                        <a href="javascript:fnDelete(this,'@item.K_DAERAHRAWANBANJIR')">Delete</a>
                    }
                </td>
                <td>
                    @item.K_DAERAHRAWANBANJIR
                </td>
                <td>
                    @item.N_DAERAHRAWANBANJIR
                </td>
                <td>
                    @item.PROPINSI.N_PROPINSI
                </td>
                <td>
                    @item.W.N_WS
                </td>
                <td>
                    @item.DA.N_DAS
                </td>
                <td>
                    @item.SUNGAI
                </td>
                <td>
                    @item.PENYEBAB
                </td>
                <td>
                    @String.Format("{0:F}", item.LUAS)
                </td>
                <td>
                    @item.LAMA_GENANGAN_HARI
                </td>
                <td>
                    @item.LAMA_GENANGAN_JAM
                </td>
                <td>
                    @item.KLASIFIKASI
                </td>
                <td>
                    @String.Format("{0:F}", item.HUNIAN_KOTA_HA)
                </td>
                <td>
                    @item.HUNIAN_KOTA_PDDK
                </td>
                <td>
                    @String.Format("{0:F}", item.HUNIAN_DESA_HA)
                </td>
                <td>
                    @item.HUNIAN_DESA_PDDK
                </td>
                <td>
                    @String.Format("{0:F}", item.KAWASAN_INDUSTRI)
                </td>
                <td>
                    @String.Format("{0:F}", item.SAWAH)
                </td>
                <td>
                    @String.Format("{0:F}", item.KEBUN)
                </td>
                <td>
                    @String.Format("{0:F}", item.TAMBAK)
                </td>
                <td>
                    @item.JEMBATAN
                </td>
                <td>
                    @String.Format("{0:F}", item.JALANNEGARA)
                </td>
                <td>
                    @String.Format("{0:F}", item.JALANPROPINSI)
                </td>
                <td>
                    @String.Format("{0:F}", item.JALANKABUPATEN)
                </td>
                <td>
                    @String.Format("{0:F}", item.JALANKA)
                </td>
                <td>
                    @item.STASIUNKA
                </td>
                <td>
                    @item.TERMINAL
                </td>
                <td>
                    @item.BANDARA
                </td>
                @*<td>
                    @item.PELABUHAN
                </td>
                <td>
                    @item.POSPENGAMAT
                </td>
                <td>
                    @item.DAERAHRAWANBANJIR
                </td>
                <td>
                    @String.Format("{0:F}", item.TANGGUL_KAPASITAS)
                </td>
                <td>
                    @String.Format("{0:F}", item.TANGGUL_PANJANG)
                </td>
                <td>
                    @String.Format("{0:F}", item.TANGGUL_KRITIS)
                </td>
                <td>
                    @item.KONDISI_PINTU
                </td>
                <td>
                    @String.Format("{0:F}", item.POMPA_KAPASITAS)
                </td>
                <td>
                    @item.POMPA_KONDISI
                </td>
                <td>
                    @String.Format("{0:F}", item.SODETAN_PANJANG)
                </td>
                <td>
                    @String.Format("{0:F}", item.SODETAN_KAPASITAS)
                </td>
                <td>
                    @String.Format("{0:F}", item.WADUK_KAPASITAS)
                </td>
                <td>
                    @item.WADUK_KONDISI
                </td>
                <td>
                    @String.Format("{0:F}", item.POLDER_KAPASITAS)
                </td>
                <td>
                    @item.POLDER_KONDISI
                </td>
                <td>
                    @item.LOKASI
                </td>
            </tr>
        }
    </tbody>*@
</table>
