﻿@model L.PDSDA.DAL.Entities.DAERAHRAWANBANJIR
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script>
    $(function () {

        var DAS_K_DAS = $('#DA_K_DAS');
        var WS_K_WS = $('#W_K_WS');

        WS_K_WS.change(function () {
            var value = WS_K_WS.val();
            $.getJSON('@Url.Content("~/Sumber_Daya_Air/DAS/GetDASByWS/")' + "?k_ws=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih DAS</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                DAS_K_DAS.html(items);
            });
        });

        $("#tabs1").tabs();
    });
</script>
@using (Html.BeginForm(@ViewBag.ActionName as string, "DAERAHRAWANBANJIR", FormMethod.Post, new { id = "target" }))
{      @Html.ValidationSummary(true)
    <fieldset>
        <legend>DAERAHRAWANBANJIR</legend>
        <table class="noborder">
            <tr>
                <td class="editor-label">
                    Kode
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.K_DAERAHRAWANBANJIR)
                    @Html.ValidationMessageFor(model => model.K_DAERAHRAWANBANJIR)
                </td>
                <td class="editor-label">
                    Nama
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.N_DAERAHRAWANBANJIR)
                    @Html.ValidationMessageFor(model => model.N_DAERAHRAWANBANJIR)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Propinsi
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.PROPINSI.K_PROPINSI)
                </td>
                <td class="editor-label">
                    Sungai
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.SUNGAI)
                    @Html.ValidationMessageFor(model => model.SUNGAI)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    WS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.W.K_WS, ViewBag.collWS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.W.K_WS)
                </td>
                <td class="editor-label">
                    DAS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.DA.K_DAS, ViewBag.collDAS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.DA.K_DAS)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Penyebab
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.PENYEBAB)
                    @Html.ValidationMessageFor(model => model.PENYEBAB)
                </td>
                <td class="editor-label">
                    Klasifikasi
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KLASIFIKASI)
                    @Html.ValidationMessageFor(model => model.KLASIFIKASI)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Luas
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LUAS)
                    @Html.ValidationMessageFor(model => model.LUAS)
                </td>
                <td class="editor-label">
                    Lama Genangan (Hari)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LAMA_GENANGAN_HARI)
                    @Html.ValidationMessageFor(model => model.LAMA_GENANGAN_HARI)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Lama Genangan (Jam)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LAMA_GENANGAN_JAM)
                    @Html.ValidationMessageFor(model => model.LAMA_GENANGAN_JAM)
                </td>
                <td class="editor-label">
                    Lokasi
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LOKASI)
                    @Html.ValidationMessageFor(model => model.LOKASI)
                </td>
            </tr>

             <tr>
                <td class="editor-label">
                    Latitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Latitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Latitude)
                </td>
                <td class="editor-label">
                    Longitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Longitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Longitude)
                </td>
            </tr>
            <tr><td colspan="4"><div class="editor-field">
            <script type="text/javascript">
                function loadMap() {
                    var oThis = {};
                    oThis.href = '@Url.Content("~/Peta/GenericMap/IndexWithClick/")';
                    oThis.title = "Peta";
                    loadDialogMap(oThis, "divFormGenericPeta", $(window).width() - 150, $(window).height() - 200)
                }
            </script>
            <a href="javascript:loadMap()" class="modalDlg, clsButtonAdd">Map</a>
        </div></td></tr>

            @*Mulai sini*@
            <tr>
                <td colspan="4">
                    <div id="tabs1">
                        <ul>
                            <li><a href="#tabs-1">Dampak Bencana / Kerugian</a></li>
                            <li><a href="#tabs-2">Prasarana Pengendalian Banjir</a></li>
                        </ul>
                        <div class="heightAuto" id="tabs-1">
                            <table class="noborder">
                                <tr>
                                    <td class="editor-label">
                                        Hunian Kota (ha)
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.HUNIAN_KOTA_HA)
                                        @Html.ValidationMessageFor(model => model.HUNIAN_KOTA_HA)
                                    </td>
                                    <td class="editor-label">
                                        Hunian Kota Penduduk
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.HUNIAN_KOTA_PDDK)
                                        @Html.ValidationMessageFor(model => model.HUNIAN_KOTA_PDDK)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Hunian Desa (ha)
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.HUNIAN_DESA_HA)
                                        @Html.ValidationMessageFor(model => model.HUNIAN_DESA_HA)
                                    </td>
                                    <td class="editor-label">
                                        Hunian Desa Penduduk
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.HUNIAN_DESA_PDDK)
                                        @Html.ValidationMessageFor(model => model.HUNIAN_DESA_PDDK)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Kawasan Industri
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.KAWASAN_INDUSTRI)
                                        @Html.ValidationMessageFor(model => model.KAWASAN_INDUSTRI)
                                    </td>
                                    <td class="editor-label">
                                        Sawah
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.SAWAH)
                                        @Html.ValidationMessageFor(model => model.SAWAH)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Kebun
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.KEBUN)
                                        @Html.ValidationMessageFor(model => model.KEBUN)
                                    </td>
                                    <td class="editor-label">
                                        Tambak
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.TAMBAK)
                                        @Html.ValidationMessageFor(model => model.TAMBAK)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Jembatan
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.JEMBATAN)
                                        @Html.ValidationMessageFor(model => model.JEMBATAN)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Jalan Negara
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.JALANNEGARA)
                                        @Html.ValidationMessageFor(model => model.JALANNEGARA)
                                    </td>
                                    <td class="editor-label">
                                        Jalan Propinsi
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.JALANPROPINSI)
                                        @Html.ValidationMessageFor(model => model.JALANPROPINSI)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Jalan Kabupaten
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.JALANKABUPATEN)
                                        @Html.ValidationMessageFor(model => model.JALANKABUPATEN)
                                    </td>
                                    <td class="editor-label">
                                        Jalan Kereta Api
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.JALANKA)
                                        @Html.ValidationMessageFor(model => model.JALANKA)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Statsiun Kereta Api
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.STASIUNKA)
                                        @Html.ValidationMessageFor(model => model.STASIUNKA)
                                    </td>
                                    <td class="editor-label">
                                        Terminal
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.TERMINAL)
                                        @Html.ValidationMessageFor(model => model.TERMINAL)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Bandara
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.BANDARA)
                                        @Html.ValidationMessageFor(model => model.BANDARA)
                                    </td>
                                    <td class="editor-label">
                                        Pelabuhan
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.PELABUHAN)
                                        @Html.ValidationMessageFor(model => model.PELABUHAN)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Pos Pengamat
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.POSPENGAMAT)
                                        @Html.ValidationMessageFor(model => model.POSPENGAMAT)
                                    </td>
                                    <td class="editor-label">
                                        Posko Banjir
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.POSKOBANJIR)
                                        @Html.ValidationMessageFor(model => model.POSKOBANJIR)
                                    </td>
                                </tr>
                                @*DISINI TAB 2*@
                            </table>
                        </div>
                        <div class="heightAuto" id="tabs-2">
                            <table class="noborder">
                                <tr>
                                    <td class="editor-label">
                                        Kapasitas Tanggul
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.TANGGUL_KAPASITAS)
                                        @Html.ValidationMessageFor(model => model.TANGGUL_KAPASITAS)
                                    </td>
                                    <td class="editor-label">
                                        Panjang Tanggul
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.TANGGUL_PANJANG)
                                        @Html.ValidationMessageFor(model => model.TANGGUL_PANJANG)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Kritis Tanggul
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.TANGGUL_KRITIS)
                                        @Html.ValidationMessageFor(model => model.TANGGUL_KRITIS)
                                    </td>
                                    <td class="editor-label">
                                        Kondisi Pintu
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.KONDISI_PINTU)
                                        @Html.ValidationMessageFor(model => model.KONDISI_PINTU)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Kapasitas Pompa
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.POMPA_KAPASITAS)
                                        @Html.ValidationMessageFor(model => model.POMPA_KAPASITAS)
                                    </td>
                                    <td class="editor-label">
                                        Kondisi Pompa
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.POMPA_KONDISI)
                                        @Html.ValidationMessageFor(model => model.POMPA_KONDISI)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Panjang Sodetan
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.SODETAN_PANJANG)
                                        @Html.ValidationMessageFor(model => model.SODETAN_PANJANG)
                                    </td>
                                    <td class="editor-label">
                                        Kapasitas Sodetan
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.SODETAN_KAPASITAS)
                                        @Html.ValidationMessageFor(model => model.SODETAN_KAPASITAS)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Kapasitas Waduk
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.WADUK_KAPASITAS)
                                        @Html.ValidationMessageFor(model => model.WADUK_KAPASITAS)
                                    </td>
                                    <td class="editor-label">
                                        Kondisi Waduk
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.WADUK_KONDISI)
                                        @Html.ValidationMessageFor(model => model.WADUK_KONDISI)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="editor-label">
                                        Kapasitas Polder
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.POLDER_KAPASITAS)
                                        @Html.ValidationMessageFor(model => model.POLDER_KAPASITAS)
                                    </td>
                                    <td class="editor-label">
                                        Kondisi Polder
                                    </td>
                                    <td class="editor-field">
                                        @Html.EditorFor(model => model.POLDER_KONDISI)
                                        @Html.ValidationMessageFor(model => model.POLDER_KONDISI)
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
}
