﻿@model IEnumerable<L.PDSDA.DAL.Entities.BALAI>
@{
    //ViewBag.Title = "Data Balai";
    string kodebalai = L.Core.Utilities.Utils.GetPostRequest("kodebalai");
}
<script type="text/javascript" language="javascript">

    var oTableBalai;
    $(function () {

        oTableBalai = $("table.displaybalai").dataTable(
        {
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            bDestroy: true,
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/ViewBalai/LoadAllDataView/")' + "?kodebalai=@kodebalai",
            "aoColumns": [/*{ "mData": "KEY", "sClass": "center" }, */{"mData": "KodeBalai", "sTitle": "Kode" }, { "mData": "NamaBalai", "sTitle": "Nama" }, { "mData": "Ws", "sTitle": "Wilayah Sungai"}]
        });
    })
</script>
<table class="displaybalai">
</table>
