﻿@{
    ViewBag.Title = "Irigasi Desa";
    var key = ViewBag.Key;
}
<script type="text/javascript" language="javascript">
    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiDesa/Create/")';
        oThis.title = "Create IrigasiDesa"
        loadDefaultDialogCustomControl(oThis, "divFormIrigasiDesa", 500, "300px", "target", oTable)

    }


    function fnDetail(oThis, id) {
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiDesa/Detail/")' + id + "?method=Detail";
        oThis.title = "Detail Irigasi Desa"
        loadDetailDialogCustomControl(oThis, "divFormIrigasiDesa",500, "300px", "target", oTable)

    }

    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiDesa/Edit/")' + id;
        oThis.title = "Edit IrigasiDesa"
        //        loadDialog(oThis, '#IrigasiDesaInfo');
        loadDefaultDialogCustomControl(oThis, "divFormIrigasiDesa", 500, "300px", "target", oTable)

    }

    function fnDelete(oThis, id) {
        //        var link = oThis.href;
        oThis.href = '@Url.Content("~/DaerahIrigasi/IrigasiDesa/Delete/")' + id;
        oThis.title = "Delete IrigasiDesa"
        if (confirm("Are you sure that you want to delete this data?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                        oTable.fnDraw();
                    }
                    else {
                        alert(data.message);
                        oTable.fnDraw();
                    }
                    //                        $(link).parents("tr").remove();
                },
                error: function (data) {
                    alert(data.message);
                    oTable.fnDraw();
                }
            });
        }
    }


    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        oTable = $("table.display").dataTable(
        {
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/DaerahIrigasi/IrigasiDesa/LoadAllData/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "K_PID", "sClass": "center", "sTitle": "Kode" }, { "mData": "N_PID", "sClass": "center", "sTitle": "Nama" }, { "mData": "N_PROPINSI", "sClass": "center", "sTitle": "Propinsi" }, { "mData": "N_KABUPATEN", "sClass": "center", "sTitle": "Kabupaten" }, { "mData": "N_WS", "sClass": "center", "sTitle": "WS" }, { "mData": "N_DAS", "sClass": "center", "sTitle": "DAS"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True" || IsUpdateable == "True") {
                        if (IsDeleteable == "True") {

                            var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-trash"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData);
                                fnDelete(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }


                        if (IsUpdateable == "True") {
                            var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-wrench"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData.KEY);
                                fnEdit(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }
                    }

                    if (IsUpdateable != "True") {var b = $('<button style="margin: 0" class="clsButtonDetail, cCenterOnly,">Detail</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-newwin"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnDetail(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });
    });
</script>
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display">
</table>
