﻿@model L.PDSDA.DAL.Entities.RAWA_DYN
<script>
    $(function () {
        $("fieldset").find('input, textarea, button, select').attr('disabled', 'disabled');
        $("#accordion").accordion();
        $("#accordion2").accordion();
    });
    
</script>
<style>
    #JML_LAHAN1, #TRANS_UMUMLAHAN1, #TRANS_LOKALLAHAN1, #JML_TANI1, #TRANS_UMUMTANI1, #TRANS_LOKALTANI1, #JML_LAHAN2, #TRANS_UMUMLAHAN2, #TRANS_LOKALLAHAN2, #JML_TANI2, #TRANS_UMUMTANI2, #TRANS_LOKALTANI2
    {
        width: 250px !important;
    }
    
    table td
    {
        padding: 0 !important;
    }
</style>
@Html.HiddenFor(x => x.K_RAWA)
<fieldset>
    <legend>RAWA_DYN</legend>
    <div class="editor-label">
        Tahun Data
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.TAHUN_DATA)
        @Html.ValidationMessageFor(model => model.TAHUN_DATA)
    </div>
    <br />
    <div id="accordion">
        <h3>
            Total Ruas Rawa (Ha)</h3>
        <div class="heightAuto">
            <table class="noborder">
                <tr>
                    <td class="editor-label">
                        Peningkatan Fungsi dan Manfaat
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.LTOTALRAWA_FUNGSIMANFAAT)
                        @Html.ValidationMessageFor(model => model.LTOTALRAWA_FUNGSIMANFAAT)
                    </td>
                    <td class="editor-label">
                        Potensial
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.LRAWA_POTENSIAL)
                        @Html.ValidationMessageFor(model => model.LRAWA_POTENSIAL)
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">
                        Sudah Didisain
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.LRAWA_DESAIN)
                        @Html.ValidationMessageFor(model => model.LRAWA_DESAIN)
                    </td>
                    <td class="editor-label">
                        Sudah Direklamasi
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.LRAWA_REKLAMASI)
                        @Html.ValidationMessageFor(model => model.LRAWA_REKLAMASI)
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">
                        Fungsional
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.LRAWA_FUNGSIONAL)
                        @Html.ValidationMessageFor(model => model.LRAWA_FUNGSIONAL)
                    </td>
                    <td class="editor-label">
                        Total Rawa Pemerintah
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.LTOTALRAWA_PEMERINTAH)
                        @Html.ValidationMessageFor(model => model.LTOTALRAWA_PEMERINTAH)
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">
                        Non Potensial
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.NON_POTENSIAL)
                        @Html.ValidationMessageFor(model => model.NON_POTENSIAL)
                    </td>
                    <td class="editor-label">
                        Belum Didisain
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.BLM_DESAIN)
                        @Html.ValidationMessageFor(model => model.BLM_DESAIN)
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">
                        Siap Direklamasi
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.SIAP_REKLAMASI)
                        @Html.ValidationMessageFor(model => model.SIAP_REKLAMASI)
                    </td>
                </tr>
            </table>
        </div>
        <h3>
            Rawa Pemerintah</h3>
        <div class="heightAuto">
            <div id="accordion2">
                <h3>
                    Tahap I</h3>
                <div class="heightAuto">
                    <table>
                        <tr>
                            <td class="editor-label">
                                Total Rawa (Ha)
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.TOTAL_TAHAP1) @Html.ValidationMessageFor(model =>
                    model.TOTAL_TAHAP1)
                            </td>
                            <td class="editor-label">
                                Pertanian (Ha)
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.S_TANI1) @Html.ValidationMessageFor(model => model.S_TANI1)
                            </td>
                        </tr>
                        <tr>
                            <td class="editor-label">
                                Perkebunan (Ha)
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.S_KEBUN1) @Html.ValidationMessageFor(model => model.S_KEBUN1)
                            </td>
                            <td class="editor-label">
                                Perikanan (Ha)
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.S_IKAN1) @Html.ValidationMessageFor(model => model.S_IKAN1)
                            </td>
                        </tr>
                        <tr>
                            <td class="editor-label">
                                Lain - lain
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.S_LAIN1) @Html.ValidationMessageFor(model => model.S_LAIN1)
                            </td>
                            <td class="editor-label">
                            </td>
                            <td class="editor-field">
                            </td>
                        </tr>
                        <tr>
                            <td class="editor-label" colspan="4">
                                <fieldset>
                                    <legend>Luas Lahan (Ha)</legend>
                                    <table class="noborder">
                                        <tr>
                                            <td class="editor-label">
                                                Jumlah
                                            </td>
                                            <td class="editor-field">
                                                @Html.EditorFor(model => model.JML_LAHAN1) @Html.ValidationMessageFor(model => model.JML_LAHAN1)
                                            </td>
                                            <td class="editor-label">
                                                Trans Umum
                                            </td>
                                            <td class="editor-field">
                                                @Html.EditorFor(model => model.TRANS_UMUMLAHAN1) @Html.ValidationMessageFor(model
                                    => model.TRANS_UMUMLAHAN1)
                                            </td>
                                            <td class="editor-label">
                                                Trans Lokal
                                            </td>
                                            <td class="editor-field">
                                                @Html.EditorFor(model => model.TRANS_LOKALLAHAN1) @Html.ValidationMessageFor(model
                                    => model.TRANS_LOKALLAHAN1)
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                        <tr>
                            <td class="editor-label" colspan="4">
                                <fieldset>
                                    <legend>Pertanian (Ha)</legend>
                                    <table>
                                        <tr>
                                            <td class="editor-label">
                                                Jumlah
                                            </td>
                                            <td class="editor-field">
                                                @Html.EditorFor(model => model.JML_TANI1) @Html.ValidationMessageFor(model => model.JML_TANI1)
                                            </td>
                                            <td class="editor-label">
                                                Trans Umum
                                            </td>
                                            <td class="editor-field">
                                                @Html.EditorFor(model => model.TRANS_UMUMTANI1) @Html.ValidationMessageFor(model
                                    => model.TRANS_UMUMTANI1)
                                            </td>
                                            <td class="editor-label">
                                                Trans Lokal
                                            </td>
                                            <td class="editor-field">
                                                @Html.EditorFor(model => model.TRANS_LOKALTANI1) @Html.ValidationMessageFor(model
                                    => model.TRANS_LOKALTANI1)
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                        <tr>
                            <td class="editor-label">
                                Saluran Primer (Km)
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.SALURAN_PRIMER1) @Html.ValidationMessageFor(model
                    => model.SALURAN_PRIMER1)
                            </td>
                            <td class="editor-label">
                                Saluran Sekunder (Km)
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.SALURAN_SEKUNDER1) @Html.ValidationMessageFor(model
                    => model.SALURAN_SEKUNDER1)
                            </td>
                        </tr>
                        <tr>
                            <td class="editor-label">
                                Saluran Tersier (Km)
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.SALURAN_TERSIER1) @Html.ValidationMessageFor(model
                    => model.SALURAN_TERSIER1)
                            </td>
                            <td class="editor-label">
                                Saluran Navigasi Multiguna (Km)
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.SALURAN_NAVIGASI_MGUNA1) @Html.ValidationMessageFor(model
                    => model.SALURAN_NAVIGASI_MGUNA1)
                            </td>
                        </tr>
                        <tr>
                            <td class="editor-label">
                                Saluran Primer Tambak (Km)
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.SALURAN_PRI_TAMBAK1) @Html.ValidationMessageFor(model
                    => model.SALURAN_PRI_TAMBAK1)
                            </td>
                            <td class="editor-label">
                                Biaya Investasi (Rp. Juta)
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.BIAYA_INVESTASI1) @Html.ValidationMessageFor(model
                    => model.BIAYA_INVESTASI1)
                            </td>
                        </tr>
                        <tr>
                            <td class="editor-label">
                                Sumber Dana
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.SUMBER_DANA1) @Html.ValidationMessageFor(model =>
                    model.SUMBER_DANA1)
                            </td>
                            <td class="editor-label">
                                Tahun Bangun
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.THN_BANGUN1) @Html.ValidationMessageFor(model =>
                    model.THN_BANGUN1)
                            </td>
                        </tr>
                    </table>
                </div>
                <h3>
                    Tahap II</h3>
                <div class="heightAuto">
                    <table>
                        <tr>
                            <td class="editor-label">
                                Total Rawa (Ha)
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.TOTAL_TAHAP2) @Html.ValidationMessageFor(model =>
                    model.TOTAL_TAHAP2)
                            </td>
                            <td class="editor-label">
                                Pertanian (Ha)
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.S_TANI2) @Html.ValidationMessageFor(model => model.S_TANI2)
                            </td>
                        </tr>
                        <tr>
                            <td class="editor-label">
                                Perkebunan (Ha)
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.S_KEBUN2) @Html.ValidationMessageFor(model => model.S_KEBUN2)
                            </td>
                            <td class="editor-label">
                                Perikanan (Ha)
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.S_IKAN2) @Html.ValidationMessageFor(model => model.S_IKAN2)
                            </td>
                        </tr>
                        <tr>
                            <td class="editor-label">
                                Lain - lain
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.S_LAIN2) @Html.ValidationMessageFor(model => model.S_LAIN2)
                            </td>
                        </tr>
                        <tr>
                            <td class="editor-label" colspan="4">
                                <fieldset>
                                    <legend>Luas Lahan (Ha)</legend>
                                    <table class="noborder">
                                        <tr>
                                            <td class="editor-label">
                                                Jumlah
                                            </td>
                                            <td class="editor-field">
                                                @Html.EditorFor(model => model.JML_LAHAN2) @Html.ValidationMessageFor(model => model.JML_LAHAN2)
                                            </td>
                                            <td class="editor-label">
                                                Trans. Umum
                                            </td>
                                            <td class="editor-field">
                                                @Html.EditorFor(model => model.TRANS_UMUMLAHAN2) @Html.ValidationMessageFor(model
                                    => model.TRANS_UMUMLAHAN2)
                                            </td>
                                            <td class="editor-label">
                                                Trans. Lokal
                                            </td>
                                            <td class="editor-field">
                                                @Html.EditorFor(model => model.TRANS_LOKALLAHAN2) @Html.ValidationMessageFor(model
                                    => model.TRANS_LOKALLAHAN2)
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <fieldset>
                                    <legend>Pertanian (Ha)</legend>
                                    <table class="noborder">
                                        <tr>
                                            <td class="editor-label">
                                                Jumlah
                                            </td>
                                            <td class="editor-field">
                                                @Html.EditorFor(model => model.JML_TANI2) @Html.ValidationMessageFor(model => model.JML_TANI2)
                                            </td>
                                            <td class="editor-label">
                                                Trans Umum
                                            </td>
                                            <td class="editor-field">
                                                @Html.EditorFor(model => model.TRANS_UMUMTANI2) @Html.ValidationMessageFor(model
                                    => model.TRANS_UMUMTANI2)
                                            </td>
                                            <td class="editor-label">
                                                Trans Lokal
                                            </td>
                                            <td class="editor-field">
                                                @Html.EditorFor(model => model.TRANS_LOKALTANI2) @Html.ValidationMessageFor(model
                                    => model.TRANS_LOKALTANI2)
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                        <tr>
                            <td class="editor-label">
                                Saluran Primer (Km)
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.SALURAN_PRIMER2) @Html.ValidationMessageFor(model
                    => model.SALURAN_PRIMER2)
                            </td>
                            <td class="editor-label">
                                Saluran Sekunder (Km)
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.SALURAN_SEKUNDER2) @Html.ValidationMessageFor(model
                    => model.SALURAN_SEKUNDER2)
                            </td>
                        </tr>
                        <tr>
                            <td class="editor-label">
                                Saluran Tersier (Km)
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.SALURAN_TERSIER2) @Html.ValidationMessageFor(model
                    => model.SALURAN_TERSIER2)
                            </td>
                            <td class="editor-label">
                                Saluran Navigasi Multiguna (Km)
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.SALURAN_NAVIGASI_MGUNA2) @Html.ValidationMessageFor(model
                    => model.SALURAN_NAVIGASI_MGUNA2)
                            </td>
                        </tr>
                        <tr>
                            <td class="editor-label">
                                Saluran Primer Tambak(Km)
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.SALURAN_PRI_TAMBAK2) @Html.ValidationMessageFor(model
                    => model.SALURAN_PRI_TAMBAK2)
                            </td>
                            <td class="editor-label">
                                Tanggul
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.TANGGUL2) @Html.ValidationMessageFor(model => model.TANGGUL2)
                            </td>
                        </tr>
                        @*<tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.BANGUN_ATUR2)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.BANGUN_ATUR2) @Html.ValidationMessageFor(model =>
                    model.BANGUN_ATUR2)
                </td>
                <td class="editor-label">
                    @Html.LabelFor(model => model.BANGUN_LAIN2)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.BANGUN_LAIN2) @Html.ValidationMessageFor(model =>
                    model.BANGUN_LAIN2)
                </td>
            </tr>*@
                        <tr>
                            <td class="editor-label">
                                Biaya Investasi
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.BIAYA_INVESTASI2) @Html.ValidationMessageFor(model
                    => model.BIAYA_INVESTASI2)
                            </td>
                            <td class="editor-label">
                                Sumber Dana
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.SUMBER_DANA2) @Html.ValidationMessageFor(model =>
                    model.SUMBER_DANA2)
                            </td>
                        </tr>
                        <tr>
                            <td class="editor-label">
                                Tahun Bangun
                            </td>
                            <td class="editor-field">
                                @Html.EditorFor(model => model.THN_BANGUN2) @Html.ValidationMessageFor(model =>
                    model.THN_BANGUN2)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <h3>
            Rawa Rakyat / Swasta</h3>
        <div class="heightAuto">
            <table class="noborder">
                <tr>
                    <td class="editor-label">
                        Total Luas Rawa (Ha)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.LTOTALRAWA_SWASTA)
                        @Html.ValidationMessageFor(model => model.LTOTALRAWA_SWASTA)
                    </td>
                    <td class="editor-label">
                        Pertanian (Ha)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.PERTANIAN)
                        @Html.ValidationMessageFor(model => model.PERTANIAN)
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">
                        Perkebunan (Ha)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.PERKEBUNAN)
                        @Html.ValidationMessageFor(model => model.PERKEBUNAN)
                    </td>
                    <td class="editor-label">
                        Perikanan (Ha)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.PERIKANAN)
                        @Html.ValidationMessageFor(model => model.PERIKANAN)
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">
                        Luas Lahan Swasta (Ha)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.LUASLAHAN_SWASTA)
                        @Html.ValidationMessageFor(model => model.LUASLAHAN_SWASTA)
                    </td>
                    <td class="editor-label">
                        Petani Penggarap (Orang)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.TANI_GARAP_SWASTA)
                        @Html.ValidationMessageFor(model => model.TANI_GARAP_SWASTA)
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">
                        Lain - lain (Ha)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.LAIN_LAIN)
                        @Html.ValidationMessageFor(model => model.LAIN_LAIN)
                    </td>
                    <td class="editor-label">
                        Saluran Primer (Km)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.SAL_PRIMER_SWASTA)
                        @Html.ValidationMessageFor(model => model.SAL_PRIMER_SWASTA)
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">
                        Tanggul (Km)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.TANGGUL)
                        @Html.ValidationMessageFor(model => model.TANGGUL)
                    </td>
                    <td class="editor-label">
                        Bangunan Pengatur (Buah)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.BANGUN_ATUR)
                        @Html.ValidationMessageFor(model => model.BANGUN_ATUR)
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">
                        Bangunan Lain (Buah)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.BANGUN_LAIN)
                        @Html.ValidationMessageFor(model => model.BANGUN_LAIN)
                    </td>
                    <td class="editor-label">
                        Tahun Pembangunan
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.THN_BANGUN_SWASTA)
                        @Html.ValidationMessageFor(model => model.THN_BANGUN_SWASTA)
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">
                        @Html.LabelFor(model => model.NON_FUNGSI)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.NON_FUNGSI)
                        @Html.ValidationMessageFor(model => model.NON_FUNGSI)
                    </td>
                </tr>
            </table>
        </div>
    </div>
</fieldset>
