﻿<script type="text/javascript" language="javascript">
    var hfK_RAWA = $('#hfK_RAWA').val();

    function fnCreateRawaDyn(oThis) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/RawaDyn/Create/")' + "?k_rawa=" + hfK_RAWA; //.replace(/ /g, '%20%');
        oThis.title = "Create Rawa Dyn"
        //        LoadDialogCustomForm(oThis, '#RawaDynInfo', 'targetRawaDyn');
        loadDefaultDialogCustomControl(oThis, "divFormRawaDyn", $(window).width() - 50, "500px", "targetRawaDyn", oTable2)

    }

    function fnDetail2(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/RawaDyn/Detail/")' + id + "?method=Detail";
        oThis.title = "Detail Rawa Dyn"
        loadDetailDialogCustomControl(oThis, "divFormRawaDyn", $(window).width() - 50, "500px", "target", oTable2)

    }
    

    function fnEdit2(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/RawaDyn/Edit/")' + id;
        oThis.title = "Edit Rawa Dyn"
        //        loadDialog(oThis, '#RawaDynInfo');
        loadDefaultDialogCustomControl(oThis, "divFormRawaDyn", $(window).width() - 50, "500px", "targetRawaDyn", oTable2)
    }

    function fnDelete2(oThis, id) {
        alert(id);
        //        var link = oThis.href;
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/RawaDyn/Delete/")' + id;
        oThis.title = "Delete Rawa Dyn"
        if (confirm("Are you sure that you want to delete this data?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                        oTable2.fnDraw();

                        //                        window.location.reload(true);
                    }
                    else {
                        alert(data.message);
                        //                        window.location.reload(true);
                        oTable2.fnDraw();
                    }
                    //                        $(link).parents("tr").remove();
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    }

    var oTable2;

    $(function () {
        //        $("#tblRawaDyn").dataTable(
        //        {

        //            "bScrollCollapse": true, "bJQueryUI": true,
        //            "sPaginationType": "full_numbers"

        //        });

        oTable2 = $('#tblRawaDyn').dataTable({
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bServerSide": true,
            "sAjaxSource": '@Url.Content("~/Sumber_Daya_Air/RawaDyn/LoadData/")' + "?k_rawa=" + hfK_RAWA.replace(/ /g, '%20%') + "&method=@ViewBag.Method",
            "bProcessing": true
            , "aoColumnDefs": [
                    {
                        "sWidth": "175px",
                        "aTargets": [0],
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).empty();

                            if ("@ViewBag.IsDeleteable" == "True" || "@ViewBag.IsUpdateable" == "True") {
                                if ("@ViewBag.IsDeleteable" == "True") {

                                    var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                                    b.button({
                                        icons: {
                                            primary: "ui-icon-trash"
                                        }
                                    }).css({ "font-weight": "normal" });
                                    b.on('click', function () {
                                        //                            alert(oData);
                                        fnDelete2(this, oData.KEY);
                                        return false;
                                    });
                                    $(nTd).prepend(b);
                                }


                                if ("@ViewBag.IsUpdateable" == "True") {
                                    var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                                    b.button({
                                        icons: {
                                            primary: "ui-icon-wrench"
                                        }
                                    }).css({ "font-weight": "normal" });
                                    b.on('click', function () {
                                        //                            alert(oData.KEY);
                                        fnEdit2(this, oData.KEY);
                                        return false;
                                    });
                                    $(nTd).prepend(b);
                                }
                            }

                            if ("@ViewBag.IsUpdateable" != "True") {
                                var b = $('<button style="margin: 0" class="clsButtonDetail, cCenterOnly,">Detail</button>');
                                b.button({
                                    icons: {
                                        primary: "ui-icon-newwin"
                                    }
                                }).css({ "font-weight": "normal" });
                                b.on('click', function () {
                                    fnDetail2(this, oData.KEY);
                                    return false;
                                });
                                $(nTd).prepend(b);
                            }

                           
                        }
                    }]
                        , "aoColumns": [
                                { "mData": "KEY" },
                                { "mData": "K_RAWA" },
                                { "mData": "N_RAWA" },
                                { "mData": "TAHUN_DATA" }
                            ]
        });

    });         /* end document.ready() */
</script>
<!-- <h2>
    Rawa DYN</h2> -->
<p>
    @if (ViewBag.IsCreateable == "True")
    {
        <a href="javascript:fnCreateRawaDyn(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<input type="hidden" id="hfK_RAWA" value="@ViewData["hfK_RAWA"]" runat="server" />
<table id="tblRawaDyn">
    <thead>
        <tr>
            <th class="cCenterOnly">
                Action
            </th>
            <th>
                Kode Rawa
            </th>
            <th>
                Nama Rawa
            </th>
            <th>
                Tahun Data
            </th>
            @*<th>
            LTOTALRAWA_FUNGSIMANFAAT
        </th>
        <th>
            LRAWA_POTENSIAL
        </th>
        <th>
            LRAWA_DESAIN
        </th>
        <th>
            LRAWA_REKLAMASI
        </th>
        <th>
            LRAWA_FUNGSIONAL
        </th>
        <th>
            LTOTALRAWA_PEMERINTAH
        </th>
        <th>
            TOTAL_TAHAP1
        </th>
        <th>
            S_TANI1
        </th>
        <th>
            S_KEBUN1
        </th>
        <th>
            S_IKAN1
        </th>
        <th>
            JML_LAHAN1
        </th>
        <th>
            TRANS_UMUMLAHAN1
        </th>
        <th>
            TRANS_LOKALLAHAN1
        </th>
        <th>
            JML_TANI1
        </th>
        <th>
            TRANS_UMUMTANI1
        </th>
        <th>
            TRANS_LOKALTANI1
        </th>
        <th>
            S_LAIN1
        </th>
        <th>
            SALURAN_PRIMER1
        </th>
        <th>
            SALURAN_SEKUNDER1
        </th>
        <th>
            SALURAN_TERSIER1
        </th>
        <th>
            SALURAN_NAVIGASI_MGUNA1
        </th>
        <th>
            SALURAN_PRI_TAMBAK1
        </th>
        <th>
            BIAYA_INVESTASI1
        </th>
        <th>
            SUMBER_DANA1
        </th>
        <th>
            THN_BANGUN1
        </th>
        <th>
            TOTAL_TAHAP2
        </th>
        <th>
            S_TANI2
        </th>
        <th>
            S_KEBUN2
        </th>
        <th>
            S_IKAN2
        </th>
        <th>
            JML_LAHAN2
        </th>
        <th>
            TRANS_UMUMLAHAN2
        </th>
        <th>
            TRANS_LOKALLAHAN2
        </th>
        <th>
            JML_TANI2
        </th>
        <th>
            TRANS_UMUMTANI2
        </th>
        <th>
            TRANS_LOKALTANI2
        </th>
        <th>
            S_LAIN2
        </th>
        <th>
            SALURAN_PRIMER2
        </th>
        <th>
            SALURAN_SEKUNDER2
        </th>
        <th>
            SALURAN_TERSIER2
        </th>
        <th>
            SALURAN_NAVIGASI_MGUNA2
        </th>
        <th>
            SALURAN_PRI_TAMBAK2
        </th>
        <th>
            TANGGUL2
        </th>
        <th>
            BANGUN_ATUR2
        </th>
        <th>
            BANGUN_LAIN2
        </th>
        <th>
            BIAYA_INVESTASI2
        </th>
        <th>
            SUMBER_DANA2
        </th>
        <th>
            THN_BANGUN2
        </th>
        <th>
            LTOTALRAWA_SWASTA
        </th>
        <th>
            PERTANIAN
        </th>
        <th>
            PERKEBUNAN
        </th>
        <th>
            PERIKANAN
        </th>
        <th>
            LUASLAHAN_SWASTA
        </th>
        <th>
            TANI_GARAP_SWASTA
        </th>
        <th>
            LAIN_LAIN
        </th>
        <th>
            SAL_PRIMER_SWASTA
        </th>
        <th>
            TANGGUL
        </th>
        <th>
            BANGUN_ATUR
        </th>
        <th>
            BANGUN_LAIN
        </th>
        <th>
            THN_BANGUN_SWASTA
        </th>
        <th>
            NON_FUNGSI
        </th>
        <th>
            SIAP_REKLAMASI
        </th>
        <th>
            BLM_DESAIN
        </th>
        <th>
            NON_POTENSIAL
        </th>*@
        </tr>
    </thead>
    <tbody>
        @*   @foreach (var item in Model)
        {
            <tr>
                <td class="cCenterOnly">
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
                <td>
                    @item.K_RAWA
                </td>
                <td>
                    @item.TAHUN_DATA
                </td>
                @*<td>
            @String.Format("{0:F}", item.LTOTALRAWA_FUNGSIMANFAAT)
        </td>
        <td>
            @String.Format("{0:F}", item.LRAWA_POTENSIAL)
        </td>
        <td>
            @String.Format("{0:F}", item.LRAWA_DESAIN)
        </td>
        <td>
            @String.Format("{0:F}", item.LRAWA_REKLAMASI)
        </td>
        <td>
            @String.Format("{0:F}", item.LRAWA_FUNGSIONAL)
        </td>
        <td>
            @String.Format("{0:F}", item.LTOTALRAWA_PEMERINTAH)
        </td>
        <td>
            @String.Format("{0:F}", item.TOTAL_TAHAP1)
        </td>
        <td>
            @String.Format("{0:F}", item.S_TANI1)
        </td>
        <td>
            @String.Format("{0:F}", item.S_KEBUN1)
        </td>
        <td>
            @String.Format("{0:F}", item.S_IKAN1)
        </td>
        <td>
            @String.Format("{0:F}", item.JML_LAHAN1)
        </td>
        <td>
            @String.Format("{0:F}", item.TRANS_UMUMLAHAN1)
        </td>
        <td>
            @String.Format("{0:F}", item.TRANS_LOKALLAHAN1)
        </td>
        <td>
            @String.Format("{0:F}", item.JML_TANI1)
        </td>
        <td>
            @String.Format("{0:F}", item.TRANS_UMUMTANI1)
        </td>
        <td>
            @String.Format("{0:F}", item.TRANS_LOKALTANI1)
        </td>
        <td>
            @String.Format("{0:F}", item.S_LAIN1)
        </td>
        <td>
            @String.Format("{0:F}", item.SALURAN_PRIMER1)
        </td>
        <td>
            @String.Format("{0:F}", item.SALURAN_SEKUNDER1)
        </td>
        <td>
            @String.Format("{0:F}", item.SALURAN_TERSIER1)
        </td>
        <td>
            @String.Format("{0:F}", item.SALURAN_NAVIGASI_MGUNA1)
        </td>
        <td>
            @String.Format("{0:F}", item.SALURAN_PRI_TAMBAK1)
        </td>
        <td>
            @String.Format("{0:F}", item.BIAYA_INVESTASI1)
        </td>
        <td>
            @item.SUMBER_DANA1
        </td>
        <td>
            @item.THN_BANGUN1
        </td>
        <td>
            @String.Format("{0:F}", item.TOTAL_TAHAP2)
        </td>
        <td>
            @String.Format("{0:F}", item.S_TANI2)
        </td>
        <td>
            @String.Format("{0:F}", item.S_KEBUN2)
        </td>
        <td>
            @String.Format("{0:F}", item.S_IKAN2)
        </td>
        <td>
            @String.Format("{0:F}", item.JML_LAHAN2)
        </td>
        <td>
            @String.Format("{0:F}", item.TRANS_UMUMLAHAN2)
        </td>
        <td>
            @String.Format("{0:F}", item.TRANS_LOKALLAHAN2)
        </td>
        <td>
            @String.Format("{0:F}", item.JML_TANI2)
        </td>
        <td>
            @String.Format("{0:F}", item.TRANS_UMUMTANI2)
        </td>
        <td>
            @String.Format("{0:F}", item.TRANS_LOKALTANI2)
        </td>
        <td>
            @String.Format("{0:F}", item.S_LAIN2)
        </td>
        <td>
            @String.Format("{0:F}", item.SALURAN_PRIMER2)
        </td>
        <td>
            @String.Format("{0:F}", item.SALURAN_SEKUNDER2)
        </td>
        <td>
            @String.Format("{0:F}", item.SALURAN_TERSIER2)
        </td>
        <td>
            @String.Format("{0:F}", item.SALURAN_NAVIGASI_MGUNA2)
        </td>
        <td>
            @String.Format("{0:F}", item.SALURAN_PRI_TAMBAK2)
        </td>
        <td>
            @String.Format("{0:F}", item.TANGGUL2)
        </td>
        <td>
            @String.Format("{0:F}", item.BANGUN_ATUR2)
        </td>
        <td>
            @String.Format("{0:F}", item.BANGUN_LAIN2)
        </td>
        <td>
            @String.Format("{0:F}", item.BIAYA_INVESTASI2)
        </td>
        <td>
            @item.SUMBER_DANA2
        </td>
        <td>
            @item.THN_BANGUN2
        </td>
        <td>
            @String.Format("{0:F}", item.LTOTALRAWA_SWASTA)
        </td>
        <td>
            @String.Format("{0:F}", item.PERTANIAN)
        </td>
        <td>
            @String.Format("{0:F}", item.PERKEBUNAN)
        </td>
        <td>
            @String.Format("{0:F}", item.PERIKANAN)
        </td>
        <td>
            @String.Format("{0:F}", item.LUASLAHAN_SWASTA)
        </td>
        <td>
            @String.Format("{0:F}", item.TANI_GARAP_SWASTA)
        </td>
        <td>
            @String.Format("{0:F}", item.LAIN_LAIN)
        </td>
        <td>
            @String.Format("{0:F}", item.SAL_PRIMER_SWASTA)
        </td>
        <td>
            @String.Format("{0:F}", item.TANGGUL)
        </td>
        <td>
            @String.Format("{0:F}", item.BANGUN_ATUR)
        </td>
        <td>
            @String.Format("{0:F}", item.BANGUN_LAIN)
        </td>
        <td>
            @item.THN_BANGUN_SWASTA
        </td>
        <td>
            @String.Format("{0:F}", item.NON_FUNGSI)
        </td>
        <td>
            @String.Format("{0:F}", item.SIAP_REKLAMASI)
        </td>
        <td>
            @String.Format("{0:F}", item.BLM_DESAIN)
        </td>
        <td>
            @String.Format("{0:F}", item.NON_POTENSIAL)
        </td>
            </tr>
        }*@
    </tbody>
</table>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
