﻿@model L.PDSDA.DAL.Entities.KEWENANGAN
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
@using (Html.BeginForm(@ViewBag.ActionName as string, "KEWENANGAN", FormMethod.Post, new { id = "target" }))
{   
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>KEWENANGAN</legend>
        <div class="editor-label">
            Kode
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_KEWENANGAN)
            @Html.ValidationMessageFor(model => model.K_KEWENANGAN)
        </div>
        <div class="editor-label">
            Nama
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_KEWENANGAN)
            @Html.ValidationMessageFor(model => model.N_KEWENANGAN)
        </div>
    </fieldset>
}
