﻿@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <title>Peta Master View</title>
    <script type="text/javascript">
        function loadScript(src, callback) {

            var script = document.createElement("script");
            script.type = "text/javascript";
            if (callback) script.onload = callback;
            document.getElementsByTagName("head")[0].appendChild(script);
            script.src = src;
        }

        loadScript('https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=id&callback=initialize',
              function () {
                // callback
              });
    </script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
