﻿@model L.PDSDA.DAL.Entities.STATUS_WS

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(function () {
        $("fieldset").find('input, textarea, button, select').attr('disabled', 'disabled');
    });
</script>
    <fieldset>
        <legend>STATUS WS</legend>

        <div class="editor-label">
            Kode
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_STATUS)
            @Html.ValidationMessageFor(model => model.K_STATUS)
        </div>

        <div class="editor-label">
            Nama
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_STATUS)
            @Html.ValidationMessageFor(model => model.N_STATUS)
        </div>

      
    </fieldset>


