﻿@model L.PDSDA.DAL.Entities.STATUS_WS

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "StatusWs", FormMethod.Post, new { id = "target" }))
{    @Html.ValidationSummary(true)
    <fieldset>
        <legend>STATUS WS</legend>

        <div class="editor-label">
            Kode
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_STATUS)
            @Html.ValidationMessageFor(model => model.K_STATUS)
        </div>

        <div class="editor-label">
            Nama
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_STATUS)
            @Html.ValidationMessageFor(model => model.N_STATUS)
        </div>

      
    </fieldset>
}


