﻿@model IEnumerable<L.PDSDA.DAL.Entities.STATUS_WS>
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    var separator = "|";
}
<script type="text/javascript" language="javascript">
    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/Master/StatusWs/Create/")';
        oThis.title = "Create Status WS"
        //        loadDialog(oThis, '#StatusWSInfo');
        loadDefaultDialogCustomControl(oThis, "divFormSTATUS_WS", "500px", "300px", "target", oTable)

    }

    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/Master/StatusWs/Edit/")' + id;
        oThis.title = "Edit Status WS"
        loadDefaultDialogCustomControl(oThis, "divFormSTATUS_WS", "500px", "300px", "target", oTable)
        //        loadDialog(oThis, '#StatusWSInfo');
    }

    function fnDelete(oThis, id) {
        //        var link = oThis.href;
        oThis.href = '@Url.Content("~/Master/StatusWs/Delete/")' + id;
        oThis.title = "Delete Status WS"
        if (confirm("Are you sure that you want to delete this role?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                                                oTable.fnDraw();
                        alert(data.message);
//                        window.location.reload(true);
                    }
                    else {
                        alert(data.message);
                        oTable.fnDraw();
                        //                        window.location.reload(true);
                    }
                    //                        $(link).parents("tr").remove();
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    }


    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        oTable = $("table.display").dataTable(
        {
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/Master/StatusWS/LoadAllData/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "K_STATUS" }, { "mData": "N_STATUS"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True") {

                        var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-trash"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            //                            alert(oData);
                            fnDelete(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }


                    if (IsUpdateable == "True") {
                        var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-wrench"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnEdit(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });
    });
</script>
<!-- <h2>
    Index</h2> -->
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="clsButtonAdd">Create</a> 
    }
</p>
<table class="display">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Kode
            </th>
            <th>
                Nama
            </th>
        </tr>
    </thead>
    @*<tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (ViewBag.IsUpdateable)
                    {
                        <a href="javascript:fnEdit(this,'@item.K_STATUS')" class="clsButtonEdit">Edit</a> @separator
                    }
                    @if (ViewBag.IsDeleteable)
                    {
                        <a href="javascript:fnDelete(this,'@item.K_STATUS')" class="clsButtonDelete">Delete</a> 
                    }
                </td>
                <td>
                    @item.K_STATUS
                </td>
                <td>
                    @item.N_STATUS
                </td>
            </tr>
        }
    </tbody>*@
</table>
