﻿@{
    ViewBag.Title = "SampleCalendar";
}
<link href='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.css")' rel='stylesheet' />
<link href='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.print.css")' rel='stylesheet' media='print' />
<script src='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.min.js")' type="text/javascript"></script>
@*<script src='@Url.Content("~/Content/plugin/fullcalendar/YearView.js")' type="text/javascript"></script>*@
<h2>
    Sample Calendar</h2>
<div id='calendar'>
</div>
<br />
<button id="btnTestBlob">
    Sample Post Blob</button>
<script type="text/javascript">

    function ToDefaultDate(oDate) {
        try {
            var date = new Date(oDate);
            if (date)
                return date.format("dd/mm/yyyy");
        } catch (e) {
            //            alert(e);
        }
    }

    var calendar;
    var btnTestBlob = $("button");

    $(function () {

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        calendar = $('#calendar').fullCalendar({
            defaultView: 'month',
            header: {
                left: 'prev,next today',
                center: 'title',
                //                right: 'month,agendaWeek,agendaDay'
                right: 'month,agendaDay'
            },
            disableDragging: true,
            selectable: true,
            selectHelper: true,

            viewDisplay: function (view) {
                var now = new Date();
                var end = new Date();
                end.setMonth(now.getMonth() + 11); //Adjust as needed

                console.log(view.start);
                console.log(view.end);

                var cal_date_string = view.start.getMonth() + '/' + view.start.getFullYear();
                var cur_date_string = now.getMonth() + '/' + now.getFullYear();
                var end_date_string = end.getMonth() + '/' + end.getFullYear();

                if (cal_date_string == cur_date_string) { jQuery('.fc-button-prev').addClass("fc-state-disabled"); }
                else { jQuery('.fc-button-prev').removeClass("fc-state-disabled"); }

                if (end_date_string == cal_date_string) { jQuery('.fc-button-next').addClass("fc-state-disabled"); }
                else { jQuery('.fc-button-next').removeClass("fc-state-disabled"); }
            },

            //            dayClick: function (date, allDay, jsEvent, view) {
            //                //                var event = calendar.fullCalendar('clientEvents', $.fullCalendar.formatDate(date, "dd-MM-yyyy"));
            //                //                if (!event) {
            //                var title = prompt('Event Title:');
            //                if (title) {
            //                    calendar.fullCalendar('renderEvent',
            //            						{
            //            						    id: $.fullCalendar.formatDate(date, "dd-MM-yyyy"),
            //            						    title: title,
            //            						      start: $.fullCalendar.formatDate(date, "dd-MM-yyyy")
            //            						    //						    end: end,
            //            						    //						    allDay: allDay
            //            						},
            //            						true // make the event "stick"
            //            					);
            //                }
            //                //                }


            //                //                console.log(event);
            //            },
            select: function (start, end, allDay) {
                var title = prompt('Event Title:');
                if (title) {
                    calendar.fullCalendar('renderEvent',
            						{
            						    id: start, // $.fullCalendar.formatDate(start, "dd-MM-yyyy"),
            						    title: title,
            						    start: start
            						},
            						true // make the event "stick"
            					);
                }
                calendar.fullCalendar('unselect');
            },
            editable: true,
            events: [
				{
				    title: 'All Day Event',
				    start: new Date(y, m, 1),
				    id: new Date(y, m, 1)
				},
				{
				    id: new Date(y, m, d - 5),
				    title: 'Long Event',
				    start: new Date(y, m, d - 5)
				    //				    end: new Date(y, m, d - 2)
				}
            //                ,				{
            //				    id: new Date(y, m, d - 3, 16, 0),
            //				    title: 'Repeating Event',
            //				    start: new Date(y, m, d - 3, 16, 0),
            //				    allDay: false
            //				},
            //				{
            //				    id: new Date(y, m, d + 4, 16, 0),
            //				    title: 'Repeating Event',
            //				    start: new Date(y, m, d + 4, 16, 0),
            //				    allDay: false
            //				},
            //				{
            //				    title: 'Meeting',
            //				    start: new Date(y, m, d, 10, 30),
            //				    id: new Date(y, m, d, 10, 30),
            //				    allDay: false
            //				},
            //				{
            //				    title: 'Lunch',
            //				    id: new Date(y, m, d, 12, 0),
            //				    start: new Date(y, m, d, 12, 0),
            //				    end: new Date(y, m, d, 14, 0),
            //				    allDay: false
            //				},
            //				{
            //				    title: 'Birthday Party',
            //				    id: new Date(y, m, d + 1, 19, 0),
            //				    start: new Date(y, m, d + 1, 19, 0),
            //				    end: new Date(y, m, d + 1, 22, 30),
            //				    allDay: false
            //				},
            //				{
            //				    title: 'Click for Google',
            //				    id: new Date(y, m, 28),
            //				    start: new Date(y, m, 28),
            //				    end: new Date(y, m, 29),
            //				    url: 'http://google.com/'
            //				}
			]
        });

        btnTestBlob.click(function () {
            var events = calendar.fullCalendar('clientEvents');
            console.log(events);
            var obj = new Array();

            for (var i = 0; i < events.length; i++) {
                var event = events[i];
                var id = $.fullCalendar.formatDate(event.id, "dd-MM-yyyy");
                var title = event.title;
                obj.push({ id: id, title: title });
            }

            console.log(JSON.stringify(obj));

            $.ajax({
                url: '@Url.Action("CreateSampleBlob")',
                data: JSON.stringify(obj),
                type: 'POST',
                contentType: 'application/json; charset=utf-8'
            });
        })
    });


</script>
