﻿@model L.PDSDA.DAL.Entities.BENDUNG

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "BENDUNG", FormMethod.Post, new { id = "target" }))
{    @Html.ValidationSummary(true)
    <fieldset>
        <legend>BENDUNG</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_BENDUNG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_BENDUNG)
            @Html.ValidationMessageFor(model => model.K_BENDUNG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_PROPINSI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_PROPINSI)
            @Html.ValidationMessageFor(model => model.K_PROPINSI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_KABUPATEN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_KABUPATEN)
            @Html.ValidationMessageFor(model => model.K_KABUPATEN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_WS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_WS)
            @Html.ValidationMessageFor(model => model.K_WS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_DAS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_DAS)
            @Html.ValidationMessageFor(model => model.K_DAS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.N_BENDUNG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_BENDUNG)
            @Html.ValidationMessageFor(model => model.N_BENDUNG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUNGAI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUNGAI)
            @Html.ValidationMessageFor(model => model.SUNGAI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KECAMATAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KECAMATAN)
            @Html.ValidationMessageFor(model => model.KECAMATAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESA)
            @Html.ValidationMessageFor(model => model.DESA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_JENIS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_JENIS)
            @Html.ValidationMessageFor(model => model.K_JENIS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TH_BANGUN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TH_BANGUN)
            @Html.ValidationMessageFor(model => model.TH_BANGUN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TH_REHAB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TH_REHAB)
            @Html.ValidationMessageFor(model => model.TH_REHAB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TINGGI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TINGGI)
            @Html.ValidationMessageFor(model => model.TINGGI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LEBAR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LEBAR)
            @Html.ValidationMessageFor(model => model.LEBAR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KONDISI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KONDISI)
            @Html.ValidationMessageFor(model => model.KONDISI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEBIT_HUJAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEBIT_HUJAN)
            @Html.ValidationMessageFor(model => model.DEBIT_HUJAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEBIT_KEMARAU)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEBIT_KEMARAU)
            @Html.ValidationMessageFor(model => model.DEBIT_KEMARAU)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MANFAAT_IRIGASI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MANFAAT_IRIGASI)
            @Html.ValidationMessageFor(model => model.MANFAAT_IRIGASI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MANFAAT_DMI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MANFAAT_DMI)
            @Html.ValidationMessageFor(model => model.MANFAAT_DMI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.APBN_BUAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.APBN_BUAT)
            @Html.ValidationMessageFor(model => model.APBN_BUAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PLN_BUAT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PLN_BUAT)
            @Html.ValidationMessageFor(model => model.PLN_BUAT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.APBN_REHAB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.APBN_REHAB)
            @Html.ValidationMessageFor(model => model.APBN_REHAB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PLN_REHAB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PLN_REHAB)
            @Html.ValidationMessageFor(model => model.PLN_REHAB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUMBER_DATA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUMBER_DATA)
            @Html.ValidationMessageFor(model => model.SUMBER_DATA)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

