﻿@model L.PDSDA.DAL.Entities.BENDUNG
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script>

    $(function () {
        var oKABUPATEN_PROPINSI_K_PROPINSI = $('#KABUPATEN_PROPINSI_K_PROPINSI');
        var oKABUPATEN_K_KABUPATEN = $('#KABUPATEN_K_KABUPATEN');

        oKABUPATEN_PROPINSI_K_PROPINSI.change(function () {
            var value = oKABUPATEN_PROPINSI_K_PROPINSI.val();
            $.getJSON('@Url.Content("~/Master/Kabupaten/GetKabupatenByPropinsi/?")' + "propinsiid=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih Kabupaten</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                oKABUPATEN_K_KABUPATEN.html(items);
            });
        });

        var DAS_K_DAS = $('#DAS_K_DAS');
        var WS_K_WS = $('#WS_K_WS');

        WS_K_WS.change(function () {
            var value = WS_K_WS.val();
            $.getJSON('@Url.Content("~/Sumber_Daya_Air/DAS/GetDASByWS/")' + "?k_ws=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih DAS</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                DAS_K_DAS.html(items);
            });
        });

    });
</script>
<style>
    fieldset
    {
        padding: 0px 0px 0px 5px !important;
        margin: 0 !important;
    }
</style>
@using (Html.BeginForm(@ViewBag.ActionName as string, "BENDUNG", FormMethod.Post, new { id = "target" }))
{    @Html.ValidationSummary(true)
    <fieldset>
        <legend>BENDUNG</legend>
        <table class="noborder">
            <tr>
                <td class="editor-label">
                    Kode Bendung
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.K_BENDUNG)
                    @Html.ValidationMessageFor(model => model.K_BENDUNG, "Kode Tidak Boleh Kosong.")
                </td>
                <td class="editor-label">
                    Nama Bendung
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.N_BENDUNG)
                    @Html.ValidationMessageFor(model => model.N_BENDUNG)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Propinsi
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI)
                </td>
                <td class="editor-label">
                    Kabupaten
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.KABUPATEN.K_KABUPATEN, ViewBag.collK_KABUPATEN as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.KABUPATEN.K_KABUPATEN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Nama WS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.WS.K_WS, ViewBag.collWS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.WS.K_WS)
                </td>
                <td class="editor-label">
                    Nama DAS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.DAS.K_DAS, ViewBag.collDAS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.DAS.K_DAS)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Nama Sungai
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.SUNGAI)
                    @Html.ValidationMessageFor(model => model.SUNGAI)
                </td>
                <td class="editor-label">
                    Kecamatan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KECAMATAN)
                    @Html.ValidationMessageFor(model => model.KECAMATAN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Desa
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DESA)
                    @Html.ValidationMessageFor(model => model.DESA)
                </td>
                <td class="editor-label">
                    Jenis Bendungan
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.K_JENIS, ViewBag.collK_JENIS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.K_JENIS)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Tahun Bangun
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.TH_BANGUN)
                    @Html.ValidationMessageFor(model => model.TH_BANGUN)
                </td>
                <td class="editor-label">
                    Tahun Rehabilitasi
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.TH_REHAB)
                    @Html.ValidationMessageFor(model => model.TH_REHAB)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Tinggi (m)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.TINGGI)
                    @Html.ValidationMessageFor(model => model.TINGGI)
                </td>
                <td class="editor-label">
                    Lebar (m)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LEBAR)
                    @Html.ValidationMessageFor(model => model.LEBAR)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Kondisi
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.KONDISI, ViewBag.collKONDISI as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.KONDISI)
                </td>
              <td class="editor-label">
                    Sumber Data
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.SUMBER_DATA)
                    @Html.ValidationMessageFor(model => model.SUMBER_DATA)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Debit Intake Musim Kemarau (m3/det)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DEBIT_KEMARAU)
                    @Html.ValidationMessageFor(model => model.DEBIT_KEMARAU)
                </td>
                  <td class="editor-label">
                    Debit Intake Musim Hujan (m3/det)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DEBIT_HUJAN)
                    @Html.ValidationMessageFor(model => model.DEBIT_HUJAN)
                </td>
              
            </tr>
            <tr>
              <td class="editor-label">
                    Manfaat Irigasi (ha)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.MANFAAT_IRIGASI)
                    @Html.ValidationMessageFor(model => model.MANFAAT_IRIGASI)
                </td>
                <td class="editor-label">
                    Manfaat DMI (m3/detik)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.MANFAAT_DMI)
                    @Html.ValidationMessageFor(model => model.MANFAAT_DMI)
                </td>
                
            </tr>
            <tr>
                <td colspan="4">
                    <fieldset>
                        <legend>APBN</legend>
                        <table class="noborder">
                            <tr>
                                <td class="editor-label">
                                    Pembuatan
                                </td>
                                <td class="editor-field">
                                    @Html.EditorFor(model => model.APBN_BUAT)
                                    @Html.ValidationMessageFor(model => model.APBN_BUAT)
                                </td>
                                <td class="editor-label">
                                    Rehabilitasi
                                </td>
                                <td class="editor-field">
                                    @Html.EditorFor(model => model.APBN_REHAB)
                                    @Html.ValidationMessageFor(model => model.APBN_REHAB)
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <fieldset>
                        <legend>PLN</legend>
                        <table class="noborder">
                            <tr>
                                <td class="editor-label">
                                    Pembuatan
                                </td>
                                <td class="editor-field">
                                    @Html.EditorFor(model => model.PLN_BUAT)
                                    @Html.ValidationMessageFor(model => model.PLN_BUAT)
                                </td>
                                <td class="editor-label">
                                    Rehabilitasi
                                </td>
                                <td class="editor-field">
                                    @Html.EditorFor(model => model.PLN_REHAB)
                                    @Html.ValidationMessageFor(model => model.PLN_REHAB)
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Latitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Latitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Latitude)
                </td>
                <td class="editor-label">
                    Longitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Longitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Longitude)
                </td>
            </tr>
        </table>
        <div class="editor-field">
            <script type="text/javascript">
                function loadMap() {
                    var oThis = {};
                    oThis.href = '@Url.Content("~/Peta/GenericMap/IndexWithClick/")';
                    oThis.title = "Peta";
                    loadDialogMap(oThis, "divFormGenericPeta", $(window).width() - 150, $(window).height() - 200)
                }
            </script>
            <a href="javascript:loadMap()" class="modalDlg, clsButtonAdd">Map</a>
        </div>
    </fieldset>
}
