﻿@{
    string name = L.PDSDA.Web.Common.Utils.GetQueryString("x");
    ViewBag.Title = "Import " + name;
    Layout = "~/Views/Shared/_PDSDALayout.cshtml";
}
@*using (Html.BeginForm("Upload", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))*@

@using (Html.BeginForm("Upload", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
{   <h3>@ViewBag.ImportMessage</h3>
    @Html.Hidden("hfName", @name)
    @*<input type="hidden" value="@name" id="hfName" name="hfName" />*@
    <input type="file" id="testUpload" name="testUpload" />
    <input type="submit" id="btnSubmit" value="Upload" />
}
