﻿@{
    ViewBag.Title = "OpenLayer";
        //Layout = "";
}
<div id="scriptlink">
    @*<link rel="stylesheet" href="@Url.Content("~/theme/default/style.css?v=1")" />*@
    <style>
        /*  .olMapViewport
        {
            height: 300px !important;
            position: absolute !important;
            width: 80% !important;
        } */
        
        .olControlNavToolbar
        {
            top: 150px !important;
        }
        
        .baseLayersDiv input
        {
            width: auto !important;
        }
    </style>
    <link rel="stylesheet" href="@Url.Content("~/Content/openlayers.css?v=1")" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")">
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/apple-touch-icon.png")">
    <!-- CSS : implied media="all" -->
    @*<link rel="stylesheet" href="@Url.Content("~/Content/style.css?v=1")">*@
    <!-- For the less-enabled mobile browsers like Opera Mini -->
    <link rel="stylesheet" media="handheld" href="@Url.Content("~/Content/handheld.css?v=1")">
    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-1.5.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js?v=1")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/lib/OpenLayers.js?v=1")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ol/LoadingPanel.js?v=1")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/script_ol.js?v=1")"></script>
</div>
<div>
    <div id="map" style="width: 100%; height: 300px">
    </div>
</div>
