﻿@model IQueryable<L.PDSDA.DAL.Entities.Module>
@{
    ViewBag.Title = "Module";
    var separator = "|";
}
<script type="text/javascript">
    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/Module/Edit/")' + id;
        oThis.title = "Edit Module"
        loadDefaultDialogCustomControl(oThis, "divFormModule", "500px", "300px", "target", oTable)
        //        loadDialog(oThis, '#moduleInfo');
    }

    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/Module/Create/")';
        oThis.title = "Create Module"
        //        loadDialog(oThis, '#moduleInfo');
        loadDefaultDialogCustomControl(oThis, "divFormModule", "500px", "300px", "target", oTable)

    }

    function fnDelete(oThis, id) {
        oThis.href = '@Url.Content("~/Module/Delete/")' + id;
        oThis.title = "Delete User"
        if (confirm("Are you sure that you want to delete this Module?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        alert("Data has been removed.");
                        //                        window.location.reload(true);
                        oTable.fnDraw();
                    }
                },
                error: function (data) {
                    alert("This user cannot be deleted");
                }
            });
        }
    }



    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        oTable = $("table.display").dataTable(
        {
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/Module/LoadAllData/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "Code" }, { "mData": "Name" }, { "mData": "Parent" }, { "mData": "Path" }, { "mData": "Position"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True") {

                        var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-trash"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnDelete(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }


                    if (IsUpdateable == "True") {
                        var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-wrench"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnEdit(this, oData.KEY);
                            //                            fnEdit(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });
    });

</script>
<!-- <h2>
    @ViewBag.BreadCrumbs</h2> -->
@*@Html.Partial("_SearchUsers")*@
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Kode
            </th>
            <th>
                Name
            </th>
            <th>
                Parent
            </th>
            <th>
                Path
            </th>
            <th>
                Position
            </th>
        </tr>
    </thead>
    @*<tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="cCenterOnly">
                    @* <a href="/Module/Details/@item.Id">Details</a> |
                    @if (ViewBag.IsUpdateable)
                    {<a href="javascript:fnEdit(this,@item.Id)" class="editModalDlg, clsButtonEdit">Edit</a> @separator }
                    @if (ViewBag.IsDeleteable)
                    { <a href="javascript:fnDelete('@Url.Content("~/Module/Delete/" + @item.Id)')" class="delete, clsButtonDelete">
                        Delete</a>}
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @if (item.MainModule != null)
                    {
                        @item.MainModule.Name
                    }
                </td>
                <td>
                    @item.Path
                </td>
                <td>
                    @item.Position
                </td>
                <td>
                    @item.Code
                </td>
            </tr>
        }
    </tbody>*@
</table>
