﻿@model L.PDSDA.DAL.Entities.Module
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm("Create", "Module", FormMethod.Post, new { id = "target" }))
{
   
    <div>
        <fieldset>
            <legend>Module Information</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Code)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Code)
                @Html.ValidationMessageFor(m => m.Code)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.IsPublic)
            </div>
            <div class="editor-field">
                @Html.CheckBoxFor(m => m.IsPublic)
                @Html.ValidationMessageFor(m => m.IsPublic)
            </div>
             <div class="editor-label">
                Is Active
            </div>
            <div class="editor-field">
                @Html.CheckBoxFor(m => m.IsActive)
                @Html.ValidationMessageFor(m => m.IsActive)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Path)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Path)
                @Html.ValidationMessageFor(m => m.Path)
            </div>
             <div class="editor-label">
                @Html.LabelFor(m => m.ImageUrl)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.ImageUrl)
                @Html.ValidationMessageFor(m => m.ImageUrl)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.MainModule)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(x => x.MainModule.Id, ViewBag.Modules as IList<SelectListItem>)
                @Html.ValidationMessageFor(m => m.MainModule)
            </div>
        </fieldset>
    </div>
}