﻿@model L.PDSDA.DAL.Entities.Module
@{
    ViewBag.Title = "Edit";
}
<h2>
    Edit</h2>
@using (Html.BeginForm("Edit", "Module", FormMethod.Post, new { id = "target" }))
{
    <div>
        <fieldset>
            <legend>Menu Information</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Code)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Code)
                @Html.ValidationMessageFor(m => m.Code)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Position)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Position)
                @Html.ValidationMessageFor(m => m.Position)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Path)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Path)
                @Html.ValidationMessageFor(m => m.Path)
            </div>
            @*
            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>*@
            <div class="editor-label">
                @Html.LabelFor(m => m.MainModule)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(x => x.MainModule.Id, ViewBag.collItem as IList<SelectListItem>)
                @Html.ValidationMessageFor(m => m.MainModule)
            </div>
            @* <p>
                <input type="submit" value="Create" />
            </p>*@
        </fieldset>
    </div>
}