﻿@model L.PDSDA.DAL.Entities.Module
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm("Edit", "Module", FormMethod.Post, new { id = "target" }))
{
 
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Module</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Code)
            @Html.ValidationMessageFor(model => model.Code)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Path)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Path)
            @Html.ValidationMessageFor(model => model.Path)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.ImageUrl)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.ImageUrl)
            @Html.ValidationMessageFor(m => m.ImageUrl)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Position)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Position)
            @Html.ValidationMessageFor(model => model.Position)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.IsPublic)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(m => m.IsPublic)
            @Html.ValidationMessageFor(m => m.IsPublic)
        </div>
         <div class="editor-label">
                Is Active
            </div>
            <div class="editor-field">
                @Html.CheckBoxFor(m => m.IsActive)
                @Html.ValidationMessageFor(m => m.IsActive)
            </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.MainModule)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.MainModule.Id, ViewBag.collItem as IList<SelectListItem>)
            @Html.ValidationMessageFor(m => m.MainModule.Id)
        </div>
    </fieldset>
}
