﻿@model IEnumerable<L.PDSDA.DAL.Entities.Group>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@{
    IList<L.PDSDA.DAL.Entities.Group> UserGroups = ViewBag.UserGroups;
    L.PDSDA.DAL.Entities.User User = ViewBag.User; 
    @Html.Hidden("UserId", User.Id);
}
<script type="text/javascript" language="javascript">

    var oTable2;

    $(function () {
        //        $("table#tableAssignRole").dataTable();
        oTable2 = $('table#tableAssignRole').dataTable({ "bJQueryUI": true,
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "sPaginationType": "full_numbers", bRetrieve: true, bDestroy: true
        });
    });

    function fnSigningUserToGroup(elem, value) {

        var data = {
            userid: $('[type=hidden]').val()
            , groupid: elem.value//$(elem).attr('value')        
            , ischecked: elem.checked
        };

        //        alert(elem);
        //        alert(value);
        //        alert(JSON.stringify(data));
        //        console.log(JSON.stringify(data));

        //Populate arrayOfValues
        $.ajax({
            type: "POST",
            url: '@Url.Action("SetUserToGroup", "User")',
            datatype: "json",
            contentType: 'application/json',
            //            traditional: true,
            //            data: JSON.stringify({ arr: arrayOfValues })
            data: JSON.stringify(data),
            success: function (response) {
                //                dlg.dialog('close');
                //		                console.log($table);
                //		                $table.fnDraw();
                //                $(target).html(response);
                //                dlg.empty();
                //		                $("#ajaxResult").hide().html('Record saved.').fadeIn(300, function () {
                //		                    var e = this;
                //		                    setTimeout(function () { $(e).fadeOut(400); }, 2500);
                //		                });
                //                parent.location.reload(true);
            },
            error: function (xhr) {
                if (xhr.status == 400)
                    $(this).html(xhr.responseText, xhr.status);     /* display validation errors in this dialog */
                else {
                    console.log(xhr);
                    alert(xhr);
                    //		                    displayError(xhr.responseText, xhr.status); /* display other errors in separate dialog */
                }
                parent.location.reload(true);
            }
        });
    }
</script>
<table class="display" id="tableAssignRole">
    <thead>
        <tr>
            <th>
                Assign
            </th>
            <th>
                Name
            </th>
            <th>
                Code
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (UserGroups != null && UserGroups.FirstOrDefault(x => x.Id == item.Id) != null)
                    {
                        <input type="checkbox" checked="checked" value="@item.Id"  onclick="javascript:fnSigningUserToGroup(this, @item.Id)" />
                    }
                    else
                    {
                        <input type="checkbox" value="@item.Id"  onclick="javascript:fnSigningUserToGroup(this, @item.Id)"/>
                    }
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Code
                </td>
                <td>
                    @item.Description
                </td>
            </tr>
        }
    </tbody>
</table>
