﻿@{
    string message = L.Core.Utilities.Utils.GetQueryString("message");
    string Nama = ViewBag.Nama;
    string Email = ViewBag.Email;
}
@using (Html.BeginForm(/*"ChangePassword", "User", FormMethod.Post, new { id = "target" }*/))
{    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Akun Profil</legend>
        <div class="editor-label">
            Nama
        </div>
        <div class="editor-field">
            <input type="text" id="txtNama" name="txtNama" value="@Nama" />
        </div>
        <div class="editor-label">
            Email
        </div>
        <div class="editor-field">
            <input type="text" id="txtEmail" name="txtEmail"  value="@Email"/>
        </div>
        <br />
        <fieldset>
            <legend>Change Password</legend>
            <h3>
                Kosongkan jika tidak merubah password</h3>
            <div class="editor-label">
                Current Password
            </div>
            <div class="editor-field">
                <input type="password" id="currentPassword" name="currentPassword" />
            </div>
            <div class="editor-label">
                New Password
            </div>
            <div class="editor-field">
                <input type="password" id="newPassword" name="newPassword" />
            </div>
            <div class="editor-label">
                Confirm New Password
            </div>
            <div class="editor-field">
                <input type="password" id="ConfirmNewPassword" name="ConfirmNewPassword" />
            </div>
        </fieldset>
    </fieldset>
    <button type="submit" name="submit" class="clsButtonEdit, cCenterOnly, ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary"
        style="margin: 0px; font-weight: normal;" role="button" aria-disabled="false">
        <span class="ui-button-icon-primary ui-icon ui-icon-wrench"></span><span class="ui-button-text">
            Ubah Data</span></button>
@*<input type="submit" name="submit" value="Ubah Data" />*@
    <br />
    <label>@message</label>
}