﻿@model L.PDSDA.DAL.Entities.User
@{
    ViewBag.Title = "Create";
}
<!-- <h2>
    Create</h2> -->
<!-- <h2>
    Create a New Account</h2> -->
@*<p>
    Use the form below to create a new account.
</p>
<p>
    Passwords are required to be a minimum of @ViewBag.PasswordLength characters in
    length.
</p>*@
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $("#target").submit(function () {
        if ($("#Password").val() != $("#ConfirmPassword").val()) {
            alert('Periksa Password Anda.');
            return false;
        }

    });
</script>
@using (Html.BeginForm("Create", "User", FormMethod.Post, new { id = "target" }))
{
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend>Account Information</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.Username)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Username)
                @Html.ValidationMessageFor(m => m.Username)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Firstname)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Firstname)
                @Html.ValidationMessageFor(m => m.Firstname)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="editor-label">
                Konfirmasi Password
            </div>
            <div class="editor-field">
                @Html.Password("txtConfirmPassword")
            </div>
            @*<div class="editor-label">
                Balai
            </div>
            <div class="editor-field">
            @Html.DropDownListFor(x => x.BALAI.KodeBalai, ViewBag.Balai as IList<SelectListItem>)
            </div>*@
            <div class="editor-label">
                Send Email
            </div>
            <div class="editor-field">
                @Html.CheckBox("IsSendEmail")
            </div>
            @*  <div class="editor-label">
                @Html.LabelFor(m => m.Department)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(x => x.Department.Id, ViewBag.Departments as IList<SelectListItem>)
                @Html.ValidationMessageFor(m => m.Firstname)
            </div>*@ @*  <p>
                <input type="submit" value="Register" />
            </p>*@
        </fieldset>
    </div>
}
