﻿@model L.PDSDA.DAL.Entities.User
           
@{
    ViewBag.Title = "Details";
}
<!-- <h2>
    Details</h2> -->
<div class="display-label">
    Username</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Username)
</div>
