﻿@model L.PDSDA.DAL.Entities.User
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { id = "target" }))
{    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Account Information</legend>
        <div class="editor-label">
            @Html.LabelFor(m => m.Username)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Username)
            @Html.ValidationMessageFor(m => m.Username)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Firstname)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Firstname)
            @Html.ValidationMessageFor(m => m.Firstname)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="editor-field">
            @Html.Password("txtPassword")
        </div>
        <div class="editor-label">
            Konfirmasi Password
        </div>
        <div class="editor-field">
            @Html.Password("txtConfirmPassword")
        </div>
        @* <div class="editor-label">
            Balai
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.BALAI.KodeBalai, ViewBag.Balai as IList<SelectListItem>)
        </div>*@
        <div class="editor-label">
            Send Email
        </div>
        <div class="editor-field">
            @Html.CheckBox("IsSendEmail")
        </div>
        @*   <div class="editor-label">
            @Html.LabelFor(m => m.Department)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.Department.Id, ViewBag.Departments as IList<SelectListItem>)
            @Html.ValidationMessageFor(m => m.Firstname)
        </div>*@
        @Html.HiddenFor(x => x.Id) @*  <p>
                <input type="submit" value="Register" />
            </p>*@
    </fieldset>

}
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@ 