﻿@model IQueryable<L.PDSDA.DAL.Entities.User>
@{
    ViewBag.Title = "User";
}
<script>
    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/User/Edit/")' + id;
        oThis.title = "Edit User";
        loadDefaultDialogCustomControl(oThis, "divFormUser", "500px", "300px", "target", oTable);
    }

    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/User/Create/")';
        oThis.title = "Create User";
        loadDefaultDialogCustomControl(oThis, "divFormUser", "500px", "300px", "target", oTable)
    }

    function fnDelete(oThis, id) {
        oThis.href = '@Url.Content("~/User/Delete/")' + id;
        oThis.title = "Delete User"
        if (confirm("Are you sure that you want to delete this user?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        alert("Data has been removed.");
                        oTable.fnDraw();
                    }
                },
                error: function (data) {
                    alert("This user cannot be deleted");
                }
            });
        }
    }

    function fnAssignRole(oThis, id, username) {
        oThis.href = '@Url.Content("~/User/AssignRole/")' + id;
        oThis.title = "Assign Role for " + username;
        loadDialogAssignReloadTableClose(oThis, '#UserInfo', oTable);
        //        loadDefaultAssignDialogCustomControl(oThis, "divFormUserAssign", "500px", "300px", "target", oTable)

    }

    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        oTable = $("table.display").dataTable(
        {
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/User/LoadAllData/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "NAME" }, { "mData": "Username" }, { "mData": "Groups" }
            //            , { "mData": "BirthDate" }
            ],
            "aoColumnDefs": [{
                "sWidth": "300px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True") {

                        var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-trash"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnDelete(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                    if (IsUpdateable == "True") {
                        var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-wrench"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnEdit(this, oData.KEY);
                            //                            fnEdit(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                    if (IsUpdateable == "True") {
                        var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Assign Role</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-wrench"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnAssignRole(this, oData.KEY, oData.Username);
                            //                            fnEdit(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });
    });

</script>
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Name
            </th>
            <th>
                Username
            </th>
            <th>
                Group(s)
            </th>
            @* <th>
                BirthDate
            </th>*@
        </tr>
    </thead>
</table>
