﻿@model L.PDSDA.DAL.Entities.User
@{
    //ViewBag.Title = "LogOn";
    //Layout = "~/Views/Shared/_StandardLayout.cshtml";
    Layout = "~/Views/Shared/_PDSDALoginLayout.cshtml";
}
<!-- <h2>
    LogOn</h2> -->
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    <center>
        <div style="width: 30%; text-align: left;">
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>Logon</legend><font color="red">
                    <center>
                        <b>@ViewBag.ErrMessage</b></center>
                </font>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Username)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Username)
                    @Html.ValidationMessageFor(model => model.Username)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <br />
                <p>
                    <input type="submit" value="Log on!" />
                </p>
            </fieldset>
        </div>
    </center>
}
