﻿@model L.PDSDA.DAL.Entities.RAWA

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create", "Rawa", FormMethod.Post, new { id = "target" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>RAWA</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_RAWA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_RAWA)
            @Html.ValidationMessageFor(model => model.K_RAWA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.N_RAWA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_RAWA)
            @Html.ValidationMessageFor(model => model.N_RAWA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_PROPINSI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_PROPINSI)
            @Html.ValidationMessageFor(model => model.K_PROPINSI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_KABUPATEN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_KABUPATEN)
            @Html.ValidationMessageFor(model => model.K_KABUPATEN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KECAMATAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KECAMATAN)
            @Html.ValidationMessageFor(model => model.KECAMATAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESA)
            @Html.ValidationMessageFor(model => model.DESA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JENIS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JENIS)
            @Html.ValidationMessageFor(model => model.JENIS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_WS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_WS)
            @Html.ValidationMessageFor(model => model.K_WS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_DAS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_DAS)
            @Html.ValidationMessageFor(model => model.K_DAS)
        </div>

      
    </fieldset>
}


