﻿@model L.PDSDA.DAL.Entities.RAWA
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script>
    function fnLoadRawaDyn(oThis) {

        var IsViewable = "@ViewBag.IsViewable";
        var IsCreateable = "@ViewBag.IsCreateable";
        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        var id = $("#K_RAWA").val();  //$("input[type=hidden]").val()
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/RawaDyn/Index")' + "?method=Detail&id=" + id.replace(/ /g, '%20%') + "&IsViewable=" + IsViewable + "&IsCreateable=" + IsCreateable + "&IsUpdateable=" + IsUpdateable + "&IsDeleteable=" + IsDeleteable;
        oThis.title = "Rawa Dyn"

        //        var $loading = $('<img src="images/ajaxLoading.gif" height="20" width = "20"  alt="loading" class="ui-loading-icon">');
        var $url = oThis.href;
        var $title = oThis.title;
        var $dialog = $('<div id="divRawaDynTable"></div>');

        initialized("@Request.ApplicationPath");
        fnLoading();
        $dialog
		.load($url, function (response, status, xhr) {
		    if (status == "success") {
		        dialogLoading.dialog("close"); $dialog.dialog('open');
		    }
		})
		    .dialog({ closeOnEscape: false,
		        position: "top",
		        autoOpen: false
			    , title: $title
			    , width: 1000
	        	    , modal: true
			    , minHeight: 100
	        	    , show: 'fade'
		        //	        	, hide: 'fade'
		    });

        $dialog.dialog("option", "buttons", {
            "Tutup": function () {
                $($dialog).dialog("close");
                $($dialog).empty();
                //		            parent.$("table").fnDraw();
                //                window.location.reload(true);
            }
        });

//        $dialog.dialog('open');
    }

    $(function () {
        $("fieldset").find('input, textarea, button, select').attr('disabled', 'disabled');
        var oKABUPATEN_PROPINSI_K_PROPINSI = $('#KABUPATEN_PROPINSI_K_PROPINSI');
        var oKABUPATEN_K_KABUPATEN = $('#KABUPATEN_K_KABUPATEN');

        oKABUPATEN_PROPINSI_K_PROPINSI.change(function () {
            var value = oKABUPATEN_PROPINSI_K_PROPINSI.val();
            $.getJSON('@Url.Content("~/Master/Kabupaten/GetKabupatenByPropinsi/?")' + "propinsiid=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih Kabupaten</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                oKABUPATEN_K_KABUPATEN.html(items);
            });
        });

        var DAS_K_DAS = $('#DAS_K_DAS');
        var WS_K_WS = $('#WS_K_WS');

        WS_K_WS.change(function () {
            var value = WS_K_WS.val();
            $.getJSON('@Url.Content("~/Sumber_Daya_Air/DAS/GetDASByWS/")' + "?k_ws=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih DAS</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                DAS_K_DAS.html(items);
            });
        });

    });

    
</script>
    <fieldset>
        <legend>RAWA</legend>
        <div class="editor-label">
            Kode Rawa
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_RAWA)
            @Html.ValidationMessageFor(model => model.K_RAWA)
        </div>
        <div class="editor-label">
            Nama Rawa
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_RAWA)
            @Html.ValidationMessageFor(model => model.N_RAWA)
        </div>
        <div class="editor-label">
            Propinsi
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI)
        </div>
        <div class="editor-label">
            Kabupaten
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.KABUPATEN.K_KABUPATEN, ViewBag.collK_KABUPATEN as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.KABUPATEN.K_KABUPATEN)
        </div>
        <div class="editor-label">
            Nama WS
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.WS.K_WS, ViewBag.collWS as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.WS.K_WS)
        </div>
        <div class="editor-label">
            Nama DAS
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.DAS.K_DAS, ViewBag.collDAS as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.DAS.K_DAS)
        </div>
        <div class="editor-label">
            Kecamatan
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KECAMATAN)
            @Html.ValidationMessageFor(model => model.KECAMATAN)
        </div>
        <div class="editor-label">
            Desa
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESA)
            @Html.ValidationMessageFor(model => model.DESA)
        </div>
        <div class="editor-label">
            Jenis
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.JENIS, ViewBag.collJENIS as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.JENIS)
        </div>
        <div class="editor-label">
            Latitude
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LatLong.Latitude)
            @Html.ValidationMessageFor(model => model.LatLong.Latitude)
        </div>
        <div class="editor-label">
            Longitude
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LatLong.Longitude)
            @Html.ValidationMessageFor(model => model.LatLong.Longitude)
        </div>
    </fieldset>
<a href="javascript:fnLoadRawaDyn(this)" class="modalDlg, clsButtonAdd">Infrastruktur</a>
