﻿@model IList<L.PDSDA.Web.DTOs.MapsDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PDSDALayout.cshtml";
}
<p>
    Peta : @Html.DropDownList("ddlPeta"
, new SelectListItem[] { 
    // SDA
    new SelectListItem() {          Text="SDA", Value=""    } ,
    new SelectListItem() {          Text="  - Sungai", Value="sungai"    } ,
    new SelectListItem() {          Text="  - Air Tanah", Value="airtanah"    } ,
    new SelectListItem() {          Text="  - Bendung", Value="bendung"    } ,
    new SelectListItem() {          Text="  - Bendungan", Value="bendungan"    } ,
    new SelectListItem() {          Text="  - Embung", Value="embung"    } ,
    new SelectListItem() {          Text="  - Embung Potensi", Value="embungpotensi"    } ,
    new SelectListItem() {          Text="  - Danau", Value="danau"    } ,
    new SelectListItem() {          Text="  - Rawa", Value="rawa"    } ,
    
    // BENCANA
    new SelectListItem() {          Text="Bencana", Value=""    } ,
    new SelectListItem() {          Text="  - Posko Banjir", Value="poskobanjir"    } ,
    new SelectListItem() {          Text="  - Pos Pengamat Banjir", Value="PosPengamatBanjir"    } ,
    new SelectListItem() {          Text="  - Daerah Rawan Banjir", Value="DaerahRawanBanjir"    } ,
    new SelectListItem() {          Text="  - Daerah Rawan Kekeringan", Value="DaerahRawanKekeringan"    } ,
    new SelectListItem() {          Text="  - Daerah Rawan Longsor", Value="DaerahRawanLongsor"    } ,
    new SelectListItem() {          Text="  - Daerah Gunung Berapi", Value="DaerahGunungBerapi"    } 
    
    
})
</p>
<div id="map_canvas" style="width: 100%; height: 400px">
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=id"></script>
<script type="text/javascript">

    var markers = [];
    var map;
    var infoWindow = new google.maps.InfoWindow();
    function initialize() {
        //        var myLatlng = new google.maps.LatLng(49.57154029531499, -125.74951171875);
        var myLatlng = new google.maps.LatLng('-02.2000', '120.9288');

        var myOptions = {
            zoom: 5, scrollwheel: false,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            streetViewControl: false
        }

        this.map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    } /* end initialize function */

    $("#ddlPeta").change(function () {
        var Action = $("#ddlPeta").val();
        clearOverlays();
        markers = [];
        dropDownClick(Action);
    });

    function setAllMap(map) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }

    // Removes the overlays from the map, but keeps them in the array.
    function clearOverlays() {
        setAllMap(null);
    }


    function dropDownClick(action) {
        fnLoading();
        $.getJSON('@Url.Action("AllMap", "Map")' + "?action=" + action, function (json) {
            //console.log(json);
            //console.log(json.Locations);
            if (json.Locations.length > 0) {
                for (i = 0; i < json.Locations.length; i++) {
                    var location = json.Locations[i];
                    addMarker(location, action);
                }
            }
        }).done(function () { fnLoadingClose(); }); ;
    }

    $(document).ready(function () {
        //        $("#map_canvas").css("width", $(window).width() - 215);
        //        $("#map_canvas").css("height", $(window).height() - 200);
        //        $("#map_canvas").css("width", 90%);
        //        $("#map_canvas").css("height", $(window).height() - 200);
        initialize();
    });

    //define grn icon as closed
    var greenicon = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';

    function addMarker(location, action) {
        //        console.log(location);
        var markerOptions = { map: map, title: location.name, position: new google.maps.LatLng(location.lat, location.lng) };
        var html = '<B>' + location.name + '</B><BR> <A href=javascript:fnDetail(this,"' + location.KEY + '",' + '"' + action + '")>Detail</A>  '; //</B><BR> Summitted: ' + location.datesummit + '<BR> By:' + location.summitlog;
        var marker = new google.maps.Marker(markerOptions);

        // add a listener to open an info window when a user clicks on one of the markers
        google.maps.event.addListener(marker, 'click', function () {
            infoWindow.close();
            infoWindow.setContent(html);
            infoWindow.open(map, marker);
        });
        markers.push(marker);
    }; // end of addmarker function

    function fnDetail(oThis, id, action) {
        // SDA
        if (action.toLowerCase() == "rawa") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/Rawa/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail Rawa"
            loadDetailDialogFromMapCustomControl(oThis, "divFormRAWA", "500px", "300px", "target")
        }
        else if (action.toLowerCase() == "sungai") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/Sungai/Detail/")' + id;
            oThis.title = "Detail Sungai"
            loadDetailDialogFromMapCustomControl(oThis, "divFormSungai", $(window).width() - 100, "300px", "target")
        }
        else if (action.toLowerCase() == "airtanah") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/AIRTANAH/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail Air Tanah"
            loadDetailDialogFromMapCustomControl(oThis, "divFormAIRTANAH", "500px", "300px", "target")
        }
        else if (action.toLowerCase() == "bendung") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/BENDUNG/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail BENDUNG"
            loadDetailDialogFromMapCustomControl(oThis, "divFormBENDUNG", $(window).width() - 75, "300px", "target")
        }
        else if (action.toLowerCase() == "bendungan") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/BENDUNGAN/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail BENDUNGAN"
            loadDetailDialogFromMapCustomControl(oThis, "divFormBENDUNGAN", $(window).width() - 50, "300px", "target")
        }
        else if (action.toLowerCase() == "embung") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/EMBUNG/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail EMBUNG"
            loadDetailDialogFromMapCustomControl(oThis, "divFormEMBUNG", $(window).width() - 300, "300px", "target")
        }
        else if (action.toLowerCase() == "embungpotensi") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/EMBUNGPOTENSI/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail EMBUNG POTENSI"
            loadDetailDialogFromMapCustomControl(oThis, "divFormEMBUNGPOTENSI", $(window).width() - 200, "300px", "target")
        }
        else if (action.toLowerCase() == "danau") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/Danau/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail Danau"
            loadDetailDialogFromMapCustomControl(oThis, "divFormDANAU", $(window).width() - 200, "300px", "target")
        }
        // END SDA

        // START BENCANA
        else if (action.toLowerCase() == "poskobanjir") {
            oThis.href = '@Url.Content("~/Bencana/POSKOBANJIR/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail POSKO BANJIR"
            loadDetailDialogFromMapCustomControl(oThis, "divFormPOSKOBANJIR", $(window).width() - 300, "300px", "target")
        }
        else if (action.toLowerCase() == "pospengamatbanjir") {
            oThis.href = '@Url.Content("~/Bencana/POSPENGAMAT/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail POS PENGAMAT"
            loadDetailDialogFromMapCustomControl(oThis, "divFormPOSPENGAMAT", $(window).width() - 450, "300px", "target")
        }
        else if (action.toLowerCase() == "daerahrawanbanjir") {
            oThis.href = '@Url.Content("~/Bencana/DAERAHRAWANBANJIR/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail DAERAH RAWAN BANJIR"
            loadDetailDialogFromMapCustomControl(oThis, "divFormDAERAHRAWANBANJIR", $(window).width() - 200, "300px", "target")
        }
        else if (action.toLowerCase() == "daerahrawankekeringan") {
            oThis.href = '@Url.Content("~/Bencana/DAERAHRAWANKEKERINGAN/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail DAERAH RAWAN KEKERINGAN"
            loadDetailDialogFromMapCustomControl(oThis, "divFormDAERAHRAWANKEKERINGAN", $(window).width() - 250, "300px", "target")
        }
        else if (action.toLowerCase() == "daerahrawanlongsor") {
            oThis.href = '@Url.Content("~/Bencana/DAERAHRAWANLONGSOR/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail DAERAH RAWAN LONGSOR"
            loadDetailDialogFromMapCustomControl(oThis, "divFormDAERAHRAWANLONGSOR", $(window).width() - 200, "300px", "target")
        }
        else if (action.toLowerCase() == "daerahgunungberapi") {
            oThis.href = '@Url.Content("~/Bencana/GUNUNGBERAPI/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail GUNUNG BERAPI"
            loadDetailDialogFromMapCustomControl(oThis, "divFormGUNUNGBERAPI", $(window).width() - 200, "300px", "target")
        }
        // END BENCANA
    }
    
</script>
