﻿@model IList<L.PDSDA.Web.DTOs.MapsDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PDSDALayout.cshtml";
}
<style type="text/css">
    /*body
    {
        background-color: #eee;
        color: #000;
        font: 12px sans-serif;
    }*/
    
    table
    {
        border: 0px;
        border-style: none;
    }
    
    #map
    {
        width: 100%;
        height: 512px;
        margin: 0;
        padding: 0;
        border: 0;
        background-color: #9dc3e0;
    }
    
    a img
    {
        border: 0;
    }
    
    .td
    {
        width: 10px;
    }
    
    #loading
    {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: fixed;
        display: block;
        opacity: 0.7;
        background-color: #fff;
        z-index: 1001;
        text-align: center;
    }
    
    #loading-image
    {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
    }
</style>
<p>
    Peta : @Html.DropDownList("ddlPeta"
, new SelectListItem[] { 
    new SelectListItem() {          Text="--- Pilih Semua ---", Value="all"    } ,
    // SDA
    new SelectListItem() {          Text="SDA", Value="sda"    } ,
    new SelectListItem() {          Text="  - Sungai", Value="sungai"    } ,
    new SelectListItem() {          Text="  - Air Tanah", Value="airtanah"    } ,
    new SelectListItem() {          Text="  - Bendung", Value="bendung"    } ,
    new SelectListItem() {          Text="  - Bendungan", Value="bendungan"    } ,
    new SelectListItem() {          Text="  - Embung", Value="embung"    } ,
    new SelectListItem() {          Text="  - Embung Potensi", Value="embungpotensi"    } ,
    new SelectListItem() {          Text="  - Danau", Value="danau"    } ,
    new SelectListItem() {          Text="  - Rawa", Value="rawa"    } ,
    
    // BENCANA
    new SelectListItem() {          Text="Bencana", Value="bencana"    } ,
    new SelectListItem() {          Text="  - Posko Banjir", Value="poskobanjir"    } ,
    new SelectListItem() {          Text="  - Pos Pengamat Banjir", Value="PosPengamatBanjir"    } ,
    new SelectListItem() {          Text="  - Daerah Rawan Banjir", Value="DaerahRawanBanjir"    } ,
    new SelectListItem() {          Text="  - Daerah Rawan Kekeringan", Value="DaerahRawanKekeringan"    } ,
    new SelectListItem() {          Text="  - Daerah Rawan Longsor", Value="DaerahRawanLongsor"    } ,
    new SelectListItem() {          Text="  - Daerah Gunung Berapi", Value="DaerahGunungBerapi"    },
    
    // Hidrologi
    new SelectListItem() {          Text="Hidrologi", Value="hidrologi"    } ,
    new SelectListItem() {          Text="  - Pos Hujan", Value="PosHujan"    } ,
    new SelectListItem() {          Text="  - Pos Duga Air", Value="PosDugaAir"    } ,
    new SelectListItem() {          Text="  - Pos Klimatologi", Value="PosKlimatologi"    } ,
    
    
})
    ShapeFiles WS :
    <select id="sltWS" name="D1" class="form-control" style="min-width: 200px">
    </select>
        <input id="btnWS" type="button" style="width: 100px !important" value="Tampilkan" />
</p>
<div id="map">
</div>
<div id="loading">
    <img id="loading-image" src="" alt="Loading..." />
</div>
@*<div id="map_canvas" style="width: 100%; height: 400px">
</div>
*@
<!-- Google

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=id"></script>
<script type="text/javascript">

    var markers = [];
    var map;
    var infoWindow = new google.maps.InfoWindow();
    function initialize() {
        //        var myLatlng = new google.maps.LatLng(49.57154029531499, -125.74951171875);
        var myLatlng = new google.maps.LatLng('-02.2000', '120.9288');

        var myOptions = {
            zoom: 5, scrollwheel: false,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            streetViewControl: false
        }

        this.map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    } /* end initialize function */

    $("#ddlPeta").change(function () {
        var Action = $("#ddlPeta").val();
        clearOverlays();
        markers = [];
        dropDownClick(Action);
    });

    function setAllMap(map) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }

    // Removes the overlays from the map, but keeps them in the array.
    function clearOverlays() {
        setAllMap(null);
    }


    function dropDownClick(action) {
        fnLoading();
        $.getJSON('@Url.Action("AllMap", "Map")' + "?action=" + action, function (json) {
            //console.log(json);
            //console.log(json.Locations);
            if (json.Locations.length > 0) {
                for (i = 0; i < json.Locations.length; i++) {
                    var location = json.Locations[i];
                    addMarker(location, action);
                }
            }
        }).done(function () { fnLoadingClose(); }); ;
    }

    $(document).ready(function () {
        //        $("#map_canvas").css("width", $(window).width() - 215);
        //        $("#map_canvas").css("height", $(window).height() - 200);
        //        $("#map_canvas").css("width", 90%);
        //        $("#map_canvas").css("height", $(window).height() - 200);
        initialize();
    });

    //define grn icon as closed
    var greenicon = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';

    function addMarker(location, action) {
        //        console.log(location);
        var markerOptions = { map: map, title: location.name, position: new google.maps.LatLng(location.lat, location.lng) };
        var html = '<B>' + location.name + '</B><BR> <A href=javascript:fnDetail(this,"' + location.KEY + '",' + '"' + action + '")>Detail</A>  '; //</B><BR> Summitted: ' + location.datesummit + '<BR> By:' + location.summitlog;
        var marker = new google.maps.Marker(markerOptions);

        // add a listener to open an info window when a user clicks on one of the markers
        google.maps.event.addListener(marker, 'click', function () {
            infoWindow.close();
            infoWindow.setContent(html);
            infoWindow.open(map, marker);
        });
        markers.push(marker);
    }; // end of addmarker function

    function fnDetail(oThis, id, action) {
        // SDA
        if (action.toLowerCase() == "rawa") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/Rawa/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail Rawa"
            loadDetailDialogFromMapCustomControl(oThis, "divFormRAWA", "500px", "300px", "target")
        }
        else if (action.toLowerCase() == "sungai") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/Sungai/Detail/")' + id;
            oThis.title = "Detail Sungai"
            loadDetailDialogFromMapCustomControl(oThis, "divFormSungai", $(window).width() - 100, "300px", "target")
        }
        else if (action.toLowerCase() == "airtanah") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/AIRTANAH/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail Air Tanah"
            loadDetailDialogFromMapCustomControl(oThis, "divFormAIRTANAH", "500px", "300px", "target")
        }
        else if (action.toLowerCase() == "bendung") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/BENDUNG/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail BENDUNG"
            loadDetailDialogFromMapCustomControl(oThis, "divFormBENDUNG", $(window).width() - 75, "300px", "target")
        }
        else if (action.toLowerCase() == "bendungan") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/BENDUNGAN/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail BENDUNGAN"
            loadDetailDialogFromMapCustomControl(oThis, "divFormBENDUNGAN", $(window).width() - 50, "300px", "target")
        }
        else if (action.toLowerCase() == "embung") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/EMBUNG/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail EMBUNG"
            loadDetailDialogFromMapCustomControl(oThis, "divFormEMBUNG", $(window).width() - 300, "300px", "target")
        }
        else if (action.toLowerCase() == "embungpotensi") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/EMBUNGPOTENSI/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail EMBUNG POTENSI"
            loadDetailDialogFromMapCustomControl(oThis, "divFormEMBUNGPOTENSI", $(window).width() - 200, "300px", "target")
        }
        else if (action.toLowerCase() == "danau") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/Danau/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail Danau"
            loadDetailDialogFromMapCustomControl(oThis, "divFormDANAU", $(window).width() - 200, "300px", "target")
        }
        // END SDA

        // START BENCANA
        else if (action.toLowerCase() == "poskobanjir") {
            oThis.href = '@Url.Content("~/Bencana/POSKOBANJIR/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail POSKO BANJIR"
            loadDetailDialogFromMapCustomControl(oThis, "divFormPOSKOBANJIR", $(window).width() - 300, "300px", "target")
        }
        else if (action.toLowerCase() == "pospengamatbanjir") {
            oThis.href = '@Url.Content("~/Bencana/POSPENGAMAT/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail POS PENGAMAT"
            loadDetailDialogFromMapCustomControl(oThis, "divFormPOSPENGAMAT", $(window).width() - 450, "300px", "target")
        }
        else if (action.toLowerCase() == "daerahrawanbanjir") {
            oThis.href = '@Url.Content("~/Bencana/DAERAHRAWANBANJIR/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail DAERAH RAWAN BANJIR"
            loadDetailDialogFromMapCustomControl(oThis, "divFormDAERAHRAWANBANJIR", $(window).width() - 200, "300px", "target")
        }
        else if (action.toLowerCase() == "daerahrawankekeringan") {
            oThis.href = '@Url.Content("~/Bencana/DAERAHRAWANKEKERINGAN/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail DAERAH RAWAN KEKERINGAN"
            loadDetailDialogFromMapCustomControl(oThis, "divFormDAERAHRAWANKEKERINGAN", $(window).width() - 250, "300px", "target")
        }
        else if (action.toLowerCase() == "daerahrawanlongsor") {
            oThis.href = '@Url.Content("~/Bencana/DAERAHRAWANLONGSOR/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail DAERAH RAWAN LONGSOR"
            loadDetailDialogFromMapCustomControl(oThis, "divFormDAERAHRAWANLONGSOR", $(window).width() - 200, "300px", "target")
        }
        else if (action.toLowerCase() == "daerahgunungberapi") {
            oThis.href = '@Url.Content("~/Bencana/GUNUNGBERAPI/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail GUNUNG BERAPI"
            loadDetailDialogFromMapCustomControl(oThis, "divFormGUNUNGBERAPI", $(window).width() - 200, "300px", "target")
        }
        // END BENCANA
    }
    
</script>

Google -->
<!-- Open Layer -->
<script type="text/javascript" src='@Url.Content("~/Content/Plugins/lib/OpenLayers/OpenLayers.js")'></script>
<script src='@Url.Content("~/stream.js")' type="text/javascript"></script>
<script src='@Url.Content("~/shapefile.js")' type="text/javascript"></script>
<script src='@Url.Content("~/dbf.js")' type="text/javascript"></script>
@*<script src='@Url.Content("~/Content/Plugins/dbf.js")' type="text/javascript"></script>*@
<script type="text/javascript" src='@Url.Content("~/Content/Plugins/VectorLayer.js")'></script>
<!--[if IE]><script src="@Url.Content("~/Content/Plugins/lib/excanvas.js")"></script><![endif]-->
<script type="text/javascript">
    var map, mappingLayer, vectorLayer, selectMarkerControl, selectedFeature;
    var shpLayer, selectShapeFileControl, selectedShapeFileFeature;
    var worldLayer, selectWorldShapeFileControl, selectedWorldShapeFileFeature;
    var dbf = []; //stores in globalss
    var shp = []; //stores in global
    $(window).load(function () {
        $('#loading').hide();
    });

    function init() {
        map = new OpenLayers.Map('map');
        mappingLayer = new OpenLayers.Layer.OSM("OSM Map");
        map.addLayer(mappingLayer);

        worldLayer = new OpenLayers.Layer.Vector("Indonesia Layer", { projection: "EPSG:4326" });
        selectWorldShapeFileControl = new OpenLayers.Control.SelectFeature(worldLayer, { onSelect: onFeatureSelectWorld, onUnselect: onFeatureUnselectWorld });
        map.addControl(selectWorldShapeFileControl);
        selectWorldShapeFileControl.activate();
        var shapefileObjects = {};      //for the params
        //            shapefileObjects.shapeFile1 = {
        //                shp: '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/indonesia")' + ".shp"
        //                            , dbf: '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/indonesia")' + ".dbf"
        //            };
        //            renderShapeFiles(shapefileObjects, worldLayer);
        //            map.addLayer(worldLayer);

        shpLayer = new OpenLayers.Layer.Vector("WS Layer", { projection: "EPSG:4326" });
        selectShapeFileControl = new OpenLayers.Control.SelectFeature(shpLayer, { onSelect: onFeatureSelectSF, onUnselect: onFeatureUnselectSF });
        map.addControl(selectShapeFileControl);
        selectShapeFileControl.activate();
        map.addLayer(shpLayer);

        vectorLayer = new OpenLayers.Layer.Vector("Markers Layer", {
            projection: "EPSG:4326"
            //            , style: {
            //                externalGraphic: '@Url.Content("~/Content/Plugins/lib/OpenLayers/img/marker.png")',
            //                graphicWidth: 21,
            //                graphicHeight: 25,
            //                graphicYOffset: -24
            //            }
        });
        selectMarkerControl = new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: onFeatureSelect, onUnselect: onFeatureUnselect });
        map.addControl(selectMarkerControl);
        selectMarkerControl.activate();
        map.addLayer(vectorLayer);

        map.setCenter(
                new OpenLayers.LonLat(118.609810, -2.014744).transform(
                    new OpenLayers.Projection("EPSG:4326"),
                    map.getProjectionObject())
                , 5
            );
        //            map.addControl(new OpenLayers.Control.LayerSwitcher());
    }

    var arr = [
    { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/indonesia")', "name": "indonesia" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/bali_penida")', "name": "Bali Penida" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/buru")', "name": "Buru" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/lombok")', "name": "Lombok" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/einlanden_digul_bikuma")', "name": "einlanden_digul_bikuma" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/flores")', "name": "flores" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/flotin_kepulauan_lembata_alor")', "name": "flotin_kepulauan_lembata_alor" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/halmahera_selatan")', "name": "halmahera_selatan" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/halmahera_utara")', "name": "halmahera_utara" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/kamundan_sebyar")', "name": "kamundan_sebyar" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/kepulauan_kei_aru")', "name": "kepulauan_kei_aru" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/kepulauan_sula-obi")', "name": "kepulauan_sula-obi" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/kepulauan_yamdena_wetar")', "name": "kepulauan_yamdena_wetar" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/mamberamo_tami_apauvar")', "name": "mamberamo_tami_apauvar" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/omba")', "name": "omba" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/sumbawa")', "name": "sumbawa" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/wapoga_mimika")', "name": "wapoga_mimika" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/ws_benanain")', "name": "ws_benanain" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/ws_noelmina")', "name": "ws_noelmina" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/OneMapSDAB06/ws_sumba")', "name": "ws_sumba" }

    , { "url": '@Url.Content("~/Content/ShapeFiles/sda_b04_small/baru_bajulmati")', "name": "baru_bajulmati" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/sda_b04_small/bengawan_solo")', "name": "bengawan_solo" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/sda_b04_small/bodri_kuto")', "name": "bodri_kuto" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/sda_b04_small/bondoyudo_bedadung")', "name": "bondoyudo_bedadung" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/sda_b04_small/brantas")', "name": "brantas" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/sda_b04_small/cibaliung")', "name": "cibaliung" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/sda_b04_small/cidanau")', "name": "cidanau" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/sda_b04_small/ciliman")', "name": "ciliman" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/sda_b04_small/ciliwung")', "name": "ciliwung" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/sda_b04_small/cimanuk")', "name": "cimanuk" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/sda_b04_small/cisadea")', "name": "cisadea" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/sda_b04_small/citanduy")', "name": "citanduy" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/sda_b04_small/citarum")', "name": "citarum" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/sda_b04_small/ciwulan")', "name": "ciwulan" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/sda_b04_small/jratunseluna")', "name": "jratunseluna" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/sda_b04_small/kepulauan_madura")', "name": "kepulauan_madura" }
    , { "url": '@Url.Content("~/Content/ShapeFiles/sda_b04_small/pekalen_sampeyan")', "name": "pekalen_sampeyan" }

, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/aceh-meureudu")', "name": "aceh-meureudu" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/alas-singkil")', "name": "alas-singkil" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/bah-bolon")', "name": "bah-bolon" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/bangka")', "name": "bangka" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/barito")', "name": "barito" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/baru-kluet")', "name": "baru-kluet" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/barumun-kualuh")', "name": "barumun-kualuh" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/batam")', "name": "batam" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/batanghari")', "name": "batanghari" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/belawan-ular-padang")', "name": "belawan-ular-padang" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/belitung")', "name": "belitung" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/bengkalis-meranti")', "name": "bengkalis-meranti" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/bengkulu")', "name": "bengkulu" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/berau")', "name": "berau" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/bongka")', "name": "bongka" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/bt angkola-bt gadis")', "name": "bt angkola-bt gadis" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/bt natal- bt batahan")', "name": "bt natal- bt batahan" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/bukit batu")', "name": "bukit batu" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/buton")', "name": "buton" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/cengal")', "name": "cengal" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/dumoga")', "name": "dumoga" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/guntung-kateman")', "name": "guntung-kateman" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/indragiri")', "name": "indragiri" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/indragiri-akuaman")', "name": "indragiri-akuaman" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/jamboaye")', "name": "jamboaye" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/jelai")', "name": "jelai" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/jeneberang")', "name": "jeneberang" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/kahayan")', "name": "kahayan" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/kalukku")', "name": "kalukku" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/kampar")', "name": "kampar" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/kapuas")', "name": "kapuas" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/karangan")', "name": "karangan" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/karimun")', "name": "karimun" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/kayan")', "name": "kayan" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/kendilo")', "name": "kendilo" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/kepulauan-banggai")', "name": "kepulauan-banggai" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/kubu")', "name": "kubu" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/laa-tambalako")', "name": "laa-tambalako" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/lambunu")', "name": "lambunu" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/lasolo")', "name": "lasolo" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/limboto")', "name": "limboto" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/lingga")', "name": "lingga" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/mahakam")', "name": "mahakam" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/masang-pasaman")', "name": "masang-pasaman" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/mempawah")', "name": "mempawah" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/mentaya")', "name": "mentaya" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/mesuji")', "name": "mesuji" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/muna")', "name": "muna" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/musi")', "name": "musi" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/nasal")', "name": "nasal" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/natuna")', "name": "natuna" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/nias")', "name": "nias" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/paguyaman")', "name": "paguyaman" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/palu-lariang")', "name": "palu-lariang" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/parigi")', "name": "parigi" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/pase-peusangan")', "name": "pase-peusangan" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/pawan")', "name": "pawan" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/pengabuan-lagan")', "name": "pengabuan-lagan" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/poigar")', "name": "poigar" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/poleang")', "name": "poleang" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/pompengan")', "name": "pompengan" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/pulau-laut")', "name": "pulau-laut" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/randangan")', "name": "randangan" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/rawa")', "name": "rawa" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/reteh")', "name": "reteh" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/rokan")', "name": "rokan" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/saddang")', "name": "saddang" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/sambas")', "name": "sambas" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/sebelat")', "name": "sebelat" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/semangka")', "name": "semangka" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/seputih")', "name": "seputih" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/seruyan")', "name": "seruyan" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/sesayap")', "name": "sesayap" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/siak")', "name": "siak" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/siberut")', "name": "siberut" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/sibundong-barang toru")', "name": "sibundong-barang toru" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/silaut")', "name": "silaut" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/simeulue")', "name": "simeulue" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/tamiang-langsa")', "name": "tamiang-langsa" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/teramang")', "name": "teramang" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/teunom-lambeuso")', "name": "teunom-lambeuso" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/toba-asahan")', "name": "toba-asahan" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/tondano")', "name": "tondano" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/towari")', "name": "towari" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/walanae")', "name": "walanae" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/wampu-besitang")', "name": "wampu-besitang" }
, { "url": '@Url.Content("~/Content/ShapeFiles/ws_wilbar/woyla-bateue")', "name": "woyla-bateue" }

        ];

    jQuery(document).ready(function () {
        window.load = init();

        $.each(arr, function (key, value) {
            $('#sltWS').append($("<option></option>").attr("value", key).text(value.name));
        });

        //Add a selector control to the vectorLayer with popup functions
        var controls = {
            selector: new OpenLayers.Control.SelectFeature([worldLayer, vectorLayer, shpLayer]/*, { onSelect: createPopup, onUnselect: destroyPopup }*/)
        };

        vectorLayer.events.on({
            "featureselected": createPopup,
            "featureunselected": destroyPopup
        });
        shpLayer.events.on({
            "featureselected": createShapeFilePopup,
            "featureunselected": destroyShapeFilePopup
        });

        worldLayer.events.on({
            "featureselected": createWorldShapeFilePopup,
            "featureunselected": destroyWorldShapeFilePopup
        });


        function showStatus(text) {
            document.getElementById("status").innerHTML = text;
        }

        function createPopup(e) {
            var feature = e.feature;
            feature.popup = new OpenLayers.Popup.FramedCloud("pop",
          feature.geometry.getBounds().getCenterLonLat(),
          null,
          '<div class="markerContent">' + feature.data.salutation + '</div>',
          null,
          true,
          function () { controls['selector'].unselectAll(); }
      );
            map.addPopup(feature.popup);
        }

        function destroyPopup(e) {
            var feature = e.feature;
            feature.popup.destroy();
            feature.popup = null;
        }

        map.addControl(controls['selector']);
        controls['selector'].activate();

        function createShapeFilePopup(e) {
            var feature = e.feature;
            feature.popup = new OpenLayers.Popup.FramedCloud("pop",
                      feature.geometry.getBounds().getCenterLonLat(),
                      null,
                      '<div class="markerContent">' + ValuesToTable(feature.data) + '</div>',
                      null,
                      true,
                      function () { controls['selector'].unselectAll(); }
                  );
            //feature.popup.closeOnMove = true;
            map.addPopup(feature.popup);
        }

        function destroyShapeFilePopup(e) {
            var feature = e.feature;
            feature.popup.destroy();
            feature.popup = null;
        }


        function createWorldShapeFilePopup(e) {
            var feature = e.feature;
            feature.popup = new OpenLayers.Popup.FramedCloud("pop",
                      feature.geometry.getBounds().getCenterLonLat(),
                      null,
                      '<div class="markerContent">' + ValuesToTable(feature.data) + '</div>',
                      null,
                      true,
                      function () { controls['selector'].unselectAll(); }
                  );
            //feature.popup.closeOnMove = true;
            map.addPopup(feature.popup);
        }

        function destroyWorldShapeFilePopup(e) {
            var feature = e.feature;
            feature.popup.destroy();
            feature.popup = null;
        }
    });

    function ValuesToTable(values) {
        var luas = values.LUAS_KM2 ? values.LUAS_KM2 : values.LUAS;
        var result = "<table>" +
                "<tr><td>Kewenangan</td><td>:</td><td>" + values.KEWENANGAN + "</td></tr>" +
                "<tr><td>Kode</td><td>:</td><td>" + values.KODE_WS + "</td></tr>" +
                "<tr><td>Luas (KM2)</td><td>:</td><td>" + luas + "</td></tr>" +
                "<tr><td>Provinsi</td><td>:</td><td>" + values.PROVINSI + "</td></tr>" +
                "<tr><td>Status</td><td>:</td><td>" + values.STATUS + "</td></tr>" +
                "<tr><td>WS</td><td>:</td><td>" + values.WS + "</td></tr>" +
            "</table>";
        return result;
    }

    $("#btnWS").click(function () {
        $('#loading').show();
        var val = $("#sltWS").val();
        closePopups();
        shpLayer.removeAllFeatures();
        vectorLayer.removeAllFeatures();

        //            new DBF(arr[val].url + ".dbf", function (data) {
        //                console.log(data);
        //                parserWS = new OpenLayers.Format.GeoJSON();
        //                var fs = parserWS.read(data.geojson);
        //                console.log(fs);
        //                var fsLen = fs.length;
        //                var inProj = new OpenLayers.Projection('EPSG:4326');
        //                var outProj = new OpenLayers.Projection('EPSG:3857');
        //                for (var i = 0; i < fsLen; i++) {
        //                    fs[i].geometry = fs[i].geometry.transform(inProj, outProj);
        //                }
        //                shpLayer.addFeatures(fs);
        //                $('#loading').hide();
        //            });

        new Shapefile({
            shp: arr[val].url + ".shp",
            dbf: arr[val].url + ".dbf"
        }, function (data) {
            var x = "118.609810";
            var y = "-2.014744";
            var zoomin = 5
            if (val != 0) {
                x = data.records[0].points[0].x;
                y = data.records[0].points[0].y;
                zoomin = 7;
            }

            map.setCenter(
                                new OpenLayers.LonLat(x, y).transform(
                                    new OpenLayers.Projection("EPSG:4326"),
                                    map.getProjectionObject())
                                , zoomin
                            );

            parserWS = new OpenLayers.Format.GeoJSON();
            var fs = parserWS.read(data.geojson);
            var fsLen = fs.length;

            var inProj = new OpenLayers.Projection('EPSG:4326');
            var outProj = new OpenLayers.Projection('EPSG:3857');
            for (var i = 0; i < fsLen; i++) {
                fs[i].geometry = fs[i].geometry.transform(inProj, outProj);
            }
            //            
            shpLayer.addFeatures(fs);
            $('#loading').hide();

            if ($("#ddlPeta").val() == "sda") {
                GetMarkerSDA();
            }
            else if ($("#ddlPeta").val() == "bencana") {
                GetMarkerBencana();
            }
            else if ($("#ddlPeta").val() == "hidrologi") {
                GetMarkerHidrologi();
            }
            else if ($("#ddlPeta").val() == "all") {
                GetMarkerSDA();
                GetMarkerBencana();
                GetMarkerHidrologi();
            }
            else {
                GetMarker($("#ddlPeta").val());
            }
        });
    });

    function GetMarkerSDA() {
        GetMarker("sungai");
        GetMarker("airtanah");
        GetMarker("bendung");
        GetMarker("bendungan");
        GetMarker("embung");
        GetMarker("embungpotensi");
        GetMarker("danau");
        GetMarker("rawa");
    }
    function GetMarkerBencana() {
        GetMarker("poskobanjir");
        GetMarker("pospengamatbanjir");
        GetMarker("daerahrawanbanjir");
        GetMarker("daerahrawankekeringan");
        GetMarker("daerahrawanlongsor");
        GetMarker("daerahgunungberapi");
    }

    function GetMarkerHidrologi() {
        GetMarker("poshujan");
        GetMarker("posdugaair");
        GetMarker("posklimatologi");
    }

    function GetMarker(action) {
        $.getJSON('@Url.Action("AllMap", "Map")' + "?action=" + action, function (json) {
            //            console.log(json);
            //            console.log($("#ddlPeta").val());
            //console.log(json.Locations);
            if (json.Locations.length > 0) {
                for (i = 0; i < json.Locations.length; i++) {
                    var location = json.Locations[i];
                    placeMarker(location.lat, location.lng, location);
                }
            }
        });
    }


    function closePopups() {
        // Make sure the loop terminates...
        var maxIterations = 100;

        while (map.popups.length && --maxIterations) {
            var popup = map.popups[0];
            map.removePopup(popup);
            popup.destroy();
        }
    }

    // Drop Down Peta
    var qryStr = "";
    $("#btnView").click(function () {
        closePopups();
        $("#btnWS").click();

        $('#loading').show();
        qryStr = "";
        var Action = $("#ddlPeta").val();
        var Year = $("#txtYear").val();
        var Year2 = $("#txtYear2").val();
        var Range = $("#txtRange").val();
        var Range2 = $("#txtRange2").val();
        if ((Action == "-1") || Year == "") {
            alert("Harap isi tahun dan pilih program");
            $('#loading').hide();

            return;
        }
        //            if (Action) {
        qryStr = qryStr + "?KdKeg=" + Action;
        //            }
        if (Year) {
            qryStr = qryStr + "&year=" + Year;
        }
        if (Year2) {
            qryStr = Year == "" ? qryStr + "&year=" + "," + Year2 : qryStr + "," + Year2;
        }
        if (Range) {
            qryStr = qryStr + "&Range=" + Range;
        }
        if (Range2) {
            qryStr = Range == "" ? qryStr + "&Range=" + "," + Range2 : qryStr + "," + Range2;
        }

        console.log(qryStr);

        fnBtnViewClick(Action, Year);
    });

    function fnBtnViewClick(action, year) {
        var jqxhr = $.getJSON('@Url.Content("~/Handlers/Home1Handler.ashx")' + qryStr + "&oper=getposition", function (json) {//+ "?KdKeg=" + action + "&year=" + year, function (json) {
            if (json.paketResult.length > 0) {
                vectorLayer.removeAllFeatures();

                for (i = 0; i < json.paketResult.length; i++) {
                    var result = json.paketResult[i];
                    var paket = [];
                    paket.Kddept = result.Kddept;
                    paket.Kdsatker = result.Kdsatker;
                    paket.Kdpaket = result.Kdpaket;
                    paket.Kdspaket = result.Kdspaket;
                    paket.KdKeg = result.KdKeg;
                    paket.revpok = result.revpok;
                    paket.Tglmulai = result.Tglmulai;
                    paket.Tglselesai = result.Tglselesai;
                    //                        paket.dlat = result.DegreeLatitude;
                    //                        paket.dlon = result.DegreeLongitude;
                    placeMarker(result.Latitude, result.Longitude, result.Nmpaket, paket);
                }
                //                $("#divPagu").css("display", "block");
                //                $("#lblTotalPagu").text(json.pagu);
                //                $("#lblTotalRealisasi").text(json.realisasi);
            }
            else {
                alert('Data not found');
                //                $("#divPagu").css("display", "none");
                //                $("#lblTotalPagu").text("");
                //                $("#lblTotalRealisasi").text("");
            }
        });

        jqxhr.complete(function () {
            $('#loading').hide()
        });
    }


    function fnDetail(oThis, id, action) {
        // SDA
        if (action.toLowerCase() == "rawa") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/Rawa/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail Rawa"
            loadDetailDialogFromMapCustomControl(oThis, "divFormRAWA", "500px", "300px", "target")
        }
        else if (action.toLowerCase() == "sungai") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/Sungai/Detail/")' + id;
            oThis.title = "Detail Sungai"
            loadDetailDialogFromMapCustomControl(oThis, "divFormSungai", $(window).width() - 100, "300px", "target")
        }
        else if (action.toLowerCase() == "airtanah") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/AIRTANAH/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail Air Tanah"
            loadDetailDialogFromMapCustomControl(oThis, "divFormAIRTANAH", "500px", "300px", "target")
        }
        else if (action.toLowerCase() == "bendung") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/BENDUNG/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail BENDUNG"
            loadDetailDialogFromMapCustomControl(oThis, "divFormBENDUNG", $(window).width() - 75, "300px", "target")
        }
        else if (action.toLowerCase() == "bendungan") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/BENDUNGAN/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail BENDUNGAN"
            loadDetailDialogFromMapCustomControl(oThis, "divFormBENDUNGAN", $(window).width() - 50, "300px", "target")
        }
        else if (action.toLowerCase() == "embung") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/EMBUNG/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail EMBUNG"
            loadDetailDialogFromMapCustomControl(oThis, "divFormEMBUNG", $(window).width() - 300, "300px", "target")
        }
        else if (action.toLowerCase() == "embungpotensi") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/EMBUNGPOTENSI/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail EMBUNG POTENSI"
            loadDetailDialogFromMapCustomControl(oThis, "divFormEMBUNGPOTENSI", $(window).width() - 200, "300px", "target")
        }
        else if (action.toLowerCase() == "danau") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/Danau/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail Danau"
            loadDetailDialogFromMapCustomControl(oThis, "divFormDANAU", $(window).width() - 200, "300px", "target")
        }
        // END SDA

        // START BENCANA
        else if (action.toLowerCase() == "poskobanjir") {
            oThis.href = '@Url.Content("~/Bencana/POSKOBANJIR/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail POSKO BANJIR"
            loadDetailDialogFromMapCustomControl(oThis, "divFormPOSKOBANJIR", $(window).width() - 300, "300px", "target")
        }
        else if (action.toLowerCase() == "pospengamatbanjir") {
            oThis.href = '@Url.Content("~/Bencana/POSPENGAMAT/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail POS PENGAMAT"
            loadDetailDialogFromMapCustomControl(oThis, "divFormPOSPENGAMAT", $(window).width() - 450, "300px", "target")
        }
        else if (action.toLowerCase() == "daerahrawanbanjir") {
            oThis.href = '@Url.Content("~/Bencana/DAERAHRAWANBANJIR/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail DAERAH RAWAN BANJIR"
            loadDetailDialogFromMapCustomControl(oThis, "divFormDAERAHRAWANBANJIR", $(window).width() - 200, "300px", "target")
        }
        else if (action.toLowerCase() == "daerahrawankekeringan") {
            oThis.href = '@Url.Content("~/Bencana/DAERAHRAWANKEKERINGAN/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail DAERAH RAWAN KEKERINGAN"
            loadDetailDialogFromMapCustomControl(oThis, "divFormDAERAHRAWANKEKERINGAN", $(window).width() - 250, "300px", "target")
        }
        else if (action.toLowerCase() == "daerahrawanlongsor") {
            oThis.href = '@Url.Content("~/Bencana/DAERAHRAWANLONGSOR/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail DAERAH RAWAN LONGSOR"
            loadDetailDialogFromMapCustomControl(oThis, "divFormDAERAHRAWANLONGSOR", $(window).width() - 200, "300px", "target")
        }
        else if (action.toLowerCase() == "daerahgunungberapi") {
            oThis.href = '@Url.Content("~/Bencana/GUNUNGBERAPI/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail GUNUNG BERAPI"
            loadDetailDialogFromMapCustomControl(oThis, "divFormGUNUNGBERAPI", $(window).width() - 200, "300px", "target")
        }
        // END BENCANA


        // START Hidrologi
        else if (action.toLowerCase() == "poshujan") {
            oThis.href = '@Url.Content("~/Hidrologi/poshujan/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail POS HUJAN"
            loadDetailDialogFromMapCustomControl(oThis, "divFormposhujan", 500, "300px", "target")
        }
        else if (action.toLowerCase() == "posdugaair") {
            oThis.href = '@Url.Content("~/Hidrologi/posdugaair/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail POS DUGA AIR"
            loadDetailDialogFromMapCustomControl(oThis, "divFormposdugaair", 500, "300px", "target")
        }
        else if (action.toLowerCase() == "posklimatologi") {
            oThis.href = '@Url.Content("~/Hidrologi/posklimatologi/Detail/")' + id + "?method=Detail";
            oThis.title = "Detail POS KLIMATOLOGI"
            loadDetailDialogFromMapCustomControl(oThis, "divFormposklimatologi", 500, "300px", "target")
        }
        // END Hidrologi
    }

    function ToJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
    }

    function renderShapeFiles(param, vectorLayer) {
        if (dbf.length == 0 && param != null) {
            for (var key in param) {
                dbf.push(param[key].dbf);
                shp.push(param[key].shp);
            }
        }

        if (dbf.length > 0) {
            var dbfFile = dbf.splice(0, 1);
            var shpFile = shp.splice(0, 1);

            var shapefile = new Shapefile({
                shp: shpFile,
                dbf: dbfFile
            }, function (data) {
                parser = new OpenLayers.Format.GeoJSON();

                var fs = parser.read(data.geojson);

                var fsLen = fs.length;
                var inProj = new OpenLayers.Projection('EPSG:4326');
                var outProj = new OpenLayers.Projection('EPSG:3857');
                for (var i = 0; i < fsLen; i++) {
                    fs[i].geometry = fs[i].geometry.transform(inProj, outProj);
                }
                vectorLayer.addFeatures(fs);
                //recurse
                renderShapeFiles(null, vectorLayer);
            });
        }
    }

</script>
