﻿@model L.PDSDA.DAL.Entities.AIRTANAH_DYN
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(function () {
        $("fieldset").find('input, textarea, button, select').attr('disabled', 'disabled');

    });
</script>
<fieldset>
    <legend>AIRTANAH_DYN</legend>
    <table>
        <tr>
            <td class="editor-label">
                Tahun Data
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.TAHUN_DATA)
                @Html.ValidationMessageFor(model => model.TAHUN_DATA)
            </td>
            <td class="editor-label">
                Jenis Pompa
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.JENIS_POMPA)
                @Html.ValidationMessageFor(model => model.JENIS_POMPA)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Debit Pompa
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.DEBIT_POMPA)
                @Html.ValidationMessageFor(model => model.DEBIT_POMPA)
            </td>
            <td class="editor-label">
                Service Water Level
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.SWL)
                @Html.ValidationMessageFor(model => model.SWL)
            </td>
        </tr>
        <tr>
            <td>
                Rumah Tangga (KK)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Manfaat Rencana
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.RENC_RT)
                @Html.ValidationMessageFor(model => model.RENC_RT)
            </td>
            <td class="editor-label">
                Manfaat Aktual
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.MANF_AIR)
                @Html.ValidationMessageFor(model => model.MANF_AIR)
            </td>
        </tr>
        <tr>
            <td>
                Irigasi
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Manfaat Rencana
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.RENC_IRIGASI)
                @Html.ValidationMessageFor(model => model.RENC_IRIGASI)
            </td>
            <td class="editor-label">
                Manfaat Aktual
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.MANF_IRIGASI)
                @Html.ValidationMessageFor(model => model.MANF_IRIGASI)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Pengguna
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.PENGGUNA)
                @Html.ValidationMessageFor(model => model.PENGGUNA)
            </td>
            <td class="editor-label">
                @Html.LabelFor(model => model.IP)
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.IP)
                @Html.ValidationMessageFor(model => model.IP)
            </td>
        </tr>
        <tr>
            <td>
                Masa Tanam I
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <table>
                    <tr>
                        <td class="editor-label">
                            Padi
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.MT1_PD)
                            @Html.ValidationMessageFor(model => model.MT1_PD)
                        </td>
                        <td class="editor-label">
                            Palawija
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.MT1_PL)
                            @Html.ValidationMessageFor(model => model.MT1_PL)
                        </td>
                        <td class="editor-label">
                            Lainnya
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.MT1_LAIN)
                            @Html.ValidationMessageFor(model => model.MT1_LAIN)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                Masa Tanam II
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <table>
                    <tr>
                        <td class="editor-label">
                            Padi
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.MT2_PD)
                            @Html.ValidationMessageFor(model => model.MT2_PD)
                        </td>
                        <td class="editor-label">
                            Palawija
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.MT2_PL)
                            @Html.ValidationMessageFor(model => model.MT2_PL)
                        </td>
                        <td class="editor-label">
                            Lainnya
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.MT2_LAIN)
                            @Html.ValidationMessageFor(model => model.MT2_LAIN)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                Masa Tanam III
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <table>
                    <tr>
                        <td class="editor-label">
                            Padi
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.MT3_PD)
                            @Html.ValidationMessageFor(model => model.MT3_PD)
                        </td>
                        <td class="editor-label">
                            Palawija
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.MT3_PL)
                            @Html.ValidationMessageFor(model => model.MT3_PL)
                        </td>
                        <td class="editor-label">
                            Lainnya
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.MT3_LAIN)
                            @Html.ValidationMessageFor(model => model.MT3_LAIN)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Jumlah @Html.LabelFor(model => model.P3A)
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.P3A)
                @Html.ValidationMessageFor(model => model.P3A)
            </td>
            <td class="editor-label">
                Status P3A
            </td>
            <td class="editor-field">
                @* @Html.EditorFor(model => model.STATUS)*@ @*@Html.ValidationMessageFor(model => model.STATUS)*@
                @Html.DropDownListFor(x => x.STATUS, ViewBag.collP3A as IList<SelectListItem>)
                @Html.ValidationMessageFor(x => x.STATUS)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Jumlah Anggota
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.ANGGOTA)
                @Html.ValidationMessageFor(model => model.ANGGOTA)
            </td>
            <td class="editor-label">
                Jumlah Badan Hukum
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.BADAN_HUKUM)
                @Html.ValidationMessageFor(model => model.BADAN_HUKUM)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Keterangan
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.KETERANGAN)
                @Html.ValidationMessageFor(model => model.KETERANGAN)
            </td>
        </tr>
    </table>
</fieldset>
