﻿@*@model IEnumerable<L.PDSDA.DAL.Entities.AIRTANAH_DYN>
@{
    ViewBag.Title = "Air Tanah";
    //Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    var separator = "|";
}*@
<script type="text/javascript" language="javascript">
    function fnCreate2(oThis) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/AIRTANAHDYN/Create/")';
        oThis.title = "Create AIRTANAH"
        //        loadDialog(oThis, '#AIRTANAHInfo');
        loadDefaultDialogCustomControl(oThis, "divFormAIRTANAHDYN", "500px", "300px", "target", oTable2)

    }

    function fnEdit2(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/AIRTANAHDYN/Edit/")' + id;
        oThis.title = "Edit AIRTANAH"
        //        loadDialog(oThis, '#AIRTANAHInfo');
        loadDefaultDialogCustomControl(oThis, "divFormAIRTANAHDYN", "500px", "300px", "target", oTable2)

    }

    function fnDelete2(oThis, id) {
        //        var link = oThis.href;
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/AIRTANAHDYN/Delete/")' + id;
        oThis.title = "Delete AIRTANAH"
        if (confirm("Are you sure that you want to delete this data?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        //                        oTable2.fnDraw();
                        alert(data.message);
                        //                        window.location.reload(true);
                        oTable2.fnDraw()
                    }
                    else {
                        alert(data.message);
                        //                        window.location.reload(true);
                        oTable2.fnDraw()

                    }
                    //                        $(link).parents("tr").remove();
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    }

    //    $(function () {
    //        $("table.display").dataTable(
    //        {
    //            "sScrollX": "200px",
    //            "bScrollCollapse": true, "bJQueryUI": true,
    //            "sPaginationType": "full_numbers",
    //            "aoColumnDefs": [
    //      { "sWidth": "200px", "aTargets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] }
    //    ]
    //        });
    //    });        /* end document.ready() */


    var oTable2;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        //            oTable2 =.dataTable();
        oTable2 = $("table.display").dataTable(
        {
            //            "sScrollX": "100%",
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/Sumber_Daya_Air/AIRTANAHDYN/LoadAllData/")'+"?k_airtanah="+$().val(),
            "aoColumns": [{ "mData": "KEY", "sClass": "center" },{ "mData": "NO_SUMUR" }, { "mData": "TAHUN_DATA" }, { "mData": "JENIS_POMPA" }, { "mData": "DEBIT_POMPA" }],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True") {

                        var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-trash"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            //                            alert(oData);
                            fnDelete(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }


                    if (IsUpdateable == "True") {
                        var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-wrench"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            //                            alert(oData.KEY);
                            fnEdit(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });
    });
</script>
<!-- <h2>
    @ViewBag.BreadCrumbs</h2> -->
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display">
    <thead>
        <tr>
            <th>
            </th>
            <th>
            No Sumur
            </th>
            <th>
                TAHUN_DATA
            </th>
            <th>
                JENIS_POMPA
            </th>
            <th>
                DEBIT_POMPA
            </th>
            @*<th>
            SWL
        </th>
        <th>
            RENC_RT
        </th>
        <th>
            RENC_IRIGASI
        </th>
        <th>
            MANF_AIR
        </th>
        <th>
            MANF_IRIGASI
        </th>
        <th>
            PENGGUNA
        </th>
        <th>
            MT1_PD
        </th>
        <th>
            MT1_PL
        </th>
        <th>
            MT1_LAIN
        </th>
        <th>
            MT2_PD
        </th>
        <th>
            MT2_PL
        </th>
        <th>
            MT2_LAIN
        </th>
        <th>
            MT3_PD
        </th>
        <th>
            MT3_PL
        </th>
        <th>
            MT3_LAIN
        </th>
        <th>
            IP
        </th>
        <th>
            P3A
        </th>
        <th>
            ANGGOTA
        </th>
        <th>
            BADAN_HUKUM
        </th>
        <th>
            STATUS
        </th>
        <th>
            KETERANGAN
        </th>*@
        </tr>
    </thead>
    @*<tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
                <td>
                    @item.TAHUN_DATA
                </td>
                <td>
                    @item.JENIS_POMPA
                </td>
                <td>
                    @String.Format("{0:F}", item.DEBIT_POMPA)
                </td>
                <td>
                    @String.Format("{0:F}", item.SWL)
                </td>
                <td>
                    @String.Format("{0:F}", item.RENC_RT)
                </td>
                <td>
                    @String.Format("{0:F}", item.RENC_IRIGASI)
                </td>
                <td>
                    @String.Format("{0:F}", item.MANF_AIR)
                </td>
                <td>
                    @String.Format("{0:F}", item.MANF_IRIGASI)
                </td>
                <td>
                    @item.PENGGUNA
                </td>
                <td>
                    @String.Format("{0:F}", item.MT1_PD)
                </td>
                <td>
                    @String.Format("{0:F}", item.MT1_PL)
                </td>
                <td>
                    @String.Format("{0:F}", item.MT1_LAIN)
                </td>
                <td>
                    @String.Format("{0:F}", item.MT2_PD)
                </td>
                <td>
                    @String.Format("{0:F}", item.MT2_PL)
                </td>
                <td>
                    @String.Format("{0:F}", item.MT2_LAIN)
                </td>
                <td>
                    @String.Format("{0:F}", item.MT3_PD)
                </td>
                <td>
                    @String.Format("{0:F}", item.MT3_PL)
                </td>
                <td>
                    @String.Format("{0:F}", item.MT3_LAIN)
                </td>
                <td>
                    @String.Format("{0:F}", item.IP)
                </td>
                <td>
                    @item.P3A
                </td>
                <td>
                    @item.ANGGOTA
                </td>
                <td>
                    @item.BADAN_HUKUM
                </td>
                <td>
                    @item.STATUS
                </td>
                <td>
                    @item.KETERANGAN
                </td>
            </tr>
        }
    </tbody>*@
</table>
