﻿@{
    ViewBag.Title = "GeoJSON";
    Layout = "";
}
<div id="scriptlink">
    <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="~/Content/favicon.ico">
    <link rel="apple-touch-icon" href="~/Content/apple-touch-icon.png">
    <!-- CSS : implied media="all" -->
    <link rel="stylesheet" href="~/Content/style.css?v=1">
    <link rel="stylesheet" href="@Url.Content("~/theme/default/style.css?v=1")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/openlayers.css?v=1")" />
    <!-- For the less-enabled mobile browsers like Opera Mini -->
    <link rel="stylesheet" media="handheld" href="~/Content/handheld.css?v=1">
    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-1.5.min.js")"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script>        !window.jQuery && document.write('<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js?v=1")><\/script>')</script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/plugins.js?v=1")"></script>
    <!--[if lt IE 7 ]>
    <script src="js/dd_belatedpng.js?v=1"></script>
    <![endif]-->
    <script type="text/javascript" src="@Url.Content("~/lib/OpenLayers.js?v=1")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ol/SelectFeatureEx.js?v=1")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ol/LoadingPanel.js?v=1")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ol/Resources.js?v=1")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/rx.js?v=1")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/rx.OpenLayers.js?v=1")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/script_geojs.js?v=1")"></script>
    <!-- yui profiler and profileviewer - remove for production -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/profiling/yahoo-profiling.min.js?v=1")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/profiling/config.js?v=1")"></script>
</div>
<h2>
    GeoJSON</h2>
<div style="width: 70%;">
    <div id="map">
    </div>
</div>
