﻿@*<meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<title></title>
<meta name="description">
<meta name="description">
<meta name="author">
<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" name="viewport">
<link href="../Content/favicon.ico" rel="shortcut icon">
<link href="../Content/apple-touch-icon.png" rel="apple-touch-icon">
*@ @*<link rel="stylesheet" href="@Url.Content("~/theme/default/style.css?v=1")" />
<link rel="stylesheet" href="@Url.Content("~/Content/openlayers.css?v=1")" />
<script type="text/javascript" src="@Url.Content("~/lib/OpenLayers.js?v=1")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ol/SelectFeatureEx.js?v=1")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ol/LoadingPanel.js?v=1")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ol/Resources.js?v=1")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/rx.js?v=1")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/rx.OpenLayers.js?v=1")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/script_geojs.js?v=1")"></script>*@
@{
    ViewBag.Title = "Home Page";
}
@*<!-- <h2>@ViewBag.Message</h2> -->*@
<!-- <h2>
    @ViewBag.BreadCrumbs</h2> -->
@*<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>*@
<div id="map">
</div>
<style>
    object
    {
        position: inherit;
        left: 0px;
        top: 0px;
        z-index: -1;
    }
</style>
<div style="height: 500px; z-index: 10;">
    @*@SilverlightHelper.Silverlight("~/ClientBin/L.PDSDA.Ext.xap", "5.0")*@
</div>
