﻿@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
TEST BOS
@using (Html.BeginForm("Upload", "Test", FormMethod.Post, new { enctype = "multipart/form-data" }))
{   
    <input type="file" id="testUpload" name="testUpload" />
    <input type="submit" id="btnSubmit" value="Test" />
}
