﻿@{
    ViewBag.Title = "vpIFrame";
    Layout = "~/Views/Shared/_PDSDALayout.cshtml";
}
<h2>
    vpIFrame</h2>
<iframe width="100%" scrolling="auto" src="@Url.Content("~/Reports/WebReportViewier/ReportViewerForm.aspx")">
</iframe>
