﻿@*@if (Request.IsAuthenticated)
{
    <text>Welcome <b>@Context.User.Identity.Name</b>! [ @Html.ActionLink("Log Off", "LogOff", "User", new { area = "" }, null)
    ]</text>
}
else
{
    @:[ @Html.ActionLink("Log On", "LogOn", "User", new { area = "" }, null) ]
}
*@
<script language="javascript" type="text/javascript">
    //    $(function () {

    function fnLoadBalai(oThis, kodebalai) {
        oThis.href = '@Url.Content("~/ViewBalai/ViewIndex/")' + "?kodebalai=" + kodebalai;
        oThis.title = "Data Balai " + kodebalai;
        loadDialogAssign(oThis, '#BalaiInfo');
    }

    //    });
</script>
@using L.PDSDA.DAL.Entities;
@using L.PDSDA.DAL.Repositories.Base;
@{
    
    var User = Session["UserLoggedIn"] as L.PDSDA.DAL.Entities.User;
}
@if (User != null)
{
    <text>Welcome <b>@User.Firstname @User.Lastname</b>! [ @Html.ActionLink("Profil", "ChangePassword", "User", new { area = "" }, null)
    ][ @Html.ActionLink("Log Off", "LogOff", "User", new { area = "" }, null)
    ]
    <br />
    @{
    IDictionary<string, string> dictBalai = new Dictionary<string, string>();
    //IList<string> sBalais = new List<string>();
    User usr = new DefaultRepository<User>().Get(x => x.Username.Equals(User.Username)).FirstOrDefault();
    if (usr != null)
    {

        IList<Group> collGroup = usr.Groups;
        foreach (Group grp in collGroup)
        {
            if (grp != null)
            {
                IList<BALAI> collBalai = grp.BALAIs;
                foreach (BALAI balai in collBalai)
                {
                    if (balai != null)
                    {
                        if (!dictBalai.ContainsKey(balai.KodeBalai))
                        {
                            dictBalai.Add(balai.KodeBalai, balai.NamaBalai);
                        }
                        //sBalais.Add(balai.NamaBalai);
                    }
                }
            }
        }
        <ul>
            @foreach (KeyValuePair<string, string> item in dictBalai)
            {
                <li><a href="javascript:fnLoadBalai(this,'@item.Key')">@item.Value</a></li>
            }
        </ul>
    }
    }
    </text>
  
}
else
{
    @:[ @Html.ActionLink("Log On", "LogOn", "User", new { area = "" }, null) ]
}
