﻿@*<!DOCTYPE html>*@
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        @{
            ViewBag.Title = "Pengolah Data Sumber Daya Air - Pekerjaan Umum";
        }
        @ViewBag.Title
    </title>@*<meta charset="utf-8" />*@
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width" />
    <link rel="stylesheet" href="@Url.Content("~/Content/style.responsive.css")" media="all" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/redmond/jquery-ui-1.10.2.custom.min.css")" media="all" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/mystyles.css")" media="all" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.dataTables.css")" media="all" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.dataTables_themeroller.css")" media="all" />
    @*<link rel="stylesheet" href="@Url.Content("~/Content/css/superfish.css")" media="all" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/jqueryslidemenu.css")" />


    <style>
        .backgroundimage {
            min-height: 70px !important;
        }

        .logo {
            padding-top: 0px !important;
            padding-left: 15px;
        }

            .logo img {
                height: 70px !important;
                width: 60px !important;
                padding: 0px !important;
            }

        #header {
            margin-top: 0px !important;
        }

        #breadcrumbs h3 {
            color: orange;
        }

        #breadcrumbs {
            border-left: 9px solid #3BABD0;
            border-right: 9px solid #3BABD0;
        }

        #menucontainer {
            border-left: 0px !important;
            border-right: 0px !important;
        }

        #map {
            height: 450px !important;
        }

        .titleText {
            float: right;
            width: 250px;
            padding-left: 20px;
            color: white;
            font-variant: petite-caps;
        }

        #footer {
            font-size: small;
            padding: 15px 0 25px 0 !important;
        }

        #logindisplay ul {
            list-style-type: none;
        }
    </style>


    <script src="@Url.Content("~/Content/js/jquery-1.9.1.js")" type="text/javascript"></script>
    @* <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Content/js/jquery-ui-1.10.2.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery.dataTables.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
    <script type="text/javascript" language="javascript">
        var arrowimages = { down: ['downarrowclass', '@Url.Content("~/Content/images/down.gif")', 23], right: ['rightarrowclass', '@Url.Content("~/Content/images/right.gif")'] }

        // myjs
        initialized("@Request.ApplicationPath");

        // initialise plugins
        //$(function () { $('#superfishnav').superfish({}); });
    </script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jqueryslidemenu.js")"></script>
    @*<script src="@Url.Content("~/Content/js/backgroundcolor.js")" type="text/javascript"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Silverlight.js")"></script>
    @*<script src="@Url.Content("~/Content/js/backgroundcolor.js")" type="text/javascript"></script>*@
    @*<script src="@Url.Content("~/Content/js/hoverIntent.js")" type="text/javascript" />
        <script src="@Url.Content("~/Content/js/superfish.js")" type="text/javascript" />*@
    <!--[if lte IE 7]>
    <script src="@Url.Content("~/Content/js/json2.js")" type="text/javascript"></script>
    <style type="text/css">.jqueryslidemenu{z-index:10;position:relative;} /*Holly Hack for IE7 and below*/</style>
    <![endif]-->
    @*<script src="@Url.Content("~/Content/js/json2.js")" type="text/javascript"></script>*@
</head>
<body>
    <div class="page">
        <div id="header" class="backgroundimage">
            <div id="title" class="logo" style="padding-top: 30px">
                <img alt="" width="80px" height="90px" style="padding:10px" src="@Url.Content("~/Content/images/departemen-pekerjaan-umum.jpg")" />
                <div class="titleText">Pengolah Data | Sumber Daya Air</div>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
                @* <br />
                    <br />
                    <img alt="Departemen Pekerjaan Umum"  width="90px" height="110px" src="@Url.Content("~/Content/images/departemen-pekerjaan-umum.jpg")" />*@
                @*<div id="title" class="logo" style="padding-top: 30px; text-align: right;">
                    </div>*@
            </div>
        </div>
        <div id="menucontainer">
            <div id="myslidemenu" class="jqueryslidemenu">
                <ul>
                    @try
                    {
                        @Html.Action("Index", "Menu", new { area = "" })
                    }
                    finally
                    {
                    }
                </ul>
                <br style="clear: left" />
            </div>
            <div id="breadcrumbs">
                <br />
                <h3>@ViewBag.BreadCrumbs</h3>
            </div>
        </div>
        <div id="main">
            <div id="leftside">
            </div>
            <div id="center">
                @RenderBody()
            </div>
            <div id="rightside">
            </div>
        </div>
        <div id="footer">
            <div id="footLeft">
                Pengolah Data Sumber Daya Air<br />
                Direktorat Jenderal Sumber Daya Air Departemen Pekerjaan Umum
            </div>
        </div>
    </div>
    <div>
        @*<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>*@
        @*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>*@
    </div>
</body>
</html>
