<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>@*<meta charset="utf-8">*@
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width" />
    <link rel="stylesheet" href="@Url.Content("~/Content/style.responsive.css")" media="all" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/redmond/jquery-ui-1.10.2.custom.min.css")" media="all" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/mystyles.css")" media="all" />
    @*<link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.dataTables.css")" media="all" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.dataTables_themeroller.css")" media="all" />*@
    @*<link rel="stylesheet" href="@Url.Content("~/Content/css/superfish.css")" media="all" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/jqueryslidemenu.css")" />
    <script src="@Url.Content("~/Content/js/jquery-1.9.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery-ui-1.10.2.custom.min.js")"  type="text/javascript"></script>
    @*<script src="@Url.Content("~/Content/js/jquery.dataTables.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Content/js/hoverIntent.js")" type="text/javascript" />
    <script src="@Url.Content("~/Content/js/superfish.js")" type="text/javascript" />*@
    <!--[if lte IE 7]>
    <script src="@Url.Content("~/Content/js/json2.js")" type="text/javascript"></script>
    <style type="text/css">.jqueryslidemenu{z-index:10;position:relative;} /*Holly Hack for IE7 and below*/</style>
    <![endif]-->
    @*<script type="text/javascript" src="@Url.Content("~/Content/js/jqueryslidemenu.js")"></script>*@
    @*<script src="@Url.Content("~/Content/js/json2.js")" type="text/javascript"></script>*@
    <script type="text/javascript" language="javascript">
        var arrowimages = { down: ['downarrowclass', '@Url.Content("~/Content/images/down.gif")', 23], right: ['rightarrowclass', '@Url.Content("~/Content/images/right.gif")'] }

        // initialise plugins
        //$(function () { $('#superfishnav').superfish({}); }); 
    </script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jqueryslidemenu.js")"></script>
</head>
<body>
    <div class="page">
        <div id="header" class="backgroundimage">
            <div id="title" class="logo">
                @*<img alt="" width="80px" height="90px" style="padding:10px" src="@Url.Content("~/Content/images/departemen-pekerjaan-umum.jpg")" />*@
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
        </div>
        <div id="menucontainer">
            <div id="myslidemenu" class="jqueryslidemenu">
                <ul>
                    <li><a href='@Url.Content("~/")'>Home</a></li>
                    @*  @try
                    {
                        @Html.Action("Index", "Menu", new { area = "" })
                    }
                    finally
                    {
                    }*@
                </ul>
                <br style="clear: left" />
            </div>
            @*<div id="breadcrumbs">
            <h3>@ViewBag.BreadCrumbs</h3>
            </div>*@
        </div>
        <div id="main">
            <br />
            <div id="leftside">
            </div>
            <div id="center">
                @RenderBody()</div>
            <div id="rightside">
            </div>
        </div>
        <div id="footer">
          <div id="footLeft">
                Sistem Informasi Sumber Daya Air<br />
                Direktorat Jenderal Sumber Daya Air Departemen Pekerjaan Umum</div>
        </div>
    </div>
</body>
</html>
