﻿@model IQueryable<L.PDSDA.DAL.Entities.Module>
@helper TreeView(IQueryable<L.PDSDA.DAL.Entities.Module> folders)
    {
        var model = Model;
        foreach (var folder in folders)
        {
    <li>
        @if (folder.MainModule == null)
        {
            @Html.ActionLink(folder.Name, "~/View/Home/Index.cshtml")
        }
        else
        {
            @folder.Name
            
            <ul>
                @TreeView(folders.Where(x => x.MainModule == folder))
            </ul>
        }
    </li>
        }
}
@helper TreeViewChild(L.PDSDA.DAL.Entities.Module module, IQueryable<L.PDSDA.DAL.Entities.Module> folders)
    {
        var Modules = folders.Where(x => x.MainModule == module);
        foreach (var folder in Modules)
        {
    <li>
        @if (string.IsNullOrWhiteSpace(folder.Path))
        { <a href='@Url.Content("#")'>@folder.Name</a> }
        else
        {
            if (!string.IsNullOrEmpty(folder.ImageUrl))
            {
            <a href='@Url.Content(@folder.Path)' style="padding:5px 5px 0px 5px" >
                <img alt="" src="@Url.Content(folder.ImageUrl)"
                width="20" height="20" />
                @folder.Name</a>
            }
            else
            {
            <a href='@Url.Content(@folder.Path)' >
                @folder.Name</a>
            }
        }
        @if (folder.ChildModules != null && folder.ChildModules.Count > 0)
        {
            <ul>
                @TreeViewChild(folder, folders)
            </ul>
        }
    </li>
        }
}
@helper TreeViewSample(IQueryable<L.PDSDA.DAL.Entities.Module> folders)
    {
        var modules = folders;
        foreach (var folder in modules)
        {
            if (folder.MainModule == null)
            {
    <li>
        @if (string.IsNullOrWhiteSpace(folder.Name))
        {
@*<a href='@Url.Content(@folder.Path)'>@folder.Name</a>*@
            if (!string.IsNullOrEmpty(folder.ImageUrl))
            {
            <a href='@Url.Content(@folder.Path)' style="padding:5px 5px 0px 5px" >
                <img alt="" src="@Url.Content(folder.ImageUrl)"
                width="20" height="20" />
                @folder.Name</a>
            }
            else
            {
            <a href='@Url.Content(@folder.Path)' >
                @folder.Name</a>
            }
        }
        else
        {
            if (string.IsNullOrWhiteSpace(folder.Path))
            {
@* <a href='@Url.Content("#")'>@folder.Name</a>*@
                if (!string.IsNullOrEmpty(folder.ImageUrl))
                {
            <a href='@Url.Content("#")' style="padding:5px 5px 0px 5px" >
                <img alt="" src="@Url.Content(folder.ImageUrl)"
                width="20" height="20" />
                @folder.Name</a>
                }
                else
                {
            <a href='@Url.Content("#")' >
                @folder.Name</a>
                }

            }
            else
            {
@* <a href='@Url.Content(@folder.Path)'>@folder.Name</a>*@
                if (!string.IsNullOrEmpty(folder.ImageUrl))
                {
            <a href='@Url.Content(@folder.Path)' style="padding:5px 5px 0px 5px" >
                <img alt="" src="@Url.Content(folder.ImageUrl)"
                width="20" height="20" />
                @folder.Name</a>
                }
                else
                {
            <a href='@Url.Content(@folder.Path)' >
                @folder.Name</a>
                }

            }
        }
        @if (folder.ChildModules != null && folder.ChildModules.Count > 0)
        {
            <ul>
                @TreeViewChild(folder, folders)
            </ul>
        }
    </li>
            }
        }
}
@if (Model != null && Model.Count() > 0)
{
@* <ul id="superfishnav" class="sf-menu">*@
    @TreeViewSample(Model)
@*</ul>*@
}
