﻿<script>
    $(function () {
        $("#menu").menu();
    });
</script>
@model IQueryable<L.PDSDA.DAL.Entities.Module>
@*<ul class="art-vmenu">
    <li><a href="home.html" class="active">Home</a>
        <ul class="active">
            <li><a href="home/new-page.html">luliqzx 1</a></li><li><a href="home/new-page-2.html">
                Subpage 2</a></li><li><a href="home/new-page-3.html">luliqzx 3</a></li></ul>
    </li>
    <li>@Html.ActionLink("Home", "Index", "Home")
        <ul class="active">
            <li>@Html.ActionLink("User", "Index", "User")</li></ul>
    </li>
    <li>@Html.ActionLink("About", "About", "Home")
    </li>
    <li><a href="blog.html">Blog</a></li></ul>
<p />*@
@helper TreeView(IQueryable<L.PDSDA.DAL.Entities.Module> folders)
    {
        //folders = Model;
        var model = Model;
        foreach (var folder in folders)
        {
    <li>
        @if (folder.MainModule == null)
        {
@*<span class="leaf @folder.Position" id="@folder.Id">@folder.Name</span> *@
            @Html.ActionLink(folder.Name, "~/View/Home/Index.cshtml")
        }
        else
        {
@*<span class="folder">@folder.Name</span>*@
            @folder.Name
            
            <ul class="active">
                @TreeView(folders.Where(x => x.MainModule == folder))
            </ul>
        }
    </li>
        }
}
@helper TreeViewChild(L.PDSDA.DAL.Entities.Module module, IQueryable<L.PDSDA.DAL.Entities.Module> folders)
    {
        var Modules = folders.Where(x => x.MainModule == module);
        foreach (var folder in Modules)
        {
            //if (folder.MainModule == null)
            //{
    <li>@*<span class="leaf @folder.Position" id="@folder.Id">@folder.Name</span> *@ @*@Html.ActionLink(folder.Name, "")*@
        @* <a href="@folder.Path">@folder.Name</a>*@
        @if (string.IsNullOrWhiteSpace(folder.Path))
        { <a href='@Url.Content("#")'>@folder.Name</a> }
        else
        { <a href='@Url.Content(@folder.Path)'>@folder.Name</a>
        }
        @if (folder.ChildModules != null && folder.ChildModules.Count > 0)
        {
            <ul>
                @TreeViewChild(folder, folders)
            </ul>
        }
    </li>
            //}
        }
}
@helper TreeViewSample(IQueryable<L.PDSDA.DAL.Entities.Module> folders)
    {
        var modules = folders;// folders.OrderBy(x => x.Position);
        //var model = Model;
        foreach (var folder in modules)
        {
            if (folder.MainModule == null)
            {
    <li>@*<span class="leaf @folder.Position" id="@folder.Id">@folder.Name</span> *@ @*@Html.ActionLink(folder.Name, "")*@
        @* @Html.ActionLink(folder.Name, "Create", "User")*@
        @if (string.IsNullOrWhiteSpace(folder.Name))
        {
@*<a href="@folder.Path">@folder.Name</a>*@
            <a href='@Url.Content(@folder.Path)'>@folder.Name</a>
        }
        else
        {           
@* <a href="@folder.Path">@folder.Name</a>*@
            if (string.IsNullOrWhiteSpace(folder.Path))
            {
            <a href='@Url.Content("#")'>@folder.Name</a>

            }
            else
            {
            <a href='@Url.Content(@folder.Path)'>@folder.Name</a>
                
            }
        }
        @if (folder.ChildModules != null && folder.ChildModules.Count > 0)
        {
            <ul>
                @TreeViewChild(folder, folders)
            </ul>
        }
    </li>
            }
        }
}
@if (Model != null && Model.Count() > 0)
{
    <ul id="menu">
        @TreeViewSample(Model)
        @*@TreeViewSample(ViewBag.Modules as IQueryable<L.PDSDA.DAL.Entities.Module>)*@
    </ul>
}
