﻿@model L.PDSDA.DAL.Entities.SLUICE
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<style>
    td.clsDefault input
    {
        width: 150px !important;
    }
</style>
<script language="javascript" type="text/javascript">
    $(function () {
        $("fieldset").find('input, textarea, button, select').attr('disabled', 'disabled');
        var oKABUPATEN_PROPINSI_K_PROPINSI = $('#KABUPATEN_PROPINSI_K_PROPINSI');
        var oKABUPATEN_K_KABUPATEN = $('#KABUPATEN_K_KABUPATEN');

        oKABUPATEN_PROPINSI_K_PROPINSI.change(function () {
            var value = oKABUPATEN_PROPINSI_K_PROPINSI.val();
            $.getJSON('@Url.Content("~/Master/Kabupaten/GetKabupatenByPropinsi/?")' + "propinsiid=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih Kabupaten</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                oKABUPATEN_K_KABUPATEN.html(items);
            });
        });

        var DAS_K_DAS = $('#DA_K_DAS');
        var WS_K_WS = $('#W_K_WS');

        WS_K_WS.change(function () {
            var value = WS_K_WS.val();
            $.getJSON('@Url.Content("~/Sumber_Daya_Air/DAS/GetDASByWS/")' + "?k_ws=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih DAS</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                DAS_K_DAS.html(items);
            });
        });

    })
</script>
<fieldset>
    <legend>SLUICE</legend>
    <table>
        <tr>
            <td class="editor-label">
                Sungai
            </td>
            <td class="editor-field">
                <input type="text" readonly="readonly" value="@ViewBag.NamaSungai" />
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td class="editor-label">
                No Urut Sluice
            </td>
            <td class="clsDefault">
                @Html.EditorFor(model => model.URUT_SLUICE) @Html.ValidationMessageFor(model =>
                model.URUT_SLUICE)
            </td>
            <td class="editor-label">
                Tahun Data
            </td>
            <td class="clsDefault">
                @Html.EditorFor(model => model.TAHUN_DATA) @Html.ValidationMessageFor(model => model.TAHUN_DATA)
            </td>
            <td class="editor-label">
                Nama
            </td>
            <td class="clsDefault">
                @Html.EditorFor(model => model.NAMA) @Html.ValidationMessageFor(model => model.NAMA)
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td class="editor-label">
                Propinsi
            </td>
            <td class="editor-field">
                @Html.DropDownListFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI
                        as IList<SelectListItem>) @Html.ValidationMessageFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI)
            </td>
            <td class="editor-label">
                Kabupaten
            </td>
            <td class="editor-field">
                @Html.DropDownListFor(x => x.KABUPATEN.K_KABUPATEN, ViewBag.collK_KABUPATEN as IList<SelectListItem>)
                @Html.ValidationMessageFor(x => x.KABUPATEN.K_KABUPATEN)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Desa
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.DESA) @Html.ValidationMessageFor(model => model.DESA)
            </td>
            <td class="editor-label">
                Kecamatan
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.KECAMATAN) @Html.ValidationMessageFor(model => model.KECAMATAN)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Pengelola
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.PENGELOLA) @Html.ValidationMessageFor(model => model.PENGELOLA)
            </td>
            <td class="editor-label">
                Posisi
            </td>
            <td class="editor-field">
                @Html.DropDownListFor(x => x.POSISI, ViewBag.collPOSISI as IList<SelectListItem>)
                @Html.ValidationMessageFor(x => x.POSISI)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Koordinat
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.KOORDINAT) @Html.ValidationMessageFor(model => model.KOORDINAT)
            </td>
            <td class="editor-label">
                Tipe Pintu
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.TIPE_PINTU) @Html.ValidationMessageFor(model => model.TIPE_PINTU)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Terowongan
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.TEROWONGAN) @Html.ValidationMessageFor(model => model.TEROWONGAN)
            </td>
            <td class="editor-label">
                Gorong - Gorong
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.GORONG2) @Html.ValidationMessageFor(model => model.GORONG2)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Hulu
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.HULU) @Html.ValidationMessageFor(model => model.HULU)
            </td>
            <td class="editor-label">
                Hilir
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.HILIR) @Html.ValidationMessageFor(model => model.HILIR)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Konstruksi
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.KONSTRUKSI) @Html.ValidationMessageFor(model => model.KONSTRUKSI)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Tahun di Bangun
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.THDIBANGUN) @Html.ValidationMessageFor(model => model.THDIBANGUN)
            </td>
            <td class="editor-label">
                Nama Proyek
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.NM_PROYEK) @Html.ValidationMessageFor(model => model.NM_PROYEK)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Konsultan
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.KONSULTAN) @Html.ValidationMessageFor(model => model.KONSULTAN)
            </td>
            <td class="editor-label">
                Biaya Konsultan
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.BIAYA_KONSULTAN) @Html.ValidationMessageFor(model
                => model.BIAYA_KONSULTAN)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Kontraktor
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.KONTRAKTOR) @Html.ValidationMessageFor(model => model.KONTRAKTOR)
            </td>
            <td class="editor-label">
                Biaya Kontraktor
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.BIAYA_KONTRAKTOR) @Html.ValidationMessageFor(model
                => model.BIAYA_KONTRAKTOR)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Tahun Rehab
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.THREHAB) @Html.ValidationMessageFor(model => model.THREHAB)
            </td>
            <td class="editor-label">
                Biaya Rehab
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.BIAYA_REHAB) @Html.ValidationMessageFor(model =>
                model.BIAYA_REHAB)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Kondisi
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.KONDISI) @Html.ValidationMessageFor(model => model.KONDISI)
            </td>
            <td class="editor-label">
                Keadaan Bangunan
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.KEADAAN) @Html.ValidationMessageFor(model => model.KEADAAN)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Keadaan Lingkungan
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.KEADAAN1) @Html.ValidationMessageFor(model => model.KEADAAN1)
            </td>
        </tr>
    </table>
</fieldset>
