﻿@model L.PDSDA.DAL.Entities.STASIUNHUJAN
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script type="text/javascript">
    $("fieldset").find('input, textarea, button, select').attr('disabled', 'disabled');

    function fnLoadDataPosHujanDyn(oThis) {

        var IsViewable = "@ViewBag.IsViewable";
        var IsCreateable = "@ViewBag.IsCreateable";
        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        initialized("@Request.ApplicationPath");
        var id = $("#K_STASIUN").val();
        oThis.href = '@Url.Content("~/Hidrologi/PosHujanDyn/")' + "?id=" + id.replace(/ /g, '%20%') + "&IsViewable=" + IsViewable + "&IsCreateable=" + IsCreateable + "&IsUpdateable=" + IsUpdateable + "&IsDeleteable=" + IsDeleteable + "&method=Detail";
        oThis.title = "Data Curah Hujan"

        var $url2 = oThis.href;
        var $title2 = oThis.title;
        var $dialog2 = $('<div id="divPosHujanDyn"></div>');

        fnLoading();
        $dialog2
		.load($url2, function (response, status, xhr) {
		    if (status == "success") {
		        dialogLoading.dialog("close"); $dialog2.dialog('open');
		    }
		})
		    .dialog({ closeOnEscape: false,
		        position: "top",
		        autoOpen: false
			    , title: $title2
			    , width: 1000
	        	    , modal: true
			    , minHeight: 100
	        	    , show: 'fade'
		    });

        $dialog2.dialog("option", "buttons", [{
            text: "Tutup",
            click: function () {
                $(this).dialog("close");
                $(this).empty();
            },
            icons: {
                primary: 'ui-icon-circle-close'
            }
        }]);

        //        $dialog2.dialog('open');
    }
    $(function () {
        var oKABUPATEN_PROPINSI_K_PROPINSI = $('#KABUPATEN_PROPINSI_K_PROPINSI');
        var oKABUPATEN_K_KABUPATEN = $('#KABUPATEN_K_KABUPATEN');

        oKABUPATEN_PROPINSI_K_PROPINSI.change(function () {
            var value = oKABUPATEN_PROPINSI_K_PROPINSI.val();
            $.getJSON('@Url.Content("~/Master/Kabupaten/GetKabupatenByPropinsi/?")' + "propinsiid=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih Kabupaten</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                oKABUPATEN_K_KABUPATEN.html(items);
            });
        });

        var DAS_K_DAS = $('#DA_K_DAS');
        var WS_K_WS = $('#W_K_WS');

        WS_K_WS.change(function () {
            var value = WS_K_WS.val();
            $.getJSON('@Url.Content("~/Sumber_Daya_Air/DAS/GetDASByWS/")' + "?k_ws=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih DAS</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                DAS_K_DAS.html(items);
            });
        });

    });
</script>
<fieldset>
    <legend>STASIUNHUJAN</legend>
    <div class="editor-label">
        Kode
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.K_STASIUN)
        @Html.ValidationMessageFor(model => model.K_STASIUN)
    </div>
    <div class="editor-label">
        No. Register Pos
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.K_STASIUN1)
        @Html.ValidationMessageFor(model => model.K_STASIUN1)
    </div>
    <div class="editor-label">
        Nama Pos
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.N_STASIUN)
        @Html.ValidationMessageFor(model => model.N_STASIUN)
    </div>
    <div class="editor-label">
        Propinsi
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI as IList<SelectListItem>)
        @Html.ValidationMessageFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI)
    </div>
    <div class="editor-label">
        Kabupaten
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x => x.KABUPATEN.K_KABUPATEN, ViewBag.collK_KABUPATEN as IList<SelectListItem>)
        @Html.ValidationMessageFor(x => x.KABUPATEN.K_KABUPATEN)
    </div>
    <div class="editor-label">
        Nama WS
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x => x.W.K_WS, ViewBag.collWS as IList<SelectListItem>)
        @Html.ValidationMessageFor(x => x.W.K_WS)
    </div>
    <div class="editor-label">
        Nama DAS
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x => x.DA.K_DAS, ViewBag.collDAS as IList<SelectListItem>)
        @Html.ValidationMessageFor(x => x.DA.K_DAS)
    </div>
    <div class="editor-label">
        Kadaster
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.KADASTER)
        @Html.ValidationMessageFor(model => model.KADASTER)
    </div>
    <div class="editor-label">
        Kecamatan
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.KECAMATAN)
        @Html.ValidationMessageFor(model => model.KECAMATAN)
    </div>
    <div class="editor-label">
        Lokasi Geografi
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DESA)
        @Html.ValidationMessageFor(model => model.DESA)
    </div>
    <div class="editor-label">
        Lokasi
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.LOKASI)
        @Html.ValidationMessageFor(model => model.LOKASI)
    </div>
    <div class="editor-label">
        Tahun Pendirian
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.THPENDIRIAN)
        @Html.ValidationMessageFor(model => model.THPENDIRIAN)
    </div>
    <div class="editor-label">
        Di Bangun Oleh
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DIBANGUNOLEH)
        @Html.ValidationMessageFor(model => model.DIBANGUNOLEH)
    </div>
    <div class="editor-label">
        Tinggi dari permukaan laut (m)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.TINGGI_MUKA_LAUT)
        @Html.ValidationMessageFor(model => model.TINGGI_MUKA_LAUT)
    </div>
    <div class="editor-label">
        Pelaksana
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.INDUK_SUNGAI)
        @Html.ValidationMessageFor(model => model.INDUK_SUNGAI)
    </div>
    <div class="editor-label">
        Latitude
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.LatLong.Latitude)
        @Html.ValidationMessageFor(model => model.LatLong.Latitude)
    </div>
    <div class="editor-label">
        Longitude
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.LatLong.Longitude)
        @Html.ValidationMessageFor(model => model.LatLong.Longitude)
    </div>
</fieldset>
<a href="javascript:fnLoadDataPosHujanDyn(this)" class="modalDlg, clsButtonAdd">Data
    Curah Hujan (harian)</a> 