﻿@{
    ViewBag.Title = "Pos Hujan";
    var key = ViewBag.Key;
}
<script type="text/javascript" language="javascript">

    function fnPeta(oThis, Latitude, Longitude, Title) {
        oThis.href = '@Url.Content("~/Peta/GenericMap/Index/")' + "?Latitude=" + Latitude + "&Longitude=" + Longitude + "&Title=" + Title;
        oThis.title = "Peta Pos Hujan"
        loadDialogMap(oThis, "divFormGenericPeta", $(window).width() - 150, $(window).height() - 200)

    }

    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/Hidrologi/PosHujan/Create/")';
        oThis.title = "Create PosHujan"
        loadDefaultDialogCustomControl(oThis, "divFormPosHujan", 500, "300px", "target", oTable)

    }


    function fnDetail(oThis, id) {
        oThis.href = '@Url.Content("~/Hidrologi/PosHujan/Detail/")' + id + "?method=Detail";
        oThis.title = "Detail Pos Hujan"
        loadDetailDialogCustomControl(oThis, "divFormPosHujan", 500, "300px", "target", oTable)
    }

    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/Hidrologi/PosHujan/Edit/")' + id;
        oThis.title = "Edit PosHujan"
        //        loadDialog(oThis, '#PosHujanInfo');
        loadDefaultDialogCustomControl(oThis, "divFormPosHujan", 500, "300px", "target", oTable)

    }

    function fnDelete(oThis, id) {
        //        var link = oThis.href;
        oThis.href = '@Url.Content("~/Hidrologi/PosHujan/Delete/")' + id;
        oThis.title = "Delete PosHujan"
        if (confirm("Are you sure that you want to delete this data?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                        oTable.fnDraw();
                    }
                    else {
                        alert(data.message);
                        oTable.fnDraw();
                    }
                    //                        $(link).parents("tr").remove();
                },
                error: function (data) {
                    alert(data.message);
                    oTable.fnDraw();
                }
            });
        }
    }


    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        oTable = $("table.display").dataTable(
        {
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/Hidrologi/PosHujan/LoadAllData/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "K_STASIUN", "sClass": "center", "sTitle": "Kode" }, { "mData": "N_STASIUN", "sTitle": "Nama" }, { "mData": "N_PROPINSI", "sClass": "center", "sTitle": "Propinsi" }, { "mData": "N_KABUPATEN", "sClass": "center", "sTitle": "Kabupaten" }, { "mData": "N_WS", "sClass": "center", "sTitle": "WS" }, { "mData": "N_DAS", "sClass": "center", "sTitle": "DAS" }, { "mData": "LatLong", "sClass": "center", "sTitle": "Lokasi"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True") {

                        var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-trash"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            //                            alert(oData);
                            fnDelete(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }


                    if (IsUpdateable == "True") {
                        var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-wrench"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            //                            alert(oData.KEY);
                            fnEdit(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }

                    else {
                        var b = $('<button style="margin: 0" class="clsButtonDetail, cCenterOnly,">Detail</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-newwin"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnDetail(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }, {
                "aTargets": [7],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (oData.LatLong != null) {

                        var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Peta</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-search"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            if (oData.LatLong != null) {
                                fnPeta(this, oData.LatLong.Latitude, oData.LatLong.Longitude, oData.pTitle);
                            }
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });
    });
</script>
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display">
</table>
