﻿@model L.PDSDA.DAL.TEMP.BangunanUtama

<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>BangunanUtama</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.WADUK_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUK_JML)
            @Html.ValidationMessageFor(model => model.WADUK_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WADUK_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUK_B)
            @Html.ValidationMessageFor(model => model.WADUK_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WADUK_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUK_RR)
            @Html.ValidationMessageFor(model => model.WADUK_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WADUK_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUK_RB)
            @Html.ValidationMessageFor(model => model.WADUK_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WADUKP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUKP_JML)
            @Html.ValidationMessageFor(model => model.WADUKP_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WADUKP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUKP_B)
            @Html.ValidationMessageFor(model => model.WADUKP_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WADUKP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUKP_RR)
            @Html.ValidationMessageFor(model => model.WADUKP_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WADUKP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUKP_RB)
            @Html.ValidationMessageFor(model => model.WADUKP_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BT_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BT_JML)
            @Html.ValidationMessageFor(model => model.BT_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BT_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BT_B)
            @Html.ValidationMessageFor(model => model.BT_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BT_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BT_RR)
            @Html.ValidationMessageFor(model => model.BT_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BT_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BT_RB)
            @Html.ValidationMessageFor(model => model.BT_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BTP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BTP_JML)
            @Html.ValidationMessageFor(model => model.BTP_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BTP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BTP_B)
            @Html.ValidationMessageFor(model => model.BTP_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BTP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BTP_RR)
            @Html.ValidationMessageFor(model => model.BTP_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BTP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BTP_RB)
            @Html.ValidationMessageFor(model => model.BTP_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BG_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BG_JML)
            @Html.ValidationMessageFor(model => model.BG_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BG_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BG_B)
            @Html.ValidationMessageFor(model => model.BG_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BG_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BG_RR)
            @Html.ValidationMessageFor(model => model.BG_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BG_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BG_RB)
            @Html.ValidationMessageFor(model => model.BG_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BGP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BGP_JML)
            @Html.ValidationMessageFor(model => model.BGP_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BGP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BGP_B)
            @Html.ValidationMessageFor(model => model.BGP_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BGP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BGP_RR)
            @Html.ValidationMessageFor(model => model.BGP_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BGP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BGP_RB)
            @Html.ValidationMessageFor(model => model.BGP_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.POMPA_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPA_JML)
            @Html.ValidationMessageFor(model => model.POMPA_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.POMPA_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPA_B)
            @Html.ValidationMessageFor(model => model.POMPA_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.POMPA_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPA_RR)
            @Html.ValidationMessageFor(model => model.POMPA_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.POMPA_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPA_RB)
            @Html.ValidationMessageFor(model => model.POMPA_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.POMPAP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPAP_JML)
            @Html.ValidationMessageFor(model => model.POMPAP_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.POMPAP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPAP_B)
            @Html.ValidationMessageFor(model => model.POMPAP_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.POMPAP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPAP_RR)
            @Html.ValidationMessageFor(model => model.POMPAP_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.POMPAP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POMPAP_RB)
            @Html.ValidationMessageFor(model => model.POMPAP_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BEBAS_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BEBAS_JML)
            @Html.ValidationMessageFor(model => model.BEBAS_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BEBAS_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BEBAS_B)
            @Html.ValidationMessageFor(model => model.BEBAS_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BEBAS_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BEBAS_RR)
            @Html.ValidationMessageFor(model => model.BEBAS_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BEBAS_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BEBAS_RB)
            @Html.ValidationMessageFor(model => model.BEBAS_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BEBASP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BEBASP_JML)
            @Html.ValidationMessageFor(model => model.BEBASP_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BEBASP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BEBASP_B)
            @Html.ValidationMessageFor(model => model.BEBASP_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BEBASP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BEBASP_RR)
            @Html.ValidationMessageFor(model => model.BEBASP_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BEBASP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BEBASP_RB)
            @Html.ValidationMessageFor(model => model.BEBASP_RB)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

