﻿@model L.PDSDA.DAL.TEMP.DataUmum

<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>DataUmum</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_DI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_DI)
            @Html.ValidationMessageFor(model => model.K_DI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TAHUN_DATA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TAHUN_DATA)
            @Html.ValidationMessageFor(model => model.TAHUN_DATA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUMBER_DATA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUMBER_DATA)
            @Html.ValidationMessageFor(model => model.SUMBER_DATA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_TINGKATAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_TINGKATAN)
            @Html.ValidationMessageFor(model => model.K_TINGKATAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LUAS_RENCANA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LUAS_RENCANA)
            @Html.ValidationMessageFor(model => model.LUAS_RENCANA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JAR_OPTIMAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JAR_OPTIMAL)
            @Html.ValidationMessageFor(model => model.JAR_OPTIMAL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JAR_BOPTIMAL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JAR_BOPTIMAL)
            @Html.ValidationMessageFor(model => model.JAR_BOPTIMAL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JAR_ALFUNG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JAR_ALFUNG)
            @Html.ValidationMessageFor(model => model.JAR_ALFUNG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JAR_ALFUNGDRBS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JAR_ALFUNGDRBS)
            @Html.ValidationMessageFor(model => model.JAR_ALFUNGDRBS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JAR_BSAWAH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JAR_BSAWAH)
            @Html.ValidationMessageFor(model => model.JAR_BSAWAH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BJAR_SAWAH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BJAR_SAWAH)
            @Html.ValidationMessageFor(model => model.BJAR_SAWAH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BJAR_BSAWAH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BJAR_BSAWAH)
            @Html.ValidationMessageFor(model => model.BJAR_BSAWAH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.P3A)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.P3A)
            @Html.ValidationMessageFor(model => model.P3A)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ANGGOTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ANGGOTA)
            @Html.ValidationMessageFor(model => model.ANGGOTA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BADAN_HUKUM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BADAN_HUKUM)
            @Html.ValidationMessageFor(model => model.BADAN_HUKUM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEBIT_RENCANA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEBIT_RENCANA)
            @Html.ValidationMessageFor(model => model.DEBIT_RENCANA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DEBIT_KENYATAAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DEBIT_KENYATAAN)
            @Html.ValidationMessageFor(model => model.DEBIT_KENYATAAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JALAN_PJ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JALAN_PJ)
            @Html.ValidationMessageFor(model => model.JALAN_PJ)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JALAN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JALAN_B)
            @Html.ValidationMessageFor(model => model.JALAN_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JALAN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JALAN_RR)
            @Html.ValidationMessageFor(model => model.JALAN_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JALAN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JALAN_RB)
            @Html.ValidationMessageFor(model => model.JALAN_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JML_AKTIF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_AKTIF)
            @Html.ValidationMessageFor(model => model.JML_AKTIF)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JML_AKTIF_ANGGOTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_AKTIF_ANGGOTA)
            @Html.ValidationMessageFor(model => model.JML_AKTIF_ANGGOTA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JML_AKTIF_BH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_AKTIF_BH)
            @Html.ValidationMessageFor(model => model.JML_AKTIF_BH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JML_BERKEMBANG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_BERKEMBANG)
            @Html.ValidationMessageFor(model => model.JML_BERKEMBANG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JML_BERKEMBANG_ANGGOTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_BERKEMBANG_ANGGOTA)
            @Html.ValidationMessageFor(model => model.JML_BERKEMBANG_ANGGOTA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JML_BERKEMBANG_BH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_BERKEMBANG_BH)
            @Html.ValidationMessageFor(model => model.JML_BERKEMBANG_BH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JML_TIDAKBERKEMBANG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_TIDAKBERKEMBANG)
            @Html.ValidationMessageFor(model => model.JML_TIDAKBERKEMBANG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JML_TIDAKBERKEMBANG_ANGGOTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_TIDAKBERKEMBANG_ANGGOTA)
            @Html.ValidationMessageFor(model => model.JML_TIDAKBERKEMBANG_ANGGOTA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JML_TIDAKBERKEMBANG_BH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_TIDAKBERKEMBANG_BH)
            @Html.ValidationMessageFor(model => model.JML_TIDAKBERKEMBANG_BH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JML_PASIF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_PASIF)
            @Html.ValidationMessageFor(model => model.JML_PASIF)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JML_PASIF_ANGGOTA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_PASIF_ANGGOTA)
            @Html.ValidationMessageFor(model => model.JML_PASIF_ANGGOTA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JML_PASIF_BH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JML_PASIF_BH)
            @Html.ValidationMessageFor(model => model.JML_PASIF_BH)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

