﻿@model L.PDSDA.DAL.TEMP.SaluranPembuang

<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>SaluranPembuang</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_JEMBATAN_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_JEMBATAN_JML)
            @Html.ValidationMessageFor(model => model.PEMB_JEMBATAN_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_JEMBATAN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_JEMBATAN_B)
            @Html.ValidationMessageFor(model => model.PEMB_JEMBATAN_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_JEMBATAN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_JEMBATAN_RR)
            @Html.ValidationMessageFor(model => model.PEMB_JEMBATAN_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_JEMBATAN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_JEMBATAN_RB)
            @Html.ValidationMessageFor(model => model.PEMB_JEMBATAN_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_GOR_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_GOR_JML)
            @Html.ValidationMessageFor(model => model.PEMB_GOR_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_GOR_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_GOR_B)
            @Html.ValidationMessageFor(model => model.PEMB_GOR_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_GOR_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_GOR_RR)
            @Html.ValidationMessageFor(model => model.PEMB_GOR_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_GOR_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_GOR_RB)
            @Html.ValidationMessageFor(model => model.PEMB_GOR_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_KLEP_PIN_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_KLEP_PIN_JML)
            @Html.ValidationMessageFor(model => model.PEMB_KLEP_PIN_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_KLEP_PIN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_KLEP_PIN_B)
            @Html.ValidationMessageFor(model => model.PEMB_KLEP_PIN_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_KLEP_PIN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_KLEP_PIN_RR)
            @Html.ValidationMessageFor(model => model.PEMB_KLEP_PIN_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_KLEP_PIN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_KLEP_PIN_RB)
            @Html.ValidationMessageFor(model => model.PEMB_KLEP_PIN_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_KLEP_PINP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_KLEP_PINP_JML)
            @Html.ValidationMessageFor(model => model.PEMB_KLEP_PINP_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_KLEP_PINP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_KLEP_PINP_B)
            @Html.ValidationMessageFor(model => model.PEMB_KLEP_PINP_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_KLEP_PINP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_KLEP_PINP_RR)
            @Html.ValidationMessageFor(model => model.PEMB_KLEP_PINP_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_KLEP_PINP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_KLEP_PINP_RB)
            @Html.ValidationMessageFor(model => model.PEMB_KLEP_PINP_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_TERJUN_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_TERJUN_JML)
            @Html.ValidationMessageFor(model => model.PEMB_TERJUN_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_TERJUN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_TERJUN_B)
            @Html.ValidationMessageFor(model => model.PEMB_TERJUN_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_TERJUN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_TERJUN_RR)
            @Html.ValidationMessageFor(model => model.PEMB_TERJUN_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_TERJUN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_TERJUN_RB)
            @Html.ValidationMessageFor(model => model.PEMB_TERJUN_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_LAIN_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_LAIN_JML)
            @Html.ValidationMessageFor(model => model.PEMB_LAIN_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_LAIN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_LAIN_B)
            @Html.ValidationMessageFor(model => model.PEMB_LAIN_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_LAIN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_LAIN_RR)
            @Html.ValidationMessageFor(model => model.PEMB_LAIN_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_LAIN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_LAIN_RB)
            @Html.ValidationMessageFor(model => model.PEMB_LAIN_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_LAINP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_LAINP_JML)
            @Html.ValidationMessageFor(model => model.PEMB_LAINP_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_LAINP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_LAINP_B)
            @Html.ValidationMessageFor(model => model.PEMB_LAINP_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_LAINP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_LAINP_RR)
            @Html.ValidationMessageFor(model => model.PEMB_LAINP_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PEMB_LAINP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PEMB_LAINP_RB)
            @Html.ValidationMessageFor(model => model.PEMB_LAINP_RB)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

