﻿@model L.PDSDA.DAL.TEMP.SaluranSuplesi

<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>SaluranSuplesi</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TALANG_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TALANG_JML)
            @Html.ValidationMessageFor(model => model.SUPL_TALANG_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TALANG_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TALANG_B)
            @Html.ValidationMessageFor(model => model.SUPL_TALANG_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TALANG_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TALANG_RR)
            @Html.ValidationMessageFor(model => model.SUPL_TALANG_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TALANG_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TALANG_RB)
            @Html.ValidationMessageFor(model => model.SUPL_TALANG_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TALANGP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TALANGP_JML)
            @Html.ValidationMessageFor(model => model.SUPL_TALANGP_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TALANGP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TALANGP_B)
            @Html.ValidationMessageFor(model => model.SUPL_TALANGP_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TALANGP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TALANGP_RR)
            @Html.ValidationMessageFor(model => model.SUPL_TALANGP_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TALANGP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TALANGP_RB)
            @Html.ValidationMessageFor(model => model.SUPL_TALANGP_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SYPHON_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SYPHON_JML)
            @Html.ValidationMessageFor(model => model.SUPL_SYPHON_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SYPHON_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SYPHON_B)
            @Html.ValidationMessageFor(model => model.SUPL_SYPHON_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SYPHON_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SYPHON_RR)
            @Html.ValidationMessageFor(model => model.SUPL_SYPHON_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SYPHON_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SYPHON_RB)
            @Html.ValidationMessageFor(model => model.SUPL_SYPHON_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SYPHONP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SYPHONP_JML)
            @Html.ValidationMessageFor(model => model.SUPL_SYPHONP_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SYPHONP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SYPHONP_B)
            @Html.ValidationMessageFor(model => model.SUPL_SYPHONP_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SYPHONP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SYPHONP_RR)
            @Html.ValidationMessageFor(model => model.SUPL_SYPHONP_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SYPHONP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SYPHONP_RB)
            @Html.ValidationMessageFor(model => model.SUPL_SYPHONP_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_JEMBATAN_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_JEMBATAN_JML)
            @Html.ValidationMessageFor(model => model.SUPL_JEMBATAN_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_JEMBATAN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_JEMBATAN_B)
            @Html.ValidationMessageFor(model => model.SUPL_JEMBATAN_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_JEMBATAN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_JEMBATAN_RR)
            @Html.ValidationMessageFor(model => model.SUPL_JEMBATAN_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_JEMBATAN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_JEMBATAN_RB)
            @Html.ValidationMessageFor(model => model.SUPL_JEMBATAN_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOR_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOR_JML)
            @Html.ValidationMessageFor(model => model.SUPL_GOR_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOR_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOR_B)
            @Html.ValidationMessageFor(model => model.SUPL_GOR_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOR_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOR_RR)
            @Html.ValidationMessageFor(model => model.SUPL_GOR_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOR_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOR_RB)
            @Html.ValidationMessageFor(model => model.SUPL_GOR_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOT_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOT_JML)
            @Html.ValidationMessageFor(model => model.SUPL_GOT_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOT_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOT_B)
            @Html.ValidationMessageFor(model => model.SUPL_GOT_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOT_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOT_RR)
            @Html.ValidationMessageFor(model => model.SUPL_GOT_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOT_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOT_RB)
            @Html.ValidationMessageFor(model => model.SUPL_GOT_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOTP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOTP_JML)
            @Html.ValidationMessageFor(model => model.SUPL_GOTP_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOTP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOTP_B)
            @Html.ValidationMessageFor(model => model.SUPL_GOTP_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOTP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOTP_RR)
            @Html.ValidationMessageFor(model => model.SUPL_GOTP_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_GOTP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_GOTP_RB)
            @Html.ValidationMessageFor(model => model.SUPL_GOTP_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TERJUN_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TERJUN_JML)
            @Html.ValidationMessageFor(model => model.SUPL_TERJUN_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TERJUN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TERJUN_B)
            @Html.ValidationMessageFor(model => model.SUPL_TERJUN_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TERJUN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TERJUN_RR)
            @Html.ValidationMessageFor(model => model.SUPL_TERJUN_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_TERJUN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_TERJUN_RB)
            @Html.ValidationMessageFor(model => model.SUPL_TERJUN_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SUPLESI_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SUPLESI_JML)
            @Html.ValidationMessageFor(model => model.SUPL_SUPLESI_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SUPLESI_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SUPLESI_B)
            @Html.ValidationMessageFor(model => model.SUPL_SUPLESI_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SUPLESI_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SUPLESI_RR)
            @Html.ValidationMessageFor(model => model.SUPL_SUPLESI_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SUPLESI_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SUPLESI_RB)
            @Html.ValidationMessageFor(model => model.SUPL_SUPLESI_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SUPLESIP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SUPLESIP_JML)
            @Html.ValidationMessageFor(model => model.SUPL_SUPLESIP_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SUPLESIP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SUPLESIP_B)
            @Html.ValidationMessageFor(model => model.SUPL_SUPLESIP_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SUPLESIP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SUPLESIP_RR)
            @Html.ValidationMessageFor(model => model.SUPL_SUPLESIP_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_SUPLESIP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_SUPLESIP_RB)
            @Html.ValidationMessageFor(model => model.SUPL_SUPLESIP_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_LAIN_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_LAIN_JML)
            @Html.ValidationMessageFor(model => model.SUPL_LAIN_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_LAIN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_LAIN_B)
            @Html.ValidationMessageFor(model => model.SUPL_LAIN_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_LAIN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_LAIN_RR)
            @Html.ValidationMessageFor(model => model.SUPL_LAIN_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_LAIN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_LAIN_RB)
            @Html.ValidationMessageFor(model => model.SUPL_LAIN_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_LAINP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_LAINP_JML)
            @Html.ValidationMessageFor(model => model.SUPL_LAINP_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_LAINP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_LAINP_B)
            @Html.ValidationMessageFor(model => model.SUPL_LAINP_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_LAINP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_LAINP_RR)
            @Html.ValidationMessageFor(model => model.SUPL_LAINP_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SUPL_LAINP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUPL_LAINP_RB)
            @Html.ValidationMessageFor(model => model.SUPL_LAINP_RB)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

