﻿@model L.PDSDA.DAL.TEMP.SaluranDiArealPotensial

<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>SaluranDiArealPotensial</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_INDUK_PJ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_INDUK_PJ)
            @Html.ValidationMessageFor(model => model.SAL_INDUK_PJ)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_INDUK_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_INDUK_B)
            @Html.ValidationMessageFor(model => model.SAL_INDUK_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_INDUK_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_INDUK_RR)
            @Html.ValidationMessageFor(model => model.SAL_INDUK_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_INDUK_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_INDUK_RB)
            @Html.ValidationMessageFor(model => model.SAL_INDUK_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_SEKUNDER_PJ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_SEKUNDER_PJ)
            @Html.ValidationMessageFor(model => model.SAL_SEKUNDER_PJ)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_SEKUNDER_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_SEKUNDER_B)
            @Html.ValidationMessageFor(model => model.SAL_SEKUNDER_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_SEKUNDER_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_SEKUNDER_RR)
            @Html.ValidationMessageFor(model => model.SAL_SEKUNDER_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_SEKUNDER_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_SEKUNDER_RB)
            @Html.ValidationMessageFor(model => model.SAL_SEKUNDER_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_PEMBUANG_PJ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_PEMBUANG_PJ)
            @Html.ValidationMessageFor(model => model.SAL_PEMBUANG_PJ)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_PEMBUANG_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_PEMBUANG_B)
            @Html.ValidationMessageFor(model => model.SAL_PEMBUANG_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_PEMBUANG_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_PEMBUANG_RR)
            @Html.ValidationMessageFor(model => model.SAL_PEMBUANG_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_PEMBUANG_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_PEMBUANG_RB)
            @Html.ValidationMessageFor(model => model.SAL_PEMBUANG_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_SUPLESI_PJ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_SUPLESI_PJ)
            @Html.ValidationMessageFor(model => model.SAL_SUPLESI_PJ)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_SUPLESI_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_SUPLESI_B)
            @Html.ValidationMessageFor(model => model.SAL_SUPLESI_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_SUPLESI_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_SUPLESI_RR)
            @Html.ValidationMessageFor(model => model.SAL_SUPLESI_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_SUPLESI_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_SUPLESI_RB)
            @Html.ValidationMessageFor(model => model.SAL_SUPLESI_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_GENDONG_PJ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_GENDONG_PJ)
            @Html.ValidationMessageFor(model => model.SAL_GENDONG_PJ)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_GENDONG_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_GENDONG_B)
            @Html.ValidationMessageFor(model => model.SAL_GENDONG_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_GENDONG_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_GENDONG_RR)
            @Html.ValidationMessageFor(model => model.SAL_GENDONG_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SAL_GENDONG_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SAL_GENDONG_RB)
            @Html.ValidationMessageFor(model => model.SAL_GENDONG_RB)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

