﻿@model L.PDSDA.DAL.TEMP.SaluranPembawa

<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>SaluranPembawa</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.BAGI_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAGI_JML)
            @Html.ValidationMessageFor(model => model.BAGI_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BAGI_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAGI_B)
            @Html.ValidationMessageFor(model => model.BAGI_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BAGI_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAGI_RR)
            @Html.ValidationMessageFor(model => model.BAGI_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BAGI_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAGI_RB)
            @Html.ValidationMessageFor(model => model.BAGI_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BAGIP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAGIP_JML)
            @Html.ValidationMessageFor(model => model.BAGIP_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BAGIP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAGIP_B)
            @Html.ValidationMessageFor(model => model.BAGIP_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BAGIP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAGIP_RR)
            @Html.ValidationMessageFor(model => model.BAGIP_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BAGIP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BAGIP_RB)
            @Html.ValidationMessageFor(model => model.BAGIP_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BSADAP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BSADAP_JML)
            @Html.ValidationMessageFor(model => model.BSADAP_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BSADAP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BSADAP_B)
            @Html.ValidationMessageFor(model => model.BSADAP_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BSADAP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BSADAP_RR)
            @Html.ValidationMessageFor(model => model.BSADAP_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BSADAP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BSADAP_RB)
            @Html.ValidationMessageFor(model => model.BSADAP_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BSADAPP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BSADAPP_JML)
            @Html.ValidationMessageFor(model => model.BSADAPP_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BSADAPP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BSADAPP_B)
            @Html.ValidationMessageFor(model => model.BSADAPP_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BSADAPP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BSADAPP_RR)
            @Html.ValidationMessageFor(model => model.BSADAPP_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BSADAPP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BSADAPP_RB)
            @Html.ValidationMessageFor(model => model.BSADAPP_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SADAP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SADAP_JML)
            @Html.ValidationMessageFor(model => model.SADAP_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SADAP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SADAP_B)
            @Html.ValidationMessageFor(model => model.SADAP_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SADAP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SADAP_RR)
            @Html.ValidationMessageFor(model => model.SADAP_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SADAP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SADAP_RB)
            @Html.ValidationMessageFor(model => model.SADAP_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SADAPP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SADAPP_JML)
            @Html.ValidationMessageFor(model => model.SADAPP_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SADAPP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SADAPP_B)
            @Html.ValidationMessageFor(model => model.SADAPP_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SADAPP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SADAPP_RR)
            @Html.ValidationMessageFor(model => model.SADAPP_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SADAPP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SADAPP_RB)
            @Html.ValidationMessageFor(model => model.SADAPP_RB)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

