﻿@model L.PDSDA.DAL.TEMP.SaluranGendong

<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>SaluranGendong</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_GOR_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_GOR_JML)
            @Html.ValidationMessageFor(model => model.GEND_GOR_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_GOR_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_GOR_B)
            @Html.ValidationMessageFor(model => model.GEND_GOR_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_GOR_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_GOR_RR)
            @Html.ValidationMessageFor(model => model.GEND_GOR_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_GOR_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_GOR_RB)
            @Html.ValidationMessageFor(model => model.GEND_GOR_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_TERJUN_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_TERJUN_JML)
            @Html.ValidationMessageFor(model => model.GEND_TERJUN_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_TERJUN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_TERJUN_B)
            @Html.ValidationMessageFor(model => model.GEND_TERJUN_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_TERJUN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_TERJUN_RR)
            @Html.ValidationMessageFor(model => model.GEND_TERJUN_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_TERJUN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_TERJUN_RB)
            @Html.ValidationMessageFor(model => model.GEND_TERJUN_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_LAIN_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_LAIN_JML)
            @Html.ValidationMessageFor(model => model.GEND_LAIN_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_LAIN_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_LAIN_B)
            @Html.ValidationMessageFor(model => model.GEND_LAIN_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_LAIN_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_LAIN_RR)
            @Html.ValidationMessageFor(model => model.GEND_LAIN_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_LAIN_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_LAIN_RB)
            @Html.ValidationMessageFor(model => model.GEND_LAIN_RB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_LAINP_JML)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_LAINP_JML)
            @Html.ValidationMessageFor(model => model.GEND_LAINP_JML)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_LAINP_B)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_LAINP_B)
            @Html.ValidationMessageFor(model => model.GEND_LAINP_B)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_LAINP_RR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_LAINP_RR)
            @Html.ValidationMessageFor(model => model.GEND_LAINP_RR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GEND_LAINP_RB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEND_LAINP_RB)
            @Html.ValidationMessageFor(model => model.GEND_LAINP_RB)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

