﻿@model L.PDSDA.DAL.Entities.EMBUNG_POTENSI

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "EMBUNGPOTENSI", FormMethod.Post, new { id = "target" }))
{    @Html.ValidationSummary(true)
    <fieldset>
        <legend>EMBUNG_POTENSI</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_EMBUNG_POTENSI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_EMBUNG_POTENSI)
            @Html.ValidationMessageFor(model => model.K_EMBUNG_POTENSI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_PROPINSI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_PROPINSI)
            @Html.ValidationMessageFor(model => model.K_PROPINSI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_KABUPATEN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_KABUPATEN)
            @Html.ValidationMessageFor(model => model.K_KABUPATEN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_WS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_WS)
            @Html.ValidationMessageFor(model => model.K_WS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_DAS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_DAS)
            @Html.ValidationMessageFor(model => model.K_DAS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.N_EMBUNG_POTENSI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_EMBUNG_POTENSI)
            @Html.ValidationMessageFor(model => model.N_EMBUNG_POTENSI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JENIS_PENANGANAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JENIS_PENANGANAN)
            @Html.ValidationMessageFor(model => model.JENIS_PENANGANAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RENCANA_ANGGARAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RENCANA_ANGGARAN)
            @Html.ValidationMessageFor(model => model.RENCANA_ANGGARAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KAPASITAS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KAPASITAS)
            @Html.ValidationMessageFor(model => model.KAPASITAS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KK)
            @Html.ValidationMessageFor(model => model.KK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TERNAK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TERNAK)
            @Html.ValidationMessageFor(model => model.TERNAK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IRIGASI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IRIGASI)
            @Html.ValidationMessageFor(model => model.IRIGASI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KECAMATAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KECAMATAN)
            @Html.ValidationMessageFor(model => model.KECAMATAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DESA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DESA)
            @Html.ValidationMessageFor(model => model.DESA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KETERANGAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KETERANGAN)
            @Html.ValidationMessageFor(model => model.KETERANGAN)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

