﻿@model L.PDSDA.DAL.Entities.EMBUNG_POTENSI
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script>

    $(function () {
        var oKABUPATEN_PROPINSI_K_PROPINSI = $('#KABUPATEN_PROPINSI_K_PROPINSI');
        var oKABUPATEN_K_KABUPATEN = $('#KABUPATEN_K_KABUPATEN');

        oKABUPATEN_PROPINSI_K_PROPINSI.change(function () {
            var value = oKABUPATEN_PROPINSI_K_PROPINSI.val();
            $.getJSON('@Url.Content("~/Master/Kabupaten/GetKabupatenByPropinsi/?")' + "propinsiid=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih Kabupaten</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                oKABUPATEN_K_KABUPATEN.html(items);
            });
        });

        var DAS_K_DAS = $('#DAS_K_DAS');
        var WS_K_WS = $('#WS_K_WS');

        WS_K_WS.change(function () {
            var value = WS_K_WS.val();
            $.getJSON('@Url.Content("~/Sumber_Daya_Air/DAS/GetDASByWS/")' + "?k_ws=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih DAS</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                DAS_K_DAS.html(items);
            });
        });

    });
</script>
<style>
    fieldset
    {
        margin: 0 !important;
    }
</style>
@using (Html.BeginForm(@ViewBag.ActionName as string, "EMBUNGPOTENSI", FormMethod.Post, new { id = "target" }))
{    @Html.ValidationSummary(true)
    <fieldset>
        <legend>EMBUNG_POTENSI</legend>
        <table class="noborder">
            <tr>
                <td class="editor-label">
                    Kode Embung Potensi
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.K_EMBUNG_POTENSI)
                    @Html.ValidationMessageFor(model => model.K_EMBUNG_POTENSI)
                </td>
                <td class="editor-label">
                    Nama Embung Potensi
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.N_EMBUNG_POTENSI)
                    @Html.ValidationMessageFor(model => model.N_EMBUNG_POTENSI)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Propinsi
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI)
                </td>
                <td class="editor-label">
                    Kabupaten
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.KABUPATEN.K_KABUPATEN, ViewBag.collK_KABUPATEN as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.KABUPATEN.K_KABUPATEN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Nama WS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.WS.K_WS, ViewBag.collWS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.WS.K_WS)
                </td>
                <td class="editor-label">
                    Nama DAS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.DAS.K_DAS, ViewBag.collDAS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.DAS.K_DAS)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Potensi
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.JENIS_PENANGANAN, ViewBag.collJENIS_PENANGANAN as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.JENIS_PENANGANAN)
                </td>
                <td class="editor-label">
                    Rencana Anggaran (Rp. 1000)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.RENCANA_ANGGARAN)
                    @Html.ValidationMessageFor(model => model.RENCANA_ANGGARAN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Kecamatan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KECAMATAN)
                    @Html.ValidationMessageFor(model => model.KECAMATAN)
                </td>
                <td class="editor-label">
                    Desa
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DESA)
                    @Html.ValidationMessageFor(model => model.DESA)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Keterangan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KETERANGAN)
                    @Html.ValidationMessageFor(model => model.KETERANGAN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Latitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Latitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Latitude)
                </td>
                <td class="editor-label">
                    Longitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Longitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Longitude)
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="editor-field">
                        <script type="text/javascript">
                            function loadMap() {
                                var oThis = {};
                                oThis.href = '@Url.Content("~/Peta/GenericMap/IndexWithClick/")';
                                oThis.title = "Peta";
                                loadDialogMap(oThis, "divFormGenericPeta", $(window).width() - 150, $(window).height() - 200)
                            }
                        </script>
                        <a href="javascript:loadMap()" class="modalDlg, clsButtonAdd">Map</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <br />
                    Proyeksi
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Kapasitas (m3)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KAPASITAS)
                    @Html.ValidationMessageFor(model => model.KAPASITAS)
                </td>
                <td class="editor-label">
                    Penduduk ( @Html.LabelFor(model => model.KK) )
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KK)
                    @Html.ValidationMessageFor(model => model.KK)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Ternak (ekor)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.TERNAK)
                    @Html.ValidationMessageFor(model => model.TERNAK)
                </td>
                <td class="editor-label">
                    Irigasi (ha)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.IRIGASI)
                    @Html.ValidationMessageFor(model => model.IRIGASI)
                </td>
            </tr>
        </table>
    </fieldset>
}
