﻿@model L.PDSDA.DAL.Entities.STASIUNDEBIT
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script type="text/javascript">

    function fnLoadDataPosDebitDyn(oThis) {

        var IsViewable = "@ViewBag.IsViewable";
        var IsCreateable = "@ViewBag.IsCreateable";
        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        var id = $("#K_STASIUN").val();
        oThis.href = '@Url.Content("~/Hidrologi/PosDugaAirDyn/")' + "?id=" + id.replace(/ /g, '%20%') + "&IsViewable=" + IsViewable + "&IsCreateable=" + IsCreateable + "&IsUpdateable=" + IsUpdateable + "&IsDeleteable=" + IsDeleteable;
        oThis.title = "Data Curah Hujan"

        var $url2 = oThis.href;
        var $title2 = oThis.title;
        var $dialog2 = $('<div id="divPosDugaAirDyn"></div>');

        initialized("@Request.ApplicationPath");
        fnLoading();
        $dialog2
		.load($url2, function (response, status, xhr) {
		    if (status == "success") {
		        dialogLoading.dialog("close"); $dialog2.dialog('open');
		    }
		})
		    .dialog({ closeOnEscape: false,
		        position: "top",
		        autoOpen: false
			    , title: $title2
			    , width: 1000
	        	    , modal: true
			    , minHeight: 100
	        	    , show: 'fade'
		    });

        $dialog2.dialog("option", "buttons", [{
            text: "Tutup",
            click: function () {
                $(this).dialog("close");
                $(this).empty();
            },
            icons: {
                primary: 'ui-icon-circle-close'
            }
        }]);

        //        $dialog2.dialog('open');
    }
    $(function () {
        var oKABUPATEN_PROPINSI_K_PROPINSI = $("#KABUPATEN_PROPINSI_K_PROPINSI");
        var oKABUPATEN_K_KABUPATEN = $('#KABUPATEN_K_KABUPATEN');

        oKABUPATEN_PROPINSI_K_PROPINSI.change(function () {
            //            alert('test');
            var value = oKABUPATEN_PROPINSI_K_PROPINSI.val();
            $.getJSON('@Url.Content("~/Master/Kabupaten/GetKabupatenByPropinsi/?")' + "propinsiid=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih Kabupaten</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                oKABUPATEN_K_KABUPATEN.html(items);
            });
        });

        var DAS_K_DAS = $('#DA_K_DAS');
        var WS_K_WS = $('#W_K_WS');

        WS_K_WS.change(function () {
            var value = WS_K_WS.val();
            $.getJSON('@Url.Content("~/Sumber_Daya_Air/DAS/GetDASByWS/")' + "?k_ws=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih DAS</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                DAS_K_DAS.html(items);
            });
        });

    });
</script>
@using (Html.BeginForm(@ViewBag.ActionName as string, "STASIUNDEBIT", FormMethod.Post, new { id = "target" }))
{    
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>STASIUNDEBIT</legend>
        <div class="editor-label">
            Kode
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_STASIUN)
            @Html.ValidationMessageFor(model => model.K_STASIUN)
        </div>
        <div class="editor-label">
            Nama
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_STASIUN)
            @Html.ValidationMessageFor(model => model.N_STASIUN)
        </div>
        <div class="editor-label">
            Nomor Register
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_STASIUN1)
            @Html.ValidationMessageFor(model => model.K_STASIUN1)
        </div>
        <div class="editor-label">
            Propinsi
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI)
        </div>
        <div class="editor-label">
            Kabupaten
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.KABUPATEN.K_KABUPATEN, ViewBag.collK_KABUPATEN as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.KABUPATEN.K_KABUPATEN)
        </div>
        <div class="editor-label">
            WS
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.W.K_WS, ViewBag.collWS as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.W.K_WS)
        </div>
        <div class="editor-label">
            DAS
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.DA.K_DAS, ViewBag.collDAS as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.DA.K_DAS)
        </div>
        <div class="editor-label">
            Sungai
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SUNGAI)
            @Html.ValidationMessageFor(model => model.SUNGAI)
        </div>
        <div class="editor-label">
            Induk Sungai
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.INDUK_SUNGAI)
            @Html.ValidationMessageFor(model => model.INDUK_SUNGAI)
        </div>
        <div class="editor-label">
            Lokasi Geografis
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LOKASI_GEOGRAFIS)
            @Html.ValidationMessageFor(model => model.LOKASI_GEOGRAFIS)
        </div>
        <div class="editor-label">
            Luas DAS (Km2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LUAS_DAS)
            @Html.ValidationMessageFor(model => model.LUAS_DAS)
        </div>
        <div class="editor-label">
            Elevasi
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ELEVASI)
            @Html.ValidationMessageFor(model => model.ELEVASI)
        </div>
        <div class="editor-label">
            Di Bangun Oleh
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIBANGUNOLEH)
            @Html.ValidationMessageFor(model => model.DIBANGUNOLEH)
        </div>
        <div class="editor-label">
            Lokasi
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LOKASI)
            @Html.ValidationMessageFor(model => model.LOKASI)
        </div>
        <div class="editor-label">
            Tanggal Dibangun
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TGLDIBANGUN)
            @Html.ValidationMessageFor(model => model.TGLDIBANGUN)
        </div>
        <div class="editor-label">
            Jenis
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.JENIS, ViewBag.collJENIS as IList<SelectListItem>)
            @Html.ValidationMessageFor(model => model.JENIS)
        </div>
        <div class="editor-label">
            Pelaksana
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PELAKSANA)
            @Html.ValidationMessageFor(model => model.PELAKSANA)
        </div>
        <div class="editor-label">
            Latitude
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LatLong.Latitude)
            @Html.ValidationMessageFor(model => model.LatLong.Latitude)
        </div>
        <div class="editor-label">
            Longitude
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LatLong.Longitude)
            @Html.ValidationMessageFor(model => model.LatLong.Longitude)
        </div>
        <div class="editor-field">
            <script type="text/javascript">
                function loadMap() {
                    var oThis = {};
                    oThis.href = '@Url.Content("~/Peta/GenericMap/IndexWithClick/")';
                    oThis.title = "Peta";
                    loadDialogMap(oThis, "divFormGenericPeta", $(window).width() - 150, $(window).height() - 200)
                }
            </script>
            <a href="javascript:loadMap()" class="modalDlg, clsButtonAdd">Map</a>
        </div>
    </fieldset>
}
<a href="javascript:fnLoadDataPosDebitDyn(this)" class="modalDlg, clsButtonAdd">Data
    Debit / Tinggi Muka Air</a> 