﻿@model IEnumerable<L.PDSDA.DAL.Entities.SUNGAI>
@{
    ViewBag.Title = "Sungai";
    //Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    var separator = "|";
}
<script type="text/javascript" language="javascript">
    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/Sungai/Create/")';
        oThis.title = "Create Sungai"
        loadDialog(oThis, '#SungaiInfo');
    }

    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/Sungai/Edit/")' + id;
        oThis.title = "Edit Sungai"
        loadDialog(oThis, '#SungaiInfo');
    }

    function fnEditWithUrut(oThis, id, urut) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/Sungai/Edit/")' + id + "?urut=" + urut;
        oThis.title = "Edit Sungai"
        loadDialog(oThis, '#SungaiInfo');
    }

    function fnDelete(oThis, id) {
        //        var link = oThis.href;
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/Sungai/Delete/")' + id;
        oThis.title = "Delete Sungai"
        if (confirm("Are you sure that you want to delete this data?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        //                        oTable.fnDraw();
                        alert(data.message);
                        window.location.reload(true);
                    }
                    else {
                        alert(data.message);
                        window.location.reload(true);
                    }
                    //                        $(link).parents("tr").remove();
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    }

    $(function () {
        $("table.display").dataTable(
        {
            "sScrollX": "200px",
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "aoColumnDefs": [
      { "sWidth": "200px", "aTargets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] }
    ]
        });
    });        /* end document.ready() */
</script>
<!-- <h2>
    @ViewBag.BreadCrumbs</h2> -->
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Urut
            </th>
            <th>
                Orde 1
            </th>
            <th>
                Orde 2
            </th>
            <th>
                Orde 3
            </th>
            <th>
                Orde 4
            </th>
            <th>
                Orde 5
            </th>
            <th>
                WS
            </th>
            <th>
                DAS
            </th>
            <th>
                ORDE
            </th>
            <th>
                Nama Sungai
            </th>
            @*<th>
                Luas DPS (km)
            </th>
            <th>
                Panjang (Km)
            </th>
            <th>
                Lebar (m)
            </th>
            <th>
                Lereng
            </th>
            <th>
                QBANJIR_M3PD
            </th>
            <th>
                Keterangan
            </th>
            <th>
                Status Sungai
            </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="cCenterOnly">
                    @if (ViewBag.IsUpdateable)
                    {
                        <a href="javascript:fnEditWithUrut(this,'@item.K_ORDE1,@item.K_ORDE2,@item.K_ORDE3,@item.K_ORDE4,@item.K_ORDE5', @item.URUT)">
                            Edit</a> @separator
                    }
                    @if (ViewBag.IsDeleteable)
                    {
                        <a href="javascript:fnDelete(this,'@item.K_ORDE1,@item.K_ORDE2,@item.K_ORDE3,@item.K_ORDE4,@item.K_ORDE5')">
                            Delete</a>
                    }
                </td>
                <td>@item.URUT
                </td>
                <td>
                    @item.K_ORDE1
                </td>
                <td>
                    @item.K_ORDE2
                </td>
                <td>
                    @item.K_ORDE3
                </td>
                <td>
                    @item.K_ORDE4
                </td>
                <td>
                    @item.K_ORDE5
                </td>
                <td>
                    @if (item.WS != null)
                    {
                        @item.WS.N_WS
                    }
                </td>
                <td>
                    @if (item.DAS != null)
                    {
                        @item.DAS.N_DAS
                    }
                </td>
                <td>
                    @item.ORDE
                </td>
                <td>
                    @item.N_SUNGAI
                </td>
                @*<td>
                    @String.Format("{0:F}", item.LUAS_DPS_KM2)
                </td>
                <td>
                    @String.Format("{0:F}", item.PANJANG_KM)
                </td>
                <td>
                    @String.Format("{0:F}", item.LEBAR_M)
                </td>
                <td>
                    @String.Format("{0:F}", item.LERENG)
                </td>
                <td>
                    @String.Format("{0:F}", item.QBANJIR_M3PD)
                </td>
                <td>
                    @item.KETERANGAN
                </td>
                <td>
                    @item.K_STATUSSUNGAI
                </td>*@
            </tr>
        }
    </tbody>
</table>
