﻿@model L.PDSDA.DAL.Entities.SUNGAI

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create", "Sungai", FormMethod.Post, new { id = "target" }))
{ 
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>SUNGAI</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_ORDE1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_ORDE1)
            @Html.ValidationMessageFor(model => model.K_ORDE1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_ORDE2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_ORDE2)
            @Html.ValidationMessageFor(model => model.K_ORDE2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_ORDE3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_ORDE3)
            @Html.ValidationMessageFor(model => model.K_ORDE3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_ORDE4)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_ORDE4)
            @Html.ValidationMessageFor(model => model.K_ORDE4)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_ORDE5)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_ORDE5)
            @Html.ValidationMessageFor(model => model.K_ORDE5)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_WS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_WS)
            @Html.ValidationMessageFor(model => model.K_WS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_DAS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_DAS)
            @Html.ValidationMessageFor(model => model.K_DAS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ORDE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ORDE)
            @Html.ValidationMessageFor(model => model.ORDE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.N_SUNGAI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_SUNGAI)
            @Html.ValidationMessageFor(model => model.N_SUNGAI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LUAS_DPS_KM2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LUAS_DPS_KM2)
            @Html.ValidationMessageFor(model => model.LUAS_DPS_KM2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PANJANG_KM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PANJANG_KM)
            @Html.ValidationMessageFor(model => model.PANJANG_KM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LEBAR_M)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LEBAR_M)
            @Html.ValidationMessageFor(model => model.LEBAR_M)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LERENG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LERENG)
            @Html.ValidationMessageFor(model => model.LERENG)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QBANJIR_M3PD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QBANJIR_M3PD)
            @Html.ValidationMessageFor(model => model.QBANJIR_M3PD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KETERANGAN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KETERANGAN)
            @Html.ValidationMessageFor(model => model.KETERANGAN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.K_STATUSSUNGAI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_STATUSSUNGAI)
            @Html.ValidationMessageFor(model => model.K_STATUSSUNGAI)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

