﻿@model IEnumerable<L.PDSDA.DAL.Entities.SUNGAI>
@{
    ViewBag.Title = "Sungai";
    //Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    var separator = "|";
}
<script type="text/javascript" language="javascript">

    function fnDetail(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/Sungai/Detail/")' + id;
        oThis.title = "Detail Sungai"
        loadDetailDialogCustomControl(oThis, "divFormSungai", $(window).width() - 100, "300px", "target", oTable)

    }

    function fnPeta(oThis, Latitude, Longitude, Title) {
        oThis.href = '@Url.Content("~/Peta/GenericMap/Index/")' + "?Latitude=" + Latitude + "&Longitude=" + Longitude + "&Title=" + Title;
        oThis.title = "Peta Sungai " + Title
        //        loadDialogMap(oThis, "divFormGenericPeta", $(parent.$("#main").width()), $(parent.$("#main").height()) + 200)
        loadDialogMap(oThis, "divFormGenericPeta", $(window).width() - 150, $(window).height() - 200)

    }

    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/Sungai/Create/")';
        oThis.title = "Create Sungai"
        //            loadDialog(oThis, '#SungaiInfo');
        loadDefaultDialogCustomControl(oThis, "divFormSungai", $(window).width() - 100, "300px", "target", oTable)
    }

    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/Sungai/Edit/")' + id;
        oThis.title = "Edit Sungai"
        //            loadDialog(oThis, '#SungaiInfo');
        loadDefaultDialogCustomControl(oThis, "divFormSungai", $(window).width() - 100, "300px", "target", oTable)

    }

    //        function fnEditWithUrut(oThis, id, urut) {

    //            oThis.href = '@Url.Content("~/Sumber_Daya_Air/Sungai/Edit/")' + id + "?urut=" + urut;
    //            oThis.title = "Edit Sungai"
    //            loadDialog(oThis, '#SungaiInfo');
    //        }

    function fnDelete(oThis, id) {
        //        var link = oThis.href;
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/Sungai/Delete/")' + id;
        oThis.title = "Delete Sungai"
        if (confirm("Are you sure that you want to delete this data?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        //                        oTable.fnDraw();
                        alert(data.message);
                        //                            window.location.reload(true);
                        oTable.fnDraw();
                    }
                    else {
                        alert(data.message);
                        oTable.fnDraw();
                        //                            window.location.reload(true);
                    }
                    //                        $(link).parents("tr").remove();
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    }

    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        //            oTable =.dataTable();
        oTable = $("table.display").dataTable(
        {
            //            "sScrollX": "100%",
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/Sumber_Daya_Air/Sungai/LoadAllData/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "ORDE" }, { "mData": "N_SUNGAI" }, { "mData": "N_WS" }, { "mData": "N_DAS" }, { "mData": "LatLong"}],
            "aoColumnDefs": [{
                "sWidth": "200px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True" || IsUpdateable == "True") {

                        if (IsDeleteable == "True") {

                            var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-trash"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData);
                                fnDelete(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }


                        if (IsUpdateable == "True") {
                            var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-wrench"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData.KEY);
                                fnEdit(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }
                    }
                    if (IsUpdateable != "True") {var b = $('<button style="margin: 0" class="clsButtonDetail, cCenterOnly,">Detail</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-newwin"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnDetail(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }

                }
            }
            , {
                "aTargets": [5],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (oData.LatLong != null) {

                        var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Peta</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-search"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            if (oData.LatLong != null) {
                                fnPeta(this, oData.LatLong.Latitude, oData.LatLong.Longitude, oData.pTitle);
                            }
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });
    });              /* end document.ready() */
</script>
<!-- <h2>
    @ViewBag.BreadCrumbs</h2> -->
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display">
    <thead>
        <tr>
            <th class="cCenterOnly">
            </th>
            <th>
                Orde
            </th>
            <th>
                Nama Sungai
            </th>
            <th>
                WS
            </th>
            <th>
                Das
            </th>
            <th>
                Lokasi
            </th>
        </tr>
    </thead>
    @*<thead>
        <tr>
            <th>
            </th>
            <th>
                Urut
            </th>
            <th>
                Orde 1
            </th>
            <th>
                Orde 2
            </th>
            <th>
                Orde 3
            </th>
            <th>
                Orde 4
            </th>
            <th>
                Orde 5
            </th>
            <th>
                WS
            </th>
            <th>
                DAS
            </th>
            <th>
                ORDE
            </th>
            <th>
                Nama Sungai
            </th>
            <th>
                Luas DPS (km)
            </th>
            <th>
                Panjang (Km)
            </th>
            <th>
                Lebar (m)
            </th>
            <th>
                Lereng
            </th>
            <th>
                QBANJIR_M3PD
            </th>
            <th>
                Keterangan
            </th>
            <th>
                Status Sungai
            </th>
        </tr>
    </thead>*@ @*<tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="cCenterOnly">
                    @if (ViewBag.IsUpdateable)
                    {
                        <a href="javascript:fnEditWithUrut(this,'@item.K_ORDE1,@item.K_ORDE2,@item.K_ORDE3,@item.K_ORDE4,@item.K_ORDE5', @item.URUT)">
                            Edit</a> @separator
                    }
                    @if (ViewBag.IsDeleteable)
                    {
                        <a href="javascript:fnDelete(this,'@item.K_ORDE1,@item.K_ORDE2,@item.K_ORDE3,@item.K_ORDE4,@item.K_ORDE5')">
                            Delete</a>
                    }
                </td>
                <td>@item.URUT
                </td>
                <td>
                    @item.K_ORDE1
                </td>
                <td>
                    @item.K_ORDE2
                </td>
                <td>
                    @item.K_ORDE3
                </td>
                <td>
                    @item.K_ORDE4
                </td>
                <td>
                    @item.K_ORDE5
                </td>
                <td>
                    @if (item.WS != null)
                    {
                        @item.WS.N_WS
                    }
                </td>
                <td>
                    @if (item.DAS != null)
                    {
                        @item.DAS.N_DAS
                    }
                </td>
                <td>
                    @item.ORDE
                </td>
                <td>
                    @item.N_SUNGAI
                </td>
                <td>
                    @String.Format("{0:F}", item.LUAS_DPS_KM2)
                </td>
                <td>
                    @String.Format("{0:F}", item.PANJANG_KM)
                </td>
                <td>
                    @String.Format("{0:F}", item.LEBAR_M)
                </td>
                <td>
                    @String.Format("{0:F}", item.LERENG)
                </td>
                <td>
                    @String.Format("{0:F}", item.QBANJIR_M3PD)
                </td>
                <td>
                    @item.KETERANGAN
                </td>
                <td>
                    @item.K_STATUSSUNGAI
                </td>
            </tr>
        }
    </tbody>*@
</table>
<script src="@Url.Content("~/Content/js/backgroundcolor.js")" type="text/javascript"></script>
