﻿@model IEnumerable<L.PDSDA.DAL.Entities.SUNGAI>
@{
    ViewBag.Title = "Sungai";
}
<script type="text/javascript" language="javascript">

    function fnDetail(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/Sungai/Detail/")' + id;
        oThis.title = "Detail Sungai"
        loadDetailDialogCustomControl(oThis, "divFormSungai", $(window).width() - 100, "300px", "target", oTable)

    }

    function fnPeta(oThis, Latitude, Longitude, Title) {
        oThis.href = '@Url.Content("~/Peta/GenericMap/Index/")' + "?Latitude=" + Latitude + "&Longitude=" + Longitude + "&Title=" + Title;
        oThis.title = "Peta Sungai " + Title
        loadDialogMap(oThis, "divFormGenericPeta", $(window).width() - 150, $(window).height() - 200)

    }

    function fnSelection(oThis, KEY, Title) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/Sungai/SelectionSungai/")' + "?KEY=" + KEY;
        oThis.title = "Sungai " + Title
        loadDetailDialogCustomControl(oThis, "divFormSungai", 680, "150px", "target", oTable)

    }

    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/Sungai/Create/")';
        oThis.title = "Create Sungai"
        loadDefaultDialogCustomControl(oThis, "divFormSungai", $(window).width() - 100, "300px", "target", oTable)
    }

    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/Sungai/Edit/")' + id;
        oThis.title = "Edit Sungai"
        loadDefaultDialogCustomControl(oThis, "divFormSungai", $(window).width() - 100, "300px", "target", oTable)

    }

    function fnDelete(oThis, id) {
        //        var link = oThis.href;
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/Sungai/Delete/")' + id;
        oThis.title = "Delete Sungai"
        if (confirm("Are you sure that you want to delete this data?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                        oTable.fnDraw();
                    }
                    else {
                        alert(data.message);
                        oTable.fnDraw();
                    }
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    }

    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        oTable = $("table.display").dataTable(
        {
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/Sumber_Daya_Air/Sungai/LoadAllData/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "ORDE" }, { "mData": "N_SUNGAI" }, { "mData": "N_WS" }, { "mData": "N_DAS" }, { "mData": "LatLong"}],
            "aoColumnDefs": [{
                "sWidth": "200px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True" || IsUpdateable == "True") {

                        if (IsDeleteable == "True") {

                            var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-trash"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData);
                                fnDelete(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }


                        if (IsUpdateable == "True") {
                            var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-wrench"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                fnEdit(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }
                    }
                    if (IsUpdateable != "True") {
                        var b = $('<button style="margin: 0" class="clsButtonDetail, cCenterOnly,">Detail</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-newwin"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnDetail(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }

                }
            }
            , {
                "aTargets": [5],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (oData.LatLong != null) {

                        var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Peta</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-search"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            if (oData.LatLong != null) {
                                fnPeta(this, oData.LatLong.Latitude, oData.LatLong.Longitude, oData.pTitle);
                            }
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }, {
                "aTargets": [2],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (oData.N_SUNGAI != null) {
                        var b = $('<a href="#">' + oData.N_SUNGAI + '</a>');
                        b.on('click', function () {
                            fnSelection(this, oData.KEY, oData.N_SUNGAI);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });
    });              /* end document.ready() */
</script>
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display">
    <thead>
        <tr>
            <th class="cCenterOnly">
            </th>
            <th>
                Orde
            </th>
            <th>
                Nama Sungai
            </th>
            <th>
                WS
            </th>
            <th>
                Das
            </th>
            <th>
                Lokasi
            </th>
        </tr>
    </thead>
</table>
<script src="@Url.Content("~/Content/js/backgroundcolor.js")" type="text/javascript"></script>
