﻿@model L.PDSDA.DAL.Entities.SUNGAI
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script>
    $(function () {

        var DAS_K_DAS = $('#DAS_K_DAS');
        var WS_K_WS = $('#WS_K_WS');

        WS_K_WS.change(function () {
            var value = WS_K_WS.val();
            $.getJSON('@Url.Content("~/Sumber_Daya_Air/DAS/GetDASByWS/")' + "?k_ws=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih DAS</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                DAS_K_DAS.html(items);
            });
        });
    });
</script>
<style>
    #K_ORDE1, #K_ORDE2, #K_ORDE3, #K_ORDE4, #K_ORDE5
    {
        width: 150px !important;
    }
</style>
@using (Html.BeginForm(@ViewBag.ActionName as string, "Sungai", FormMethod.Post, new { id = "target" }))
{ 
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>SUNGAI</legend>
        <fieldset>
            <legend>Orde Sungai</legend>
            <table class="noborder">
                <tr>
                    <td class="editor-label">
                        Orde 1
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.K_ORDE1)
                        @Html.ValidationMessageFor(model => model.K_ORDE1)
                    </td>
                    <td class="editor-label">
                        Orde 2
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.K_ORDE2)
                        @Html.ValidationMessageFor(model => model.K_ORDE2)
                    </td>
                    <td class="editor-label">
                        Orde 3
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.K_ORDE3)
                        @Html.ValidationMessageFor(model => model.K_ORDE3)
                    </td>
                    <td class="editor-label">
                        Orde 4
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.K_ORDE4)
                        @Html.ValidationMessageFor(model => model.K_ORDE4)
                    </td>
                    <td class="editor-label">
                        Orde 5
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.K_ORDE5)
                        @Html.ValidationMessageFor(model => model.K_ORDE5)
                    </td>
                </tr>
            </table>
        </fieldset>
        <table class="noborder">
            <tr>
                <td class="editor-label">
                    Nama Sungai
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.N_SUNGAI)
                    @Html.ValidationMessageFor(model => model.N_SUNGAI)
                </td>
                <td class="editor-label">
                    Orde Sungai
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.ORDE)
                    @Html.ValidationMessageFor(model => model.ORDE)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    WS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.WS.K_WS, ViewBag.collWS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.WS.K_WS)
                </td>
                <td class="editor-label">
                    DAS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.DAS.K_DAS, ViewBag.collDAS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.DAS.K_DAS)
                </td>
            </tr>
            <tr>
                <td class="editor-label" colspan="2">
                    Status Sungai
                </td>
                <td class="editor-field" colspan="2">
                    @Html.DropDownListFor(x => x.K_STATUSSUNGAI, ViewBag.collK_STATUSSUNGAI as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.K_STATUSSUNGAI)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Luas DPS (Km2)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LUAS_DPS_KM2)
                    @Html.ValidationMessageFor(model => model.LUAS_DPS_KM2)
                </td>
                <td class="editor-label">
                    Panjang Sungai (Km)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.PANJANG_KM)
                    @Html.ValidationMessageFor(model => model.PANJANG_KM)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Lebar Max (m)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LEBAR_M)
                    @Html.ValidationMessageFor(model => model.LEBAR_M)
                </td>
                <td class="editor-label">
                    Kelerengan Rata-Rata
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LERENG)
                    @Html.ValidationMessageFor(model => model.LERENG)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Q Max (m3/det)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.QBANJIR_M3PD)
                    @Html.ValidationMessageFor(model => model.QBANJIR_M3PD)
                </td>
                <td class="editor-label">
                    Keterangan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KETERANGAN)
                    @Html.ValidationMessageFor(model => model.KETERANGAN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Latitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Latitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Latitude)
                </td>
                <td class="editor-label">
                    Longitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Longitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Longitude)
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="editor-field">
                        <script type="text/javascript">
                            function loadMap() {
                                var oThis = {};
                                oThis.href = '@Url.Content("~/Peta/GenericMap/IndexWithClick/")';
                                oThis.title = "Peta";
                                loadDialogMap(oThis, "divFormGenericPeta", $(window).width() - 150, $(window).height() - 200)
                            }
                        </script>
                        <a href="javascript:loadMap()" class="modalDlg, clsButtonAdd">Map</a>
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
}
