﻿@model L.PDSDA.DAL.Entities.SUNGAI
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/backgroundcolor.js")" type="text/javascript"></script>
<script>
    $(function () {

        var DAS_K_DAS = $('#DAS_K_DAS');
        var WS_K_WS = $('#WS_K_WS');

        WS_K_WS.change(function () {
            var value = WS_K_WS.val();
            $.getJSON('@Url.Content("~/Sumber_Daya_Air/DAS/GetDASByWS/")' + "?k_ws=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih DAS</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                DAS_K_DAS.html(items);
            });
        });
    });
</script>
@using (Html.BeginForm(@ViewBag.ActionName as string, "Sungai", FormMethod.Post, new { id = "target" }))
{ 
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>SUNGAI</legend>
        <fieldset>
            <legend>Orde Sungai</legend>
            <div class="editor-label">
                Orde 1
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.K_ORDE1)
                @Html.ValidationMessageFor(model => model.K_ORDE1)
            </div>
            <div class="editor-label">
                Orde 2
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.K_ORDE2)
                @Html.ValidationMessageFor(model => model.K_ORDE2)
            </div>
            <div class="editor-label">
                Orde 3
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.K_ORDE3)
                @Html.ValidationMessageFor(model => model.K_ORDE3)
            </div>
            <div class="editor-label">
                Orde 4
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.K_ORDE4)
                @Html.ValidationMessageFor(model => model.K_ORDE4)
            </div>
            <div class="editor-label">
                Orde 5
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.K_ORDE5)
                @Html.ValidationMessageFor(model => model.K_ORDE5)
            </div>
        </fieldset>
        <div class="editor-label">
            Nama Sungai
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_SUNGAI)
            @Html.ValidationMessageFor(model => model.N_SUNGAI)
        </div>
        <div class="editor-label">
            Orde Sungai
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ORDE)
            @Html.ValidationMessageFor(model => model.ORDE)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LUAS_DPS_KM2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LUAS_DPS_KM2)
            @Html.ValidationMessageFor(model => model.LUAS_DPS_KM2)
        </div>
        <div class="editor-label">
            Panjang Sungai (Km)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PANJANG_KM)
            @Html.ValidationMessageFor(model => model.PANJANG_KM)
        </div>
        <div class="editor-label">
            Lebar Max (m)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LEBAR_M)
            @Html.ValidationMessageFor(model => model.LEBAR_M)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LERENG)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LERENG)
            @Html.ValidationMessageFor(model => model.LERENG)
        </div>
        <div class="editor-label">
            Q Max (m3/det)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QBANJIR_M3PD)
            @Html.ValidationMessageFor(model => model.QBANJIR_M3PD)
        </div>
        <div class="editor-label">
            Keterangan
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KETERANGAN)
            @Html.ValidationMessageFor(model => model.KETERANGAN)
        </div>
        <div class="editor-label">
            Status Sungai
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.K_STATUSSUNGAI, ViewBag.collK_STATUSSUNGAI as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.K_STATUSSUNGAI)
        </div>
        <div class="editor-label">
            Nama WS
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.WS.K_WS, ViewBag.collWS as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.WS.K_WS)
        </div>
        <div class="editor-label">
            Nama DAS
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.DAS.K_DAS, ViewBag.collDAS as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.DAS.K_DAS)
        </div>
    </fieldset>
}
