﻿@{
    string KEY = ViewBag.SungaiKey;
}
<table>
    <tr>
        <td>
            <a href="javascript:fnLoad(this, 'tanggul')" class="clsButtonAdd">Tanggul</a>
        </td>
        <td>
            <a href="javascript:fnLoad(this, 'sluice')" class="clsButtonAdd">Sluice</a>
        </td>
        <td>
            <a href="javascript:fnLoad(this, 'revetment')" class="clsButtonAdd">Revetment</a>
        </td>
        <td>
            <a href="javascript:fnLoad(this, 'krib')" class="clsButtonAdd">Kribs</a>
        </td>
        <td>
            <a href="javascript:fnLoad(this, 'pompa')" class="clsButtonAdd">Pompa</a>
        </td>
        <td>
            <a href="javascript:fnLoad(this, 'groundsill')" class="clsButtonAdd">Ground Sill</a>
        </td>
    </tr>
</table>
<script type="text/javascript" language="javascript">
    function fnLoad(oThis, name) {
        if (name == "tanggul") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/Tanggul/Index/")' + '?KEY=@KEY' + "&IsViewable=@ViewBag.IsViewable" + "&IsCreateable=@ViewBag.IsCreateable" + "&IsUpdateable=@ViewBag.IsUpdateable" + "&IsDeleteable=@ViewBag.IsDeleteable" + "&method=@ViewBag.Method";
        }
        else if (name == "sluice") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/Sluice/Index/")' + '?KEY=@KEY' + "&IsViewable=@ViewBag.IsViewable" + "&IsCreateable=@ViewBag.IsCreateable" + "&IsUpdateable=@ViewBag.IsUpdateable" + "&IsDeleteable=@ViewBag.IsDeleteable" + "&method=@ViewBag.Method";
        }
        else if (name == "pompa") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/Pompa/Index/")' + '?KEY=@KEY' + "&IsViewable=@ViewBag.IsViewable" + "&IsCreateable=@ViewBag.IsCreateable" + "&IsUpdateable=@ViewBag.IsUpdateable" + "&IsDeleteable=@ViewBag.IsDeleteable" + "&method=@ViewBag.Method";
        }
        else if (name == "groundsill") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/groundsill/Index/")' + '?KEY=@KEY' + "&IsViewable=@ViewBag.IsViewable" + "&IsCreateable=@ViewBag.IsCreateable" + "&IsUpdateable=@ViewBag.IsUpdateable" + "&IsDeleteable=@ViewBag.IsDeleteable" + "&method=@ViewBag.Method";
        }
        else if (name == "krib") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/krib/Index/")' + '?KEY=@KEY' + "&IsViewable=@ViewBag.IsViewable" + "&IsCreateable=@ViewBag.IsCreateable" + "&IsUpdateable=@ViewBag.IsUpdateable" + "&IsDeleteable=@ViewBag.IsDeleteable" + "&method=@ViewBag.Method";
        }
        else if (name == "revetment") {
            oThis.href = '@Url.Content("~/Sumber_Daya_Air/revetment/Index/")' + '?KEY=@KEY' + "&IsViewable=@ViewBag.IsViewable" + "&IsCreateable=@ViewBag.IsCreateable" + "&IsUpdateable=@ViewBag.IsUpdateable" + "&IsDeleteable=@ViewBag.IsDeleteable" + "&method=@ViewBag.Method";
        }
        oThis.title = name;
        loadDetailDialogCustomControl(oThis, "divFormSungai", $(window).width() - 100, "300px", "target", oTable)
    }
</script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
