﻿@using SharpMap;
@model Map
@{
    ViewBag.Title = "SampleMap1";
    Layout = "~/Views/Shared/_PDSDALoginLayout.cshtml";
}
<h2>
    SampleMap1</h2>
<div>@Model</div>

<link rel="stylesheet" href="@Url.Content("~/theme/default/style.css?v=1")" />
<link rel="stylesheet" href="@Url.Content("~/Content/openlayers.css?v=1")" />
<script type="text/javascript" src="@Url.Content("~/lib/OpenLayers.js?v=1")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ol/LoadingPanel.js?v=1")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/script_ol.js?v=1")"></script>
<div id="map">
</div>
