﻿@using L.Core.Utilities
@{
    TextWriter tw = new StringWriter();
    Json.Write(this.Session["DebitAirEvents"] == null ? null : this.Session["DebitAirEvents"], tw);
    var Events = HttpUtility.HtmlDecode(tw.ToString());
    ViewBag.Title = "Data Debit Air Harian";
    var Action = ViewBag.ActionName;
    var K_STASIUN = ViewBag.K_STASIUN;
    var collTahun = ViewBag.collTahun;
    var TAHUN = L.Core.Utilities.Utils.GetQueryString("tahun");
    var method = Utils.GetQueryString("method");
}
<div id='calendarda' style="visibility: hidden">
</div>
<br />
@if (method != "Detail")
{
    <a id="btnTestBlobda" href="#" class="clsButtonAdd">Selesai Ubah Data</a>
}
<div id="divNilaiHarianda" style="visibility: hidden; width: 250px">
    <input type="text" id="txtNilaiHarianda" />
    <input type="button" value="Ubah Data" id="btnSimpanDanKeluarda" />
    <input type="hidden" id="dateInYearda" />
</div>
<link href='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.css")' rel='stylesheet' />
<link href='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.print.css")' rel='stylesheet' media='print' />
<script src='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Content/plugin/underscore-min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Content/js/myjs.js")' type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
*@
<script type="text/javascript">
    var calendarda = $('#calendarda');
    var btnTestBlobda = $("#btnTestBlobda");
    var yearda = "@TAHUN";
    var dateInYearda = $("#dateInYearda");
    var btnSimpanDanKeluarda = $("#btnSimpanDanKeluarda");
    var storedEvents = _.unescape("@Events");

    $(function () {
        initialized("@Request.ApplicationPath");
        BuildCalendar(yearda);
        calendarda.removeAttr("style");
    });

    //btnTestBlobda
    btnTestBlobda.click(function () {
        fnLoading();
        var events = calendarda.fullCalendar('clientEvents');
        var sortEvents = _.sortBy(events, function (data) { return data.start; })
        var obj = new Array();
        for (var i = 0; i < sortEvents.length; i++) {
            var event = sortEvents[i];
            var id;
            try {
                id = $.fullCalendar.formatDate(event.id, "dd-MM-yyyy");
            } catch (e) {
                id = event.id;
            }
            var title = event.title;
            obj.push({ id: id, title: title });
        }
        $.ajax({
            url: '@Url.Action("SetToCacheDebitAir", "PosDugaAirDyn")' + "?TAHUN=" + yearda + "&K_STASIUN=@K_STASIUN",
            data: JSON.stringify(obj),
            type: 'POST',
            contentType: 'application/json; charset=utf-8'
            , success: function (response) {
                if (response.message.valueOf() == 'at NHibernate.Id.Assigned.Generate') {
                    alert('Kode / Id Tidak Boleh Kosong');
                    return false;
                }
                else {
                    alert(response.message);
                }
                dialogLoading.dialog("close");
                return false;
            },
            error: function (xhr) {
                alert(xhr.message);

                if (xhr.status == 400)
                    dlg.html(xhr.responseText, xhr.status);     /* display validation errors in this dialog */
                else {
                    alert(xhr);
                }
                dialogLoading.dialog("close");
            }
        });
    })

    function BuildCalendar(yearda) {
        var date = $.datepicker.parseDate("dd-mm-yy", "01-01-" + yearda);
        var d = date.getDate();
        var m = date.getMonth();
        var y = yearda;
        var json = $.parseJSON(storedEvents);
        calendarda = $('#calendarda').fullCalendar({
            year: y,
            month: 0,
            date: 1,
            defaultView: 'month',
            header: {
                left: 'prev,next',
                center: 'title',
                right: 'month'
            },
            disableDragging: true,
            selectable: true,
            selectHelper: true,

            viewDisplay: function (view) {
                var now = $.datepicker.parseDate("dd-mm-yy", "01-01-" + yearda);
                var end = $.datepicker.parseDate("dd-mm-yy", "01-01-" + yearda);
                end.setMonth(now.getMonth() + 11); //Adjust as needed
                var cal_date_string = view.start.getMonth() + '/' + view.start.getFullYear();
                var cur_date_string = now.getMonth() + '/' + now.getFullYear();
                var end_date_string = end.getMonth() + '/' + end.getFullYear();
                if (cal_date_string == cur_date_string) { jQuery('.fc-button-prev').addClass("fc-state-disabled"); }
                else { jQuery('.fc-button-prev').removeClass("fc-state-disabled"); }
                if (end_date_string == cal_date_string) { jQuery('.fc-button-next').addClass("fc-state-disabled"); }
                else { jQuery('.fc-button-next').removeClass("fc-state-disabled"); }
            },
            select: function (start, end, allDay) {
                var id = $.fullCalendar.formatDate(start, "d-MM-yyyy");
                var event = calendarda.fullCalendar('clientEvents', id);
                dateInYearda.val(id);
                var title = "";
                try {
                    title = event[0].title;
                } catch (e) {
                }
                if ("@method" != "Detail") {
                    $("#txtNilaiHarianda").val(title);
                    $("#divNilaiHarianda").removeAttr("style");
                    $("#divNilaiHarianda").dialog({ modal: true });
                }
            },
            editable: true,
            events: json,
            close: function () { }
        })
    }

    //btnSimpanDanKeluarda
    btnSimpanDanKeluarda.click(function () {
        var date = $.datepicker.parseDate("dd-mm-yy", dateInYearda.val());
        if (date.getFullYear() != yearda) {
            alert('tahun tidak berada pada tahun yang sama');
            return;
        }
        date = $.fullCalendar.formatDate(date, "d-MM-yyyy");
        var event = calendarda.fullCalendar('clientEvents', date);
        if (date && $("#txtNilaiHarianda").val()) {
            if (!$.isNumeric($("#txtNilaiHarianda").val())) {
                alert('harap masukkan angka');
                return;
            }
            if (event) {
                $('#calendarda').fullCalendar('removeEvents', date);
            }
            var dateStart = $.datepicker.parseDate("dd-mm-yy", dateInYearda.val());
            $("#calendarda").fullCalendar('renderEvent',
                {
                    id: date, // $.fullCalendar.formatDate(start, "dd-MM-yyyy"),
                    title: $("#txtNilaiHarianda").val(),
                    start: dateStart
                },
                true // make the event "stick"
            );
        }
        $("#divNilaiHarianda").dialog('close');
        $("#divNilaiHarianda").dialog("destroy");
        $("#divNilaiHarianda").css("visibility", "hidden");
    });
</script>
