﻿@model L.PDSDA.DAL.Entities.STASIUNDEBIT_DYN
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script type="text/javascript" language="javascript">
    $("#tabs").tabs();

    function fnLoadDataHarian(oThis, strFlag) {

        var IsViewable = "@ViewBag.IsViewable";
        var IsCreateable = "@ViewBag.IsCreateable";
        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        var url = strFlag == "debitair" ? '@Url.Content("~/Hidrologi/PosDugaAirDyn/DebitAir/")' : '@Url.Content("~/Hidrologi/PosDugaAirDyn/TMA")';
        var tahun = $("#TAHUN").val();
        if (!$.isNumeric(tahun)) {
            alert('harap masukkan tahun');
            return;
        }
        var id = $("#K_STASIUN").val();
        oThis.href = url + "?id=" + id.replace(/ /g, '%20%') + "&IsViewable=" + IsViewable + "&IsCreateable=" + IsCreateable + "&IsUpdateable=" + IsUpdateable + "&IsDeleteable=" + IsDeleteable + "&tahun=" + tahun;
        oThis.title = "Data Curah Debit Air"

        var $url2 = oThis.href;
        var $title2 = oThis.title;
        var $dialog2 = $('<div id="divPosDebitAirDyn"></div>');

        initialized("@Request.ApplicationPath");
        fnLoading();
        $dialog2
		.load($url2, function (response, status, xhr) {
		    if (status == "success") {
		        dialogLoading.dialog("close"); // $dialog2.dialog('open');
		    }
		})
		    .dialog({ closeOnEscape: false,
		        position: "top",
		        autoOpen: false
			    , title: $title2
			    , minWidth: 750
	        	    , modal: true
			    , minHeight: 100
	        	    , show: 'fade',
		        close: function () {
		            $(this).dialog("close");
		            $(this).dialog("destroy");
		            //		            $(this).empty();
		        }
		    });

        $dialog2.dialog("option", "buttons", [{
            text: "Tutup",
            click: function () {
                $(this).dialog("close");
                //                $(this).dialog("destroy");
                //                $(this).empty();
            },
            icons: {
                primary: 'ui-icon-circle-close'
            }
        }]);

        $dialog2.dialog('open');
    }

</script>
@using (Html.BeginForm(@ViewBag.ActionName as string, "STASIUNDEBIT_DYN", FormMethod.Post, new { id = "target2" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.K_STASIUN)
    <fieldset>
        <legend>STASIUNDEBIT_DYN</legend>@*  <div class="editor-label">
            @Html.LabelFor(model => model.K_STASIUN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_STASIUN)
            @Html.ValidationMessageFor(model => model.K_STASIUN)
        </div>*@
        <div class="editor-label">
            Tahun
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TAHUN)
            @Html.ValidationMessageFor(model => model.TAHUN)
        </div>
        <br />
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Data Debit Air</a></li>
                <li><a href="#tabs-2">Data Tinggi Muka Air</a></li>
            </ul>
            <div class="heightAuto" id="tabs-1">
                <table class="noborder">
                    <tr>
                        <td class="editor-label">
                            Periode
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.D_PERIODE_PENCATATAN)
                            @Html.ValidationMessageFor(model => model.D_PERIODE_PENCATATAN)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Debit Maksimum Ekstrim pada Tahun Berjalan
                        </td>
                        <td colspan="2">
                            Debit Maksimum Ekstrim s/d Tahun Berjalan
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            Maksimum
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.D_MAKSIMUM_EKSTRIM)
                            @Html.ValidationMessageFor(model => model.D_MAKSIMUM_EKSTRIM)
                        </td>
                        <td class="editor-label">
                            Maksimum
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.D_MAKSIMUM_EKSTRIM_KUMULATIF)
                            @Html.ValidationMessageFor(model => model.D_MAKSIMUM_EKSTRIM_KUMULATIF)
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            Minimum
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.D_MINIMUM_EKSTRIM)
                            @Html.ValidationMessageFor(model => model.D_MINIMUM_EKSTRIM)
                        </td>
                        <td class="editor-label">
                            Minimum
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.D_MINIMUM_EKSTRIM_KUMULATIF)
                            @Html.ValidationMessageFor(model => model.D_MINIMUM_EKSTRIM_KUMULATIF)
                        </td>
                    </tr>
                </table>
                <table class="noborder">
                    <tr>
                        <td class="editor-label">
                            Penentuan Besar Aliran
                        </td>
                        <td class="editor-field">
                            @Html.TextAreaFor(model => model.D_PENENTUAN)
                            @Html.ValidationMessageFor(model => model.D_PENENTUAN)
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            Catatan
                        </td>
                        <td class="editor-field">
                            @Html.TextAreaFor(model => model.D_CATATAN)
                            @Html.ValidationMessageFor(model => model.D_CATATAN)
                        </td>
                        @* <td class="editor-label">
                            @Html.LabelFor(model => model.D_JENIS_ALAT)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.D_JENIS_ALAT)
                            @Html.ValidationMessageFor(model => model.D_JENIS_ALAT)
                        </td>*@
                    </tr>
                    @* <tr>
                        <td class="editor-label">
                            @Html.LabelFor(model => model.D_PELAKSANA)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.D_PELAKSANA)
                            @Html.ValidationMessageFor(model => model.D_PELAKSANA)
                        </td>
                    </tr>*@
                </table>
                <br />
                <a href="javascript:fnLoadDataHarian(this, 'debitair')" class="modalDlg, clsButtonAdd">
                    Data Harian Debit Air</a>
            </div>
            <!-- TAB SEPARATOR -->
            <div class="heightAuto" id="tabs-2">
                <table class="noborder">
                    <tr>
                        <td class="editor-label">
                            Periode
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.T_PERIODE_PENCATATAN)
                            @Html.ValidationMessageFor(model => model.T_PERIODE_PENCATATAN)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Tinggi Muka Air pada Tahun Berjalan
                        </td>
                        <td colspan="2">
                            Tinggi Muka Air s/d Tahun Berjalan
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            Maksimum
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.T_MAKSIMUM_EKSTRIM)
                            @Html.ValidationMessageFor(model => model.T_MAKSIMUM_EKSTRIM)
                        </td>
                        <td class="editor-label">
                            Maksimum
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.T_MAKSIMUM_EKSTRIM_KUMULATIF)
                            @Html.ValidationMessageFor(model => model.T_MAKSIMUM_EKSTRIM_KUMULATIF)
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            Minimum
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.T_MINIMUM_EKSTRIM)
                            @Html.ValidationMessageFor(model => model.T_MINIMUM_EKSTRIM)
                        </td>
                        <td class="editor-label">
                            Minimum
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.T_MINIMUM_EKSTRIM_KUMULATIF)
                            @Html.ValidationMessageFor(model => model.T_MINIMUM_EKSTRIM_KUMULATIF)
                        </td>
                    </tr>
                </table>
                <table class="noborder">
                    <tr>
                        <td class="editor-label">
                            Penentuan Besar Aliran
                        </td>
                        <td class="editor-field">
                            @Html.TextAreaFor(model => model.T_PENENTUAN)
                            @Html.ValidationMessageFor(model => model.T_PENENTUAN)
                        </td>
                    </tr>
                    <tr>
                        <td class="editor-label">
                            Catatan
                        </td>
                        <td class="editor-field">
                            @Html.TextAreaFor(model => model.T_CATATAN)
                            @Html.ValidationMessageFor(model => model.T_CATATAN)
                        </td>
                        @* <td class="editor-label">
                            @Html.LabelFor(model => model.T_JENIS_ALAT)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.T_JENIS_ALAT)
                            @Html.ValidationMessageFor(model => model.T_JENIS_ALAT)
                        </td>*@
                    </tr>
                    <tr>
                        @*<td class="editor-label" colspan="2">
                            @Html.LabelFor(model => model.T_PELAKSANA)
                        </td>
                        <td class="editor-field" colspan="2">
                            @Html.EditorFor(model => model.T_PELAKSANA)
                            @Html.ValidationMessageFor(model => model.T_PELAKSANA)
                        </td>*@ @* <td class="editor-label">
                            @Html.LabelFor(model => model.TMA)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(model => model.TMA)
                            @Html.ValidationMessageFor(model => model.TMA)
                        </td>*@
                    </tr>
                </table>
                <br />
                <a href="javascript:fnLoadDataHarian(this, 'tinggimukaair')" class="modalDlg, clsButtonAdd">
                    Data Harian Tinggi Muka Air</a>
            </div>
        </div>
    </fieldset>
}