﻿@*@model L.PDSDA.Web.DTOs.STASIUNDEBIT_DYNDTO*@
@using L.Core.Utilities
@{
    //var STASIUNDEBIT_DYN = Model == null ? null : Model.STASIUNDEBIT_DYN;
    //TextWriter tw = new StringWriter();
    //Json.Write(Model == null ? null : Model.DebitAirEvents, tw);
    TextWriter tw = new StringWriter();
    Json.Write(this.Session["TinggiMukaAirEvents"] == null ? null : this.Session["TinggiMukaAirEvents"], tw);
    var Events = HttpUtility.HtmlDecode(tw.ToString());
    ViewBag.Title = "Tinggi Muka Air Harian";
    var Action = ViewBag.ActionName;
    var K_STASIUN = ViewBag.K_STASIUN;
    var collTahun = ViewBag.collTahun;
    var TAHUN = L.Core.Utilities.Utils.GetQueryString("tahun");
    var method = Utils.GetQueryString("method");
}

@*<form id="myform">*@
<div id='calendar' style="visibility: hidden">
</div>
<br />
@if (method != "Detail")
{
    <a id="btnTestBlob" href="#" class="clsButtonAdd">Selesai Ubah Data</a>
}
<div id="divNilaiHarian" style="visibility: hidden; width: 250px">
    <input type="text" id="txtNilaiHarian" />
    <input type="button" value="Ubah Data" id="btnSimpanDanKeluar" />
    <input type="hidden" id="dateInYear" />
</div>
@*</form>*@

<link href='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.css")' rel='stylesheet' />
<link href='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.print.css")' rel='stylesheet' media='print' />
<script src='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Content/plugin/underscore-min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Content/js/myjs.js")' type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    //    $("#myform").validate({
    //        rules: {
    //            txtNilaiHarian: {
    //                required: true,
    //                number: true
    //            }
    //        }
    //    });

    var calendar = $('#calendar');
    var btnTestBlob = $("#btnTestBlob");
    var year = "@TAHUN";
    var dateInYear = $("#dateInYear");
    var btnSimpanDanKeluar = $("#btnSimpanDanKeluar");
    var storedEvents = _.unescape("@Events");

    $(function () {
        initialized("@Request.ApplicationPath");
        BuildCalendar(year);
        calendar.removeAttr("style");
    });



    //btnTestBlob
    btnTestBlob.click(function () {
        fnLoading();
        var events = calendar.fullCalendar('clientEvents');
        var sortEvents = _.sortBy(events, function (data) { return data.start; })
        //        console.log(sortEvents);
        var obj = new Array();

        for (var i = 0; i < sortEvents.length; i++) {
            var event = sortEvents[i];
            var id;
            try {
                id = $.fullCalendar.formatDate(event.id, "dd-MM-yyyy");
            } catch (e) {
                id = event.id;
            }
            var title = event.title;
            obj.push({ id: id, title: title });
        }
        //        console.log(JSON.stringify(obj));
        $.ajax({
            url: '@Url.Action("SetToCacheTMA", "PosDugaAirDyn")' + "?TAHUN=" + year + "&K_STASIUN=@K_STASIUN",
            data: JSON.stringify(obj),
            type: 'POST',
            contentType: 'application/json; charset=utf-8'
            , success: function (response) {
                if (response.message.valueOf() == 'at NHibernate.Id.Assigned.Generate') {
                    alert('Kode / Id Tidak Boleh Kosong');
                    return false;
                }
                else {
                    alert(response.message);
                }
                //                if (response.success) {
                //                    dlg.dialog('close');
                //                    dlg.empty();
                //                }
                dialogLoading.dialog("close");
                return false;
            },
            error: function (xhr) {
                alert(xhr.message);

                if (xhr.status == 400)
                    dlg.html(xhr.responseText, xhr.status);     /* display validation errors in this dialog */
                else {
                    alert(xhr);
                }
                dialogLoading.dialog("close");
            }
        });
    })

    function BuildCalendar(year) {
        var date = $.datepicker.parseDate("dd-mm-yy", "01-01-" + year);
        var d = date.getDate();
        var m = date.getMonth();
        var y = year == "" ? date.getFullYear() : year;

        var json = $.parseJSON(storedEvents);
        //        console.log(json);

        calendar = $('#calendar').fullCalendar({
            year: y,
            month: 0,
            date: 1,
            defaultView: 'month',
            header: {
                left: 'prev,next',
                center: 'title',
                //                right: 'month,agendaDay'
                right: 'month'
            },
            disableDragging: true,
            selectable: true,
            selectHelper: true,

            viewDisplay: function (view) {
                var now = $.datepicker.parseDate("dd-mm-yy", "01-01-" + year);
                var end = $.datepicker.parseDate("dd-mm-yy", "01-01-" + year);
                end.setMonth(now.getMonth() + 11); //Adjust as needed

                var cal_date_string = view.start.getMonth() + '/' + view.start.getFullYear();
                var cur_date_string = now.getMonth() + '/' + now.getFullYear();
                var end_date_string = end.getMonth() + '/' + end.getFullYear();

                if (cal_date_string == cur_date_string) { jQuery('.fc-button-prev').addClass("fc-state-disabled"); }
                else { jQuery('.fc-button-prev').removeClass("fc-state-disabled"); }

                if (end_date_string == cal_date_string) { jQuery('.fc-button-next').addClass("fc-state-disabled"); }
                else { jQuery('.fc-button-next').removeClass("fc-state-disabled"); }

            },

            //            dayClick: function (date, allDay, jsEvent, view) {
            //                //                var event = calendar.fullCalendar('clientEvents', $.fullCalendar.formatDate(date, "dd-MM-yyyy"));
            //                //                if (!event) {
            //                var title = prompt('Event Title:');
            //                if (title) {
            //                    calendar.fullCalendar('renderEvent',
            //            						{
            //            						    id: $.fullCalendar.formatDate(date, "dd-MM-yyyy"),
            //            						    title: title,
            //            						      start: $.fullCalendar.formatDate(date, "dd-MM-yyyy")
            //            						    //						    end: end,
            //            						    //						    allDay: allDay
            //            						},
            //            						true // make the event "stick"
            //            					);
            //                }
            //                //                }


            //                //                console.log(event);
            //            },
            select: function (start, end, allDay) {

                var id = $.fullCalendar.formatDate(start, "d-MM-yyyy");
                //                console.log(id);
                var event = calendar.fullCalendar('clientEvents', id);
                //                console.log(event);
                dateInYear.val(id);

                var title = "";
                try {
                    title = event[0].title;
                    //                    console.log(title);
                } catch (e) {

                }

                if ("@method" != "Detail") {
                    $("#txtNilaiHarian").val(title);
                    //                $("#divNilaiHarian").attr("visiblity", "visible");
                    $("#divNilaiHarian").removeAttr("style");
                    $("#divNilaiHarian").dialog({ modal: true });
                }
                //                var title = ""; // prompt('Event Title:');
                //                if (title) {
                //                    calendar.fullCalendar('renderEvent',
                //            						{
                //            						    id: start, // $.fullCalendar.formatDate(start, "dd-MM-yyyy"),
                //            						    title: title,
                //            						    start: start
                //            						},
                //            						true // make the event "stick"
                //            					);
                //                }
                //                calendar.fullCalendar('unselect');
            },
            editable: true,
            events: json
        })
    }


    //btnSimpanDanKeluar
    btnSimpanDanKeluar.click(function () {

        var date = $.datepicker.parseDate("dd-mm-yy", dateInYear.val());
        if (date.getFullYear() != year) {
            alert('tahun tidak berada pada tahun yang sama');
            return;
        }

        date = $.fullCalendar.formatDate(date, "d-MM-yyyy");
        //        console.log(date);
        var event = calendar.fullCalendar('clientEvents', date);
        //        console.log(event);

        //        var date = $.datepicker.parseDate("dd-mm-yy", dateInYear.val());
        //        var date = new Date(dateInYear.val());
        //        alert(date);
        //        alert($("#txtNilaiHarian").val());



        if (date && $("#txtNilaiHarian").val()) {
            if (!$.isNumeric($("#txtNilaiHarian").val())) {
                alert('harap masukkan angka');
                return;
            }

            if (event) {
                $('#calendar').fullCalendar('removeEvents', date);
            }
            //            alert('ok');
            var dateStart = $.datepicker.parseDate("dd-mm-yy", dateInYear.val());

            $("#calendar").fullCalendar('renderEvent',
                {
                    id: date, // $.fullCalendar.formatDate(start, "dd-MM-yyyy"),
                    title: $("#txtNilaiHarian").val(),
                    start: dateStart
                },
                true // make the event "stick"
            );
        }

        //        $("#calendar").fullCalendar('rerenderEvents')
        $("#divNilaiHarian").dialog('close');
        $("#divNilaiHarian").dialog("destroy");
        $("#divNilaiHarian").css("visibility", "hidden");

    });


</script>