﻿@model L.PDSDA.DAL.Entities.KABUPATEN

@using (Html.BeginForm("Create", "Kabupaten", FormMethod.Post, new { id = "target" }))
{ 
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>KABUPATEN</legend>
       <div class="editor-label">
            Propinsi
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.PROPINSI.K_PROPINSI)
        </div>
        <div class="editor-label">
            Kode
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_KABUPATEN)
            @Html.ValidationMessageFor(model => model.K_KABUPATEN)
        </div>
        <div class="editor-label">
            Nama
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_KABUPATEN)
            @Html.ValidationMessageFor(model => model.N_KABUPATEN)
        </div>
        @* <p>
            <input type="submit" value="Create" />
        </p>*@
    </fieldset>
}
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@ 