﻿@model L.PDSDA.DAL.Entities.KABUPATEN
@*<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm("Edit", "Kabupaten", FormMethod.Post, new { id = "target" }))
{ 
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>KABUPATEN</legend>
       <div class="editor-label">
            Propinsi
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.PROPINSI.K_PROPINSI)
        </div>
        <div class="editor-label">
            Kode
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_KABUPATEN)
            @Html.ValidationMessageFor(model => model.K_KABUPATEN)
        </div>
        <div class="editor-label">
            Nama
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_KABUPATEN)
            @Html.ValidationMessageFor(model => model.N_KABUPATEN)
        </div>
       
    </fieldset>
}

