﻿@model IEnumerable<L.PDSDA.DAL.Entities.KABUPATEN>
@{
    ViewBag.Title = "Index";
    string separator = "|";
            //Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<script type="text/javascript">
    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/Master/Kabupaten/Edit/")' + id;
        oThis.title = "Edit Kabupaten"
        loadDefaultDialogCustomControl(oThis, "divFormKABUPATEN", "500px", "300px", "target", oTable)
        //        loadDialog(oThis, '#KabupatenInfo');
    }

    function fnEditComposite(oThis, propinsiid, kabupatenid) {
        oThis.href = '@Url.Content("~/Master/Kabupaten/Edit/?")' + "propinsiid=" + propinsiid + "&kabupatenid=" + kabupatenid;
        oThis.title = "Edit Kabupaten"
        loadDefaultDialogCustomControl(oThis, "divFormKABUPATEN", "500px", "300px", "target", oTable)
        //        loadDialog(oThis, '#KabupatenInfo');
    }

    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/Master/Kabupaten/Create/")';
        oThis.title = "Create Kabupaten"
        loadDefaultDialogCustomControl(oThis, "divFormKABUPATEN", "500px", "300px", "target", oTable)
        //        loadDialog(oThis, '#KabupatenInfo');
    }

    function fnDelete(link) {
        //        var link = oThis.href;
        alert(link);
        if (confirm("Are you sure that you want to delete this Kabupaten?")) {
            $.ajax({
                type: "DELETE",
                url: link,
                success: function (data) {
                    if (data.success) {
                        alert("Data has been removed.");
                        //                        window.location.reload(true);
                    }
                    oTable.fnDraw();
                    //                        $(link).parents("tr").remove();
                },
                error: function (data) {
                    alert("This user cannot be deleted");
                }
            });
        }
        return false;
    }


    function fnDeleteComposite(oThis, propinsiid, kabupatenid) {
        //        var link = oThis.href;
        oThis.href = '@Url.Content("~/Master/Kabupaten/Delete/?")' + "propinsiid=" + propinsiid + "&kabupatenid=" + kabupatenid;
        oThis.title = "Delete Rawa"
        if (confirm("Are you sure that you want to delete this data?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        oTable.fnDraw();
                        alert(data.message);
                        //                        window.location.reload(true);
                    }
                    else {
                        alert(data.message);
                        oTable.fnDraw();
                        //                        window.location.reload(true);
                    }
                    //                        $(link).parents("tr").remove();
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    }


    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        oTable = $("table.display").dataTable(
        {
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/Master/KABUPATEN/LoadAllData/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "K_KABUPATEN" }, { "mData": "N_KABUPATEN" }, { "mData": "N_PROPINSI"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True") {

                        var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-trash"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            //                            alert(oData);
                            //                            fnDelete(this, oData.KEY);
                            fnDeleteComposite(this, oData.K_PROPINSI, oData.K_KABUPATEN);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }


                    if (IsUpdateable == "True") {
                        var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-wrench"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnEditComposite(this, oData.K_PROPINSI, oData.K_KABUPATEN);
                            //                            fnEdit(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });
    });

</script>
<!-- <h2>
    Index</h2> -->
<p>
    <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
</p>
<table class="display">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Kode
            </th>
            <th>
                Nama
            </th>
            <th>
                Propinsi
            </th>
        </tr>
    </thead>
    @*<tbody>
        @foreach (var item in Model)
        {
            if (item != null)
            {

            <tr>
                <td>
                    @*<a href="javascript:fnDelete('/Master/Kabupaten/Delete/@item.K_Kabupaten')">Delete</a> |
                    <a href="javascript:fnEditComposite(this,'@item.PROPINSI.K_PROPINSI', '@item.K_KABUPATEN')" class="editModalDlg, clsButtonEdit">
                        Edit</a> @separator <a href="javascript:fnDeleteComposite(this,'@item.PROPINSI.K_PROPINSI', '@item.K_KABUPATEN')" class="delete, clsButtonDelete">
                            Delete</a>
                </td>
                <td>
                    @if (item.PROPINSI != null)
                    {
                        @item.PROPINSI.N_PROPINSI
                    }
                </td>
                <td>
                    @item.K_KABUPATEN
                </td>
                <td>
                    @item.N_KABUPATEN
                </td>
            </tr>
            }
        }
    </tbody>*@
</table>
