﻿@model IEnumerable<L.PDSDA.DAL.Entities.WS>
<script type="text/javascript" language="javascript">
    var oTable2;

    function SelectAll() {
        var IsUnchecked = false;
        $('.clsCheck', oTable2.fnGetNodes()).each(function () {
            if (!$(this).is(':checked')) {
                IsUnchecked = true;
            }
        });

        if (IsUnchecked) {
            $("#chkSelectAll").prop('checked', false);
        } else {
            $("#chkSelectAll").prop('checked', true);
        }
    }

    $(function () {
        oTable2 = $("table.display2").dataTable({ "bJQueryUI": true,
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "sPaginationType": "full_numbers", bRetrieve: true, bDestroy: true
        });

        SelectAll();
    });

    var WSs = [];
    // add multiple select / deselect functionality
    $("#chkSelectAll").click(function () {
        if ($("#chkSelectAll").prop('checked')) {
            $('.clsCheck', oTable2.fnGetNodes()).each(function () {
                if (!$(this).is(':checked')) {
                    $(this).prop('checked', true);
                    $(this).attr("checked", "checked");
                    //                    fnSigningBalaiToWS(this, this.value);
                    WSs.push(this.value);
                }
            });

            fnSigningAllBalaiToWS(WSs);
        } else {
            $('.clsCheck', oTable2.fnGetNodes()).each(function () {
                if ($(this).is(':checked')) {
                    $(this).prop('checked', false);
                    $(this).removeAttr("checked");
                    //                    fnSigningBalaiToWS(this, this.value);
                    WSs.push(this.value);
                }
            });
            fnUnSigningAllBalaiToWS(WSs);
        }
        WSs = [];
    });

    // if all checkbox are selected, check the selectall checkbox
    // and viceversa
    $('.clsCheck', oTable2.fnGetNodes()).click(function () {
        SelectAll();
    });


    function fnSigningBalaiToWS(elem, value) {
        var arrayOfValues = [];
        arrayOfValues.push($('[type=hidden]').val());
        arrayOfValues.push(elem.checked);

        var data = { balai: $('[type=hidden]').val(), ws: value,
            ischecked: elem.checked
        };

        //Populate arrayOfValues
        $.ajax({
            type: "POST",
            url: '@Url.Action("SetBalaiToWS", "Balai")',
            datatype: "json",
            contentType: 'application/json',
            data: JSON.stringify(data)
        });
    }

    function fnSigningAllBalaiToWS(arr) {

        //Populate arrayOfValues
        $.ajax({
            type: "POST",
            url: '@Url.Action("SetAllBalaiToWS", "Balai")',
            //            datatype: "json",
            //            contentType: 'application/json',
            traditional: true,
            data: { "balai": $('[type=hidden]').val(), "ws": arr }
        });
    }

    function fnUnSigningAllBalaiToWS(arr) {

        //Populate arrayOfValues
        $.ajax({
            type: "POST",
            url: '@Url.Action("UnSetAllBalaiToWS", "Balai")',
            //            datatype: "json",
            //            contentType: 'application/json',
            traditional: true,
            data: { "balai": $('[type=hidden]').val(), "ws": arr }
        });
    }

</script>
@{
    IList<L.PDSDA.DAL.Entities.WS> collWS = ViewBag.BalaiWs;
    L.PDSDA.DAL.Entities.BALAI balai = ViewBag.Balai;
    @Html.Hidden("KodeBalai", balai.KodeBalai);
    <table class="display2">
        <thead>
            <tr>
                <th style="width: 75px;" align="center">
                    <input type="checkbox" id="chkSelectAll" />
                </th>
                <th>
                    Kode
                </th>
                 <th>
                    Ws
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var ws = collWS.Contains(item) ? item : null;
                <tr>
                    <td align="center">
                        @if (ws != null)
                        {
                            <input type="checkbox" checked="checked" class="clsCheck" value="@item.K_WS"  onclick="javascript:fnSigningBalaiToWS(this, '@item.K_WS')" />
                        }
                        else
                        {
                            <input type="checkbox" value="@item.K_WS" class="clsCheck" onclick="javascript:fnSigningBalaiToWS(this, '@item.K_WS')"/>
                        }
                    </td>
                    <td>
                        @item.K_WS
                    </td>
                     <td>
                        @item.N_WS
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
