﻿@model IEnumerable<L.PDSDA.DAL.Entities.Group>
<script type="text/javascript" language="javascript">
    var oTable;
    $(function () {
        oTable = $("table.display").dataTable({ "bJQueryUI": true,
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "sPaginationType": "full_numbers", bRetrieve: true, bDestroy: true
        });

        $('#signing').submit(function () {
            var sData = $('td input', oTable.fnGetNodes()).serialize();
            alert("The following data would have been submitted to the server: \n\n" + sData);
            return false;
        });
    });

    // add multiple select / deselect functionality
    $("#selectallview").click(function () {
        $('.viewable').attr('checked', this.checked);
    });

    // if all checkbox are selected, check the selectall checkbox
    // and viceversa
    $(".viewable").click(function () {

        if ($(".viewable").length == $(".viewable:checked").length) {
            $("#selectallview").attr("checked", "checked");
        } else {
            $("#selectallview").removeAttr("checked");
        }

    });

    function fnSigningBalaiToGroup(elem, value) {
        var arrayOfValues = [];
        arrayOfValues.push($('[type=hidden]').val());
        arrayOfValues.push(elem.checked);

        var data = { balai: $('[type=hidden]').val(), group: value,
            ischecked: elem.checked
        };

        //Populate arrayOfValues
        $.ajax({
            type: "POST",
            url: '@Url.Action("SetBalaiToRole", "Balai")',
            datatype: "json",
            contentType: 'application/json',
            data: JSON.stringify(data)
        });
    }
</script>
@using (Html.BeginForm("SetBalaiRole", "Balai", FormMethod.Post, new { id = "signing" }))
{
    IList<L.PDSDA.DAL.Entities.Group> collGroup = ViewBag.BalaiRole;
    L.PDSDA.DAL.Entities.BALAI balai = ViewBag.Balai;
    @Html.Hidden("KodeBalai", balai.KodeBalai);
    <table class="display">
        <thead>
            <tr>
                <th style="width: 75px">
                </th>
                <th>
                    Role
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var group = collGroup.Contains(item) ? item : null;
                <tr>
                    <td align="center">
                        @if (group != null)
                        {
                            <input type="checkbox" checked="checked"  onclick="javascript:fnSigningBalaiToGroup(this, @item.Id)" />
                        }
                        else
                        {
                            <input type="checkbox" value="@item.Id"  onclick="javascript:fnSigningBalaiToGroup(this, @item.Id)"/>
                        }
                    </td>
                    <td>
                        @item.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
