﻿@model IEnumerable<L.PDSDA.DAL.Entities.BALAI>
@{
    ViewBag.Title = "BALAI";
}
<script type="text/javascript" language="javascript">
    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/Master/BALAI/Create/")';
        oThis.title = "Create BALAI"
        loadDefaultDialogCustomControl(oThis, "divFormBALAI", "450px", "300px", "target", oTable)

    }

    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/Master/BALAI/Edit/")' + id;
        oThis.title = "Edit BALAI"
        loadDefaultDialogCustomControl(oThis, "divFormBALAI", "450px", "300px", "target", oTable)
    }

    function fnDelete(oThis, id) {
        oThis.href = '@Url.Content("~/Master/BALAI/Delete/")' + id;
        oThis.title = "Delete BALAI"
        if (confirm("Are you sure that you want to delete this data?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                        oTable.fnDraw();
                    }
                    else {
                        alert(data.message);
                        oTable.fnDraw();
                    }
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    }


    function fnAssignBalai(oThis, id, balai) {
        oThis.href = '@Url.Content("~/Master/Balai/AssignBalai/")' + id;
        oThis.title = "Assign Balai " + balai;
        loadDialogAssignReloadTableClose(oThis, '#BalaiInfo', oTable);
    }


    function fnAssignBalaiWs(oThis, id, balai) {
        oThis.href = '@Url.Content("~/Master/Balai/AssignBalaiWS/")' + id;
        oThis.title = "Assign Balai " + balai;
        loadDialogAssignReloadTableClose(oThis, '#BalaiInfo', oTable);
    }


    function fnAssignBalaiRole(oThis, id, balai) {
        oThis.href = '@Url.Content("~/Master/Balai/AssignBalaiRole/")' + id;
        oThis.title = "Assign Balai " + balai;
        loadDialogAssignReloadTableClose(oThis, '#BalaiInfo', oTable);
    }

    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        oTable = $("table.display").dataTable(
        {
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/Master/BALAI/LoadAllData/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "KodeBalai", "sTitle": "Kode" }, { "mData": "NamaBalai", "sTitle": "Nama" }, /*{ "mData": "Propinsi", "sTitle": "Propinsi" }, */{"mData": "Role", "sTitle": "Role" }, { "mData": "Ws", "sTitle": "Wilayah Sungai" }, { "mData": "KEY", "sClass": "center", "sTitle": "Assign"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True" || IsUpdateable == "True") {
                        if (IsDeleteable == "True") {

                            var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-trash"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                fnDelete(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }


                        if (IsUpdateable == "True") {
                            var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-wrench"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                fnEdit(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }
                    }
                }
            }, {
                "aTargets": [5],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    //                    var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Propinsi</button>');
                    //                    b.button({
                    //                        icons: {
                    //                            primary: "ui-icon-wrench"
                    //                        }
                    //                    }).css({ "font-weight": "normal" });
                    //                    b.on('click', function () {
                    //                        fnAssignBalai(this, oData.KEY, oData.NamaBalai);
                    //                        return false;
                    //                    });
                    //                    $(nTd).prepend(b);

                    //                    var c = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Role</button>');
                    //                    c.button({
                    //                        icons: {
                    //                            primary: "ui-icon-wrench"
                    //                        }
                    //                    }).css({ "font-weight": "normal" });
                    //                    c.on('click', function () {
                    //                        fnAssignBalaiRole(this, oData.KEY, oData.NamaBalai);
                    //                        return false;
                    //                    });
                    //                    $(nTd).prepend(c);

                    var d = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">WS</button>');
                    d.button({
                        icons: {
                            primary: "ui-icon-wrench"
                        }
                    }).css({ "font-weight": "normal" });
                    d.on('click', function () {
                        fnAssignBalaiWs(this, oData.KEY, oData.NamaBalai);
                        return false;
                    });
                    $(nTd).prepend(d);
                }
            }]
        });
    })
</script>
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display">
</table>
