﻿@model L.PDSDA.DAL.Entities.BALAI
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
@using (Html.BeginForm(@ViewBag.ActionName as string, "BALAI", FormMethod.Post, new { id = "target" }))
{   
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>BALAI</legend>
       
        <div class="editor-label">
            Kode
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KodeBalai)
            @Html.ValidationMessageFor(model => model.KodeBalai)
        </div>
         <div class="editor-label">
           Nama
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NamaBalai)
            @Html.ValidationMessageFor(model => model.NamaBalai)
        </div>
    </fieldset>
}
