﻿@model IEnumerable<L.PDSDA.DAL.Entities.BALAI>
@{
    ViewBag.Title = "BALAI";
}
<script type="text/javascript" language="javascript">

    var oTable;
    $(function () {

        oTable = $("table.display").dataTable(
        {
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/Master/BALAI/LoadAllDataView/")',
            "aoColumns": [{ "mData": "KodeBalai", "sTitle": "Kode" }, { "mData": "NamaBalai", "sTitle": "Nama" }, { "mData": "Ws", "sTitle": "Wilayah Sungai"}]
        });
    })
</script>
<table class="display">
</table>
