﻿@{
    ViewBag.Title = "SampleCalendar";
}
<link href='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.css")' rel='stylesheet' />
<link href='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.print.css")' rel='stylesheet' media='print' />
<script src='@Url.Content("~/Content/plugin/fullcalendar/fullcalendar.min.js")' type="text/javascript"></script>
<h2>
    Sample Calendar</h2>
<script type="text/javascript">

    function ToDefaultDate(oDate) {
        try {
            var date = new Date(oDate);
            if (date)
                return date.format("dd/mm/yyyy");
        } catch (e) {
            //            alert(e);
        }

    }

    $(document).ready(function () {

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                //                right: 'month,agendaWeek,agendaDay'
                right: 'month,agendaDay'
            },
            selectable: true,
            selectHelper: true,
            dayClick: function (date, allDay, jsEvent, view) {
                var event = calendar.fullCalendar('clientEvents', date);
                console.log(event);
            },
            editable: true,
            events: [
				{
				    title: 'All Day Event',
				    start: new Date(y, m, 1),
				    id: new Date(y, m, 1)
				},
				{
				    id: new Date(y, m, d - 5),
				    title: 'Long Event',
				    start: new Date(y, m, d - 5)
				    //				    end: new Date(y, m, d - 2)
				},
				{
				    id: new Date(y, m, d - 3, 16, 0),
				    title: 'Repeating Event',
				    start: new Date(y, m, d - 3, 16, 0),
				    allDay: false
				},
				{
				    id: new Date(y, m, d + 4, 16, 0),
				    title: 'Repeating Event',
				    start: new Date(y, m, d + 4, 16, 0),
				    allDay: false
				},
				{
				    title: 'Meeting',
				    start: new Date(y, m, d, 10, 30),
				    id: new Date(y, m, d, 10, 30),
				    allDay: false
				},
				{
				    title: 'Lunch',
				    id: new Date(y, m, d, 12, 0),
				    start: new Date(y, m, d, 12, 0),
				    end: new Date(y, m, d, 14, 0),
				    allDay: false
				},
				{
				    title: 'Birthday Party',
				    id: new Date(y, m, d + 1, 19, 0),
				    start: new Date(y, m, d + 1, 19, 0),
				    end: new Date(y, m, d + 1, 22, 30),
				    allDay: false
				},
				{
				    title: 'Click for Google',
				    id: new Date(y, m, 28),
				    start: new Date(y, m, 28),
				    end: new Date(y, m, 29),
				    url: 'http://google.com/'
				}
			]
        });

    });

</script>

<div id='calendar'>
</div>
