﻿@model L.PDSDA.DAL.Entities.DAERAHRAWANKEKERINGAN
<script src="@Url.Content("~/Content/js/backgroundcolor.js")" type="text/javascript"></script>
<script>
    $(function () {
        $("fieldset").find('input, textarea, button, select').attr('disabled', 'disabled');

        var DAS_K_DAS = $('#DA_K_DAS');
        var WS_K_WS = $('#W_K_WS');

        WS_K_WS.change(function () {
            var value = WS_K_WS.val();
            $.getJSON('@Url.Content("~/Sumber_Daya_Air/DAS/GetDASByWS/")' + "?k_ws=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih DAS</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                DAS_K_DAS.html(items);
            });
        });
    });
</script>
    <fieldset>
        <legend>Daerah Rawan Kekeringan</legend>
        <table class="noborder">
            <tr>
                <td class="editor-label">
                    Kode
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.K_DAERAHRAWANKEKERINGAN)
                    @Html.ValidationMessageFor(model => model.K_DAERAHRAWANKEKERINGAN)
                </td>
                <td class="editor-label">
                    Nama
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.N_DAERAHRAWANKEKERINGAN)
                    @Html.ValidationMessageFor(model => model.N_DAERAHRAWANKEKERINGAN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Propinsi
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.PROPINSI.K_PROPINSI)
                </td>
                <td class="editor-label">
                    Lokasi
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LOKASI)
                    @Html.ValidationMessageFor(model => model.LOKASI)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Wilayah Sungai
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.W.K_WS, ViewBag.collWS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.W.K_WS)
                </td>
                <td class="editor-label">
                    DAS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.DA.K_DAS, ViewBag.collDAS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.DA.K_DAS)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Tahun Data
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.TAHUN_DATA)
                    @Html.ValidationMessageFor(model => model.TAHUN_DATA)
                </td>
                <td class="editor-label">
                    Penyebab
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.PENYEBAB)
                    @Html.ValidationMessageFor(model => model.PENYEBAB)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Dampak Penduduk
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DAMPAK_PENDUDUK)
                    @Html.ValidationMessageFor(model => model.DAMPAK_PENDUDUK)
                </td>
                <td class="editor-label">
                    Dampak Lahan Sawah
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DAMPAK_LAHAN_SAWAH)
                    @Html.ValidationMessageFor(model => model.DAMPAK_LAHAN_SAWAH)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Dampak Lahan Kebun
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DAMPAK_LAHAN_KEBUN)
                    @Html.ValidationMessageFor(model => model.DAMPAK_LAHAN_KEBUN)
                </td>
                <td class="editor-label">
                    Dampak Lahan Lain - lain
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DAMPAK_LAHAN_LAIN2)
                    @Html.ValidationMessageFor(model => model.DAMPAK_LAHAN_LAIN2)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Nilai Kerugian
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.NILAI_KERUGIAN)
                    @Html.ValidationMessageFor(model => model.NILAI_KERUGIAN)
                </td>
                <td class="editor-label">
                    Klasifikasi
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KLASIFIKASI)
                    @Html.ValidationMessageFor(model => model.KLASIFIKASI)
                </td>
            </tr>
             <tr>
                <td class="editor-label">
                    Latitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Latitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Latitude)
                </td>
                <td class="editor-label">
                    Longitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Longitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Longitude)
                </td>
            </tr>
        </table>
    </fieldset>
