﻿@model IEnumerable<L.PDSDA.DAL.Entities.DAERAHRAWANKEKERINGAN>
@{
    ViewBag.Title = "Index";
    var separator = "|";
}
<script type="text/javascript" language="javascript">
    function fnPeta(oThis, Latitude, Longitude, Title) {
        oThis.href = '@Url.Content("~/Peta/GenericMap/Index/")' + "?Latitude=" + Latitude + "&Longitude=" + Longitude + "&Title=" + Title;
        oThis.title = "Peta Daerah Rawan Kekeringan"
        //        loadDialogMap(oThis, "divFormGenericPeta", $(parent.$("#main").width()), $(parent.$("#main").height()) + 200)
        loadDialogMap(oThis, "divFormGenericPeta", $(window).width() - 150, $(window).height() - 200)

    }


    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/Bencana/DAERAHRAWANKEKERINGAN/Create/")';
        oThis.title = "Create DAERAHRAWANKEKERINGAN"
        loadDefaultDialogCustomControl(oThis, "divFormDAERAHRAWANKEKERINGAN", $(window).width() - 250, "300px", "target", oTable)
        //        loadDialog(oThis, '#DAERAHRAWANKEKERINGANInfo');
    }


    function fnDetail(oThis, id) {
        oThis.href = '@Url.Content("~/Bencana/DAERAHRAWANKEKERINGAN/Detail/")' + id + "?method=Detail";
        oThis.title = "Detail DAERAH RAWAN KEKERINGAN"
        loadDetailDialogCustomControl(oThis, "divFormDAERAHRAWANKEKERINGAN", $(window).width() - 250, "300px", "target", oTable)

    }


    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/Bencana/DAERAHRAWANKEKERINGAN/Edit/")' + id;
        oThis.title = "Edit DAERAHRAWANKEKERINGAN"
        //        loadDialog(oThis, '#DAERAHRAWANKEKERINGANInfo');
        loadDefaultDialogCustomControl(oThis, "divFormDAERAHRAWANKEKERINGAN", $(window).width() - 250, "300px", "target", oTable)

    }

    function fnDelete(oThis, id) {
        //        var link = oThis.href;
        oThis.href = '@Url.Content("~/Bencana/DAERAHRAWANKEKERINGAN/Delete/")' + id;
        oThis.title = "Delete DAERAHRAWANKEKERINGAN"
        if (confirm("Are you sure that you want to delete this data?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        //                        oTable.fnDraw();
                        alert(data.message);
                        //                        window.location.reload(true);
                        oTable.fnDraw();
                    }
                    else {
                        alert(data.message);
                        oTable.fnDraw();
                        //                        window.location.reload(true);
                    }
                    //                        $(link).parents("tr").remove();
                },
                error: function (data) {
                    alert(data.message);
                }
            });
        }
    }

    //    $(function () {
    //        $("table.display").dataTable(
    //        {
    //            "sScrollX": "200px"
    //            , "bScrollCollapse": true
    //            , "bJQueryUI": true
    //            , "sPaginationType": "full_numbers"
    //           , "aoColumnDefs": [{ "sWidth": "200px", "aTargets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]}]
    //        });
    //    });        /* end document.ready() */

    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        //            oTable =.dataTable();
        oTable = $("table.display").dataTable(
        {
            //            "sScrollX": "100%",
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/Bencana/DAERAHRAWANKEKERINGAN/LoadAllData/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "K_DAERAHRAWANKEKERINGAN" }, { "mData": "N_DAERAHRAWANKEKERINGAN" }, { "mData": "N_PROPINSI" }, { "mData": "N_WS" }, { "mData": "N_DAS" }, { "mData": "LatLong"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True" || IsUpdateable == "True") {
                        if (IsDeleteable == "True") {

                            var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-trash"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData);
                                fnDelete(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }


                        if (IsUpdateable == "True") {
                            var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-wrench"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData.KEY);
                                fnEdit(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }
                    }

                    if (IsUpdateable != "True") {var b = $('<button style="margin: 0" class="clsButtonDetail, cCenterOnly,">Detail</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-newwin"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnDetail(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }, {
                "aTargets": [6],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (oData.LatLong != null) {

                        var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Peta</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-search"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            if (oData.LatLong != null) {
                                fnPeta(this, oData.LatLong.Latitude, oData.LatLong.Longitude, oData.pTitle);
                            }
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]
        });
    })
</script>
<!-- <h2>
    @ViewBag.BreadCrumbs</h2> -->
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Kode
            </th>
            <th>
                Nama
            </th>
            <th>
                Propinsi
            </th>
            <th>
                Wilayah Sungai
            </th>
            <th>
                Daerah Aliran Sungai
            </th>
            <th>
                Lokasi
            </th>
            @*<th>
            TAHUN_DATA
        </th>
        <th>
            PENYEBAB
        </th>
        <th>
            DAMPAK_PENDUDUK
        </th>
        <th>
            DAMPAK_LAHAN_SAWAH
        </th>
        <th>
            DAMPAK_LAHAN_KEBUN
        </th>
        <th>
            DAMPAK_LAHAN_LAIN2
        </th>
        <th>
            NILAI_KERUGIAN
        </th>
        <th>
            KLASIFIKASI
        </th>
        <th>
            LOKASI
        </th>*@
        </tr>
    </thead>
    @*<tbody>

@foreach (var item in Model) {
    <tr>
        <td>
                    @if (ViewBag.IsUpdateable)
                    {
                        <a href="javascript:fnEdit(this,'@item.K_DAERAHRAWANKEKERINGAN')">Edit</a> @separator
                    }
                    @if (ViewBag.IsDeleteable)
                    {
                        <a href="javascript:fnDelete(this,'@item.K_DAERAHRAWANKEKERINGAN')">Delete</a>
                    }
                </td>
        <td>
            @item.K_DAERAHRAWANKEKERINGAN
        </td>
        <td>
            @item.N_DAERAHRAWANKEKERINGAN
        </td>
          <td>
                    @item.PROPINSI.N_PROPINSI
                </td>
                <td>
                    @item.W.N_WS
                </td>
                <td>
                    @item.DA.N_DAS
                </td>
        <td>
            @item.TAHUN_DATA
        </td>
        <td>
            @item.PENYEBAB
        </td>
        <td>
            @item.DAMPAK_PENDUDUK
        </td>
        <td>
            @String.Format("{0:F}", item.DAMPAK_LAHAN_SAWAH)
        </td>
        <td>
            @String.Format("{0:F}", item.DAMPAK_LAHAN_KEBUN)
        </td>
        <td>
            @String.Format("{0:F}", item.DAMPAK_LAHAN_LAIN2)
        </td>
        <td>
            @String.Format("{0:F}", item.NILAI_KERUGIAN)
        </td>
        <td>
            @item.KLASIFIKASI
        </td>
        <td>
            @item.LOKASI
        </td>
    </tr>
}
</tbody>*@
</table>
