﻿@model L.PDSDA.DAL.Entities.POMPA
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<style>
    td.clsDefault input
    {
        width: 150px !important;
    }
</style>
<script language="javascript" type="text/javascript">
    $(function () {
        var oKABUPATEN_PROPINSI_K_PROPINSI = $('#KABUPATEN_PROPINSI_K_PROPINSI');
        var oKABUPATEN_K_KABUPATEN = $('#KABUPATEN_K_KABUPATEN');

        oKABUPATEN_PROPINSI_K_PROPINSI.change(function () {
            var value = oKABUPATEN_PROPINSI_K_PROPINSI.val();
            $.getJSON('@Url.Content("~/Master/Kabupaten/GetKabupatenByPropinsi/?")' + "propinsiid=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih Kabupaten</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                oKABUPATEN_K_KABUPATEN.html(items);
            });
        });

        var DAS_K_DAS = $('#DA_K_DAS');
        var WS_K_WS = $('#W_K_WS');

        WS_K_WS.change(function () {
            var value = WS_K_WS.val();
            $.getJSON('@Url.Content("~/Sumber_Daya_Air/DAS/GetDASByWS/")' + "?k_ws=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih DAS</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                DAS_K_DAS.html(items);
            });
        });

    })
</script>
@using (Html.BeginForm(@ViewBag.ActionName as string, "POMPA", FormMethod.Post, new { id = "targetpompa" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>POMPA</legend>
        <table>
            <tr>
                <td class="editor-label">
                    Sungai
                </td>
                <td class="editor-field">
                    <input type="text" readonly="readonly" value="@ViewBag.NamaSungai" />
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="editor-label">
                    No Urut Pompa
                </td>
                <td class="editor-field clsDefault">
                    @Html.EditorFor(model => model.URUT_POMPA)
                    @Html.ValidationMessageFor(model => model.URUT_POMPA)
                </td>
                <td class="editor-label">
                    Tahun Data
                </td>
                <td class="editor-field clsDefault">
                    @Html.EditorFor(model => model.TAHUN_DATA)
                    @Html.ValidationMessageFor(model => model.TAHUN_DATA)
                </td>
                <td class="editor-label">
                    Nama
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.NAMA)
                    @Html.ValidationMessageFor(model => model.NAMA)
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="editor-label">
                    Propinsi
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI
                        as IList<SelectListItem>) @Html.ValidationMessageFor(x => x.KABUPATEN.PROPINSI.K_PROPINSI)
                </td>
                <td class="editor-label">
                    Kabupaten
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.KABUPATEN.K_KABUPATEN, ViewBag.collK_KABUPATEN as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.KABUPATEN.K_KABUPATEN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Desa
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DESA)
                    @Html.ValidationMessageFor(model => model.DESA)
                </td>
                <td class="editor-label">
                    Kecamatan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KECAMATAN)
                    @Html.ValidationMessageFor(model => model.KECAMATAN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Pengelola
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.PENGELOLA)
                    @Html.ValidationMessageFor(model => model.PENGELOLA)
                </td>
                <td class="editor-label">
                    Posisi
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.POSISI, ViewBag.collPOSISI as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.POSISI)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Kapasitas
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KAPASITAS)
                    @Html.ValidationMessageFor(model => model.KAPASITAS)
                </td>
                <td class="editor-label">
                    Jumlah
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.JUMLAH)
                    @Html.ValidationMessageFor(model => model.JUMLAH)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Jenis Pompa
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.JENIS_POMPA)
                    @Html.ValidationMessageFor(model => model.JENIS_POMPA)
                </td>
                <td class="editor-label">
                    Jenis Bangunan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.JENIS_BANGUNAN)
                    @Html.ValidationMessageFor(model => model.JENIS_BANGUNAN)
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="editor-label">
                    Koordinat
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KOORDINAT)
                    @Html.ValidationMessageFor(model => model.KOORDINAT)
                </td>
                <td class="editor-label">
                    Jumlah Pintu
                </td>
                <td class="editor-field clsDefault">
                    @Html.EditorFor(model => model.PINTU)
                    @Html.ValidationMessageFor(model => model.PINTU)
                </td>
                <td class="editor-label">
                    Jenis Pintu
                </td>
                <td class="editor-field clsDefault">
                    @Html.EditorFor(model => model.JENIS_PINTU)
                    @Html.ValidationMessageFor(model => model.JENIS_PINTU)
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="editor-label">
                    Kondisi Pompa
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KONDISI)
                    @Html.ValidationMessageFor(model => model.KONDISI)
                </td>
                <td class="editor-label">
                    Keadaan Pompa
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KEADAAN)
                    @Html.ValidationMessageFor(model => model.KEADAAN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Jenis Bangunan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KONDISI1)
                    @Html.ValidationMessageFor(model => model.KONDISI1)
                </td>
                <td class="editor-label">
                    Keadaan Bangunan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KEADAAN1)
                    @Html.ValidationMessageFor(model => model.KEADAAN1)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Tahun Di Bangun
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.THDIBANGUN)
                    @Html.ValidationMessageFor(model => model.THDIBANGUN)
                </td>
                <td class="editor-label">
                    Nama Proyek
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.NM_PROYEK)
                    @Html.ValidationMessageFor(model => model.NM_PROYEK)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Konsultan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KONSULTAN)
                    @Html.ValidationMessageFor(model => model.KONSULTAN)
                </td>
                <td class="editor-label">
                    Biaya Konsultan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.BIAYA_KONSULTAN)
                    @Html.ValidationMessageFor(model => model.BIAYA_KONSULTAN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Kontraktor
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KONTRAKTOR)
                    @Html.ValidationMessageFor(model => model.KONTRAKTOR)
                </td>
                <td class="editor-label">
                    Biaya Kontraktor
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.BIAYA_KONTRAKTOR)
                    @Html.ValidationMessageFor(model => model.BIAYA_KONTRAKTOR)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Suplier
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.SUPPLIER)
                    @Html.ValidationMessageFor(model => model.SUPPLIER)
                </td>
                <td class="editor-label">
                    Biaya Suplier
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.BIAYA_SUPPLIER)
                    @Html.ValidationMessageFor(model => model.BIAYA_SUPPLIER)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Tahun Rehab
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.THREHAB)
                    @Html.ValidationMessageFor(model => model.THREHAB)
                </td>
                <td class="editor-label">
                    Biaya Rehab
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.BIAYA_REHAB)
                    @Html.ValidationMessageFor(model => model.BIAYA_REHAB)
                </td>
            </tr>
        </table>
    </fieldset>
}
