﻿@model L.PDSDA.DAL.Entities.WS
@{
    var kode = Model.K_WS;
    var iAIRTANAHs = Model.AIRTANAHs.Count;
    var iBENDUNGs = Model.BENDUNGs.Count;
    var iBENDUNGANs = Model.BENDUNGANs.Count;
    var iDAERAHRAWANBANJIRs = Model.DAERAHRAWANBANJIRs.Count;
    var iDAERAHRAWANKEKERINGANs = Model.DAERAHRAWANKEKERINGANs.Count;
    var iDAERAHRAWANLONGSORs = Model.DAERAHRAWANLONGSORs.Count;
    var iDANAUs = Model.DANAUs.Count;
    var iEMBUNGs = Model.EMBUNGs.Count;
    var iEMBUNG_POTENSI = Model.EMBUNG_POTENSI.Count;
    var iGUNUNGBERAPIs = Model.GUNUNGBERAPIs.Count;
    var iIRIGASIs = Model.IRIGASIs.Count;
    var iPIDs = Model.PIDs.Count;
    var iPOS_PENGAMAT = Model.POS_PENGAMAT.Count;
    var iPOSKO_BANJIR = Model.POSKO_BANJIR.Count;
    var iRAWAs = Model.RAWAs.Count;
    var iSTASIUNDEBITs = Model.STASIUNDEBITs.Count;
    var iSTASIUNHUJANs = Model.STASIUNHUJANs.Count;
    var iSTASIUNKLIMATOLOGIs = Model.STASIUNKLIMATOLOGIs.Count;
    var iDASes = Model.DASes.Count;
    var iSUNGAIs = Model.SUNGAIs.Count;
    var iBALAIs = Model.BALAIs.Count;
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/plugin/querystring-0.9.0-min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/wscustom.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        //        $jQval.unobtrusive.parse(document);
    });
    var divId = document.getElementById("divFormWs");
    if (divId == null) {
        window.location = '@Url.Action("NotPermit")';
    }
    $("fieldset").find('input, textarea, button, select').attr('disabled', 'disabled');

    //    function GetQueryStringParams(sParam)
    //    {
    //        alert(window.location);
    //        var sPageURL = window.location.search.substring(1);
    //        alert(sPageURL);
    //        var sURLVariables = sPageURL.split('&');
    //        alert(sURLVariables);
    //        for (var i = 0; i < sURLVariables.length; i++) 
    //        {
    //            var sParameterName = sURLVariables[i].split('=');
    //            if (sParameterName[0] == sParam) 
    //            {
    //                return sParameterName[1];
    //            }
    //        }
    //    }​

    //    alert("@kode");


</script>
<fieldset>
    <legend>WS</legend>
    <table class="noborder">
        <tr>
            <td>
                Kode
            </td>
            <td>
                @Html.EditorFor(model => model.K_WS)
                @Html.ValidationMessageFor(model => model.K_WS)
            </td>
            <td>
                Nama
            </td>
            <td>
                @Html.EditorFor(model => model.N_WS)
                @Html.ValidationMessageFor(model => model.N_WS)
            </td>
        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>
                @Html.EditorFor(model => model.STATUS_WS.N_STATUS)
                @Html.ValidationMessageFor(model => model.STATUS_WS.N_STATUS)
            </td>
            <td>
                Luas (Km2)
            </td>
            <td>
                @Html.EditorFor(model => model.AREA)
                @Html.ValidationMessageFor(model => model.AREA, "* Harus diisi angka")
            </td>
        </tr>
        <tr>
            <td>
                Lokasi
            </td>
            <td>
                @Html.EditorFor(model => model.LOKASI)
                @Html.ValidationMessageFor(model => model.LOKASI)
            </td>
            <td>
                Geografis
            </td>
            <td>
                @Html.EditorFor(model => model.LOKASI_GEOGRAFIS)
                @Html.ValidationMessageFor(model => model.LOKASI_GEOGRAFIS)
            </td>
        </tr>
        <tr>
            <td>
                Panjang Sungai Utama (Km)
            </td>
            <td>
                @Html.EditorFor(model => model.PJG_SUNGAI_UTAMA)
                @Html.ValidationMessageFor(model => model.PJG_SUNGAI_UTAMA, "* Harus diisi angka")
            </td>
            <td>
                Origin
            </td>
            <td>
                @Html.EditorFor(model => model.ORIGIN)
                @Html.ValidationMessageFor(model => model.ORIGIN)
            </td>
        </tr>
        <tr>
            <td>
                Titik Tertinggi (m)
            </td>
            <td>
                @Html.EditorFor(model => model.TERTINGGI)
                @Html.ValidationMessageFor(model => model.TERTINGGI)
            </td>
            <td>
                Outlet
            </td>
            <td>
                @Html.EditorFor(model => model.OUTLET)
                @Html.ValidationMessageFor(model => model.OUTLET)
            </td>
        </tr>
        <tr>
            <td>
                Titik Terendah (m)
            </td>
            <td>
                @Html.EditorFor(model => model.TERENDAH)
                @Html.ValidationMessageFor(model => model.TERENDAH)
            </td>
            <td>
                Geologi
            </td>
            <td>
                @Html.EditorFor(model => model.GEOLOGI)
                @Html.ValidationMessageFor(model => model.GEOLOGI)
            </td>
        </tr>
        <tr>
            <td>
                Anak Sungai
            </td>
            <td>
                @Html.EditorFor(model => model.ANAK_SUNGAI)
                @Html.ValidationMessageFor(model => model.ANAK_SUNGAI)
            </td>
            <td>
                Danau
            </td>
            <td>
                @Html.EditorFor(x => x.DANAU)
                @Html.ValidationMessageFor(model => model.DANAU)
                @*<input type="text" value="@iDANAUs" id="DANAU" name="DANAU" />*@
            </td>
        </tr>
        <tr>
            <td>
                Marshes
            </td>
            <td>
                @Html.EditorFor(model => model.MARSHES)
                @Html.ValidationMessageFor(model => model.MARSHES)
            </td>
            <td>
                Waduk
            </td>
            <td>
                @Html.EditorFor(model => model.WADUK)
                @Html.ValidationMessageFor(model => model.WADUK)
            </td>
        </tr>
        <tr>
            <td>
                Precipitation
            </td>
            <td>
                @Html.EditorFor(model => model.PRECIPITATION)
                @Html.ValidationMessageFor(model => model.PRECIPITATION)
            </td>
            <td>
                Run Off
            </td>
            <td>
                @Html.EditorFor(model => model.RUNOFF)
                @Html.ValidationMessageFor(model => model.RUNOFF)
            </td>
        </tr>
        <tr>
            <td>
                Populasi
            </td>
            <td>
                @Html.EditorFor(model => model.POPULASI)
                @Html.ValidationMessageFor(model => model.POPULASI)
            </td>
            <td>
                Kota Utama
            </td>
            <td>
                @Html.EditorFor(model => model.KOTA)
                @Html.ValidationMessageFor(model => model.KOTA)
            </td>
        </tr>
        <tr>
            <td>
                Landuse
            </td>
            <td>
                @Html.EditorFor(model => model.LANDUSE)
                @Html.ValidationMessageFor(model => model.LANDUSE)
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </table>
</fieldset>
