﻿@model L.PDSDA.DAL.Entities.WS
@*@{
    var actionName = "";
    if (ViewBag.ActionName == "Create")
    {
        actionName = "Create";
    }
    else if (ViewBag.ActionName == "Edit")
    {
        actionName = "Edit";
    }
}*@
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm("Edit", "WS", FormMethod.Post, new { id = "target" }))
{   @Html.ValidationSummary(true)
    <fieldset>
        <legend>WS</legend>
        <div class="editor-label">
            Kode WS
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_WS)
            @Html.ValidationMessageFor(model => model.K_WS)
        </div>
        <div class="editor-label">
            Nama WS
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.N_WS)
            @Html.ValidationMessageFor(model => model.N_WS)
        </div>
        <div class="editor-label">
            Status WS
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.STATUS_WS.K_STATUS, ViewBag.StatusWS as IList<SelectListItem>)
            @Html.ValidationMessageFor(x => x.STATUS_WS.K_STATUS)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.AREA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AREA)
            @Html.ValidationMessageFor(model => model.AREA)
        </div>
        <div class="editor-label">
            Lokasi
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LOKASI)
            @Html.ValidationMessageFor(model => model.LOKASI)
        </div>
        <div class="editor-label">
            Geografis
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LOKASI_GEOGRAFIS)
            @Html.ValidationMessageFor(model => model.LOKASI_GEOGRAFIS)
        </div>
        <div class="editor-label">
            Panjang Sungai Utama (Km)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PJG_SUNGAI_UTAMA)
            @Html.ValidationMessageFor(model => model.PJG_SUNGAI_UTAMA)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ORIGIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ORIGIN)
            @Html.ValidationMessageFor(model => model.ORIGIN)
        </div>
        <div class="editor-label">
            Titik Tertinggi
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TERTINGGI)
            @Html.ValidationMessageFor(model => model.TERTINGGI)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.OUTLET)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OUTLET)
            @Html.ValidationMessageFor(model => model.OUTLET)
        </div>
        <div class="editor-label">
            Titik Terendah
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TERENDAH)
            @Html.ValidationMessageFor(model => model.TERENDAH)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GEOLOGI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GEOLOGI)
            @Html.ValidationMessageFor(model => model.GEOLOGI)
        </div>
        <div class="editor-label">
            Anak Sungai
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ANAK_SUNGAI)
            @Html.ValidationMessageFor(model => model.ANAK_SUNGAI)
        </div>
        <div class="editor-label">
            Danau
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DANAU)
            @Html.ValidationMessageFor(model => model.DANAU)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MARSHES)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MARSHES)
            @Html.ValidationMessageFor(model => model.MARSHES)
        </div>
        <div class="editor-label">
            Waduk
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WADUK)
            @Html.ValidationMessageFor(model => model.WADUK)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PRECIPITATION)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRECIPITATION)
            @Html.ValidationMessageFor(model => model.PRECIPITATION)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.RUNOFF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RUNOFF)
            @Html.ValidationMessageFor(model => model.RUNOFF)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.POPULASI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POPULASI)
            @Html.ValidationMessageFor(model => model.POPULASI)
        </div>
        <div class="editor-label">
            Kota Utama
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KOTA)
            @Html.ValidationMessageFor(model => model.KOTA)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LANDUSE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LANDUSE)
            @Html.ValidationMessageFor(model => model.LANDUSE)
        </div>
    </fieldset>
}
