﻿@model IQueryable<L.PDSDA.DAL.Entities.WS>
@{
    ViewBag.Title = "WS";
    //Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    var separator = "|";
    var key = ViewBag.Key;
    
    
}
<script type="text/javascript" language="javascript">
    function fnDetail(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/WS/Detail/")' + id + "?key=" + "@Server.UrlEncode(key)";
        oThis.title = "Detail WS"
        //        loadDialog(oThis, '#WSInfo');
        loadDetailDialogCustomControl(oThis, "divFormWs", $(window).width() - 200, "300px", "target", oTable)

    }

    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/WS/Create/")' + "?key=" + "@Server.UrlEncode(key)";
        oThis.title = "Create WS"
        //        loadDialog(oThis, '#WSInfo');
        loadDefaultDialogCustomControl(oThis, "divFormWs", $(window).width() - 200, "300px", "target", oTable)

    }

    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/WS/Edit/")' + id + "?key=" + "@Server.UrlEncode(key)";
        oThis.title = "Edit WS"
        //        loadDialog(oThis, '#WSInfo');
        loadDefaultDialogCustomControl(oThis, "divFormWs", $(window).width() - 200, "300px", "target", oTable)

    }

    function fnDelete(oThis, id) {
        //        var link = oThis.href;
        oThis.href = '@Url.Content("~/Sumber_Daya_Air/WS/Delete/")' + id + "?key=" + "@Server.UrlEncode(key)";
        oThis.title = "Delete WS"
        if (confirm("Are you sure that you want to delete this role?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        //                        oTable.fnDraw();
                        alert(data.message);
                        //                        window.location.reload(true);
                        oTable.fnDraw();
                    }
                    else {
                        alert(data.message);
                        //                        window.location.reload(true);
                        oTable.fnDraw();

                    }
                    //                        $(link).parents("tr").remove();
                },
                error: function (data) {
                    alert(data.message);
                    oTable.fnDraw();
                }
            });
        }
    }

    //    $(function () {
    //        $("table.display").dataTable(
    //        {
    ////            "bAutoWidth": false,

    //            "sScrollX": "200px",
    //            "bScrollCollapse": true, "bJQueryUI": true,
    //            "sPaginationType": "full_numbers",
    //            "aoColumnDefs": [
    //      { "sWidth": "200px", "aTargets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] }
    //    ]
    //        });

    //    });        /* end document.ready() */

    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        //            oTable =.dataTable();
        oTable = $("table.display").dataTable(
        {
            //            "sScrollX": "100%",
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "sScrollX": "100%",
            "sScrollXInner": "110%",
            "bScrollCollapse": true,
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/Sumber_Daya_Air/Ws/LoadAllData/")',
            //            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            //                var settings = this.fnSettings();
            //                var str = settings.oPreviousSearch.sSearch;
            //                //                console.log(str);
            ////                var sJson = JSON.stringify(aData);
            ////                var json = $.parseJSON(sJson);

            //                $('td', nRow).each(function (i) {
            //                    //                    console.log(json);
            //                    this.innerHTML = aData.replace(new RegExp(str, 'i'), function (matched) { return "<span class='highlight'>" + matched + "</span>"; });
            //                });
            //                return nRow;
            //            },

            "aoColumns": [{ "mData": "KEY", "sClass": "center", "sTitle": "" }, { "mData": "K_WS", "sTitle": "Kode" }, { "mData": "N_WS", "sTitle": "Nama" }, { "mData": "N_STATUS", "sTitle": "Status" }, { "mData": "KOTA", "sTitle": "Kota"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True" || IsUpdateable == "True") {

                        if (IsDeleteable == "True") {

                            var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly,">Delete</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-trash"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData);
                                fnDelete(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }


                        if (IsUpdateable == "True") {
                            var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Edit</button>');
                            b.button({
                                icons: {
                                    primary: "ui-icon-wrench"
                                }
                            }).css({ "font-weight": "normal" });
                            b.on('click', function () {
                                //                            alert(oData.KEY);
                                fnEdit(this, oData.KEY);
                                return false;
                            });
                            $(nTd).prepend(b);
                        }
                    }
                    if (IsUpdateable != "True") {
                        var b = $('<button style="margin: 0" class="clsButtonDetail, cCenterOnly,">Detail</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-newwin"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnDetail(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }
                }
            }]

        });
    });

</script>
<!-- <h2>
    @ViewBag.BreadCrumbs</h2> -->
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display">
    @*<thead>
        <tr>
            <th>
            </th>
            <th>
                Kode
            </th>
            <th>
                Nama WS
            </th>
            <th>
                Status WS
            </th>
            <th>
                Kota
            </th>
        </tr>
        @*<tr>
            <th>
            </th>
            <th>
                Nama WS
            </th>
            <th>
                Status WS
            </th>
            <th>
                Kode WS
            </th>
            <th>
                Area
            </th>
            <th>
                Lokasi
            </th>
            <th>
                Lokasi Geografis
            </th>
            <th>
                Panjang Sungai Utama
            </th>
            <th>
                Origin
            </th>
            <th>
                Tertinggi
            </th>
            <th>
                Outlet
            </th>
            <th>
                Terendah
            </th>
            <th>
                Geologi
            </th>
            <th>
                Anak Sungai
            </th>
            <th>
                Danau
            </th>
            <th>
                Marshes
            </th>
            <th>
                Waduk
            </th>
            <th>
                PRECIPITATION
            </th>
            <th>
                RUNOFF
            </th>
            <th>
                Populasi
            </th>
            <th>
                Kota
            </th>
            <th>
                LANDUSE
            </th>
        </tr>
    </thead>*@ @*<tbody>
        @if (Model != null)
        {

            foreach (var item in Model)
            {
            <tr>
                <td class="cCenterOnly">
                    @if (ViewBag.IsUpdateable)
                    {
                        <a href="javascript:fnEdit(this,'@item.K_WS')" class="clsButtonEdit" class="clsButtonEdit">Edit</a> @separator
                    }
                    @if (ViewBag.IsDeleteable)
                    {
                        <a href="javascript:fnDelete(this,'@item.K_WS')" class="clsButtonDelete" class="clsButtonDelete">Delete</a>
                    }
                </td>
                <td>
                    @item.N_WS
                </td>
                <td>
                    @if (item.STATUS_WS != null)
                    {
                        @item.STATUS_WS.N_STATUS
                    }
                </td>
                <td>
                    @item.K_WS
                </td>
                <td>
                    @String.Format("{0:F}", item.AREA)
                </td>
                <td>
                    @item.LOKASI
                </td>
                <td>
                    @item.LOKASI_GEOGRAFIS
                </td>
                <td>
                    @String.Format("{0:F}", item.PJG_SUNGAI_UTAMA)
                </td>
                <td>
                    @item.ORIGIN
                </td>
                <td>
                    @item.TERTINGGI
                </td>
                <td>
                    @item.OUTLET
                </td>
                <td>
                    @item.TERENDAH
                </td>
                <td>
                    @item.GEOLOGI
                </td>
                <td>
                    @item.ANAK_SUNGAI
                </td>
                <td>
                    @item.DANAU
                </td>
                <td>
                    @item.MARSHES
                </td>
                <td>
                    @item.WADUK
                </td>
                <td>
                    @item.PRECIPITATION
                </td>
                <td>
                    @item.RUNOFF
                </td>
                <td>
                    @item.POPULASI
                </td>
                <td>
                    @item.KOTA
                </td>
                <td>
                    @item.LANDUSE
                </td>
            </tr>
            }
        }
    </tbody>*@
</table>
<div id="">
</div>
@*<script src="@Url.Content("~/Content/js/backgroundcolor.js")" type="text/javascript"></script>*@
