﻿@model L.PDSDA.DAL.Entities.WS
@{
    var kode = Model == null ? null : Model.K_WS;
    }

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/wscustom.js")" type="text/javascript"></script>
<script type="text/javascript">
    var divId = document.getElementById("divFormWs");
    if (divId == null) {
        window.location = '@Url.Action("NotPermit")';
    }

//    alert("@kode");
</script>
@using (Html.BeginForm(@ViewBag.ActionName as string, "WS", FormMethod.Post, new { id = "target" }))
{   @Html.ValidationSummary(true)
    <fieldset>
        <legend>WS</legend>
        <table class="noborder">
            <tr>
                <td>
                    Kode
                </td>
                <td>
                    @Html.EditorFor(model => model.K_WS)
                    @Html.ValidationMessageFor(model => model.K_WS)
                </td>
                <td>
                    Nama
                </td>
                <td>
                    @Html.EditorFor(model => model.N_WS)
                    @Html.ValidationMessageFor(model => model.N_WS)
                </td>
            </tr>
            <tr>
                <td>
                    Status
                </td>
                <td>
                    @Html.DropDownListFor(x => x.STATUS_WS.K_STATUS, ViewBag.StatusWS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.STATUS_WS.K_STATUS)
                </td>
                <td>
                    Luas (Km2)
                </td>
                <td>
                    @Html.EditorFor(model => model.AREA)
                    @Html.ValidationMessageFor(model => model.AREA, "* Harus diisi angka")
                </td>
            </tr>
            <tr>
                <td>
                    Lokasi
                </td>
                <td>
                    @Html.EditorFor(model => model.LOKASI)
                    @Html.ValidationMessageFor(model => model.LOKASI)
                </td>
                <td>
                    Geografis
                </td>
                <td>
                    @Html.EditorFor(model => model.LOKASI_GEOGRAFIS)
                    @Html.ValidationMessageFor(model => model.LOKASI_GEOGRAFIS)
                </td>
            </tr>
            <tr>
                <td>
                    Panjang Sungai Utama (Km)
                </td>
                <td>
                    @Html.EditorFor(model => model.PJG_SUNGAI_UTAMA)
                    @Html.ValidationMessageFor(model => model.PJG_SUNGAI_UTAMA, "* Harus diisi angka")
                </td>
                <td>
                    Origin
                </td>
                <td>
                    @Html.EditorFor(model => model.ORIGIN)
                    @Html.ValidationMessageFor(model => model.ORIGIN)
                </td>
            </tr>
            <tr>
                <td>
                    Titik Tertinggi (m)
                </td>
                <td>
                    @Html.EditorFor(model => model.TERTINGGI)
                    @Html.ValidationMessageFor(model => model.TERTINGGI)
                </td>
                <td>
                    Outlet
                </td>
                <td>
                    @Html.EditorFor(model => model.OUTLET)
                    @Html.ValidationMessageFor(model => model.OUTLET)
                </td>
            </tr>
            <tr>
                <td>
                    Titik Terendah (m)
                </td>
                <td>
                    @Html.EditorFor(model => model.TERENDAH)
                    @Html.ValidationMessageFor(model => model.TERENDAH)
                </td>
                <td>
                    Geologi
                </td>
                <td>
                    @Html.EditorFor(model => model.GEOLOGI)
                    @Html.ValidationMessageFor(model => model.GEOLOGI)
                </td>
            </tr>
            <tr>
                <td>
                    Anak Sungai
                </td>
                <td>
                    @Html.EditorFor(model => model.ANAK_SUNGAI)
                    @Html.ValidationMessageFor(model => model.ANAK_SUNGAI)
                </td>
                <td>
                    Danau
                </td>
                <td>
                    @Html.EditorFor(model => model.DANAU)
                    @Html.ValidationMessageFor(model => model.DANAU)
                </td>
            </tr>
            <tr>
                <td>
                    Marshes
                </td>
                <td>
                    @Html.EditorFor(model => model.MARSHES)
                    @Html.ValidationMessageFor(model => model.MARSHES)
                </td>
                <td>
                    Waduk
                </td>
                <td>
                    @Html.EditorFor(model => model.WADUK)
                    @Html.ValidationMessageFor(model => model.WADUK)
                </td>
            </tr>
            <tr>
                <td>
                    Precipitation
                </td>
                <td>
                    @Html.EditorFor(model => model.PRECIPITATION)
                    @Html.ValidationMessageFor(model => model.PRECIPITATION)
                </td>
                <td>
                    Run Off
                </td>
                <td>
                    @Html.EditorFor(model => model.RUNOFF)
                    @Html.ValidationMessageFor(model => model.RUNOFF)
                </td>
            </tr>
            <tr>
                <td>
                    Populasi
                </td>
                <td>
                    @Html.EditorFor(model => model.POPULASI)
                    @Html.ValidationMessageFor(model => model.POPULASI)
                </td>
                <td>
                    Kota Utama
                </td>
                <td>
                    @Html.EditorFor(model => model.KOTA)
                    @Html.ValidationMessageFor(model => model.KOTA)
                </td>
            </tr>
            <tr>
                <td>
                    Landuse
                </td>
                <td>
                    @Html.EditorFor(model => model.LANDUSE)
                    @Html.ValidationMessageFor(model => model.LANDUSE)
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </fieldset>
}
