﻿@model L.PDSDA.DAL.Entities.IRIGASI_TANAM
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
@using (Html.BeginForm(@ViewBag.ActionName as string, "IRIGASI_TANAM", FormMethod.Post, new { id = "target2" }))
{ 
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>IRIGASI_TANAM</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.K_DI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_DI)
            @Html.ValidationMessageFor(model => model.K_DI)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TAHUN_DATA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TAHUN_DATA)
            @Html.ValidationMessageFor(model => model.TAHUN_DATA)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MT1_PD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MT1_PD)
            @Html.ValidationMessageFor(model => model.MT1_PD)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MT1_PL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MT1_PL)
            @Html.ValidationMessageFor(model => model.MT1_PL)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MT1_LAIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MT1_LAIN)
            @Html.ValidationMessageFor(model => model.MT1_LAIN)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MT2_PD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MT2_PD)
            @Html.ValidationMessageFor(model => model.MT2_PD)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MT2_PL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MT2_PL)
            @Html.ValidationMessageFor(model => model.MT2_PL)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MT2_LAIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MT2_LAIN)
            @Html.ValidationMessageFor(model => model.MT2_LAIN)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MT3_PD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MT3_PD)
            @Html.ValidationMessageFor(model => model.MT3_PD)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MT3_PL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MT3_PL)
            @Html.ValidationMessageFor(model => model.MT3_PL)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MT3_LAIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MT3_LAIN)
            @Html.ValidationMessageFor(model => model.MT3_LAIN)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IP)
            @Html.ValidationMessageFor(model => model.IP)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PRED_MT1_PD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRED_MT1_PD)
            @Html.ValidationMessageFor(model => model.PRED_MT1_PD)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PRED_MT1_PL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRED_MT1_PL)
            @Html.ValidationMessageFor(model => model.PRED_MT1_PL)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PRED_MT1_LAIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRED_MT1_LAIN)
            @Html.ValidationMessageFor(model => model.PRED_MT1_LAIN)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PRED_MT2_PD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRED_MT2_PD)
            @Html.ValidationMessageFor(model => model.PRED_MT2_PD)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PRED_MT2_PL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRED_MT2_PL)
            @Html.ValidationMessageFor(model => model.PRED_MT2_PL)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PRED_MT2_LAIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRED_MT2_LAIN)
            @Html.ValidationMessageFor(model => model.PRED_MT2_LAIN)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PRED_MT3_PD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRED_MT3_PD)
            @Html.ValidationMessageFor(model => model.PRED_MT3_PD)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PRED_MT3_PL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRED_MT3_PL)
            @Html.ValidationMessageFor(model => model.PRED_MT3_PL)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PRED_MT3_LAIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRED_MT3_LAIN)
            @Html.ValidationMessageFor(model => model.PRED_MT3_LAIN)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PRED_IP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PRED_IP)
            @Html.ValidationMessageFor(model => model.PRED_IP)
        </div>
    </fieldset>
}
