﻿@model L.PDSDA.DAL.Entities.IRIGASI_TANAM
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
<style>
    input
    {
        width: 50px !important;
    }
    td
    {
        text-align: center;
    }
</style>
@using (Html.BeginForm(@ViewBag.ActionName as string, "IRIGASI_TANAM", FormMethod.Post, new { id = "target2" }))
{ 
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Irigasi Masa Tanam</legend>@*  <div class="editor-label">
            Kode Irigasi Pemerintah
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.K_DI)
            @Html.ValidationMessageFor(model => model.K_DI)
        </div>*@
        <div class="editor-label">
            Tahun @* </div>
        <div class="editor-field">*@
            @Html.EditorFor(model => model.TAHUN_DATA)
            @Html.ValidationMessageFor(model => model.TAHUN_DATA)
        </div>
        <br />
        <table style="width: 100%;">
            <tr>
                <td rowspan="2">
                    Keterangan
                </td>
                <td colspan="3">
                    Masa Tanam I
                </td>
                <td colspan="3">
                    Masa Tanam II
                </td>
                <td colspan="3">
                    Masa Tanam III
                </td>
                <td rowspan="2">
                    IP
                </td>
            </tr>
            <tr>
                <td>
                    Padi
                </td>
                <td>
                    Palawija
                </td>
                <td>
                    Lain - lain
                </td>
                <td>
                    Padi
                </td>
                <td>
                    Palawija
                </td>
                <td>
                    Lain - lain
                </td>
                <td>
                    Padi
                </td>
                <td>
                    Palawija
                </td>
                <td>
                    Lain - lain
                </td>
            </tr>
            <tr>
                <td>
                    Luas Tanam
                </td>
                <td>
                    @Html.EditorFor(model => model.MT1_PD)@Html.ValidationMessageFor(model => model.MT1_PD)
                </td>
                <td>
                    @Html.EditorFor(model => model.MT1_PL)@Html.ValidationMessageFor(model => model.MT1_PL)
                </td>
                <td>
                    @Html.EditorFor(model => model.MT1_LAIN)@Html.ValidationMessageFor(model => model.MT1_LAIN)
                </td>
                <td>
                    @Html.EditorFor(model => model.MT2_PD)@Html.ValidationMessageFor(model => model.MT2_PD)
                </td>
                <td>
                    @Html.EditorFor(model => model.MT2_PL)@Html.ValidationMessageFor(model => model.MT2_PL)
                </td>
                <td>
                    @Html.EditorFor(model => model.MT2_LAIN)@Html.ValidationMessageFor(model => model.MT2_LAIN)
                </td>
                <td>
                    @Html.EditorFor(model => model.MT3_PD)@Html.ValidationMessageFor(model => model.MT3_PD)
                </td>
                <td>
                    @Html.EditorFor(model => model.MT3_PL)@Html.ValidationMessageFor(model => model.MT3_PL)
                </td>
                <td>
                    @Html.EditorFor(model => model.MT3_LAIN)@Html.ValidationMessageFor(model => model.MT3_LAIN)
                </td>
                <td>
                    @Html.EditorFor(model => model.IP)@Html.ValidationMessageFor(model => model.IP)
                </td>
            </tr>
            <tr>
                <td>
                    Prediksi Luas Tanam
                </td>
                <td>
                    @Html.EditorFor(model => model.PRED_MT1_PD)@Html.ValidationMessageFor(model => model.PRED_MT1_PD)
                </td>
                <td>
                    @Html.EditorFor(model => model.PRED_MT1_PL)@Html.ValidationMessageFor(model => model.PRED_MT1_PL)
                </td>
                <td>
                    @Html.EditorFor(model => model.PRED_MT1_LAIN)@Html.ValidationMessageFor(model =>
                    model.PRED_MT1_LAIN)
                </td>
                <td>
                    @Html.EditorFor(model => model.PRED_MT2_PD)@Html.ValidationMessageFor(model => model.PRED_MT2_PD)
                </td>
                <td>
                    @Html.EditorFor(model => model.PRED_MT2_PL)@Html.ValidationMessageFor(model => model.PRED_MT2_PL)
                </td>
                <td>
                    @Html.EditorFor(model => model.PRED_MT2_LAIN)@Html.ValidationMessageFor(model =>
                    model.PRED_MT2_LAIN)
                </td>
                <td>
                    @Html.EditorFor(model => model.PRED_MT3_PD)@Html.ValidationMessageFor(model => model.PRED_MT3_PD)
                </td>
                <td>
                    @Html.EditorFor(model => model.PRED_MT3_PL)@Html.ValidationMessageFor(model => model.PRED_MT3_PL)
                </td>
                <td>
                    @Html.EditorFor(model => model.PRED_MT3_LAIN)@Html.ValidationMessageFor(model =>
                    model.PRED_MT3_LAIN)
                </td>
                <td>
                    @Html.EditorFor(model => model.PRED_IP)@Html.ValidationMessageFor(model => model.PRED_IP)
                </td>
            </tr>
        </table>
    </fieldset>
}