﻿@model IEnumerable<L.PDSDA.DAL.Entities.Module>
<script type="text/javascript" language="javascript">

    var oTable2;

    function SelectAllViewable() {
        var IsUnchecked = false;
        $('.viewable', oTable2.fnGetNodes()).each(function () {
            if (!$(this).is(':checked')) {
                IsUnchecked = true;
            }
        });

        if (IsUnchecked) {
            $("#selectallview").prop('checked', false);
        } else {
            $("#selectallview").prop('checked', true);
        }
    }

    $(function () {
        oTable2 = $("table.display2").dataTable({ "bJQueryUI": true,
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "sPaginationType": "full_numbers", bRetrieve: true, bDestroy: true
        });

        SelectAllViewable();


        $('#signing').submit(function () {
            //            console.log(oTable);
            //            console.log(oTable.fnGetNodes());
            //            console.log($('input', oTable.fnGetNodes()));
            var sData = $('td input', oTable2.fnGetNodes()).serialize();
            alert("The following data would have been submitted to the server: \n\n" + sData);
            return false;
        });

        //        oTable = $('table.display').dataTable();
    });

    //    $(".viewable, .createable, .updateable, .deleteable").click(function () {
    //        fnSigningGroupToModule(this, $(this).val());
    //    });

    // add multiple select / deselect functionality
    $("#selectallview").click(function () {
        if ($("#selectallview").prop('checked')) {
            $('.viewable', oTable2.fnGetNodes()).each(function () {
                if (!$(this).is(':checked')) {
                    $(this).prop('checked', true);
                    $(this).attr("checked", "checked");
                    fnSigningGroupToModule(this, this.value);
                }
            });
        } else {
            $('.viewable', oTable2.fnGetNodes()).each(function () {
                if ($(this).is(':checked')) {
                    $(this).prop('checked', false);
                    $(this).removeAttr("checked");
                    fnSigningGroupToModule(this, this.value);
                }
            });
        }


        //        alert('test');
        //        var checkboxes = $('.viewable');
        //        if ($(this).prop('checked')) {
        //            checkboxes.prop('checked', true);
        //        } else {
        //            checkboxes.prop('checked', false);
        //        }
        //        $(this).prop('checked', false);
    });

    // if all checkbox are selected, check the selectall checkbox
    // and viceversa
    $(".viewable", oTable2.fnGetNodes()).click(function () {
//        if ($(this).is(":checked")) {
//            //            alert($(this));
//            $("#selectallview").attr("checked", "checked");

//        } else {
//            $("#selectallview").removeAttr("checked");
//        }

        SelectAllViewable();
    });


    function fnSigningGroupToModule(elem, value) {

        //        console.log(elem);
        //        console.log($('[type=hidden]'));
        //        //        console.log($(elem).attr('value'));
        //        console.log($(elem).attr('class'));
        //        console.log(elem.checked);

        var arrayOfValues = [];
        arrayOfValues.push($('[type=hidden]').val());
        //        arrayOfValues.push($(elem).attr('value'));
        arrayOfValues.push($(elem).attr('class'));
        arrayOfValues.push(elem.checked);

        var data = { group: $('[type=hidden]').val(), module: value,
            classes: $(elem).attr('class'), ischecked: elem.checked
        };

        //        console.log(JSON.stringify({ arr: arrayOfValues }));
        //        console.log(JSON.stringify(data));
        //Populate arrayOfValues
        $.ajax({
            type: "POST",
            url: '@Url.Action("SetRoleToModule", "Role")',
            datatype: "json",
            contentType: 'application/json',
            //            traditional: true,
            //            data: JSON.stringify({ arr: arrayOfValues })
            data: JSON.stringify(data)
        });

        if (this.checked) {
            //            update model fnUpdateRoleModule(groupid, moduleid, class, true/false);
        }
        else {

        }
    }



    
   
</script>
@using (Html.BeginForm("Details", "Role", FormMethod.Post, new { id = "signing" }))
{
    IList<L.PDSDA.DAL.Entities.GroupModule> collGroupModule = ViewBag.CollGroupModule;
    L.PDSDA.DAL.Entities.Group grp = ViewBag.Group;
    @Html.Hidden("GroupId", grp.Id);
    <table class="display2">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Parent Module
                </th>
                <th>
                    IsViewable
                    <input type="checkbox" id="selectallview" />
                </th>
                <th>
                    IsCreateable
                </th>
                <th>
                    IsUpdateable
                </th>
                <th>
                    IsDeleteable
                </th>
                @*<th>
                    IsOptional
                </th>
                <th>
                    IsActive
                </th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var groupmodule = collGroupModule.FirstOrDefault(x => x.Module == item);
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @if (item.MainModule != null)
                        {
                            @item.MainModule.Name;
                        }
                    </td>
                    <td>
                        @if (groupmodule != null && groupmodule.IsViewable)
                        {
                            <input type="checkbox" checked="checked" value="@item.Id" class="viewable"onclick="javascript:fnSigningGroupToModule(this, @item.Id)" />
                        }
                        else
                        {
                            <input type="checkbox" value="@item.Id" class="viewable" onclick="javascript:fnSigningGroupToModule(this, @item.Id)"/>
                        }
                    </td>
                    <td>
                        @if (groupmodule != null && groupmodule.IsCreateable)
                        {
                            <input type="checkbox" checked="checked" value="@item.Id" class="createable"onclick="javascript:fnSigningGroupToModule(this, @item.Id)" />
                        }
                        else
                        {
                            <input type="checkbox"   value="@item.Id" class="createable"onclick="javascript:fnSigningGroupToModule(this, @item.Id)"/>
                        }
                    </td>
                    <td>
                        @if (groupmodule != null && groupmodule.IsUpdateable)
                        {
                            <input type="checkbox" checked="checked" value="@item.Id" class="updateable" onclick="javascript:fnSigningGroupToModule(this, @item.Id)"/>
                        }
                        else
                        {
                            <input type="checkbox"   value="@item.Id" class="updateable"onclick="javascript:fnSigningGroupToModule(this, @item.Id)"/>
                        }
                    </td>
                    <td>
                        @if (groupmodule != null && groupmodule.IsDeleteable)
                        {
                            <input type="checkbox" checked="checked" value="@item.Id" onclick="javascript:fnSigningGroupToModule(this, @item.Id)" class="deleteable" />
                        }
                        else
                        {
                            <input type="checkbox" value="@item.Id" class="deleteable"onclick="javascript:fnSigningGroupToModule(this, @item.Id)"/>
                        }
                    </td>
                    @* <td>
                        IsOptional
                    </td>
                    <td>
                        IsActive
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
}