﻿@model IEnumerable<L.PDSDA.DAL.Entities.BALAI>
@{
    IList<L.PDSDA.DAL.Entities.BALAI> collBalai = ViewBag.BalaiRole;
    L.PDSDA.DAL.Entities.Group group = ViewBag.Group;
}
<script type="text/javascript" language="javascript">
    var oTable;
    $(function () {
        oTable = $("table.display").dataTable({ "bJQueryUI": true,
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "sPaginationType": "full_numbers", bRetrieve: true, bDestroy: true
        });

        $('#signing').submit(function () {
            var sData = $('td input', oTable.fnGetNodes()).serialize();
            alert("The following data would have been submitted to the server: \n\n" + sData);
            return false;
        });
    });

    // add multiple select / deselect functionality
    $("#selectallview").click(function () {
        $('.viewable').attr('checked', this.checked);
    });

    // if all checkbox are selected, check the selectall checkbox
    // and viceversa
    $(".viewable").click(function () {

        if ($(".viewable").length == $(".viewable:checked").length) {
            $("#selectallview").attr("checked", "checked");
        } else {
            $("#selectallview").removeAttr("checked");
        }

    });

    function fnSigningBalaiToGroup(elem, value) {
        var arrayOfValues = [];
        arrayOfValues.push($('[type=hidden]').val());
        arrayOfValues.push(elem.checked);

        var data = { group: $('[type=hidden]').val(), balai: value,
            ischecked: elem.checked
        };

        //Populate arrayOfValues
        $.ajax({
            type: "POST",
            url: '@Url.Action("SetBalaiToRole", "Balai")',
            datatype: "json",
            contentType: 'application/json',
            data: JSON.stringify(data)
        });
    }
</script>
@Html.Hidden("Id", group.Id);
<table class="display">
    <thead>
        <tr>
            <th style="width: 75px">
            </th>
            <th>
                Balai
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var balai = collBalai.Contains(item) ? item : null;
            <tr>
                <td align="center">
                    @if (balai != null)
                    {
                        <input type="checkbox" checked="checked"  onclick="javascript:fnSigningBalaiToGroup(this, '@item.KodeBalai')" />
                    }
                    else
                    {
                        <input type="checkbox" value="@item.KodeBalai"  onclick="javascript:fnSigningBalaiToGroup(this, '@item.KodeBalai')"/>
                    }
                </td>
                <td>
                    @item.NamaBalai
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="@Url.Content("~/Content/js/myjs.js")" type="text/javascript"></script>
