﻿@model IEnumerable<L.PDSDA.DAL.Entities.GroupModule>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            IsViewable
        </th>
        <th>
            IsCreateable
        </th>
        <th>
            IsUpdateable
        </th>
        <th>
            IsDeleteable
        </th>
        <th>
            IsOptional
        </th>
        <th>
            IsActive
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
            @item.IsViewable
        </td>
        <td>
            @item.IsCreateable
        </td>
        <td>
            @item.IsUpdateable
        </td>
        <td>
            @item.IsDeleteable
        </td>
        <td>
            @item.IsOptional
        </td>
        <td>
            @item.IsActive
        </td>
    </tr>
}

</table>

