﻿@model IEnumerable<L.PDSDA.DAL.Entities.Group>
@{
    ViewBag.Title = "Role";
}
<script type="text/javascript">
    function fnEdit(oThis, id) {
        oThis.href = '@Url.Content("~/Role/Edit/")' + id;
        oThis.title = "Edit Role"
        //        loadDialog(oThis, '#RoleInfo');
        loadDefaultDialogCustomControl(oThis, "divFormRole", "500px", "300px", "target", oTable)

    }

    function fnCreate(oThis) {
        oThis.href = '@Url.Content("~/Role/Create/")';
        oThis.title = "Create Role"
        //        loadDialog(oThis, '#RoleInfo');
        loadDefaultDialogCustomControl(oThis, "divFormRole", "500px", "300px", "target", oTable)

    }

    function fnAssignModule(oThis, id, roleName) {
        oThis.href = '@Url.Content("~/Role/Details/")' + id;
        oThis.title = "Assign Module for " + roleName;
        loadDialogAssignReloadTableClose(oThis, '#RoleInfo', oTable);
    }

    //    function fnDelete(link) {
    //        //        var link = oThis.href;
    //        alert(link);
    //        if (confirm("Are you sure that you want to delete this role?")) {
    //            $.ajax({
    //                type: "DELETE",
    //                url: link,
    //                success: function (data) {
    //                    if (data.success) {
    //                        oTable.fnDraw();
    //                        alert("Data has been removed.");
    //                        //                        window.location.reload(true);
    //                    }
    //                    //                        $(link).parents("tr").remove();
    //                },
    //                error: function (data) {
    //                    alert("This user cannot be deleted");
    //                }
    //            });
    //        }
    //    }

    function fnDelete(oThis, id) {
        oThis.href = '@Url.Content("~/Role/Delete/")' + id;
        oThis.title = "Delete User"
        if (confirm("Are you sure that you want to delete this Role?")) {
            $.ajax({
                type: "DELETE",
                url: oThis.href,
                success: function (data) {
                    if (data.success) {
                        alert("Data has been removed.");
                        //                        window.location.reload(true);
                        oTable.fnDraw();
                    }
                },
                error: function (data) {
                    alert("This user cannot be deleted");
                }
            });
        }
    }




    var oTable;
    $(function () {

        var IsUpdateable = "@ViewBag.IsUpdateable";
        var IsDeleteable = "@ViewBag.IsDeleteable";

        oTable = $("table.display").dataTable(
        {
            "fnServerData": fnServerData,
            "fnServerData": fnServerData, "oLanguage": oLanguage(),
            "bAutoWidth": false,
            "bScrollCollapse": true, "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true, "bServerSide": true, "sAjaxSource": '@Url.Content("~/Role/LoadAllData/")',
            "aoColumns": [{ "mData": "KEY", "sClass": "center" }, { "mData": "Name" }, { "mData": "Code" }, { "mData": "Description" }, { "mData": "KEY", "sClass": "center"}],
            "aoColumnDefs": [{
                "sWidth": "175px",
                "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    if (IsDeleteable == "True") {

                        var b = $('<button style="margin: 0" class="clsButtonDelete, cCenterOnly">Delete</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-trash"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnDelete(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }


                    if (IsUpdateable == "True") {
                        var b = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly">Edit</button>');
                        b.button({
                            icons: {
                                primary: "ui-icon-wrench"
                            }
                        }).css({ "font-weight": "normal" });
                        b.on('click', function () {
                            fnEdit(this, oData.KEY);
                            //                            fnEdit(this, oData.KEY);
                            return false;
                        });
                        $(nTd).prepend(b);
                    }

                    //                    if (IsUpdateable == "True") {
                    //                    var am = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly,">Assign Module</button>');
                    //                    am.button({
                    //                        icons: {
                    //                            primary: "ui-icon-wrench"
                    //                        }
                    //                    }).css({ "font-weight": "normal" });
                    //                    am.on('click', function () {
                    //                        fnAssignModule(this, oData.KEY, oData.Name);
                    //                        //                            fnEdit(this, oData.KEY);
                    //                        return false;
                    //                    });
                    //                    $(nTd).prepend(am);
                    //                    }
                }
            },
            {
                "sWidth": "220px",
                "aTargets": [4],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).empty();

                    var am = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly">Module(s)</button>');
                    am.button({
                        icons: {
                            primary: "ui-icon-wrench"
                        }
                    }).css({ "font-weight": "normal" });
                    am.on('click', function () {
                        fnAssignModule(this, oData.KEY, oData.Name);
                        return false;
                    });
                    $(nTd).prepend(am);

                    var ab = $('<button style="margin: 0" class="clsButtonEdit, cCenterOnly">Balai(s)</button>');
                    ab.button({
                        icons: {
                            primary: "ui-icon-wrench"
                        }
                    }).css({ "font-weight": "normal" });
                    ab.on('click', function () {
                        fnAssignBalaiRole(this, oData.KEY, oData.Name);
                        return false;
                    });
                    $(nTd).prepend(ab);
                }
            }]

        });
    });

    function fnAssignBalaiRole(oThis, id, namagroup) {
        oThis.href = '@Url.Content("~/Role/AssignBalaiRole/")' + id;
        oThis.title = "Assign Group " + namagroup;
        loadDialogAssignReloadTableClose(oThis, '#GroupBalaiInfo', oTable);
    }

</script>
<!-- <h2>
    @ViewBag.BreadCrumbs</h2> -->
<p>
    @if (ViewBag.IsCreateable)
    {
        <a href="javascript:fnCreate(this)" class="modalDlg, clsButtonAdd">Create</a>
    }
</p>
<table class="display">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Name
            </th>
            <th>
                Code
            </th>
            <th>
                Description
            </th>
            <th>
                Assign
            </th>
            @* <th>
                CreateBy
            </th>
            <th>
                CreateDate
            </th>
            <th>
                CreateTerminal
            </th>
            <th>
                UpdateBy
            </th>
            <th>
                UpdateDate
            </th>
            <th>
                UpdateTerminal
            </th>*@
        </tr>
    </thead>
    @*<tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="javascript:fnAssignModule(this,@item.Id, '@item.Name')"class="clsButtonEdit">
                        Assign Module</a> | <a href="javascript:fnEdit(this,@item.Id)" class="editModalDlg, clsButtonEdit">
                            Edit</a> | <a href="javascript:fnDelete('@Url.Content("~/Role/Delete/" + @item.Id)')" class="delete, clsButtonDelete">
                                Delete</a>
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Code
                </td>
                <td>
                    @item.Description
                </td>
                @*<td>
                    @item.CreateBy
                </td>
                <td>
                    @String.Format("{0:g}", item.CreateDate)
                </td>
                <td>
                    @item.CreateTerminal
                </td>
                <td>
                    @item.UpdateBy
                </td>
                <td>
                    @String.Format("{0:g}", item.UpdateDate)
                </td>
                <td>
                    @item.UpdateTerminal
                </td>
            </tr>
        }
    </tbody>*@
</table>
