﻿@model L.PDSDA.DAL.Entities.GUNUNGBERAPI
<script>
    $(function () {
        $("fieldset").find('input, textarea, button, select').attr('disabled', 'disabled');

        var DAS_K_DAS = $('#DA_K_DAS');
        var WS_K_WS = $('#W_K_WS');

        WS_K_WS.change(function () {
            var value = WS_K_WS.val();
            $.getJSON('@Url.Content("~/Sumber_Daya_Air/DAS/GetDASByWS/")' + "?k_ws=" + value.replace(/ /g, '%20%'), function (data) {
                var items = '<option value="-1">Pilih DAS</option>';
                $.each(data, function (i, kabupaten) {
                    items += "<option value='" + kabupaten.Value + "'>" + kabupaten.Text + "</option>";
                });
                DAS_K_DAS.html(items);
            });
        });
    });
</script>
    <fieldset>
        <legend>GUNUNG BERAPI</legend>
        <table class="noborder">
            <tr>
                <td class="editor-label">
                    Kode
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.K_GUNUNGBERAPI)
                    @Html.ValidationMessageFor(model => model.K_GUNUNGBERAPI)
                </td>
                <td class="editor-label">
                    Nama Gunung Berapi
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.N_GUNUNGBERAPI)
                    @Html.ValidationMessageFor(model => model.N_GUNUNGBERAPI)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Propinsi
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.PROPINSI.K_PROPINSI, ViewBag.collK_PROPINSI as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.PROPINSI.K_PROPINSI)
                </td>
                <td class="editor-label">
                    Lokasi
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LOKASI)
                    @Html.ValidationMessageFor(model => model.LOKASI)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Nama WS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.W.K_WS, ViewBag.collWS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.W.K_WS)
                </td>
                <td class="editor-label">
                    Nama DAS
                </td>
                <td class="editor-field">
                    @Html.DropDownListFor(x => x.DA.K_DAS, ViewBag.collDAS as IList<SelectListItem>)
                    @Html.ValidationMessageFor(x => x.DA.K_DAS)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Penyebab
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.PENYEBAB)
                    @Html.ValidationMessageFor(model => model.PENYEBAB)
                </td>
                <td class="editor-label">
                    Dampak Penduduk
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DAMPAK_PENDUDUK)
                    @Html.ValidationMessageFor(model => model.DAMPAK_PENDUDUK)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Dampak Lahan Pertanian
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DAMPAK_LAHAN_PERTANIAN)
                    @Html.ValidationMessageFor(model => model.DAMPAK_LAHAN_PERTANIAN)
                </td>
                <td class="editor-label">
                    Dampak Lahan Irigasi
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DAMPAK_LAHAN_IRIGASI)
                    @Html.ValidationMessageFor(model => model.DAMPAK_LAHAN_IRIGASI)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Dampak Lahan Kebun
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DAMPAK_LAHAN_KEBUN)
                    @Html.ValidationMessageFor(model => model.DAMPAK_LAHAN_KEBUN)
                </td>
                <td class="editor-label">
                    Dampak Lahan Ikan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DAMPAK_LAHAN_IKAN)
                    @Html.ValidationMessageFor(model => model.DAMPAK_LAHAN_IKAN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Dampak Jalan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DAMPAK_JALAN)
                    @Html.ValidationMessageFor(model => model.DAMPAK_JALAN)
                </td>
                <td class="editor-label">
                    Dampak Jembatan
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DAMPAK_JEMBATAN)
                    @Html.ValidationMessageFor(model => model.DAMPAK_JEMBATAN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Dampak Tanggul
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DAMPAK_TANGGUL)
                    @Html.ValidationMessageFor(model => model.DAMPAK_TANGGUL)
                </td>
                <td class="editor-label">
                    Dampak Saluran
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.DAMPAK_SALURAN)
                    @Html.ValidationMessageFor(model => model.DAMPAK_SALURAN)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Nilai Kerugian
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.NILAI_KERUGIAN)
                    @Html.ValidationMessageFor(model => model.NILAI_KERUGIAN)
                </td>
                <td class="editor-label">
                    Klasifikasi
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.KLASIFIKASI)
                    @Html.ValidationMessageFor(model => model.KLASIFIKASI)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Waktu (Hari)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.WAKTU_HARI)
                    @Html.ValidationMessageFor(model => model.WAKTU_HARI)
                </td>
                <td class="editor-label">
                    Waktu (Jam)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.WAKTU_JAM)
                    @Html.ValidationMessageFor(model => model.WAKTU_JAM)
                </td>
            </tr>
             <tr>
                <td class="editor-label">
                    Latitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Latitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Latitude)
                </td>
                <td class="editor-label">
                    Longitude
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.LatLong.Longitude)
                    @Html.ValidationMessageFor(model => model.LatLong.Longitude)
                </td>
            </tr>
        </table>
    </fieldset>
