﻿body, table
{
    font-family: "Trebuchet MS" , "Arial" , "Helvetica" , "Verdana" , "sans-serif" !important;
}

sorting_asc
{
    position: absolute !important;
}

div.dataTables_filter input
{
    width: 150px;
}

.dataTables_wrapper
{
    position: inherit !important;
}

table.dataTable thead th
{
    text-align: center;
    position: inherit !important;
    border-bottom: 1px solid #99CEEC !important;
}

.cCenterOnly
{
    text-align: center !important;
}

ul#menu
{
    z-index: 1000 !important;
}

/* #logindisplay, a
{
	color: #034AF3 !important;
} */

div h2
{
    color: #034AF3;
}

.heightAuto
{
    height: auto !important;
}

.backgroundimage
{
    background: url("../images/headerasp.net.png") no-repeat scroll 0 0 #3BABD0;
    margin: 0 auto;
    min-height: 150px;
    padding: 35px 0 0;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.logo
{
    text-align: right;
    font-size: x-large !important;
}



input, select, textarea
{
    width: 350px !important;
}

input[type="checkbox"]
{
    width: 10px !important;
}

select[aria-controls]
{
    width: 50px !important;
}

input[aria-controls]
{
    width: 150px !important;
}

button
{
    font-weight: normal !important;
}

#footer
{
    float: left; /* background: url("../images/headerasp.net.png") no-repeat scroll 0 0 #3BABD0; */
    background-color: #3BABD0;
    margin: 0 auto;
    min-height: 10px;
    padding: 35px 0 25px 0;
    width: 100%;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

#silverlightControlHost
{
    height: 100%;
    text-align: center;
}

.dataTables_scrollBody
{
    height:100%;
}

.ui-dialog-titlebar-close {
  visibility: hidden !important;
}

.dataTables_processing
{
    z-index:5;
}

 div[aria-describedby="divNilaiHarianda"],  div[aria-describedby="divNilaiHarian"]
 {
     width:375px !important;
 }
 
 #footer
 {
    color:White;
    background: url("redmond/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") repeat-x scroll 50% 50% #5C9CCC;
 }